<div class="item-quantity vcenter">
    <a class="btn-decrease"
            {% if item.id is defined  %}
                    item-id="{{ item.id }}"
                 {% else %}
                    item-id="{{ 0 }}"
            {% endif %}
><i class="icon icon-minus"></i></a>
    <input type="text" id="ModalSelectedItemQuantityInput" class="form-control" name="item-quantity"
            {% if item.quantity is defined  %}
           value="{{ item.quantity }}"
                 {% else %}
                     value="{{ 1 }}"
             {% endif %}
>
    <a class="btn-increase"
            {% if item.id is defined %}
                    item-id="{{ item.id }}"
                 {% else %}
                    item-id="{{ 0 }}"
            {% endif %}
    ><i class="icon icon-plus"></i></a>
</div>