<div class="item-quantity vcenter ml-auto mb-3">
    <a class="related-item-btn-decrease" id="relatedItemBtnDecrease"><i class="icon icon-minus"></i></a>
    <input type="text" class="form-control" id="relatedItemQuantity" name="related-item-quantity" value="1">
    <a class="related-item-btn-increase" id="relatedItemBtnIncrease"><i class="icon icon-plus"></i></a>
</div>