<label class="red-checkbox big-checkbox related-add-logo text-left mb-3 d-none" id="relatedLogoValue">
    <span><b>Логотип</b></span>
    <input type="checkbox" name="" value="1"  disabled>
    <span class="checkmark"></span>
</label>
