<div class="modal-footer">
    <a  href="{{ path('home') }}#tovarblock" class="btn btn-outline-red" >выбрать еще товар</a>
    <a href="{{ path(name="shoppingcart") }}" class="btn btn-outline-red">перейти в корзину</a>
</div>