<!-- Selected Item Modal -->
<div class="modal fade" id="selectedItemModal" tabindex="-1" role="dialog" aria-labelledby="selectedItemModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title text-bold m-auto" id="selectedItemModalLabel">Ваш выбор</h5>
                                <button type="button" class="close" style="font-size:2.5rem" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
            </div>
            <div class="modal-body p-3 p-md-4">
                <div class="loader-block">
                    <div class="loader"></div>
                </div>
                {% include 'product/inc/modals/selected-item/selecteditem-' ~ slug ~ '.html.twig' %}
            </div>

        </div>
    </div>
</div>