.carpets-banner {
  background-image: url(/img/banners/carpets-banner.jpg);
  background-size: cover;
  padding: 150px 0;
  p {
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 33px;
    text-align: center;
    padding: 40px 0;
    background-color: rgba(217,15,49,.7);
  }
}

/* Breakpoints - Carpets */
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - Carpets */

}

@media (max-width: 1429px) {
  /* Breakpoint - Carpets */

}

@media (max-width: 1297px) {
  /* Breakpoint - Carpets */

}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - Carpets */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
  /* Breakpoint lg - Carpets */

}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - Carpets */
  .carpets-banner {
    padding: 70px 0;
    p {
      padding: 20px;
      font-size: 24px;
      line-height: 1;
    }
  }
}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - Carpets */
}

@media (max-width: 575px) {
  /* Breakpoint xs - Carpets */
}
/* ---------------------- */
/* ./Breakpoints - Carpets */