.target-audience {
  background-image: url(/img/info-pages/target-audience-bg.jpg);
  background-size: cover;
  background-position: right;
  padding: 50px 0;
  color: #ffffff;
  p {
    color: #ffffff;
    font-weight: 700;
    &.main-text {
      font-size: 22px;
    }
  }
}
.instructions {
  padding: 50px 0;
  .second,
  .third,
  .sixth {
    padding-top: 120px;
  }
  .fifth {
    padding-top: 70px;
  }

  .third-img {
    display: flex;
    align-items: flex-end;
  }

  .instruction-item {
    position: relative;
    p {
      font-weight: 700;
      margin-bottom: 0;
      &.instruction-title {
        color: $primary-color;
        font-size: 19px;
        margin-bottom: 10px;
      }
    }

    .instruction-no {
      height: 120px;
      width: 120px;
      border-radius: 100%;
      border: 5px dashed #EDEDED;
      font-size: 83px;
      font-weight: 700;
      color: #EDEDED;
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: -80px;
      left: -30px;
      z-index: -1;
    }
  }
}
/* Breakpoints - For Partners */
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - For Partners */

}

@media (max-width: 1429px) {
  /* Breakpoint - For Partners */

}

@media (max-width: 1297px) {
  /* Breakpoint - For Partners */

}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - For Partners */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
  /* Breakpoint lg - For Partners */
  .target-audience {
    position: relative;
    //z-index: -1;
    .container {
      z-index: 1;
      position: relative;
    }
    &::before {
      content: '';
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,.7);
      position: absolute;
      top: 0;
      //z-index: -1;
    }
  }
  .instructions {
    .fourth {
      padding-top: 80px;
    }
  }
}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - For Partners */
  .target-audience {
    p {
      line-height: 1.2;
      &.main-text {
        font-size: 20px;
      }
    }
  }
  .instructions {
    p {
      //line-height: 1.4;
      &.instruction-title {
        line-height: 1.3;
      }
    }
    .fourth,
    .fifth {
      padding-top: 120px;
    }
  }
}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - For Partners */
  .target-audience {
    p {
      text-align: center;
      &.main-text {
        font-size: 18px;
      }
    }
  }
  .instructions {
    .instruction-item {
      .instruction-no {
        height: 70px;
        width: 70px;
        font-size: 35px;
        top: -45px;
      }
    }
    .item {
      padding-top: 50px;
      &.fourth {
        padding-top: 10px;
      }
    }
  }
}

@media (max-width: 575px) {
  /* Breakpoint xs - For Partners */
  .instructions {
    padding-bottom: 30px;
    .instruction-item {
      p {
        font-weight: 500;
        font-size: 14px;
        &.instruction-title {
          font-size: 16px;
          font-weight: 700;
        }
      }
      .instruction-no {
        height: 50px;
        width: 50px;
        font-size: 35px;
        top: -35px;
        left: -10px;
      }
    }
    .item {
      padding-top: 50px;
      &.first {
        padding-top: 20px;
      }
      &.fourth {
        padding-top: 10px;
      }
    }
  }
}
/* ---------------------- */
/* ./Breakpoints - For Partners */