{% extends 'base.html.twig' %}

{% block title %}Коврики {% endblock %}

{% block body %}
    {% include 'carpets/template-parts/slider.html.twig' %}
    {% include 'main/template-parts/menu/main-menu.html.twig' %}
    <div class="content">
        <div class="container">
            <h2 class="text-center head_line">Коврики</h2>
            <p class="h2-responsive line-height-1 text-center mb-5">Для заказа выберите фактуру, цвет материала и окантовки.</p>
            <div class="row configurator carpets">
                <div class="col-lg-6 col-12 pb-5 text-center text-lg-left">
                    <div class="vcenter justify-content-center justify-content-lg-start radio-img">
                        <label class="circle-radio-btn text-center active pl-0">
                            <img src="/img/products/carpets/carpet-romb-thumb.png" alt=""><br/>
                            <span class="radio-img-title">Ромб</span>
                            <input type="radio" name="carpet-types" value="romb" checked="checked">
                        </label>
                        <label class="circle-radio-btn text-center pl-2">
                            <img src="/img/products/carpets/carpet-romb-soty.png" alt=""><br/>
                            <span class="radio-img-title">Соты</span>
                            <input type="radio" name="carpet-types" value="soty">
                        </label>
                    </div>
                    <img src="/img/products/carpets/carpet-romb.png" alt="" class="w-100">
                </div>
                <div class="col-lg-6 col-12">
                    <ul class="nav nav-tabs" id="bagDesign" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="selectColorTab" data-toggle="tab" href="#selectColor" role="tab" aria-controls="selectColor"
                               aria-selected="true">выбор цвета</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="selectLogoTab" data-toggle="tab" href="#selectLogo" role="tab" aria-controls="selectLogo"
                               aria-selected="false">выбор логотипа</a>
                        </li>
                    </ul>

                    <div class="tab-content mb-3" id="bagDesignContent">
                        <div class="tab-pane fade show active pt-4" id="selectColor" role="tabpanel" aria-labelledby="selectColorTab">
                            {% include 'carpets/template-parts/designSelectColor.html.twig' %}
                        </div>
                        <div class="tab-pane fade pt-3" id="selectLogo" role="tabpanel" aria-labelledby="selectLogoTab">
                            {% include 'carpets/template-parts/designSelectLogo.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                    <p class="">Выберите марку авто</p>
                    <div class="cs-custom-select">
                        <select name="numeration" value="">
                            <option value="0">Не выбрано</option>
                            {% for brand in brands %}
                            <option value="{{ brand.id }}">{{ brand.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p class="">Укажите марку авто и год выпуска</p>
                    <div class="cs-custom-select">
                        <select name="numeration" value="">
                            <option value="0">двойная</option>
                            <option value="1">Pirio</option>
                            <option value="2">Mirio</option>
                            <option value="3">Kirio</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                    <p class="">Выберите комплект</p>
                    <label class="circle-radio-btn">
                        <span>Коврики передние</span>
                        <input type="radio" name="complect-type" value="front-carpets" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <label class="circle-radio-btn">
                        <span>Коврики передние и задние</span>
                        <input type="radio" name="complect-type" value="front-back-carpets">
                        <span class="checkmark"></span>
                    </label>
                    <label class="circle-radio-btn">
                        <span>Коврики в салон и багажник</span>
                        <input type="radio" name="complect-type" value="salon-trunk-carpets">
                        <span class="checkmark"></span>
                    </label>
                    <label class="circle-radio-btn">
                        <span>Коврик в багажник</span>
                        <input type="radio" name="complect-type" value="trunk-carpets">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="saddle col-lg-auto col-sm-6 col-12">
                   <div>
                       <label class="red-checkbox big-checkbox bold-border">
                           <span><b>Подпятник</b> +200 руб.</span>
                           <input type="checkbox" name="" value="1">
                           <span class="checkmark"></span>
                       </label>
                       <div class="product-price">
                           <span>3 500 <span class="small">руб.</span></span>
                       </div>
                   </div>
                </div>
                <div class="col-sm-6 col-12 offset-lg-6 offset-0 pt-3 pt-lg-0">
                    <div class="text-lg-right text-left">
                        <button class="btn btn-main w-210p py-3 m-0 m-lg-2" data-toggle="modal" data-target="#selectedItemModal">купить</button>
                        <button class="btn btn-outline-red w-210p py-3 mt-2 mt-lg-0" data-toggle="modal" data-target="#selectedItemModal">в корзину</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'carpets/template-parts/carpetsProperties.html.twig' %}
    {% include 'carpets/template-parts/carpetsVideo.html.twig' %}
    <div class="carpets-banner">
        <p>Огромный выбор цветов материала и окантовки</p>
    </div>
    {% include 'main/template-parts/map.html.twig' %}
    {% include 'main/template-parts/orderForm.html.twig' %}
    {% include 'main/template-parts/videos.html.twig' %}
    {% include 'main/template-parts/productGallery.html.twig' %}
    {% include 'main/template-parts/comments.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('carpets-js') }}
{% endblock %}
{% block modal %}
    {% include 'bags/template-parts/selectedItemModal.html.twig' %}
{% endblock %}
