{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block desc %}{{desc}}{% endblock %}

{% block body %}

    <div class="about-us main-head">
        <div class="container">
            <h1 class="text-center head_line">О компании</h1>
            <div class="row justify-content-center mb-5">
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="mh-icon">
                        {% include 'infopages/template-parts/aboutus/12_shvey.svg' %}
                    </div>
                    <p>В штате 12 швей</p>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="mh-icon">
                        {% include 'infopages/template-parts/aboutus/prof_equipment.svg' %}
                    </div>
                    <p>Профессиональное оборудование</p>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="mh-icon">
                        {% include 'infopages/template-parts/aboutus/leather.svg' %}
                    </div>
                    <p>Используются только качественные материалы</p>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="mh-icon">
                        {% include 'infopages/template-parts/aboutus/cancel_time.svg' %}
                    </div>
                    <p>От заказа до отправки 48 часов</p>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="mh-icon">
                        {% include 'infopages/template-parts/aboutus/clients.svg' %}
                    </div>
                    <p>Работаем с розничными и оптовыми клиентами</p>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="mh-icon">
                        {% include 'infopages/template-parts/aboutus/quality_control.svg' %}
                    </div>
                    <p>Контролируем качество на каждом этапе</p>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="mh-icon">
                        {% include 'infopages/template-parts/aboutus/pickup_points.svg' %}
                    </div>
                    <p>Пункты выдачи во всех городах России</p>
                </div>
            </div>
            <div class="text-center">
                <a href="#!" class="btn btn-main" data-toggle="modal" data-target="#becomeDealerModal">стать дилером</a>
            </div>
        </div>
    </div>
    <div class="container">
        {% include 'main/template-parts/breadcrumb.html.twig' %}
    </div>
    <div class="content mt-0 mb-0 mb-sm-5">
        <div class="container">
            <p class="about-us-main-text">CarStoris — производитель автомобильных аксессуаров класса Премиум.
                Мы начали свою деятельность в 2018 году и с тех пор непрерывно развивались и совершенствовали свои изделия.
                Вся продукция отшивается вручную на самом передовом оборудовании. Сотрудники нашей фабрики — это
                профессионалы с многолетним стажем в области пошива автомобильный аксессуаров.</p>
            <p class="text-center head_line h2">О компании</p>
            <div class="about-us-text">
                <div class="row">
                    <div class="col-lg-6 col-12 order-2 order-lg-1">
                        <p>Мы занимаемся не только оптовой, но и розничной продажей.
                            Каждый заказ тщательно проверяется перед отправкой клиентам. Для вашего удобства были созданы удобные онлайн конфигураторы – теперь увидеть как будет выглядеть ваш заказ проще простого.
                        </p>
                        <p> Оплата на сайте делает заказ еще более простым и удобным. Так же при оформлении заказа обязательно используйте промокод, полученный на нашем сайте или написанный на визитках наших партнеров.
                        </p>
                        <p>Вы не из Казани? Ничего страшного, легко и выгодно для вас доставим заказ в любую точку мира. При оформлении заказа вы можете выбрать свой город и удобный пункт выдачи транспортной компании, либо заказать доставку прямо до двери. Посылка отслеживается на сайтах СДЕК и Почта России.
                        </p>
                        <p>Компания CarStoris поможет подчеркнуть индивидуальность вашего автомобиля, сделать его еще более практичнее.
                            В арсенале более 200 сочетаний цветов материала, нитей и окантовки.
                        </p>
                    </div>
                    <div class="col-lg-6 col-12 order-1 order-lg-2">
                        <img src="/img/about-us/img-01.jpg" alt="" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none">
        {% include 'main/template-parts/menu/main-menu.html.twig' %}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('infopages-js') }}
{% endblock %}
{% block modal %}
{{ parent() }}
    {% include 'infopages/template-parts/modals/become-dealer-modal.html.twig' %}
{% endblock %}
