{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block desc %}{{desc}}{% endblock %}

{% block body %}

    <div class="content">
        <div class="container">
            <h1 class="text-center head_line">Отзывы</h1>
        </div>
    </div>
    <div class="d-none">
        {% include 'main/template-parts/menu/main-menu.html.twig' %}
    </div>

{% endblock %}