{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block desc %}{{desc}}{% endblock %}
   {% block stylesheets %}
       {{ parent() }}
       {#       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
       <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.8.0/dist/css/suggestions.min.css" rel="stylesheet" />
   {% endblock %}
{% block body %}

    <div class="content main">
        <div class="container mt-n5 mb-3 pt-2">
            {% include 'main/template-parts/breadcrumb.html.twig' %}
        </div>
        <div class="container">
            <h1 class="text-center head_line">Контакты</h1>
            <ul class="nav v2 nav-tabs" id="" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="headOfficeTab" data-toggle="tab" href="#headOffice" role="tab" aria-controls="headOffice"
                       aria-selected="true">Центральный офис</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pickupPointTab" data-toggle="tab" href="#pickupPoint" role="tab" aria-controls="pickupPoint"
                       aria-selected="false">Пункты выдачи</a>
                </li>
            </ul>
            <div class="tab-content pt-4" id="selectYourLogoContent">
                <div class="tab-pane fade show active" id="headOffice" role="tabpanel" aria-labelledby="headOfficeTab">
                    <div class="row">
                        <div class="col-lg-auto col-md-4 col-sm-6 col- d-flex justify-content-center">
                            <div class="work-hours-card mb-3 mb-sm-0">
                                <div class="p-2">
                                    <p class="mb-0 text-bold text-center">Режим работы</p>
                                    <div class="work-hours d-flex justify-content-center">
                                        <div>
                                            <span>Пн-Пт 9.00-18.00</span>
                                            <span>Сб 10.00-15.00</span>
                                            <span>Вс ВЫХОДНОЙ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-12 d-flex d-sm-block justify-content-center">
                            <div class="contacts-details">
                                <div class="d-lg-flex align-content-lg-center mb-3">
                                    <div href="#!" class="mr-md-5">
                                        <span class="d-none d-lg-block d-xl-block"><i class="icon icon-map-marker"></i> <a  href="#map">г. Казань, ул. Лазарева, 5а</a></span>
                                            <span class="d-block d-lg-none "   id="contactAddressNavigator">
                                              <a class="blue-link-2 "> <i class="fas fa-route"></i>  г. Казань, ул. Лазарева, 5а</a>
                                            </span>
                                        </div>
                                        <div class="podlozhka d-none" id="podlozhka"></div>
                                        <div class="contact-choose-navigator d-none" id="chooseNavigator">
                                            <button type="button" class="close" id="choseNavigatorClose">
                                                <i class="icon icon-cross"></i>
                                            </button>
                                           <div><a class="btn btn-primary" href="yandexnavi://build_route_on_map?lat_to=55.819814&lon_to=49.048385">Yandex Навигатор</a></div>
                                            <div><a class="btn btn-primary" href="google.navigation:q=55.819814,49.048385&mode=d">Google карты</a></div>
                                        </div>
                                    <div>
                                        <img src="/img/icons/parking-icon.png" alt="Иконка паркинга">
                                        <span>удобная  большая парковка</span>
                                    </div>
                                </div>
                                <ul class="contacts">
                                    <li>
                                        <a href="tel:+79272410574">
                                            <i class="icon icon-phone"></i>
                                            <span>+7 (927) 241-05-74</span>
                                        </a>
                                    </li>
                                    <li class="mb-4">
                                        <a href="https://wa.me/79272410574" target="_blank">
                                            <i class="icon icon-social-wa"></i>
                                            <span>+7 (927) 241-05-74</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:carstoris@ya.ru">
                                            <i class="icon icon-social-email"></i>
                                            <span>carstoris@ya.ru</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/carstoris.ru" target="_blank">
                                            <i class="icon icon-social-instagram"></i>
                                            <span>carstoris</span>
                                        </a>
                                    </li>
                                    <li class="mb-4">
                                        <a href="https://vk.com/carstoris" target="_blank">
                                            <i class="icon icon-social-vk"></i>
                                            <span>vk.com/carstoris.ru</span>
                                        </a>
                                    </li>
                                    <li>
                                        <b>ООО «Оптовая полиграфическая группа»</b>
                                    </li>
                                    <li>
                                        ИНН: 1658150800
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pickupPoint" role="tabpanel" aria-labelledby="pickupPointTab">
                   <div class="row">
                       <div class="col-md-6 col-12  pb-3">
                           <div class="input-group input-with-icon">
                               <input type="text" class="form-control v2 current-city" name="locality" id="selectedCity" value="Россия, Казань" readonly="">
                               <div class="input-group-addon v2">
                                   <a href="#!" data-toggle="modal" id="changeDeliveryCity" data-target="#selectYourCityModal"><u>Изменить</u></a>
                               </div>
                           </div>
                       </div>
                   </div>
                    <div class="show-cdek-pvzs" id="cdekMap" style="width: 100%; height:0;"></div>
                </div>
            </div>
            <hr/>
            <p class="h2-responsive text-bold mb-0 line-height-1">Есть вопросы?</p>
            <p class="h2-responsive text-bold mb-4">Оставьте свои контакты и мы свяжемся с вами</p>
            <a name="map"></a>
            <form id="contactsWaitForCallForm">
                <div class="row justify-content-between ">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <input type="text" name="user_name" form-data="namecontactsWaitForCallForm" placeholder="Ваше имя" class="input_text_transparent input-dark w-100">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <input type="tel" id="contactsWaitForCallPhone" form-data="phonecontactsWaitForCallForm" name="user_phone" placeholder="Введите номер телефона" class="input_text_transparent input-dark w-100 phone-no">
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 mt-3 mt-sm-2 mt-md-0">
                        <input type="button" name="" value="жду звонка" id="contactsWaitForCallBtn" class="input_btn_red w-100">
                        <span class="soglasie m-auto">нажимая на кнопку, вы даете согласие на обработку персональных данных</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <iframe class="border-0" src="https://yandex.ru/map-widget/v1/?um=constructor%3A96382538307eab7a4493308ccf88f5a2c54c3071c4a48e52802250c6d52d0419&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
{#    <iframe class="border-0" src="https://yandex.ru/map-widget/v1/-/CGdpeYyO" width="100%" height="500" frameborder="1" allowfullscreen="true"></iframe>#}
    <div class="d-none">
        {% include 'main/template-parts/menu/main-menu.html.twig' %}
    </div>
    {% include 'order/template-parts/changeCityModal.html.twig' %}
{% endblock %}
{% block javascripts %}
{{ parent()}}
{{ encore_entry_script_tags('infopages-js') }}
{{ encore_entry_script_tags('order-js') }}
{{ encore_entry_script_tags('suggestions-js') }}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=be89b249-4e22-4842-9992-1e6787b5c742&lang=ru_RU&mode=debug" type="text/javascript">
    </script>
{% endblock %}