{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block desc %}{{desc}}{% endblock %}

{% block body %}

    <div class="content main">
        <div class="container mt-n5 mb-3 pt-2">
            {% include 'main/template-parts/breadcrumb.html.twig' %}
        </div>
        <div class="container mb-4 pb-5">
            <div class="row">
                <div class="col-lg-6 col-12 offset-0 offset-lg-3">
                    <h1 class="text-center head_line">Зарабатывайте вместе с CarStoris</h1>
                </div>
                <div class="col-lg-3 col-12 text-lg-right text-center pt-2">
                    <a href="{{ path('accounts_partner') }}" target="_blank" class="pink-link text-bold">Посмотреть начисления</a><br/>
                    <a href="#!" class="pink-link text-bold">Для оптовиков</a>
                </div>
            </div>
            {% include 'infopages/template-parts/forpartners/advantages.html.twig' %}
        </div>
        {% include 'infopages/template-parts/forpartners/targetAudience.html.twig' %}
        {% include 'infopages/template-parts/forpartners/instructions.html.twig' %}
        {% include 'infopages/template-parts/forpartners/partnersComments.html.twig' %}

    </div>
    <div class="d-none">
        {% include 'main/template-parts/menu/main-menu.html.twig' %}
    </div>

{% endblock %}
{% block modal %}
    {{ parent() }}
    {% include 'infopages/template-parts/forpartners/bePartnerModal.html.twig' %}
{% endblock %}