{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block desc %}{{desc}}{% endblock %}

{% block body %}
    <div class="content main mb-0 mb-sm-5">
        <div class="container mt-n5 mb-3 pt-2">
            {% include 'main/template-parts/breadcrumb.html.twig' %}
        </div>
        <div class="container">
            <h1 class="text-center head_line">Фото и видео</h1>
            <ul class="nav v2 nav-tabs" id="" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="photoTab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo"
                       aria-selected="true">Фото</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="videonTab" data-toggle="tab" href="#videon" role="tab" aria-controls="videon"
                       aria-selected="false">Видео</a>
                </li>
            </ul>
            <div class="tab-content" id="productReviewContent">
                <div class="tab-pane fade show active" id="photo" role="tabpanel" aria-labelledby="photoTab">
                    {% include 'infopages/template-parts/photoGallery.html.twig' %}
                </div>
                <div class="tab-pane fade" id="videon" role="tabpanel" aria-labelledby="videonTab">
                    <div class="row no-gutters">
                        {#                        <div class="col-md-6 p-1">#}
                        {#                            <iframe width="560" height="305" src="https://www.youtube.com/embed/S7Vdft_ExrA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
                        {#                        </div>#}
                        {#                        <div class="col-md-6 p-1">#}
                        {#                            <iframe width="560" height="305" src="https://www.youtube.com/embed/cP4v5bxBP68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
                        {#                        </div>#}
                        {#                        <div class="col-md-6 p-1">#}
                        {#                            <iframe width="560" height="305" src="https://www.youtube.com/embed/xBvZzO-ahzU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
                        {#                        </div>#}
                        {#                        <div class="col-md-6 p-1">#}
                        {#                            <iframe width="560" height="305" src="https://www.youtube.com/embed/JJbRUmVQTTU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none">
        {% include 'main/template-parts/menu/main-menu.html.twig' %}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('infopages-js') }}
{% endblock %}