{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block desc %}{{desc}}{% endblock %}

{% block body %}

    <div class="content main">
        <div class="container mt-n5 mb-3 pt-2">
            {% include 'main/template-parts/breadcrumb.html.twig' %}
        </div>
        <div class="container">
            <h1 class="text-center h2 head_line">Оплата и доставка</h1>
            <ul class="list-with-chevron col-lg-9">
                <li>Оплата товаров осуществляется при оформлении заказа на сайте.</li>
                <li>Скидка на акционные товары суммируется в корзине.</li>
                <li>Мы изготовим, упакуем и отправим заказ в течение 48 часов.</li>
                <li>Товары в наличии отправим в течение 1 дня.</li>
                <li>Доставка по Казани при заказе от 5000 рублей - бесплатно. В других случаях 200 рублей. </li>
                <li>Доставка в любые другие города и населенные пункты России осуществляются транспортной компанией <a href="#!">СДЭК</a> или <a href="#!">Почтой России</a>. Оплата за доставку производится при получении заказа.</li>
                <li>Точный срок доставки в ваш город вы увидите при оформлении заказа. В среднем это от 1 до 5 дней в зависимости от вашего города. </li>
                <li>После отправки заказа, мы предоставляем вам трек-номер, по которому вы можете отследить посылку на сайтах
                    <a href="#!"><img src="/img/about-us/pocta_russia.png" alt=""></a> или <a href="#!"><img src="/img/about-us/cdek.png" alt=""></a></li>
            </ul>
            <h2 class="text-center head_line">Способы оплаты</h2>
            <ul class="list-with-chevron col-lg-9">
                <li>Безналичный расчёт</li>
                <li>Банковской картой
                    <p>
                        Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку
                        Оплата заказа банковской картой. Оплата происходит через ПАО СБЕРБАНК с использованием банковских карт следующих платёжных систем:
                        <img src="/img/card-versions.png" alt="">
                    </p>
                </li>
            </ul>
            <h2 class="text-center head_line">Условия возврата товара</h2>
            <p>Срок возврата товара надлежащего качества составляет 14 дней с момента получения товара.
                Возврат переведённых средств, производится на ваш банковский счёт в течение 5-30 рабочих дней (срок зависит от банка, который выдал вашу банковскую карту).</p>

            <hr/>
            <p class="h2-responsive text-bold mb-0 line-height-1">Есть вопросы?</p>
            <p class="h2-responsive text-bold mb-4">Оставьте свои контакты и мы свяжемся с вами</p>
            <form>
                <div class="row justify-content-between ">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <input type="text" name="" placeholder="Ваше имя" class="input_text_transparent input-dark w-100">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <input type="tel" name="" placeholder="Введите номер телефона" class="input_text_transparent input-dark w-100 phone-no">
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 mt-3 mt-sm-2 mt-md-0">
                        <input type="button" name="" value="жду звонка" class="input_btn_red w-100">
                        <span class="soglasie m-auto">нажимая на кнопку, вы даете согласие на обработку персональных данных</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="d-none">
        {% include 'main/template-parts/menu/main-menu.html.twig' %}
    </div>

{% endblock %}