{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block desc %}{{desc}}{% endblock %}

{% block body %}

    <div class="content main promotions">
        <div class="container mt-n5 mb-3 pt-2">
            {% include 'main/template-parts/breadcrumb.html.twig' %}
        </div>
        <div class="container">
            <h1 class="text-center head_line">Акции</h1>
            <p class="main-title first">ЗДЕСЬ МЫ РАЗМЕСТИЛИ ВСЕ ВЫГОДНЫЕ</p>
            <p class="main-title second">ПРЕДЛОЖЕНИЯ И АКЦИИ</p>
            <div class="dashed-left-line"></div>

            <form id="getDiscountAkciiForm">
                <div class="row justify-content-between my-4 my-lg-5 py-3">
                    <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                        <input type="text" name="user_name" placeholder="Ваше имя" form-data="namegetDiscountAkciiForm" id="akciiNameInput" class="input_text_transparent input-dark w-100">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                        <input type="tel" name="user_phone" placeholder="Введите номер телефона" form-data="phonegetDiscountAkciiForm" id="akciiPhoneInput"  class="input_text_transparent input-dark w-100 phone-no">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-12 mt-2 mt-sm-3 mt-lg-0">
                        <input type="button" id="akciiGetDiscount" name="" value="заказать со скидкой" class="input_btn_red w-100">
                        <span class="soglasie m-auto">нажимая на кнопку, вы даете согласие на обработку персональных данных</span>
                    </div>
                </div>
            </form>

            <div class="row no-gutters mb-5">
                <div class="col-lg-8 col-12 pr-0 pr-lg-4">
                    <div class="promo-image pb-2 pb-lg-0">
                        <img src="/img/products/promotions/promo-main.jpg" alt="" class="w-100">
                        <div class="promo-caption">
                            <p class="big-title">покупай с выгодой</p>
                            <div class="dashed-layers"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 pl-4">
                    <div class="promo-text mb-3">
                        <p class="p-info">Акция действует с 1 апреля по 25 апреля 2019 года</p>
                        <p class="p-title">закажи любой товар и получи скидку </p>
                        <p>Только до 25 апреля 2019 года вы можете приобрести комплект для своего авто по очень выгодным ценам.</p>
                        <p>Закажите два саквояжа абсолютного любого цвета и получите папку для документов совершенно бесплатно.</p>
                        <p>Цвета материалов папки вы можете выбрать сами.</p>
                        <p>Добавьте в корзину все товары по отдельности, далее в корзине цены пересчитаются.</p>
                    </div>
                    <div class="text-center">
                        <a href="#!" class="btn btn-main">перейти к покупкам</a>
                    </div>
                </div>
            </div>

            <div class="row">

                {# {% for i in range(1, 6) %} #}
                    <div class="col-lg-4 col-md-6 col-12">
                        {# <div class="promo-item {% if i > 3 %} disabled {% endif  %}mb-4 mb-md-5"> #}
                        <div class="promo-item mb-4 mb-md-5">
                            <div class="promo-image">
                                <img src="/img/products/promotions/promo-01.jpg" alt="" class="w-100">
                                {# {% if i < 4 %} #}
                                    <div class="promo-caption">
                                        {# <p class="small-title">только до 25 апреля!</p> #}
                                        {# <div class="dashed-layers"></div> #}
                                    </div>
                                {# {% endif %} #}
                            </div>
                            <div class="promo-text border-lefht-red-dashed mt-2 mb-5 pl-3">
                                <p class="promo-text-title">Скидка на следующий заказ</p>
                                <p>Закажи любой товар на нашем сайте и получи скидку на следующий заказ.</p>
                            </div>
                            {# <p class="grey2_text my-2 pl-3">1 марта - 25 Марта</p> #}
                            {# {% if i < 4 %} #}
                                <div class="text-center pl-3">
                                    <a href="#!" class="btn btn-outline-red">Подробнее</a>
                                </div>
                            {# {% endif %} #}
                        </div>
                        <div class="d-md-none">
                            <hr/>
                        </div>
                    </div>
                {# {% endfor %} #}
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="promo-item mb-4 mb-md-5">
                        <div class="promo-image">
                            <img src="/img/products/promotions/promo-02.jpg" alt="" class="w-100">
                                <div class="promo-caption">
                                    {# <p class="small-title">только до 25 апреля!</p> #}
                                    {# <div class="dashed-layers"></div> #}
                                </div>
                        </div>
                        <div class="promo-text border-lefht-red-dashed mt-2 mb-5 pl-3">
                            <p class="promo-text-title">При покупке 2 и более накидок, цена за 1 шт. - 1400 руб.</p>
                            <p>Только в апреле вы можете заказать саквояжи со скидкой 20%. </p>
                        </div>
                        {# <p class="grey2_text my-2 pl-3">1 марта - 25 Марта</p> #}
                            <div class="text-center pl-3">
                                <a href="#!" class="btn btn-outline-red">Подробнее</a>
                            </div>
                    </div>
                    <div class="d-md-none">
                        <hr/>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="promo-item mb-4 mb-md-5">
                        <div class="promo-image">
                            <img src="/img/products/promotions/promo-03.jpg" alt="" class="w-100">
                                <div class="promo-caption">
                                    {# <p class="small-title">только до 25 апреля!</p> #}
                                    {# <div class="dashed-layers"></div> #}
                                </div>
                        </div>
                        <div class="promo-text border-lefht-red-dashed mt-2 mb-5 pl-3">
                            <p class="promo-text-title">Закажи комплект накидок со скидкой</p>
                            <p>Добавь в корзину оба товара и цена автоматически пересчитается</p>
                        </div>
                        {# <p class="grey2_text my-2 pl-3">1 марта - 25 Марта</p> #}
                            <div class="text-center pl-3">
                                <a href="#!" class="btn btn-outline-red">Подробнее</a>
                            </div>
                    </div>
                    <div class="d-md-none">
                        <hr/>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="d-none">
        {% include 'main/template-parts/menu/main-menu.html.twig' %}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('infopages-js') }}
{% endblock %}