{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block desc %}{{desc}}{% endblock %}

{% block body %}
    <div class="content main">
        <div class="container mt-n5 mb-3 pt-2">
            {% include 'main/template-parts/breadcrumb.html.twig' %}
        </div>
        <div class="container">
            <h1 class="text-center head_line">Карта сайта</h1>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('infopages-js') }}
{% endblock %}