{% extends 'base.html.twig' %}

{% block title %}Для детей{% endblock %}

{% block body %}
    {% include 'forkids/template-parts/slider.html.twig' %}
    {% include 'main/template-parts/menu/main-menu.html.twig' %}
    <div class="content">
        <div class="container">
            <h2 class="text-center head_line mb-4">Защита сидений от детских ножек и детского кресла</h2>
            <div class="kids-mantle-type radio-select mb-4">
                <label class="circle-radio-btn pl-0 active" id="forSalon">
                    <span class="btn btn-outline-grey">В салон</span>
                    <input type="radio" name="bag-type" value="for_salon">
                </label>
                <label class="circle-radio-btn pl-0" id="forTrunk">
                    <span class="btn btn-outline-grey">В багажник</span>
                    <input type="radio" name="bag-type" value="for_trunk">
                </label>
            </div>
            <div class="row configurator for_kids">
                <div class="col-md-6 col-12">
                    <img src="/img/products/for_kids/for_kids.jpg" alt="" class="w-100">
                </div>
                <div class="col-md-6 col-12">
                    <p class="text-bold text-center text-md-left">Выберите цвет материала</p>
                    <div class="select-colors">
                        <div class="colors mb-0 radio-select">
                            <label class="circle-radio-btn active">
                                <span class="color grey"></span>
                                <input type="radio" name="color" value="grey" checked="checked">
                            </label>
                            <label class="circle-radio-btn">
                                <span class="color grey"></span>
                                <input type="radio" name="color" value="grey" checked="checked">
                            </label>
                            <label class="circle-radio-btn">
                                <span class="color grey"></span>
                                <input type="radio" name="color" value="grey" checked="checked">
                            </label>
                            <label class="circle-radio-btn">
                                <span class="color grey"></span>
                                <input type="radio" name="color" value="grey" checked="checked">
                            </label>
                            <label class="circle-radio-btn">
                                <span class="color grey"></span>
                                <input type="radio" name="color" value="grey" checked="checked">
                            </label>
                        </div>
                    </div>

                    <p class="title-h3 text-center text-md-left">При покупке 2 и более накидок, <br/>цена за 1 шт. - 1400 руб.</p>

                    <div class="product-old-price">
                        <span>4 900 руб.</span>
                    </div>
                    <div class="product-price">
                        <span>3 500 <span class="small">руб.</span></span>
                    </div>

                    <div class="text-right mt-3 buy-buttons">
                        <button class="btn btn-main w-210p m-0 mb-2" data-toggle="modal" data-target="#selectedItemModal">купить</button>
                        <button class="btn btn-outline-red w-210p ml-sm-2 mb-sm-2 py-3" data-toggle="modal" data-target="#selectedItemModal">в корзину</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% include 'forkids/template-parts/mantleProperties.html.twig' %}
    {% include 'forkids/template-parts/specialOffer.html.twig' %}
    {% include 'forkids/template-parts/videoInstruction.html.twig' %}

    {% include 'main/template-parts/map.html.twig' %}
    {% include 'main/template-parts/orderForm.html.twig' %}
    {% include 'main/template-parts/videos.html.twig' %}
    {% include 'main/template-parts/productGallery.html.twig' %}
    {% include 'main/template-parts/comments.html.twig' %}

{% endblock %}
{% block modal %}
    {% include 'product/inc/modals/selecteditem.html.twig' %}
{% endblock %}
