<div class="content">
    <div class="container">
        <div class="special-offer">
            <p class="head_line col-lg-5 col-7 p-0 line-height-1">Закажи комплект накидок со скидкой</p>
            <div class="offer">
                <div class="text">
                    <p>Добавь в корзину оба товара и цена автоматически пересчитается</p>
                    <a href="#!" class="btn btn-outline-red">В акции участвуют все цвета</a>
                </div>
               <div class="offer-full-img">
                   <div class="price">
                       <div class="text-right">
                           <p class="new-price">3500</p>
                           <p class="currency">руб.</p>
                           <p class="old-price">3780 руб.</p>
                       </div>
                   </div>
                   <div class="offer-1">
                       <div class="offer-image">
                           <img src="/img/products/for_kids/special-offer/offer-1.jpg" alt="">
                       </div>
                   </div>
                   <div class="offer-2">
                       <div class="offer-image">
                           <img src="/img/products/for_kids/special-offer/offer-2.jpg" alt="">
                       </div>
                   </div>
                   <div class="circle-small"></div>
                   <div class="circle-medium"></div>
                   <div class="circle-big"></div>
                   <i class="icon icon-plus-circle"></i>
               </div>

            </div>
        </div>
    </div>
</div>