<div class="product-video">
    <div class="content mt-0">
        <div class="container pb-5">
            <p class="h2-responsive text-center head_line line-height-1-2 px-0 px-sm-4">В накидках для детей используется экокожа максимальной толщины, а значит накидки прочные и долговечные.</p>
            <iframe width="100%" height="600" src="https://www.youtube.com/embed/S7Vdft_ExrA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>