{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
    <div class="d-none">
        {% include 'main/template-parts/menu/main-menu.html.twig' %}
    </div>

    <div class="content main mt-5">
        <div class="container mt-4">
            <div class="row justify-content-center p-5">
                <div class="col-lg-5 col-md-7 col-12">
                    {% if error %}
                        <div class="alert alert-danger text-center" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    {{ form_start(loginForm) }}
                        {{ form_widget(loginForm) }}
                    <div style="width:fit-content;margin:auto">
                        <button class="btn btn-outline-red waves-effect waves-light "  type="submit">Войти</button>
                    </div>
                    {{ form_end(loginForm) }}
                </div>
            </div>
        </div>

    </div>
        </div>
    </div>
{% endblock %}


