{% extends 'base.html.twig' %}

{% block title %}CarStoris - Для животных{% endblock %}

{% block body %}
    {% include 'foranimals/template-parts/slider.html.twig' %}
    {% include 'main/template-parts/menu/main-menu.html.twig' %}
    <div class="content for-animals">
        <div class="container">
            <h2 class="text-center head_line">Гамаки для животных премиум класса</h2>
            {% include 'foranimals/template-parts/hammockType.html.twig' %}
            <div class="row configurator">
                <div class="col-6">
                    <img src="/img/products/for_animals/for_animals.jpg" alt="">
                </div>
                <div class="col-6">

                    <ul class="nav nav-tabs" id="bagDesign" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="selectColorTab" data-toggle="tab" href="#selectColor" role="tab" aria-controls="selectColor"
                               aria-selected="true">выбор цвета</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="selectLogoTab" data-toggle="tab" href="#selectEmbroidery" role="tab" aria-controls="selectEmbroidery"
                               aria-selected="false">выбор вышивки </a>
                        </li>
                    </ul>

                    <div class="tab-content mb-3" id="bagDesignContent">
                        <div class="tab-pane fade show active pt-4" id="selectColor" role="tabpanel" aria-labelledby="selectColorTab">
                            {% include 'bags/template-parts/designSelectColor.html.twig' %}
                        </div>
                        <div class="tab-pane fade pt-3" id="selectEmbroidery" role="tabpanel" aria-labelledby="selectEmbroideryTab">
                            {% include 'mantle/template-parts/designEmbroidery.html.twig' %}
                        </div>
                    </div>

                    <div class="zashitnye-borty pt-4">
                        <label class="red-checkbox big-checkbox bold-border mb-4 mt-auto">
                            <span><b>Защитные борта</b> +200 руб.</span>
                            <input type="checkbox" name="" value="1">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div class="product-old-price text-right">
                        <span>4 900 руб.</span>
                    </div>
                    <div class="product-price text-right">
                        <span>3 500 <span class="small">руб.</span></span>
                    </div>

                    <div class="text-right mt-3">
                        <button class="btn btn-main w-210p py-3" data-toggle="modal" data-target="#selectedItemModal">купить</button>
                        <button class="btn btn-outline-red w-210p py-3" data-toggle="modal" data-target="#selectedItemModal">в корзину</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% include 'foranimals/template-parts/hammockProperties.html.twig' %}
    {% include 'foranimals/template-parts/specialOffer.html.twig' %}
    {% include 'foranimals/template-parts/videoInstruction.html.twig' %}

    {% include 'main/template-parts/map.html.twig' %}
    {% include 'main/template-parts/orderForm.html.twig' %}
    {% include 'main/template-parts/videos.html.twig' %}
    {% include 'main/template-parts/productGallery.html.twig' %}
    {% include 'main/template-parts/comments.html.twig' %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('foranimals-js') }}
{% endblock %}
{% block modal %}
    {% include 'bags/template-parts/selectedItemModal.html.twig' %}
{% endblock %}