.yuzhnyy_fo,
.sibirskiy_fo,
.severo_zapadnyy_fo {
  fill: transparent;
  pointer-events: all;
  fill-rule: nonzero;
  stroke: #818181;
  stroke-width: 1.99;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 22.9256;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.centralnyy_fo,
.priwolzhskiy_fo,
.uralskiy_fo,
.dalnewostochnyy_fo {
  fill: transparent;
  pointer-events: all;
  fill-rule: nonzero;
  stroke: #818181;
  stroke-width: 1.99;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 22.9256;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.city-marker {
  fill: #C02F22;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.city-text {
  fill: black;
  fill-rule: nonzero;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.yfo_shadow,
.sfo_shadow,
.szfo_shadow,
.cfo_shadow,
.pfo_shadow,
.ufo_shadow,
.dfo_shadow {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.dalnewostochnyy_fo:hover > .dfo_shadow {
  opacity: 1;
}