@charset "UTF-8";
.str1 {stroke:gray;stroke-width:217;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str0 {stroke:#818181;stroke-width:217;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str2 {stroke:#979797;stroke-width:217;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.fil2 {fill:red}
.fil3 {fill:black;fill-rule:nonzero}
.fil0 {fill:#CCCCCC;fill-rule:nonzero}
.fil1 {fill:#E6E6E6;fill-rule:nonzero}
