{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block desc %}{{desc}}{% endblock %}

{% block body %}

<form action="">
    <div class="content main mt-5 shopping-cart">
        <div class="container mb-3">
            {% include 'main/template-parts/breadcrumb.html.twig' %}
        </div>
        <div class="container">
                <h1 class="text-center head_line">Корзина</h1>
            {% if shoppingCart.itemsQuantity == 0  %}
                {% if not message %}
                    <div class="content text-center text-bold mt-1 pb-5 pt-1">
                        <p class="h3-responsive mb-0">К сожалению, у Вас в корзине еще нет товаров.</p>
                        <p class="h3-responsive mb-2">Выбирите товар ниже, чтобы добавить его в корзину.</p>
                        <div class="lines"></div>
                    </div>
                 {% else %}
                     <div class="content text-center text-bold py-4">
                         {% if thanks %}
                            <p class="h2">{{ thanks }}</p>
                         {% endif %}
                         <p class="h4">{{ message }}</p>
                         <div class="lines"></div>
                     </div>
                 {%  endif %}
                    {% include 'main/template-parts/categories.html.twig' %}
                {% else %}
                    {% include '/shoppingcart/template-parts/items.html.twig' %}
                <div class="total-sum grey-bg p-3 text-right">
                    {% if shoppingCart.partner %}
                        <p class="mb-0" style="font-size: 0.8rem;"><b>Скидка партнера:
                            <span>
                            {{ shoppingCart.partner.promocodeDiscount }}
                        </span> руб.
                            </b></p>
                    {% endif %}

                    {% if shoppingCart.cartAmountOldPrice - shoppingCart.cartAmount > 0  %}
                      {# Если есть скидка #}
                        <p class="mb-0">Общая скидка:
                            <span  id="cartCommonDiscount">
                                    {% if  shoppingCart.partner %}
                                        {{ shoppingCart.cartAmountOldPrice - shoppingCart.cartAmount }}
                                         {%  else %}
                                    {{ shoppingCart.cartAmountOldPrice - shoppingCart.cartAmount }}
                                    {% endif %}
                            </span> руб.
                        </p>
{#                    {% endif %}#}
                    {% else %}
                    {# Если скидки нет #}
                         {% if  shoppingCart.partner %}
                            <p class="mb-0">Общая скидка:
                                <span  id="cartCommonDiscount">
                                    {{ shoppingCart.partner.promocodeDiscount }}
                                </span> руб.
                            </p>
                         {% endif %}
                    {% endif %}
                    <p class="mb-0 text-bold">
                        <span class="font-size-18">Итого: </span>
                        <span class="font-size-20 red_text" id="cartCommonAmount">{{ shoppingCart.cartAmount }}</span>
                        <span> руб.</span>
                    </p>
                </div>
                    {% include 'shoppingcart/template-parts/gifts.html.twig' %}
                <div class="text-center">
                    <a href="{{ path('home') }}#tovarblock" class="btn btn-outline-red w-210p px-4 py-3 mr-sm-4 mb-3 mb-sm-0">выбрать еще товар</a>
                    <a href="{{ path(name="order") }}" class="btn btn-outline-red w-210p px-4 py-3 ml-sm-4">оформить заказ</a>
                </div>
                {% endif %}
        </div>
    </div>
    <div class="d-none">
        {% include 'main/template-parts/menu/main-menu.html.twig' %}
    </div>
</form>

{% endblock %}
