<div class="product-description for-kids-description">

    {# На спинку! #}
    <div class="product-description__items {% if app.request.attributes.get('_route') ==  'for_kids' %} {{ 'hidden' }} {% endif %}" id="forkidsDescriptionNaSpinku">
        <div class="container">
            <p class="product-description__title">Защитная накидка на спинку сиденья автомобиля от детей</p>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="product-description__item-text_even v2">
                        <p>Как защитить обивку салона от загрязнений – это вопрос волнует многих автовладельцев,
                            особенно тех, у кого есть дети, а на заднем сиденье установлено детское автокресло.
                            Маленькие пассажиры, как правило, не сидят спокойно и ножками задевают спинку,
                            расположенного впереди водительского или пассажирского кресла.<br>
                            Для решения этой проблемы магазины предлагают защитные накидки (чехлы) из полиэтилена.
                            Но практика показывает, что это не самый удачный вариант. Пленки и клеёнки быстро
                            выходят из строя, рвутся, сползают, да и выглядят малоэстетично.<br>
                            Мы предлагаем лучшее альтернативное и продуманное в деталях решение. У нас Вы сможете
                            купить накидку на спинку сиденья, разработанную специально для удобного и долговечного
                            использования в автомобиле.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-description__item-image_even">
                        <img class="float-left" src="/img/products/descriptions/forkids/01.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="product-description__item-image">
                        <img class="float-right" src="/img/products/descriptions/forkids/03.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-description__item-text v2">
                        <p>Carstoris – это фирменный магазин производителя автоаксессуаров, чехлов и накидок. Для
                            пошива автобильных чехлов и накидок применяются современные технологии, на каждом этапе
                            осуществляется строгий  контроль качества продукции.
                            Накидка на спинку сиденья выполнена из высококачественной мягкой экокожи максимальной
                            толщины и прочности, которая не царапается и не рвется, отталкивает влагу и грязь.
                            Поверхность легко очищается (достаточно протереть влажной салфеткой).
                            Защитная накидка на спинку сиденья автомобиля от детей универсальна, подходит для любой
                            марки, надежно крепится к сиденью, предотвращая скольжение. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12 order-md-2">
                    <div class="product-description__item-image_even">
                        <img class="float-left" src="/img/products/descriptions/forkids/04.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12 order-md-1">
                    <div class="product-description__item-text_even v2 p-2 pr-4">
                        <p><b>Как заказать защитную накидку?</b> <br>
                            В нашем интернет-магазине Вы сможете заказать защитные накидки прямо с завода по выгодным ценам производителя. Мы предлагаем:
                            - накидки на передние сиденья с тыльной стороны, которые защищают от грязной обуви ребенка, лап животных.
                            - накидка под детское кресло, которая предназначена для защиты заднего сиденья от заломов, вмятин и потертостей от использования автокресла.
                            Накидки Carstoris выглядят стильно, поэтому это не только защита, но и украшение салона
                            Вашего автомобиля. На выбор – различные расцветки и окантовки. Для удобства заказа и расчета
                            цены воспользуйтесь простым конструктором на сайте или напишите нам. Специалисты
                            интернет-магазина с удовольствием помогут сделать выбор, проконсультируют по доставке
                            в любой регион России и ответят на любые другие вопросы. </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {# Под кресло #}
    <div class="product-description__items {% if app.request.attributes.get('_route') ==  'for_kids_na_spinku' %} {{ 'hidden' }} {% endif %}" id="forkidsDescriptionPodKreslo">
        <div class="container">
            <p class="product-description__title">Защитная накидка под детское кресло</p>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="product-description__item-text_even v2">
                        <p><b>Накидки под детское кресло</b>
                            Специальные накидки на сиденье под детское кресло предназначены для защиты обивки автосалона
                            от истирания и загрязнений. Накидка смягчает и распределяет нагрузку от давления автокресла,
                            предовращает образование заломов, вмятин, царапин.
                            <br>
                            Мы предлагаем универсальные модели, которые подходят под любые марки автомобиля и виды
                            детских автокресел, включая популярные системы ISO-FIX.

                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-description__item-image_even">
                        <img class="float-left" src="/img/products/descriptions/forkids/05.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="product-description__item-image">
                        <img class="float-right" src="/img/products/descriptions/forkids/06.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-description__item-text v2">
                        <p>
                            <b>Из чего сделаны наши накидки под кресло?</b>
                            Защитная накидка под детское кресло выполнена из плотной, сверхпрочной экокожи с надежным
                            креплением. Особый упругий внутренний слой равномерно распределяет нагрузку. Накидка не
                            оставляет после себя никаких следов на обивке кресла в автосалоне. Практичная,
                            антискользящая и визуально привлекательная внешняя поверхность имитирует натуральную кожу,
                            обладает высокой стойкостью к истиранию, не впитываепет влагу и грязь. Для производства
                            автонакидок используются безопасные, экологически чистые сертифицированные материалы.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12 order-md-2">
                    <div class="product-description__item-image_even">
                        <img class="float-left" src="/img/products/descriptions/forkids/07.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12 order-md-1">
                    <div class="product-description__item-text_even v2 p-2 pr-4">
                        <p><b>Как заказать накидки?</b>
                            Мы гарантируем выгодные цены от прямого производителя автоакссесуаров, оперативную доставку по всей России.
                            <br>
                            Специалисты интернет-магазина Carstoris помогут подобрать защитную накидку под цвет и дизайн
                            Вашего автосалона, проконсультируют по любым вопросам.  Звоните, пишите, мы всегда рады
                            помочь Вам выбрать полезные и стильные автоакссессуары для Вашего автомобиля.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>