<div class="mantle-for-kids-info grey-gradient-bg">
    <div class="content p-0 m-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-12">
                    <p class="title-h3 red_text text-center mb-md-5 mb-3">Больше никаких грязных спинок и потертостей от детского кресла!</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9 col-12">
                    <div class="row justify-content-between">
                        <div class="col-md-5 col-12">
                            <p class="dashed-underline">Накидка на переднее сиденье защитит от грязных детских ножек.</p>
                        </div>
                        <div class="col-md-5 col-12">
                            <p class="dashed-underline">Накидка на заднее сиденье защитит от вмятин и потертостей от детского кресла.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pt-5">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/water_repellent.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Не впитывают воду</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pt-5">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/cleaning.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Очищаются влажной салфеткой</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pt-5">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/interior_fit.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Отлично вписываются в интерьер</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pt-5">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/for_all_cars.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Подходят на все автомобили</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pt-5">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/handmade.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Ручная работа</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pt-5">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/size.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Универсальный размер и крепления</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pt-5">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/installation.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Простая установка</p>
                </div>
            </div>
        </div>
    </div>
</div>