<div class="content">
    <div class="container">
        <div class="special-offer">
            <p class="head_line col-lg-5 col-md-7 col-12 p-0 line-height-1">{{ promotion.name }}</p>
            <div class="offer">
                <div class="text v2">
                    <p>{{ promotion.description }}</p>
                </div>
                <div class="text">
                    <div class="a-text">В акции участвуют все цвета</div>
                </div>
                <div class="offer-full-img">
                    <div class="price">

                        <div class="text-right">
                            <p class="new-price">{{ promotionPrice }}</p>
                            <p class="currency">руб.</p>
                            <p class="old-price">{{ promotionOldPrice }} руб.</p>
                        </div>
                    </div>
                    <div class="offer-1">
                        <div class="offer-image">
                            <img src="/img/products/for_kids/special-offer/offer-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="offer-2">
                        <div class="offer-image">
                            <img src="/img/products/for_kids/special-offer/offer-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="circle-small"></div>
                    <div class="circle-medium"></div>
                    <div class="circle-big"></div>
                    <i class="icon icon-plus-circle"></i>
                </div>
            </div>
        </div>
    </div>
</div>