<div class="carpet-info grey-gradient-bg">
    <div class="content p-0 m-0">
        <div class="container">
            <div class="row no-gutters justify-content-center pt-3 pb-2">
                <div class="col-lg-4 col-md-6 col-12 p-4">
                    <div class="info-icon v3">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/doc-save.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text v3">Отличный вариант для хранения страховки и любых других документов в автомобиле. </p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 p-4">
                    <div class="info-icon v3">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/for-a4.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text v3">Идеально подходит для документов формата А4 и планшетов.</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 p-4">
                    <div class="info-icon v3">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/eco-leather.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text v3">Качественная Эко кожа надолго защитит папку от стирания</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 p-4">
                    <div class="info-icon v3">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/style.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text v3">Стильный внешний вид дарит эстетическую радость снова и снова.</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 p-4">
                    <div class="info-icon v3">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/logo.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text v3">Добавьте логотип с маркой вашего автомобиля и ваши друзья точно захотят себе такую же.</p>
                </div>
            </div>
        </div>
    </div>
</div>