<div class="product-video">
    <div class="content">
        <div class="container">
            <p class="h2-responsive text-center head_line">Документы в порядке</p>
            <img src="/img/temp.jpg"  alt="" class="w-100">
{#            <iframe width="100%" height="600" src="https://www.youtube.com/embed/S7Vdft_ExrA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
        </div>
    </div>
</div>