<div class="bag-configurator-image" id="bagConfiguratorImage">
    <div class="image-group">
        <img src="/img/configurator/bags/material-color/black.png" alt="" class="bag-material-color">
        <img src="/img/configurator/bags/thread-color/black.png" alt="" class="bag-thread-color">
        <img src="/img/configurator/bags/border-color/black.png" alt="" class="bag-border-color">
        <img src="" alt="" class="bag-logo">
        <img src="/img/configurator/bags/size.png" alt="" class="bag-size">
    </div>
</div>