{#<ul class="nav v2 nav-tabs" id="selectYourLogo" role="tablist">#}
{#    <li class="nav-item">#}
{#        <a class="nav-link active" id="autoBrandTab" data-toggle="tab" href="#autoBrand" role="tab" aria-controls="autoBrand"#}
{#           aria-selected="true">Марки авто</a>#}
{#    </li>#}
{#    <li class="nav-item">#}
{#        <a class="nav-link" id="footbalClubTab" data-toggle="tab" href="#footbalClub" role="tab" aria-controls="footbalClub"#}
{#           aria-selected="false">Футбольные клубы</a>#}
{#    </li>#}
{#</ul>#}
{#<div class="tab-content pt-2" id="selectYourLogoContent">#}
{#    <div class="tab-pane fade show active" id="autoBrand" role="tabpanel" aria-labelledby="autoBrandTab">#}
        <div class="select-logo d-flex">
            <div class="d-flex flex-column">
                <div class="logo-item active">
                    <label class="circle-radio-btn">
                        <span class="without-logo auto-logo">Без логотипа</span>
                        <input type="radio" name="auto-brand" value="without_logo" checked="checked">
                    </label>
                </div>
                {% for logo in logos %}
                    {% if loop.index%6 == 0 and loop.index !=0 %}
                        </div><div class="d-flex flex-column">
                    {% endif %}
                    <div class="logo-item">
                        <label class="circle-radio-btn">
                            <img class="auto-logo" src="/img/configurator/auto-brands/{{ logo }}.png" alt="">
                            <input type="radio" name="auto-brand" value="{{ logo }}" {% if loop.index == 0 %}checked="checked"{% endif %}>
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
{#    </div>#}
{#    <div class="tab-pane fade" id="footbalClub" role="tabpanel" aria-labelledby="footbalClubTab">#}
{#        <div class="select-colors">#}
{#            <div class="colors">#}
{#                <label class="circle-radio-btn">#}
{#                    <span class="color grey"></span>#}
{#                    <input type="radio" name="color" value="grey" checked="checked">#}
{#                </label>#}
{#                <label class="circle-radio-btn">#}
{#                    <span class="color grey"></span>#}
{#                    <input type="radio" name="color" value="grey" checked="checked">#}
{#                </label>#}
{#                <label class="circle-radio-btn">#}
{#                    <span class="color grey"></span>#}
{#                    <input type="radio" name="color" value="grey" checked="checked">#}
{#                </label>#}
{#                <label class="circle-radio-btn">#}
{#                    <span class="color grey"></span>#}
{#                    <input type="radio" name="color" value="grey" checked="checked">#}
{#                </label>#}
{#                <label class="circle-radio-btn">#}
{#                    <span class="color grey"></span>#}
{#                    <input type="radio" name="color" value="grey" checked="checked">#}
{#                </label>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}