<!-- Selected Item Modal -->
<div class="modal fade" id="selectedItemModal" tabindex="-1" role="dialog" aria-labelledby="selectedItemModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title text-bold m-auto" id="selectedItemModalLabel">Ваш выбор</h5>
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <img src="/img/shopping-cart/product-01.png" alt="">
                    </div>
                    <div class="col-6">
                        <p class="font-size-18 text-bold">Саквояж</p>
                        <p class="mb-0 line-height-1">Цвет материала - Черный</p>
                        <p class="mb-0 line-height-1">Цвет нити - Красный</p>
                        <p class="line-height-1">Цвет окантовки - Красный</p>
                        <p class="text-bold mb-0 text-right">Цена</p>
                        <div class="vcenter justify-content-end">
                            <p class="shopping-cart-old-price">5900</p>
                            <p class="shopping-cart-new-price">3150 <span class="small">руб.</span></p>
                        </div>
                        <div class="item-quantity vcenter ml-auto">
                            <a class="btn-decrease"><i class="icon icon-minus"></i></a>
                            <input type="text" class="form-control" name="item-quantity" value="1">
                            <a class="btn-increase"><i class="icon icon-plus"></i></a>
                        </div>
                    </div>
                </div>
                <hr/>
                <p class="text-bold">Вам может пригодиться</p>
                <div class="row no-gutters">
                    <div class="col-3">
                        <img src="/img/products/papka.jpg" alt="">
                    </div>
                    <div class="col-3 mr-auto">
                        <p class="text-bold mb-2">Папка</p>
                        <div class="item-quantity vcenter ml-auto mb-3">
                            <a class="btn-decrease"><i class="icon icon-minus"></i></a>
                            <input type="text" class="form-control" name="item-quantity" value="1">
                            <a class="btn-increase"><i class="icon icon-plus"></i></a>
                        </div>
                        <label class="red-checkbox big-checkbox">
                            <span><b>Логотип</b></span>
                            <input type="checkbox" name="" value="1">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-5 d-flex align-items-end">
                        <div>
                            <p class="mb-2 text-right">Цена: 1500 руб.</p>
                            <button class="btn btn-main w-100 m-0">Да, Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between p-4">
                <button type="button" class="btn btn-outline-red w-210p py-3" data-dismiss="modal">выбрать еще товар</button>
                <a href="{{ path(name="order") }}" class="btn btn-outline-red w-210p py-3">оформить заказ</a>
            </div>
        </div>
    </div>
</div>