<!-- Swiper -->
<div class="fp swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide v2">
            <img src=".././img/fp-slider/bags-slider-01.jpg" alt="">
            <div class="container">
                <div class="caption">
                    <div>
                        <p class="h1-responsive">Имиджевый саквояж подчеркнет вашу индивидуальность</p>
                        <div class="caption-button no-shadow">
                            <button class="btn btn-main">получить скидку</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lines d-none d-lg-block">
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <div class="caption-bg">
                <div class="bg-1"></div>
                <div class="bg-2"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <img src=".././img/fp-slider/fp-slider-02.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src=".././img/fp-slider/fp-slider-03.jpg" alt="">
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="fp swiper-pagination"></div>
</div>