<meta itemprop="material" content="Экокожа" />
<p class="h2-responsive line-height-1 text-center mb-3 mb-sm-5">Для заказа выберите цвет материала, а также нити и окантовки.</p>
{#<div id="dump"></div>#}

<div class="row configurator">
    <div class="col-lg-6 col-12 text-center configurator-images">
        <div class="bag-configurator-image" id="bagConfiguratorImage">
            <div class="image-group">
                <img itemprop="image" src="/img/configurator/bags/material-color/black.png" alt="" class="bag-material-color" oncontextmenu="return false">
                <img src="/img/configurator/bags/thread-color/black.png" alt="" class="bag-thread-color" oncontextmenu="return false">
                <img src="/img/configurator/bags/border-color/black.png" alt="" class="bag-border-color" oncontextmenu="return false">
                <img src="" alt="" class="bag-logo" oncontextmenu="return false">
                <img src="/img/configurator/bags/size.png" alt="" class="bag-size" >
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-12">
{#        {{ dump(products) }}#}
        <ul class="nav nav-tabs" id="bagDesign" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="selectColorTab" data-toggle="tab" href="#selectColor" role="tab" aria-controls="selectColor"
                   aria-selected="true">выбор цвета</a>
            </li>
            <li class="nav-item">
                <a class="nav-link m-1 m-sm-0" id="selectLogoTab" data-toggle="tab" href="#selectLogo" role="tab" aria-controls="selectLogo"
                   aria-selected="false">Марка авто</a>
            </li>
        </ul>
        <form id="configuratorForm" product-id="{{ products.id }}">
            <div class="tab-content mb-3" id="bagDesignContent">
                <div class="tab-pane fade show active pt-2 pt-sm-4" id="selectColor" role="tabpanel" aria-labelledby="selectColorTab">
                    {% include 'product/inc/configurator/selectcolor.html.twig' %}
                </div>
                <div class="tab-pane fade pt-3 mb-3 mb-sm-0" id="selectLogo" role="tabpanel" aria-labelledby="selectLogoTab">
                    {% include 'product/inc/configurator/selectlogo.html.twig' %}
                </div>
            </div>
        </form>

        <div class="product-old-price">
            <span id="productOldPrice">{{ products.priceWithoutDiscount }} руб.</span>
        </div>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-price">
            <span>
                <span id="productPrice" itemprop="price" content="{{ products.price }}">{{ products.price }}</span>
                <span itemprop="priceCurrency" content="RUB" class="small">руб.</span>
            </span>
        </div>

        <div class="text-right mt-3">
{#            <button class="btn btn-main w-210p m-0 mb-2" data-toggle="modal" data-target="#selectedItemModal">купить</button>#}
            {% include 'buttons/add_to_cart.html.twig' %}
        </div>

    </div>
</div>
{% include 'product/inc/related-products.html.twig' %}
{% include 'product/inc/product-parts/bag-parts/productreview.html.twig' %}