<p class="h2-responsive line-height-1 text-center mb-5">Для заказа выберите фактуру, цвет материала и окантовки.</p>
<form id="configuratorForm" product-id="301">
<div class="row configurator carpets">
    <div class="col-lg-6 col-12 pb-5 text-center text-lg-left configurator-images">
        <div class="vcenter justify-content-center justify-content-lg-start radio-img">
            <label class="circle-radio-btn text-center active pl-0">
                <img src="/img/products/carpets/carpet-romb-thumb.png" alt="" oncontextmenu="return false"  oncontextmenu="return false"><br/>
                <span class="radio-img-title">Ромб</span>
                <input type="radio" name="carpet-types" value="romb" checked="checked">
            </label>
            <label class="circle-radio-btn text-center pl-2">
                <img src="/img/products/carpets/carpet-romb-soty.png" alt=""><br/>
                <span class="radio-img-title">Соты</span>
                <input type="radio" name="carpet-types" value="soty">
            </label>
        </div>
        <div class="carpet-configurator-image" id="carpetConfiguratorImage">
            <div class="image-group">
                <img itemprop="image" src="/img/configurator/carpets/material-color/romb/black.jpg" alt="" class="carpet-material-color" oncontextmenu="return false">
                <img src="/img/configurator/carpets/border-color/black.png" alt="" class="carpet-border-color" oncontextmenu="return false">
                <img src="" alt="" class="carpet-shildik" oncontextmenu="return false">
                <img src="" alt="" class="carpet-podpyatnik" oncontextmenu="return false">
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-12 text-center text-lg-left">
                {% include 'product/inc/configurator/selectcolor-carpets.html.twig' %}
    </div>
    <div class="col-xl-4 col-lg-4 col-sm-6 col-12 mb-3 mb-sm-0">
        <p class="mb-3">Выберите комплект</p>
        {% for product in products %}
        <label class="circle-radio-btn complect-type mb-4">
            <span class="kit-name">{{ product.name }}</span>
            <input type="radio" price="{{product.price}}" name="complect-type" sub-product-id="{{ product.id }}" value="{{ product.name | trans({'%key%': product.name }, "cart")  }}" {% if product.id == 301 %}checked="checked"{% endif %}>
            <span class="checkmark"></span>
        </label>
        {% endfor %}
    </div>
    <div class="col-xl-4 col-lg-4 col-sm-6 col-12">
        <p class="">Выберите марку авто</p>
        <select name="marka-avto" class="pb-2" value="">
            <option value="0">Не выбрано</option>
            {% for brand in brands %}
                <br>
                <option value="{{ brand.name }}">{{ brand.name }}</option>
            {% endfor %}
        </select>
{#        <div class="cs-custom-select">#}
{#            <select name="marka-avto" value="">#}
{#                <option value="0">Не выбрано</option>#}
{#                {% for brand in brands %}#}
{#                    <option value="{{ brand.name }}">{{ brand.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </div>#}
        <p class="pt-3">Укажите модель авто и год выпуска</p>

            <div class="row">
                <div class="col-sm-6 pb-1"><input type="text" name="model-avto" placeholder="Модель"></div>
                <div class="col-sm-6"><input type="text" name="god-vypuska-avto" placeholder="Год"></div>
            </div>

    </div>
    <div class="saddle col-md-3 col-12">
        <div>
            <div class="saddle-item">
                <label class="red-checkbox big-checkbox bold-border mb-4" id="shildikCheckMark">
                    <span><b>Шильдик</b> +190 руб. <br> цена за комплект</span>
                    <input type="checkbox" name="carpets-shildik" price="190" value="shildik" id="shildik">
                    <span class="checkmark"></span>
                </label>
                <a class="info-circle" id="shildikInfo" style="
                                                            position: absolute;
                                                            right: 29px;
                                                            top: 5px;
                                                            z-index: 500;
                                                        ">!</a>
                <div class="saddle-modal-podlozhka d-none"></div>
                <div class="saddle-modal" id="shildikModal">
                    <div class="images">
                        <img src="/img/products/carpets/saddle/shildik-01.jpg">
                        <img src="/img/products/carpets/saddle/shildik-02.jpg">
                    </div>
                    <p class="title">Шильдик металлический</p>
                    <p>Два шильдика металлических с гравировкой автопроизводителя для автоковриков EVA (ЭВА).
                        Устанавливаются водителем в любом понравившемся месте коврика с помощью отвертки.
                       </p>
                    <p><b>Комплект: два шильдика металлических, два крепежа.</b></p>
                </div>
            </div>
            <div class="saddle-item">
                <label class="red-checkbox big-checkbox bold-border"  id="podpyatnikCheckMark">
                    <span><b>Подпятник</b> +590 руб.</span>
                    <input type="checkbox" name="carpets-podpyatnik" price="590" value="podpyatnik" id="podpyatnik">
                    <span class="checkmark"></span>
                </label>
                <a class="info-circle" id="podpyatnikInfo" style="
                                                            position: absolute;
                                                            right: 29px;
                                                            top: 8px;
                                                            z-index: 500;
                                                        ">!</a>
                <div class="saddle-modal-podlozhka d-none"></div>
                <div class="saddle-modal" id="podpyatnikModal">
                    <div class="images">
                        <img src="/img/products/carpets/saddle/podpyatnik-01.jpg" alt="">
                    </div>
                    <p class="title">Подпятник</p>
                    <p>Подпятник специально предназначен для меньшего износа основного материала водительского автоковрика EVA (ЭВА) и придает индивидуальность вашему авто.</p>
                    <p>Особенно актуален для водителей женщин, предпочитающих каблуки. Монтируется самим водителем с помощью отвертки (каждый водитель имеет индивидуальный размер ноги и положение при посадке в автомобиле). </p>
                    <p>В комплекте: Подпятник и 4 крепежа.</p>
                </div>

            </div>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-price">
                <span>
                    <span id="selectedCarpetPrice" itemprop="price" content="{{ products[0].price }}">{{ products[0].price }}</span>
                    <span itemprop="priceCurrency" content="RUB" class="small">руб.</span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 offset-lg-9 offset-sm-6 offset-0 pt-3 pt-lg-0">
        <div class="text-lg-right text-left btn-w-100">
{#            <button class="btn btn-main w-210p py-3 m-0 m-lg-2" data-toggle="modal" data-target="#selectedItemModal">купить</button>#}
{#            <button class="btn btn-outline-red w-210p py-3 mt-2 mt-lg-0" data-toggle="modal" data-target="#selectedItemModal">в корзину</button>#}
            {% include '/buttons/add_to_cart.html.twig' %}
        </div>
    </div>
</div>
</form>

</div></div>
{% include 'product/inc/related-products.html.twig' %}
{% include 'product/inc/product-parts/carpet-parts/properties.html.twig' %}
{% include 'product/inc/product-parts/carpet-parts/video-instructions.html.twig' %}
<div class="carpets-banner mb-4">
    <p>Огромный выбор цветов материала и окантовки</p>
</div>
<div><div>