<meta itemprop="material" content="Экокожа" />
{#<div class="kids-mantle-type radio-select mb-4">#}
{#    <label class="circle-radio-btn pl-0 active" id="individualStyle">#}
{#        <span class="btn btn-outline-grey" style="min-width:14vw">Индивидуальный стиль</span>#}
{#        <input type="radio" name="bag-type" value="individual_style">#}
{#    </label>#}
{#    <label class="circle-radio-btn  pl-0" id="inStock">#}
{#        <span class="btn btn-outline-grey" style="min-width:15vw">В наличии</span>#}
{#        <input type="radio" name="bag-type" value=in_stock">#}
{#    </label>#}
{#</div>#}
<p class="h2-responsive line-height-1 text-center mb-4">Для заказа выберите цвет материала, а также нити и окантовки.</p>

<div class="row configurator">

    <div class="col-lg-6 col-12 configurator-images">
        <div class="folder-configurator-image text-center" id="folderConfiguratorImage">
            <div class="image-group">
                <img itemprop="image" src="/img/configurator/folders/with_zipper/material-color/black.png" alt="" class="folder-material-color" oncontextmenu="return false">
                <img src="/img/configurator/folders/with_zipper/thread-color/black.png" alt="" class="folder-thread-color" oncontextmenu="return false">
                <img src="/img/configurator/folders/with_zipper/border-color/black.png" alt="" class="folder-border-color" oncontextmenu="return false">
                <img src="" alt="" class="folder-logo" oncontextmenu="return false" oncontextmenu="return false">
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-12">
        <form id="configuratorForm" product-id="{{ products.id }}">
            <div class="bag-types d-flex justify-content-lg-start justify-content-center">
                <div class="bag-types-choices flex-row">
                    <label class="circle-radio-btn pr-4">
                        <span>С молнией</span>
                        <input type="radio" name="zipper" value="with_zipper" checked="checked" product-id="{{ products.id }}">
                        <span class="checkmark"></span>
                    </label>
                    <label class="circle-radio-btn">
                        <span>Без молнии</span>
                        <input type="radio" name="zipper" value="without_zipper" product-id="{{ products2.id }}">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
    {#        <div class="collapse show" id="foldersTypes">#}
    {#        </div>#}
            <ul class="nav nav-tabs" id="folderDesign" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="selectColorTab" data-toggle="tab" href="#selectColor" role="tab" aria-controls="selectColor"
                       aria-selected="true">выбор цвета</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="selectLogoTab" data-toggle="tab" href="#selectLogo" role="tab" aria-controls="selectLogo"
                       aria-selected="false">Марка авто</a>
                </li>
            </ul>

            <div class="tab-content mb-3" id="bagDesignContent">
                <div class="tab-pane fade show active pt-2 pt-sm-4" id="selectColor" role="tabpanel" aria-labelledby="selectColorTab">
                    {% include 'product/inc/configurator/selectcolor-folders.html.twig' %}
                </div>
                <div class="tab-pane fade pt-3" id="selectLogo" role="tabpanel" aria-labelledby="selectLogoTab">
                    {% include 'product/inc/configurator/selectlogo.html.twig' %}
                </div>
            </div>
        </form>

{#        <div class="tab-content mb-3" id="folderDesignContent">#}
{#            <div class="tab-pane fade show active pt-4" id="selectColor" role="tabpanel" aria-labelledby="selectColorTab">#}
{#                {% include 'product/inc/configurator/selectcolor.html.twig' %}#}
{#            </div>#}
{#            <div class="tab-pane fade pt-3" id="selectLogo" role="tabpanel" aria-labelledby="selectLogoTab">#}
{#                {% include 'product/inc/configurator/selectlogo.html.twig' %}#}
{#            </div>#}
{#        </div>#}
        <style>
            .hidden{
                display: none;
            }
        </style>
        <div class="folder-price-wrapper" id="withZipperWrapper">
            <div class="product-old-price">
                {#            {{ dump(products) }}#}
                <span id="productOldPrice">{{ products.priceWithoutDiscount }} руб.</span>
            </div>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-price">
                <span>
                    <span id="productPrice" itemprop="price" content="{{ products.price }}">{{ products.price }}</span>
                    <span itemprop="priceCurrency" content="RUB" class="small">руб.</span>
                </span>
            </div>
        </div>
        <div class="folder-price-wrapper hidden" id="withoutZipperWrapper">
            <div class="product-old-price">
                <span id="product2OldPrice">{{ products2.priceWithoutDiscount }} руб.</span>
            </div>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-price">
                <span>
                    <span id="product2Price" itemprop="price" content="{{ products2.price }}">{{ products2.price }}</span>
                    <span itemprop="priceCurrency" content="RUB" class="small">руб.</span>
                </span>
            </div>
        </div>



        <div class="text-right mt-3">
{#            <button class="btn btn-main w-210p m-0 mb-2" data-toggle="modal" data-target="#selectedItemModal">купить</button>#}
            {% include 'buttons/add_to_cart.html.twig' %}
        </div>

    </div>
</div>
</div></div>
<script>
    var logoPrice = {{  products.logoPrice }};
</script>
{% include 'product/inc/related-products.html.twig' %}
{% include 'product/inc/product-parts/folder-parts/advantages.html.twig' %}
{% include 'product/inc/product-parts/folder-parts/video-instructions.html.twig' %}
<div><div>