{% include 'product/inc/product-parts/foranimals-parts/types.html.twig' %}
<div class="row configurator">
    <div class="col-lg-6 col-12 text-center text-lg-left">
        <img itemprop="image" src="/img/products/for_animals/for_animals.jpg" alt="" class="w-100">
    </div>
    <div class="col-lg-6 col-12 configurator-images">

        <ul class="nav nav-tabs" id="bagDesign" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="selectColorTab" data-toggle="tab" href="#selectColor" role="tab" aria-controls="selectColor"
                   aria-selected="true">выбор цвета</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="selectLogoTab" data-toggle="tab" href="#selectEmbroidery" role="tab" aria-controls="selectEmbroidery"
                   aria-selected="false">выбор вышивки </a>
            </li>
        </ul>

        <div class="tab-content mb-3" id="bagDesignContent">
            <div class="tab-pane fade show active pt-4" id="selectColor" role="tabpanel" aria-labelledby="selectColorTab">
                {% include 'product/inc/configurator/selectcolor.html.twig' %}
            </div>
            <div class="tab-pane fade pt-3" id="selectEmbroidery" role="tabpanel" aria-labelledby="selectEmbroideryTab">
                {% include 'product/inc/configurator/embroidery.html.twig' %}
            </div>
        </div>

        <div class="zashitnye-borty pt-4">
            <label class="red-checkbox big-checkbox bold-border mb-4 mt-auto">
                <span><b>Защитные борта</b> +200 руб.</span>
                <input type="checkbox" name="" value="1">
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="product-old-price text-right">
            <span>4 900 руб.</span>
        </div>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-price text-right">
            <span>
                <span itemprop="price" content="3500">3 500</span>
                <span itemprop="priceCurrency" content="RUB" class="small">руб.</span>
            </span>
        </div>

        <div class="text-right mt-3">
{#            <button class="btn btn-main w-210p py-3" data-toggle="modal" data-target="#selectedItemModal">купить</button>#}
            {% include 'buttons/add_to_cart.html.twig' %}
        </div>

    </div>
</div>
</div></div>
{% include 'product/inc/related-products.html.twig' %}
{% include 'product/inc/product-parts/foranimals-parts/properties.html.twig' %}
{% include 'product/inc/product-parts/foranimals-parts/specialoffer.html.twig' %}
{% include 'product/inc/product-parts/foranimals-parts/video-instructions.html.twig' %}
<div><div>