<meta itemprop="material" content="Экокожа" />
<form id="configuratorForm" product-id="401">
{#    {{ dump(products) }}#}
<div class="kids-mantle-type radio-select mb-2 mb-md-4">
    <label class="circle-radio-btn pl-0 complect-type {% if app.request.attributes.get('_route') ==  'for_kids' %} active{% endif %}">
        <span class="btn btn-outline-grey ">Под кресло</span>
        <input type="radio" name="bag-type" sub-product-id="402" value="pod-kreslo"  {% if app.request.attributes.get('_route') ==  'for_kids' %} checked="checked"{% endif %}>
    </label>
    <label class="circle-radio-btn pl-0 complect-type {% if app.request.attributes.get('_route') ==  'for_kids_na_spinku' %} active{% endif %}">
        <span class="btn btn-outline-grey ">На спинку</span>
        <input type="radio" name="bag-type" sub-product-id="401" value="na-spinku" {% if app.request.attributes.get('_route') ==  'for_kids_na_spinku' %} checked="checked"{% endif %}>
    </label>
</div>
<div class="row configurator for_kids">
    <div class="col-lg-6 col-12 configurator-images text-center" id="for_kidsConfiguratorImages">
        <div class="for_kids-configurator-image">
            <div class="image-group">
                {% if app.request.attributes.get('_route') ==  'for_kids' %}
                    {% set imagePath =  'pod-kreslo' %}
                  {% elseif  app.request.attributes.get('_route') ==  'for_kids_na_spinku' %}
                      {% set imagePath =  'na-spinku' %}
                {% endif %}

{#                <img itemprop="image" src="/img/products/for_kids/for_kids.jpg" alt="" class="w-100">#}
                <img itemprop="image" src="/img/configurator/for_kids/{{ imagePath }}/material-color/black.jpg"  oncontextmenu="return false"alt="" class="for_kids-material-color">
                <img src="/img/configurator/for_kids/{{ imagePath }}/thread-color/black.png"  oncontextmenu="return false"alt="" class="for_kids-thread-color">
                <img src="/img/configurator/for_kids/{{ imagePath }}/border-color/black.png"  oncontextmenu="return false"alt="" class="for_kids-border-color">
                <img src="" alt=""  oncontextmenu="return false"class="bag-logo">
{#                <img src="/img/configurator/for_kids/size.png" alt="" class="bag-size">#}
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-12">
{#        <ul class="nav nav-tabs" id="bagDesign" role="tablist">#}
{#            <li class="nav-item">#}
{#                <a class="nav-link active" id="selectColorTab" data-toggle="tab" href="#selectColor" role="tab" aria-controls="selectColor"#}
{#                   aria-selected="true">выбор цвета</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" id="selectLogoTab" data-toggle="tab" href="#selectLogo" role="tab" aria-controls="selectLogo"#}
{#                   aria-selected="false">выбор логотипа</a>#}
{#            </li>#}
{#        </ul>#}
        <div class="row justify-content-center justify-content-lg-start mt-4 mt-lg-0">
            <div class="col-auto">
                <label class="circle-radio-btn text-bold" id="inStock">
                    <span>В наличии</span>
                    <input type="radio" checked="checked"  name="mantle-style" value="in-stock">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="col-auto">
                <label class="circle-radio-btn text-bold" id="individualStyle">
                    <span>Индивидуальный стиль</span>
                    <input type="radio" name="mantle-style" value="individual-style">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>

        <div class="tab-content mb-3" id="">
            <div class="tab-pane fade show active pt-3" id="inStockTab" role="tabpanel" aria-labelledby="inStockTab">
                <p class="text-bold text-center text-md-left">Выберите цвет материала</p>
                <div class="select-colors">
                    <div class="colors radio-select">
                        <input type="radio" class="selected-color d-none" name="thread-color" value="black">
                        <input type="radio" class="selected-color d-none" name="border-color" value="black">
                        <label class="circle-radio-btn info-tooltip v2 active">
                            <span class="info-tooltip-text">черный</span>
                            <span class="color black"></span>
                            <input type="radio" name="material-color" value="black" >
                        </label>
                        <label class="circle-radio-btn info-tooltip v2">
                            <span class="info-tooltip-text">красный</span>
                            <span class="color red"></span>
                            <input type="radio" name="material-color" value="red" >
                        </label>
                        <label class="circle-radio-btn info-tooltip v2">
                            <span class="info-tooltip-text">синий</span>
                            <span class="color blue"></span>
                            <input type="radio" name="material-color" value="blue" >
                        </label>
                        <label class="circle-radio-btn info-tooltip v2">
                            <span class="info-tooltip-text">темно серый</span>
                            <span class="color dark-gray"></span>
                            <input type="radio" name="material-color" value="dark-gray" >
                        </label>
                        <label class="circle-radio-btn info-tooltip v2">
                            <span class="info-tooltip-text">серый</span>
                            <span class="color gray"></span>
                            <input type="radio" name="material-color" value="gray" >
                        </label>
                        <label class="circle-radio-btn info-tooltip v2">
                            <span class="info-tooltip-text">бежевый</span>
                            <span class="color beg"></span>
                            <input type="radio" name="material-color" value="beg" >
                        </label>
                        <label class="circle-radio-btn info-tooltip v2">
                            <span class="info-tooltip-text">темно коричневый</span>
                            <span class="color dark-brown"></span>
                            <input type="radio" name="material-color" value="dark-brown">
                        </label>
                        <label class="circle-radio-btn info-tooltip v2">
                            <span class="info-tooltip-text">коричневый</span>
                            <span class="color brown"></span>
                            <input type="radio" name="material-color" value="brown">
                        </label>
                        <label class="circle-radio-btn info-tooltip v2">
                            <span class="info-tooltip-text">оранжевый</span>
                            <span class="color orange"></span>
                            <input type="radio" name="material-color" value="orange">
                        </label>
                        <label class="circle-radio-btn info-tooltip v2">
                            <span class="info-tooltip-text">белый</span>
                            <span class="color white"></span>
                            <input type="radio" name="material-color" value="white">
                        </label>
                        <label class="circle-radio-btn info-tooltip v2">
                            <span class="info-tooltip-text">желтый</span>
                            <span class="color yellow"></span>
                            <input type="radio" name="material-color" value="yellow">
                        </label>
                    </div>
                </div>
                <div id="promoForBack" {% if app.request.attributes.get('_route') ==  'for_kids' %}class="hidden"{% endif %}>
                    <p class="text-bold text-right">Накидки данных цветов всегда есть в наличии.</p>
                    <p class="alert-info">При покупке 2 и более накидок, цена за 1 шт. - 1250 руб.
                        <span class="small d-block">Cкидка считается при оформлении заказа</span>
                    </p>
                </div>

                <div id="promoUnderBabyChair" {% if app.request.attributes.get('_route') ==  'for_kids_na_spinku' %}class="hidden"{% endif %}>
                    <p class="text-bold text-right">Накидки данных цветов всегда есть в наличии.</p>
                    <p class="alert-info">При покупке 2 и более накидок, цена за 1 шт. - 1750 руб.
                        <span class="small d-block">Cкидка считается при оформлении заказа</span>
                    </p>
                </div>

            </div>
            <div class="tab-pane fade  pt-4" id="selectColor" role="tabpanel" aria-labelledby="selectColor">
                {% include 'product/inc/configurator/selectcolor-forkids.html.twig' %}

                <p class="title-h3 text-center text-md-left">При покупке 2 и более накидок, <br/>цена за 1 шт. - 1750 руб.
                    <span class="small d-block">Cкидка считается при оформлении заказа</span>
                </p>
            </div>
        </div>
        {% if app.request.attributes.get('_route') ==  'for_kids_na_spinku' %}
                {% set productKey = 0 %}
            {% else %}
                {% set productKey = 1 %}
        {% endif %}
        {% for key, product in  products %}
            <div class="product-price-block{% if key == productKey %} hidden{% endif %}" id="productPriceBlock{{ product.id }}">
                <div class="product-old-price ">
                    <span id="priceWithoutDiscount{{ product.id }}">{{ product.priceWithoutDiscount }}  руб.</span>
                </div>
                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-price ">
                    <span>
                        <span itemprop="price"  id="priceWithDiscount" content="{{ product.price }} {{ key }}">{{ product.price }}</span>
                        <span itemprop="priceCurrency" content="RUB" class="small">руб.</span>
                    </span>
                </div>
            </div>
        {% endfor %}

        <div class="text-right mt-3 buy-buttons">
{#            <button class="btn btn-main w-210p m-0 mb-2" data-toggle="modal" data-target="#selectedItemModal">купить</button>#}
{#            <button class="btn btn-outline-red w-210p ml-sm-2 mb-sm-2 py-3" data-toggle="modal" data-target="#selectedItemModal">в корзину</button>#}
            {% include '/buttons/add_to_cart.html.twig' %}
        </div>

    </div>
</div>
</form>
</div></div>
{% include 'product/inc/related-products.html.twig' %}
{% include 'product/inc/product-parts/forkids-parts/properties.html.twig' %}
{% include 'product/inc/product-parts/forkids-parts/specialoffer.html.twig' %}
{% include 'product/inc/product-parts/forkids-parts/video-instructions.html.twig' %}
<div><div>