<meta itemprop="material" content="Алькантара" />
<p class="h2-responsive line-height-1 text-center mb-5">Для заказа выберите фактуру, цвет материала и окантовки.</p>
<form id="configuratorForm" product-id="202">
<div class="row configurator">
{#    {{ dump(products) }}#}
    <div class="col-lg-6 col-12 pb-3 pb-sm-5 configurator-images mantle">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-12 text-center text-lg-left">
               <div class="mantle-configurator-image" id="mantleConfiguratorImage">
                   <div class="image-group">
                       {# <img itemprop="image" src="/img/configurator/mantles/material-color/black.jpg" alt="" class="mantle-material-color"> #}
                       <img itemprop="image" src="/img/configurator/mantles/romb/bez-ushey/beg.jpg" alt="" class="mantle-material-color">
                       <img src="/img/configurator/mantles/okantovka/bez-ushey/beg.png" alt="" class="mantle-border-color">
                   </div>
               </div>
                {# <img itemprop="image" src="/img/configurator/mantles/romb/bez-ushey/beg.jpg" class="w-100" alt=""> #}
            </div>
            <div class="col-lg-3 col-12 text-center text-lg-left">
                <div class="radio-img">
                    <label class="circle-radio-btn text-center d-in active">
                        <img src="/img/products/mantle/mantle-romb-thumb.png" alt=""><br/>
                        <span class="radio-img-title">Ромб</span>
                        <input type="radio" name="mantle-types" value="romb" checked="checked">
                    </label>
                    <label class="circle-radio-btn text-center">
                        <img src="/img/products/mantle/mantle-uzkiy-romb-thumb.png" alt=""><br/>
                        <span class="radio-img-title">Узкий ромб</span>
                        <input type="radio" name="mantle-types" value="uzkiy-romb">
                    </label>
                    <label class="circle-radio-btn text-center">
                        <img src="/img/products/mantle/mantle-polosy-thumb.png" alt=""><br/>
                        <span class="radio-img-title">Полосы</span>
                        <input type="radio" name="mantle-types" value="polosy">
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-12">

        <div class="okatovka-types mb-3">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-auto okantovka-type">
                    <label class="circle-radio-btn">
                        <span>Без ушей</span>
                        <input type="radio" name="okantovka-type" slug="without_ears"  value="bez-ushey" checked="checked">
                        <span class="checkmark "></span>
                    </label>
                </div>
                <div class="col-lg-4 col-auto okantovka-type">
                    <label class="circle-radio-btn">
                        <span>С ушами</span>
                        <input type="radio" name="okantovka-type" slug="with_ears" value="s-ushami">
                        <span class="checkmark "></span>
                    </label>
                </div>
                <div class="col-lg-4 col-auto okantovka-type">
                    <label class="circle-radio-btn">
                        <span>Уши снизу</span>
                        <input type="radio" name="okantovka-type" slug="ears_down" value="ushi-snizu">
                        <span class="checkmark "></span>
                    </label>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" id="bagDesign" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="selectColorTab" data-toggle="tab" href="#selectColor" role="tab" aria-controls="selectColor"
                   aria-selected="true">выбор цвета</a>
            </li>
        {% if isDev %}
            <li class="nav-item">
                <a class="nav-link" id="selectLogoTab" data-toggle="tab" href="#selectEmbroidery" role="tab" aria-controls="selectEmbroidery"
                   aria-selected="false">выбор вышивки</a>
            </li>
        {% endif %}
        </ul>

        <div class="tab-content" id="bagDesignContent">
            <div class="tab-pane fade show active pt-4 pb-4 pb-lg-0" id="selectColor" role="tabpanel" aria-labelledby="selectColorTab">
                {% include 'product/inc/configurator/selectcolor-mantles.html.twig' %}
            </div>
            <div class="tab-pane fade pt-3" id="selectEmbroidery" role="tabpanel" aria-labelledby="selectEmbroideryTab">
                {% include 'product/inc/configurator/embroidery.html.twig' %}
            </div>
        </div>
    </div>
{#    #}
    <div class="col-sm-8 col-12">
        <p class="mb-2 text-bold">Выберите комплектацию</p>
        <div class="row no-gutters mb-2 mb-sm-4">
            <div class="col-xl-4 col-lg-6">
                <label class="circle-radio-btn complect-type">
                    <span>На передние сиденья</span>
                    <input type="radio" name="complect-type" value="front_sits" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="col-xl-4 col-lg-6">
                <label class="circle-radio-btn complect-type">
                    <span>На задние сиденья</span>
                    <input type="radio" name="complect-type" value="back_sits">
                    <span class="checkmark"></span>
                </label>
            </div><div class="col-xl-4 col-lg-6">
                <label class="circle-radio-btn complect-type">
                    <span>На одно сиденье</span>
                    <input type="radio" name="complect-type" value="single_sit">
                    <span class="checkmark"></span>
                </label>
            </div><div class="col-xl-4 col-lg-6">
                <label class="circle-radio-btn complect-type">
                    <span>Полный комплект</span>
                    <input type="radio" name="complect-type" value="full_complect">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
{#    #}
    {% for product in products %}
        <span class="d-none" old-price="{{product.priceWithoutDiscount}}" product-id="{{product.id}}" id="price_{{ product.description }}_{{ product.slug }}">{{product.price}}</span>
    {% endfor %}
        <div class="col-sm-auto col-12 ml-auto pt-sm-5">
            <div id="oldPriceContent" class="product-old-price">
                <span>{{ first_product.priceWithoutDiscount }}</span> руб.
            </div>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-price">
                <span>
                    <span itemprop="price" content="3500">{{ first_product.price }}</span>
                    <span itemprop="priceCurrency" content="RUB" class="small">руб.</span>
                </span>
            </div>
        </div>

    <div class="col-sm-6 col-12 offset-sm-6 offset-0">
        <div class="text-right mt-3 mt-sm-0">
{#            <button class="btn btn-main w-210p m-0 mb-2" data-toggle="modal" data-target="#selectedItemModal">купить</button>#}
{#            <button class="btn btn-outline-red w-210p ml-sm-2 mb-sm-2 py-3" data-toggle="modal" data-target="#selectedItemModal">в корзину</button>#}
            {% include '/buttons/add_to_cart.html.twig' %}
        </div>
    </div>
</div>
</form>

</div></div>
{% include 'product/inc/related-products.html.twig' %}
{% include 'product/inc/product-parts/mantle-parts/advantages.html.twig' %}
{% include 'product/inc/product-parts/mantle-parts/video-instructions.html.twig' %}
<div><div>