/* Animation */
/* --- Menu hover animations --- */
.hover_style_menu{
  position: absolute;
  display: block;
  width: auto;
  height: 24px;
  left: -50px;
  right: 0;
  span {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      position: relative;
      display: inline-block;
      overflow: hidden;
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: all .2s;
      }
    }
    &:nth-child(1) {
      &::after {
        height: 2px;
        border-bottom: 2px dashed #d90f31;
        transform: translateX(-100%);
      }
    }
    &:nth-child(3) {
      &::after {
        height: 2px;
        transform: translateX(-100%);
        border-bottom: 2px dashed #d90f31;
        transition-delay: 0.4s;
      }
    }
  }
  &:hover {
    span {
      &:nth-child(1),
      &:nth-child(3) {
        &::after {
          transform: translateX(0);
        }
      }
    }
  }
}

.main-menu {
  .nav-item {
    &:nth-child(odd) {
      .hover_style_menu {
        span {
          &:nth-child(1) {
            left: 7px;
            top: -24px;
            width: 40px;
            height: 2px;
          }
          &:nth-child(2) {
            left: 5px;
            font-size: 20px;
            height: 24px;
            width: 2px;
            &::after {
              height: 24px;
              transform: translateY(-100%);
              border-left: 2px dashed #d90f31;
              transition-delay: 0.2s;
            }
          }
          &:nth-child(3) {
            left: 5px;
            bottom: 0;
            width: calc(100% - 50px);
            height: 2px;
          }
        }
        &:hover {
          span {
            &:nth-child(2) {
              &::after{
                transform: translateY(0);
              }
            }
          }
        }
      }
    }
    &:nth-child(even) {
      .hover_style_menu {
        span {
          &:nth-child(1) {
            left: 7px;
            top: 0;
            width: 40px;
            height: 2px;
          }
          &:nth-child(2) {
            left: 5px;
            font-size: 20px;
            height: 24px;
            width: 2px;
            &::after {
              height: 24px;
              transform: translateY(100%);
              border-left: 2px dashed #d90f31;
              transition-delay: 0.2s;
            }
          }
          &:nth-child(3) {
            left: 5px;
            bottom: 24px;
            width: calc(100% - 50px);
            height: 2px;
          }
        }
        &:hover {
          span {
            &:nth-child(2) {
              &::after{
                transform: translateY(0);
              }
            }
          }
        }
      }
    }
  }
}

/* Menu Button Animation */
.animated-menu-icon {
  width: 30px;
  height: 22px;
  position: relative;
  margin: 0px;
  margin-left: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  display: inline-flex;
  float: right;

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 9px;
    left: 0;
    background: $text-color;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: 9px;
    }

    &:nth-child(3) {
      top: 18px;
    }
  }
  &.open {
    span {
      &:nth-child(1) {
        top: 7px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      &:nth-child(3) {
        top: 7px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
}

/* Sub-Menu Item Button Animation */
.sub-menu-icon {
  width: 16px;
  height: 16px;
  position: relative;
  margin: 8px;
  // margin-left: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  display: inline-flex;
  float: right;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 9px;
    left: 0;
    background: $text-color;

    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 8px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    &:nth-child(2) {
      top: 8px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  &.open {
    span {
      &:nth-child(1) {
        top: 7px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
    }
  }

}
/* Animation */