/* Body */
body {
    // margin-top: 62px;
    font-family: 'PT Sans', sans-serif;
    color: #4d4d4d;
    min-width: 320px;
}
.vcenter {
    display: flex;
    align-items: center;
}
.content {
    .lines {
        border-style: dashed;
        border-color: $primary-color;
        border-width: 0;
        border-top-width: 2px;
        width: 100px;
        margin: auto;
    }
}


//rr
.fluid-404{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding-top: 0px;
}
.right-404 ul{
    padding-bottom: 40px;
}
#list-with-chevron{
    text-align: left;
    margin-left: 0;
}
#list-with-chevron li{
    color: #000;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}
.right-404-desc {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.right-404 .icon{
    font-size: 16px;
}
.right-404-title{
    font-weight: bold;
    color: #000;
    font-size: 30px;
    margin-bottom: 20px;
    position: relative;
    top: 0%;
    width: 100%;
    right: 0%;
    line-height: 22px;
}
.left-404{

    background-size: contain;
}
.left-404 img{
  width: 100%;
  height: auto;
}
.right-404 {
    display: flex;
    align-items: center;
    padding: 0px;
}
.desctop404img{
    display: block;
}
.mobile404img{
    display: none;
}
.right-404-wrapper{
    text-align: left;
    position: relative;
    top: 0%;
}
@media (max-width:1200px) {
    #list-with-chevron li{
        color: #000;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .right-404-desc {
        font-size: 14px;
    }
    .right-404-title {
        font-size: 18px;
        margin-bottom: 10px;
        position: relative;
        top: 0%;
        width: 100%;
        right: 0%;
        line-height: 22px;
    }
    .right-404 ul {
        padding-bottom: 0px;
    }
    .right-404-desc {
        padding-bottom: 20px;
    }
}
@media (max-width: 992px) {
    .right-404 ul {
        padding-bottom: 0px;
    }
}
@media (max-width: 768px) {
    .fluid-404{
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        padding-top: 20px;
    }
    .right-404-title {
        font-size: 24px;
        margin-bottom: 10px;
        position: absolute;
        top: -35%;
        width: 240px;
        right: -11%;
        line-height: 28px;
    }
    .right-404 {
        padding: 20px 10px;
        justify-content: center;
    }
    .desctop404img{
        display: none;
    }
    .mobile404img{
        display: block;
    }
    .right-404-wrapper{
        text-align: center;
        position: relative;
        top: -12%;
    }
    #list-with-chevron{
        text-align: left;
        margin-left: 7%;
    }
}
@media (max-width: 575px) {
    /* Breakpoint xs - About Us Page */
    body {
        //top: 100px;
        //position: relative;
    }
}
@media (max-width: 320px){
    .right-404-title {
        font-size: 19px;
    }
    .right-404-wrapper {
        top: -4%;
    }
}
/* /Body */