/* Components */
@import "components/buttons.scss";
@import "components/jumbotron.scss";
@import "components/tabs.scss";
@import "components/collapse.scss";
@import "components/modal.scss";
@import "components/accordion.scss";
@import "components/shopping-cart.scss";
@import "components/loader.scss";
//@import "components/custom-scrollbar.scss";

.progress {
  background-color: transparent;
  height: 14px;
  border: 2px solid #9b9a9a;
  .progress-bar {
    background-color: $primary-color;
  }
}

