/* Content */
@import "content/fonts";
@import "content/typography";
@import "content/gift-card";
@import "content/objects";
@import "content/spacing";
@import "content/special-offers";
@import "content/tables";
@import "content/tooltip";
@import "content/promotions";
@import "content/gallery";
@import "content/aboutus";
@import "content/configurator";
@import "content/scrollbar";
@import "content/home-parts";

.content {
  margin-top: 60px;
  padding: 40px 0;
  &.accounts {
    @import "components/custom-scrollbar.scss";
  }
}
.preim_block {
  img {
    margin: 0 auto auto;
    display: block;
    height: 120px;
  }
  span {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }
}
.map_text{
  margin-top: 40px;
  height: 430px;
  p {
    font-size: 20px;
    margin-bottom: 25px;
  }
}
.icon_tk{
  margin-right: 20px;
}
.bg_block1,
.bg_block2 {
  padding: 35px 0 30px 0;
  color: #fff;
  margin-bottom: 50px;
  h2{
    text-transform: uppercase;
    text-align: center;
    max-width: 800px;
    margin: auto;
    &::after{
      content:'';
      display: block;
      width: 100px;
      border-bottom: 2px dashed #d90f31;
      margin: 20px auto 30px;
    }
  }
  p{
    color: #fff;
    font-size: 19px;
    letter-spacing: 1.1px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 50px;
  }
  form{
    text-align: center;
  }
}
.bg_block1 {
  background-image: url(/img/banners/bg_block1.jpg);
  background-position-y: bottom;
  background-size: cover;
  background-position-x: center;
}
.bg_block2 {
  background-image: url(/img/banners/bg_block2.jpg);
  background-size: cover;
}
.soglasie{
  display: block;
  font-size: 10px;
  line-height: 1.2;
  padding-top: 5px;
}
.home_video{
  padding-bottom: 50px;
}
.home_slider{
  background-color: #f2f2f2;
  padding: 50px 0 20px;
}
.home_insta_block{
  padding:  30px 0;
  .ig-posts {
    .ig-post-item {
      margin-right: 5px;
      position: relative;

      img {
        border: 2px solid #CCCCCC;
      }
      .caption {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        opacity: 0;
        @include transition-all(.3);
        cursor: pointer;
        text-decoration: unset;
        span {
          font-weight: 700;
          &:first-letter {
            text-transform: uppercase;
          }
        }
      }
      &:hover {
        .caption {
          opacity: 1;
        }
      }
    }
  }
}
.categories {
  span{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    text-align: center;
    height: 30px;
    font-size: 20px;
    line-height: 39px;
    transition: 300ms all ease;
    &:before{
      position: absolute;
      left: 0;
      right: 0;
      top: 30px;
      content: "";
      //width: 100%;
      //      //height: 35px;
      //      //background-image: linear-gradient(to top right, transparent 48%, #00000091 2%, #00000091 50%),
      //      //linear-gradient(to top left, transparent 48%, #00000091 2%, #00000091 50%);
      //      //background-position: top left, top right;
      //      //background-repeat: no-repeat;
      //      //background-size: 50.02% 100%;

      //width: 100%;
      //height: 0px;
      //border-left: 180px solid transparent;
      //border-right: 180px solid transparent;
      //border-top: 35px solid rgba(0,0,0,.6);
      transition: 300ms all ease;

      //font-family: "carstoris" !important;
      //content: "\7a";
      background-image: url(/img/arrow-down-long.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 40px;
    }
    &.price {
      background-color: $primary-color;
      font-weight: 700;
      top: auto;
      bottom: -45px;
      width: 130px;
      text-transform: uppercase;
      height: 40px;
      margin: auto;
      //left: auto;
      //right: 0;
      @include transition-all(.3);
      &:before {
        background-image: none;
      }
    }
  }
  a {
    position: relative;
    display: block;
    width: fit-content;
    margin: auto;
    color: #ffffff;
    overflow: hidden;
    transition: bottom 0.3s ease-in 0s;
    &:hover {
      span{
        height: 50px;
        bottom: 15px;
        color: $primary-color;
        &.price {
          color: #FFFFFF;
          height: 40px;
          //background-color: #FFFFFF;
          //color: $primary-color;
        }
        &:before{
          top: 50px;
        }
      }
    }
  }
}
.page{
  min-height: 300px;
  font-size: 30px;
  padding-top: 100px;
}
.home_photo{
  margin-bottom: 20px;
}

.work-hours-card {
  width: 233px;
  padding: 5px;
  @include box-shadow(0,0,10,.3);
  background-image: url(/img/icons/corner-line-top.png), url(/img/icons/corner-line-bottom.png);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-origin: content-box;
  .work-hours {
    padding: 30px 0;
    font-size: 19px;
    span {
      margin-bottom: 13px;
      display: block;
    }
  }
}

//Cehckout page - order-checkout-submit button
.order-checkout-submit {
  span {
    width: 100%;
    input {
      width: 100%;
    }
  }
}

.instagram_feed {
  .instagram_gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
      position: relative;
      display: inline-block;
      //float: left;
      width: 24%;
      //margin: 10px;
      &::before {
        opacity: 0;
        content: 'все записи';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        background-color: rgba(0,0,0,.8);
        @include transition-all(.3);
      }
      img {
        margin: 0!important;
        width: 100%!important;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
/* /Content */

/* Breakpoints - Content */
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - Content */

}

@media (max-width: 1429px) {
  /* Breakpoint - Content */

}

@media (max-width: 1297px) {
  /* Breakpoint - Content */

}

@media (max-width: 1199px) {
  /* Breakpoint xl and up - Content */
  .content {
    &.main {
      margin-top: 80px;
    }
  }
}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - Content */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - Content */
  .work-hours-card {
    width: 100%;
    max-width: 233px;
  }
}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - Content */
  .content {
    margin-top: 15px;
  }
  .bg_block1,
  .bg_block2 {
    padding: 30px 0;
    h2 {
      font-size: 16px;
      &::after {
        margin: 10px auto;
      }
    }
    p {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
  .home_video {
    iframe {
      height: 150px;
    }
  }
}

@media (max-width: 575px) {
  /* Breakpoint xs - Content */
  .categories {
    span {
      font-size: 16px;
      &.price {
        bottom: 10px;
        height: 30px!important;
        width: 90px;
        line-height: 28px;
      }
      &:hover {
        &.price {
        }
      }
    }
  }
  .contacts-details {
    max-width: 233px;
  }
  .instagram_feed {
    .instagram_gallery {
      a {
        width: 49%;
        margin-bottom: 2%;
        img {
            //width: 100%!important;
        }
      }
    }
  }
}
/* ---------------------- */
/* ./Breakpoints - Content */