/* Footer */
.back-to-top {
  display: flex;
  position: fixed;
  bottom: -100px;
  right: 49px;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  color: #ffffff;
  cursor: pointer;
  @include box-shadow(0,0,10,.4);
  @include transition-all(.6);
  z-index: 999;
  &.open {
    //display: flex;
    bottom: 48px;
  }
  .icon {
    transform: rotate(-90deg);
    font-size: 20px;
  }
}
footer{
  background: rgb(74,74,74);
  background: radial-gradient(circle, rgba(74,74,74,1) 9%, rgba(61,61,61,1) 33%, rgba(51,51,51,1) 100%);
  padding-top: 50px;
  color: #fff;
  .btn_footer{
    font-size: 17px;
  }
  .footer_header_block{
    display: block;
    text-align: center;
    border-bottom: 2px dashed #d90f31;
    font-size: 17px;
    font-weight: 600;
    line-height: 35px;
    margin: 0 15px;
  }
  .footer_block{
    display: block;
    //margin: 20px 0;
    padding: 10px 20px;
    margin: 20px 0;
    position: relative;
    height: calc(100% - 80px);
  }
  .col {
    &:not(:last-child) {
      .footer_block {
        &::after{
          display: block;
          content: '';
          min-height: 140px;
          border-right: 2px solid #ccc;
          position: absolute;
          top: 0;
          bottom: 0;
          right: -15px;
        }
      }
    }
  }
  .footer_center{
    padding: 50px 0;
  }
  .footer_bottom{
    text-align: center;
    border-top: 3px solid #fff;
    padding: 10px 15px;
  }
  .onpromo{
    height: 15px;
    vertical-align: baseline;
  }
  a {
    color: #ffffff;
  }
}
/* /Footer */

/* Breakpoints - footer */
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - footer */

}

@media (max-width: 1429px) {
  /* Breakpoint - footer */

}

@media (max-width: 1297px) {
  /* Breakpoint - footer */

}

@media (max-width: 1199px) {
  /* Breakpoint xl and up - footer */

}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - footer */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
  /* Breakpoint lg - footer */
  .footer_block {
    text-align: center;
    border: none!important;
  }
  .fcontent {
    display: inline-block;
    text-align: left;
  }
}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - footer */

}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - footer */
  footer {
    .footer_block {
      margin-top: 0;
    }
    .footer_header_block {
      margin: 0 30px;
    }

    .footer_center {
      padding: 30px 0 0 0;
    }
    .footer_bottom {
      padding: 0;
      .copyright-title {
        margin-bottom: 15px;
        padding: 15px;
        background-color: rgba(0,0,0,.3);
      }
      .developer {
        margin-top: 15px;
        padding: 15px;
        background-color: rgba(0,0,0,.3);
      }
      .menu-link {
        border-bottom: 1px solid rgba(255,255,255,.1);
        padding: 10px;
        margin: 0 20px;
      }
    }
  }
  .back-to-top {
    opacity: .8;
    margin-right: -20px;
    box-shadow: none!important;
    background-color: #242424;
    right: 50%;
    height: 40px;
    width: 40px;
    &.open {
      bottom: 32px;
    }
    .icon {
      font-size: 15px;
    }
  }
}

@media (max-width: 575px) {
  /* Breakpoint xs - footer */
  footer {
    .footer_header_block {
      display: inline-block;
    }
  }
}
/* ---------------------- */
/* ./Breakpoints - footer */