/* Menu */
.top-menu, .main-menu {
    font-size: 18px;
    a {
        line-height: 1.2;
        color: $text-color;
        @include transition_all(.2);
        &:hover {
            color: $primary-color;
        }
    }
}
.top-menu {
    background-color: #ffffff;
    &.navbar {
        padding: 10px 15px;
        .navbar-nav {
            justify-content: center;
            .nav-item {
                position: relative;
                .sub-nav {
                    display: none;
                    list-style: none;
                    border: 1px solid #ccc;
                    //padding: 15px 0;
                    padding: 0;
                    position: absolute;
                    left: 14px;
                    background-color: #fff;
                    width: 200px;
                    &.show {
                        display: block;
                    }

                    li {
                        line-height: 1;
                        @include transition-all(.2);
                        a {
                            line-height: 1;
                            padding: 5px 15px;
                            border-bottom: 1px solid rgba(0,0,0,.15);
                            width: 100%;
                            text-decoration: none;
                            &:hover {
                                background-color: rgba(0,0,0,.04);;
                            }
                        }
                        &:last-of-type {
                            a {
                                border: none;
                            }
                        }
                    }
                }
                &.has-sub-nav {
                    .open-menu {
                        display: none;
                        width: 50px;
                        height: 30px;
                        //display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 1;
                        text-decoration: none;
                    }
                    &::after {
                        font-family: "carstoris" !important;
                        content: "\72";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        font-size: 10px;
                        margin-top: -5px;
                        @include transition-all(.2)
                    }
                    &:hover {
                        .sub-nav {
                            display: block;
                        }
                        &::after {
                            transform: rotate(180deg);
                        }
                    }
                }
                .nav-link {
                    padding: 8px 24px;
                }
                &.active {
                    .nav-link {
                        background-color: transparent;
                        color: $primary-color;
                        span {
                            border-bottom: 2px dashed $primary-color;
                        }
                    }
                }
            }
        }
        .navbar-brand {
            padding: 0;
        }
    }
    .cart-info {
        a {
            display: block;
        }
        .cart-icon {
            span {
                display: block;
            }
            .cart-link {
                display: flex;
                align-items: center;
            }
            .shopping-cart {
                position: relative;
                .icon {
                    font-size: 36px;
                    display: flex;
                    color: $primary-color;
                    margin: 0;
                }
                .cart-item-no {
                    position: absolute;
                    right: 0;
                    height: 19px;
                    width: 19px;
                    border-radius: 100%;
                    border: 1px solid $primary-color;
                    color: $primary-color;
                    font-size: 11px;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    bottom: 2px;
                    padding-top: 2px;
                    background-color: #ffffff;
                }
            }
            .cart-item-text {
                padding-left: 5px;
                padding-top: 5px;
                span {
                    &.total-amount {
                        color: $primary-color;
                        font-size: 12px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .navbar-menu, .navbar-tel {
        display: flex;
        align-items: center;
    }
}

.main-menu {
    background-color: #F7F6F9;
    .navbar-nav {
        justify-content: space-between;
        .nav-item {
            .nav-link {
                padding: 30px 0;
                overflow: visible;
            }
            &.active {
                .nav-link {
                    color: $primary-color;
                }
            }
        }
    }
}

.navbar {
    &.navbar-light {
        .breadcrumb, .navbar-nav {
            .nav-item {
                .nav-link {
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
.sm-city-tel {
    //height: 30px;
    padding: 4px 0;
    background: #4d4d4d;
    background: radial-gradient(circle, #4a4a4a 9%, #3d3d3d 33%, #333333 100%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    .icon {
        color: $primary-color;
        font-size: 12px;
        display: flex;
    }
    a {
        color: #ffffff;
        font-size: 13px;
        &:hover {
            opacity: .8;
        }
    }
}

/* /Menu */

/* Breakpoints - Menu */
/* ---------------------- */
@media (max-width: 1539px) {
    /* Breakpoint - Menu */
    .top-menu {
        &.navbar {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        padding: 8px 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1429px) {
    /* Breakpoint - Menu */
    .top-menu {
        font-size: 17px;
        &.navbar {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        padding: 8px 11px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1297px) {
    /* Breakpoint - Menu */
    .top-menu {
        //font-size: 14px;
    }
}

@media (max-width: 1199px) {
    /* Breakpoint xl and up - Menu */
    .top-menu {
        margin-top: 27px;
    }
}

@media (min-width: 1200px) {
    /* Breakpoint xl and up - Menu */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
    /* Breakpoint lg - Menu */
    .top-menu {
        .navbar-tel {
            display: none;
        }
    }
}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
    /* Breakpoint md - Menu */
    .top-menu {
        &.navbar {
            //padding-bottom: 0;
            .navbar-menu {
                //margin-top: 15px;
                //background-color: lighten($grey-2, 27%);
                padding: 0;
                .navbar-collapse {
                    padding: 15px;
                    margin-top: 10px;
                    border-top: 1px solid lighten($grey-2, 22%);
                }
            }
            .navbar-nav {
                .nav-item {
                    border-bottom: 1px solid lighten($grey-2, 17%);
                    &:last-of-type {
                        border: none;
                    }
                    .nav-link {
                        text-align: center;
                        &.catalog-menu {
                            display: block;
                            position: relative;
                            //display: flex;
                            //align-items: center;
                            //justify-content: start;
                            //justify-content: center;
                            .icon {
                                margin: 0;
                                margin-left: 10px;
                                position: absolute;
                                right: 15px;
                                top: 10px;
                                @include transition-all(.2);
                            }
                            &.active {
                                .icon {
                                    transform: rotate(-180deg);
                                }
                            }
                        }
                    }
                    .sub-nav {
                        position: relative;
                        width: 100%;
                        left: 0;
                        border: none;
                        background-color: transparent;
                    }
                    &.has-sub-nav {
                        .open-menu {
                            display: flex;
                        }
                        &::after {
                            //top: 15px;
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .main-menu {
        display: none;
    }
    .sub-menu {
        padding: 15px 5px;
        background-color: lighten($grey-2, 28%);
        //background: linear-gradient(to right, lighten($grey-2, 27%), lighten($grey-2, 22%), lighten($grey-2, 27%));
        //background: linear-gradient(lighten($grey-2, 22%),lighten($grey-2, 27%));
        list-style: none;
        //border-top: 1px solid #ccc;
        border-bottom: 1px solid lighten($grey-2, 17%);
        &.collapsing {
            border: none;
        }
    }
}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 767px) {
    /* Breakpoint sm - Menu */
}

@media (max-width: 768px) {
    .top-nav-collapse .cart-info {
        //display: none;
    }
    .top-menu {
        &.navbar {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        //text-align: right;
                    }
                }
                .sub-menu {
                    .nav-link {
                        padding: 5px 20px;
                    }
                }
            }
            .navbar-brand {
                margin: 0;
                svg {
                    height: 32px;
                    width: auto;
                }
            }
            .logo-icon {
                display: flex;
                align-items: center;
            }
            .cart-icon,
            .menu-icon {
                padding: 0;
            }
        }
    }
}

@media (max-width: 575px) {
    /* Breakpoint xs - Menu */
}
/* ---------------------- */
/* ./Breakpoints - Menu */

