$primary-color: #d90f31;
$text-color: #4d4d4d;
$blue: #688cd4;
$blue-darken: #003399;
$green: #22a324;
$grey: #808080;
$grey-2: #b3b3b3;

@mixin transition-all($t) {
    -webkit-transition: all #{$t}s ease-out;
    -moz-transition: all #{$t}s ease-out;
    -o-transition: all #{$t}s ease-out;
    transition: all #{$t}s ease-out;
}

@mixin box-shadow($x, $y, $z, $n) {    
    box-shadow: #{$x}px #{$y}px #{$z}px rgba(0, 0, 0, $n)!important;
    -moz-box-shadow: #{$x}px #{$y}px #{$z}px rgba(0, 0, 0, $n)!important;
    -webkit-box-shadow: #{$x}px #{$y}px #{$z}px rgba(0, 0, 0, $n)!important;
}

/* Breakpoints - Mixin */
/* ---------------------- */
@media (max-width: 1539px) {
    /* Breakpoint - Mixin */

}

@media (max-width: 1429px) {
    /* Breakpoint - Mixin */

}

@media (max-width: 1297px) {
    /* Breakpoint - Mixin */

}

@media (min-width: 1200px) {
    /* Breakpoint xl and up - Mixin */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
    /* Breakpoint lg - Mixin */

}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
    /* Breakpoint md - Mixin */

}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
    /* Breakpoint sm - Mixin */
}

@media (max-width: 575px) {
    /* Breakpoint xs - Mixin */
}
/* ---------------------- */
/* ./Breakpoints - Mixin */