.breadcrumb {
  margin-bottom: 0;
  background-color: transparent;
  padding-left: 0;
  .breadcrumb-item {
    &.v2 {
      margin-top: -40px;
    }
    &+.breadcrumb-item {
      &::before {
        font-family: "carstoris" !important;
        content: "\65";
        font-size: 11px;
      }
    }
    &.active {
      color: $primary-color;
    }
  }
}