//product
.product-price {
  font-size: 34px;
  font-weight: 700;
  color: $primary-color;
}
.product-old-price {
  span {
    font-weight: 700;
    font-size: 20px;
    color: $grey-2;
    position: relative;
    &:after {
      content: '';
      width: 100%;
      height: 1.5px;
      background-color: $primary-color;
      position: absolute;
      left: 0;
      top: 12px;
      transform: rotate(-10deg);
    }
  }
}

// Product Review
.product-review {
  padding: 110px 0;
}

//select logo
#selectLogo {
  width: auto;
}
.select-logo {
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling:touch;
  &.hide-scroll {
    overflow: hidden;
  }
  .logo-item {
    //opacity: .7;
    @include transition-all(.3);
    .circle-radio-btn {
      padding-left: 0;
      padding-right: 10px;
      img {
        width: 130px;
        height: auto;
      }
      .without-logo {
        width: 130px;
        border: 1px solid #4d4d4d;
        color: #4d4d4d;
        text-align: center;
        display: block;
        padding: 8px 0 10px;
        @include transition-all(.3);
      }
    }
    &.no-logo {
      filter: unset!important;
    }
    &.active {
      //opacity: 1;
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter:         drop-shadow(5px 5px 5px #222);
      .without-logo {
        border-color: $primary-color;
        color: $primary-color;
      }
    }
  }
}

//related product
.related-item {
  input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: $grey;
    text-align: right;
  }
  p {
    text-align: right;
    line-height: 1.2;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

/* Breakpoints - Product */
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - Product */

}

@media (max-width: 1429px) {
  /* Breakpoint - Product */

}

@media (max-width: 1297px) {
  /* Breakpoint - Product */

}

@media (max-width: 1199px) {
  /* Breakpoint xl and up - Product */

}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - Product */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
  /* Breakpoint lg - Product */

}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - Product */
  .product-video {
    iframe {
      height: 400px;
    }
  }
}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - Product */
  .product-review {
    padding: 50px 0;
  }
  .product-video {
    iframe {
      height: 300px;
    }
  }

  .select-logo {
    .logo-item {
      .circle-radio-btn {
        .without-logo {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  /* Breakpoint xs - Product */
  .product-price {
    line-height: 1;
    font-size: 28px;
  }
  .select-logo {
    .logo-item {
      .circle-radio-btn {
        .without-logo {
          width: 90px;
          font-size: 14px;
        }
        img {
          width: 90px;
          height: auto;
        }
      }
    }
  }
  .product-video {
    iframe {
      height: 160px;
    }
  }
}
/* ---------------------- */
/* ./Breakpoints - Product */