//Template Styles
@import "template-styles/carpets";
@import "template-styles/for-animals";
@import "template-styles/for-partners";

.kids-mantle-type,
.foranimals
{
  .btn {
    &.btn-outline-grey {
      text-transform: none;
      font-size: 18px;
      padding: 13px 25px;
      margin: 0 35px;
    }
  }
  .circle-radio-btn {
    &.active {
      .btn {
        border-color: $primary-color!important;
        color: $primary-color!important;
      }
    }
  }
}

.kids-mantle-type {
  .btn {
    &.btn-outline-grey {
      width: 230px;
    }
  }
}