/* Utilities */
.border-right {
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
}
.border-white {
  border-color: #ffffff;
}
.grey-bg {
  background-color: #f5f5f5;
}
.grey-gradient-bg {
  background: #E6E6E6;
  background: radial-gradient(circle, #F3F3F3 10%, #E6E6E6 70%, #E6E6E6 100%);
  padding: 40px 0;
}
.border-lefht-red-dashed {
  border-style: dashed;
  border-width: 0;
  border-left-width: 3px;
  border-color: $primary-color;
}
.no-shadow {
  box-shadow: none!important;
}
/* /Utilities */