/* map of Russia - style */
@mixin map_stroke {
    stroke:#818181;
    stroke-width:1.99;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:22.9256;
}

.yuzhnyy_fo, 
.sibirskiy_fo, 
.severo_zapadnyy_fo {
    fill:transparent;
    // fill:#CCCCCC;
    pointer-events:all;
    fill-rule:nonzero;
    @include map_stroke();
    @include transition_all(.2);
}

.centralnyy_fo,
.priwolzhskiy_fo,
.uralskiy_fo,
.dalnewostochnyy_fo {
    fill:transparent;
    // fill:#E6E6E6;
    pointer-events:all;
    fill-rule:nonzero;
    @include map_stroke();
    @include transition_all(.2);
}

.city-marker {
    fill:$primary-color-red;
    opacity: 0;
    @include transition_all(.2);
}

.city-text {
    fill:black;
    fill-rule:nonzero;
    opacity: 0;
    @include transition_all(.2);
}

.yfo_shadow,
.sfo_shadow,
.szfo_shadow,
.cfo_shadow,
.pfo_shadow,
.ufo_shadow,
.dfo_shadow {
    opacity: 0;
    @include transition_all(.2);
}

.dalnewostochnyy_fo:hover > .dfo_shadow {
    opacity: 1;
}
/* ./map of Russia - style */

/*--------------------------------*/
/* - map of Russia - Responsive - */

/* Breakpoint LG */
// @media (min-width: 992px) and (max-width: 1199px)
@media (max-width: 1199px) {
}

/* Breakpoint MD */
// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
}

/* Breakpoint SM */
// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 767px) {
}

/* Breakpoint XS */
@media (max-width: 575px) {
}

@media (max-width: 379px) {
}

/* - map of Russia - Responsive - */
/*--------------------------------*/