{% extends 'base.html.twig' %}

{% block title %}Страница Админа{% endblock %}

{% block body %}
{#     {{ dump(app.request.pathInfo) }}#}
    <div class="content main accounts">
        <div class="container">
            <h2 class="text-center head_line">Зарабатывайте вместе с CarStoris</h2>
            <div class="row mb-4">
                <div class="col-md-5 col-sm-6 col-12">
                    <div class="input-group with-icon">
                        <input type="search" id="tableSearch" class="form-control" placeholder="Поиск по телефону или названию">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="icon icon-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto col-sm-6 col-12 mr-auto mt-2 mt-md-0 vcenter justify-content-center justify-content-md-start">
                    <a href="#!" class="vcenter red_text text-bold" data-toggle="modal" data-target="#addPartnerModal">
                        <i class="icon icon-plus-circle d-flex"></i>
                        <span>Добавить партнера</span>
                    </a>
                </div>
                <div class="col-md-auto col-sm-6 col-12 mt-2 mt-md-0">
                    <a href="#!" class="btn btn-main m-0 py-2 line-height-1-2 w-100" id="adminBonusPayBtn">оплатить</a>
                </div>
            </div>
            <form id="adminPartnerListForm">
                {% include '/accounts/template-parts/admin-partners-list.html.twig' %}
            </form>
        </div>
    </div>
    <div class="d-none">
        {% include 'main/template-parts/menu/main-menu.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin-js') }}
{% endblock %}
{% block modal %}
    {{ parent() }}
    {% include 'accounts/template-parts/addPartnerModal.html.twig' %}
    {% include 'accounts/template-parts/admin-EditPartnerModal.html.twig' %}
    {% include 'accounts/template-parts/deleteConfirmationModal.html.twig' %}
{% endblock %}
