{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block desc %}{{desc}}{% endblock %}

{% block body %}
    {{ currentPath }}
<div class="content main accounts">
    <div class="container">
        <h2 class="text-center head_line">Зарабатывайте вместе с CarStoris</h2>
        <div class="text-center text-sm-right">
            <a href="#!" class="pink-link text-bold info-tooltip" id="promoMaterialRequest">
                Запросить промо материалы
                <span class="info-tooltip-text">Если у вас заказнчиваются визитки или подарочные сертификаты CarStoris с вашим промо кодом, нажмите сюда. С вами свяжется менеджер и привезет промо материалы.</span>
            </a>
        </div>
        <div class="jumbotron j-sm">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-12 mr-auto title">
                    <p class="text-bold red_text">ПАРТНЕР: <span class="partner-name">{{ partner.companyName }}</span>
                                 <a class="pink-link text-bold" href="{{ path('app_logout') }}"><small><i>выйти</i></small></a>
                    </p>
                </div>
                <div class="col-auto mt-2 mt-md-0">
                    <p><b>Продажи</b> <span class="partner-name red_text">{{ ordersAmount | number_format(0, '.', ' ') }}.00</span></p>
                </div>
                <div class="col-lg-2 col-auto text-center mt-2 mt-md-0">
                    <p><b>Бонусы</b> <span class="partner-name red_text">{{ bonusAmount | number_format(0, '.', ' ') }}.00</span></p>
                </div>
                <div class="col-auto mt-2 mt-md-0">
                    <p><b>К выплате</b> <span class="partner-name red_text">{{ notPayedBonusesAmount | number_format(0, '.', ' ') }}.00</span></p>
                </div>
            </div>
        </div>
        <div class="contact-info px-3 pt-3">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-7 col-12">
                    <div class="row">
                        <div class="col-sm-5 col-12"><p class="text-bold mb-0 mb-sm-3">Контактное лицо</p></div>
                        <div class="col-sm-7 col-12"><p class="mb-0 mb-sm-3">{{ partner.contactName }}</p></div>
                        <div class="col-sm-5 col-12"><p class="text-bold mb-0 mb-sm-3">Номер телефона</p></div>
                        <div class="col-sm-7 col-12"><a href="tel:">{{ partner.phoneNumber }}</a></div>
{#                        <div class="col-sm-7 col-12"><a href="tel:">+7 937 222-36-36</a></div>#}
                        <div class="col-sm-5 col-12"><p class="text-bold mb-0 mb-sm-3">Адрес</p></div>
                        <div class="col-sm-7 col-12"><p class="mb-0 mb-sm-3">{{ partner.adress }}</p></div>
                        <div class="col-sm-5 col-12"><p class="text-bold mb-0 mb-sm-3">E-mail</p></div>
                        <div class="col-sm-7 col-12"><a href="mailto:">{{ partner.tuser.email }}</a></div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-5 col-12">
                    <p class="mb-0 mb-sm-3"><b>Промо код</b> {{ partner.promocode }}</p>

                    <p class="mb-0 mb-sm-3"><b>Партнерская ссылка</b></p>
                    <div class="input-group mb-3">
                        <input type="text" id="linkInputToCopy" class="form-control"  aria-describedby="linkReadBtn"
                               value="{{  app.request.getSchemeAndHttpHost() }}/?{{ partner.linkCode }}" readonly="readonly">
                        <div class="input-group-append">
                            <span class="input-group-text" id="linkReadBtn" ><i class="fas fa-copy"></i></span>
                        </div>
                    </div>
                    <p class="mb-0 mb-sm-3"><b>Реквизиты для перечисления бонусов</b></p>
                    <p class="mb-0 mb-sm-3">{{ partner.accountDetails }}</p>
                </div>
            </div>

            <div class="text-center text-sm-right mt-4 mt-sm-0">
                <a href="#!" class="pink-link text-bold" data-toggle="modal" data-target="#editPartnerInfoModal">Изменить информацию</a>
            </div>

        </div>
        <hr/>
        <p class="text-bold red_text text-uppercase">информация о заказах и бонусах</p>
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="table-responsive">
                    <table class="table table-borderless table-sm table-hover" id="partnerTable">
                        <thead>
                        <tr>
                            <th scope="col" class="">Дата</th>
                            <th scope="col" class="products">Товар</th>
                            <th scope="col" class="amount text-center" class="text-center">Кол-во</th>
                            <th scope="col" class="amount" class="text-center">Сумма</th>
                            <th scope="col" class="amount" class="text-center">Бонус</th>
                        </tr>
                        </thead>
                        <tbody>
                               {% for bonus in pagination %}
                                    <tr>
                                        <td>{{ bonus.orderItem.getOrderId.createdAt|date("d.m.Y") }}</td>
                                        <td>{{ bonus.orderItem.product.name }}</td>
                                        <td class="text-center">{{bonus.orderItem.quantity}}</td>
                                        <td class="">{{ (bonus.orderItem.price *  bonus.orderItem.quantity ) | number_format(0, '.', ' ') }}</td>
                                        <td class=" {% if not bonus.isPayed  %}{{ 'red_text' }}{% endif %}">
                                            {% if  bonus.orderItem.bonuse %}
                                                {% if bonus.orderItem.bonuse.amount is not null %}
                                                {{  bonus.orderItem.bonuse.amount | number_format(0, '.', ' ')}}.00
                                                    {% else %}
                                                        0.00
                                                 {% endif %}
                                            {%  else %}
                                                ---
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                    <p> {{ knp_pagination_render(pagination) }}</p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="d-none">
    {% include 'main/template-parts/menu/main-menu.html.twig' %}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('partner-js') }}
{% endblock %}
{% block modal %}
    {% include 'accounts/template-parts/editPartnerInfoModal.html.twig' %}
{% endblock %}
