<div class="carpet-info grey-gradient-bg">
    <div class="content p-0 m-0">
        <div class="container">
            <div class="row">
                <div class="col-5 pr-5">
                    <p class="title-dashed">Из чего сделаны гамаки?</p>
                    <p class="text-bold line-height-1-2">Автогамаки сделаны из этиленвинилацетата Ethylene Vinyl Acetate (EVA) Вспененный каучук - полимерный композиционный материал.</p>
                </div>
                <div class="col-5 offset-1">
                    <p class="title-dashed">Почему так чисто?</p>
                    <p class="text-bold line-height-1-2">Высокие борта гамака обеспечивают полное покрытие сидений автомобиля.</p>
                </div>
            </div>
            <div class="row justify-content-between pd-t-80">
                <div class="col-3">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'carpets/template-parts/info-icons/water_repellent.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Отталкивает влагу</p>
                </div>
                <div class="col-3">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'carpets/template-parts/info-icons/eco_friendly.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Экологичен</p>
                </div>
                <div class="col-3">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'carpets/template-parts/info-icons/odorless.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Не выделяет запахов</p>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-3 mt-80p">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'foranimals/template-parts/info-icons/claw_protection.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Защита от когтей</p>
                </div>
                <div class="col-3 mt-80p">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'foranimals/template-parts/info-icons/for_all_cars.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Подходят на все автомобили</p>
                </div>
            </div>
        </div>
    </div>
</div>