<!-- Swiper -->
<div class="fp swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide v5">
            <img src=".././img/fp-slider/for-animals-slider-01.jpg" alt="">
            <div class="container">
                <div class="caption">
                    <p>Сделайте подарок себе и любимому питомцу</p>
                    <p>Порядок и чистота в салоне обеспечены</p>
                    <button class="btn btn-main">получить скидку</button>
                </div>
            </div>
            <div class="caption-bg">
                <div class="bg-1"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <img src=".././img/fp-slider/fp-slider-02.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src=".././img/fp-slider/fp-slider-03.jpg" alt="">
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="fp swiper-pagination"></div>
</div>