{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block desc %}Закажите аксессуары для авто по вашем индивидуальным параметрам.
    Мы изготовим для вас автомобильные аксессуары в кратчайшие сроки{% endblock %}

{% block body %}
    {% include 'main/template-parts/sliders/front-page-slider.html.twig' %}
    {% include 'main/template-parts/menu/main-menu.html.twig' %}
    <h1 itemprop="name" class="text-center head_line pt-5">
        Аксессуары для автомобилей
    </h1>
    {% include 'main/template-parts/preim.html.twig' %}
    <a id="tovarblock"></a>
<div class="container">
    <div class="content text-center text-bold mt-0 py-4">
        <p class="h3-responsive mb-0">Индивидуальный стиль на ваш выбор.</p>
        <p class="h3-responsive mb-2">Вы можете выбрать цвет материала, а также нити и окантовки.</p>
        <div class="lines"></div>
    </div>
    {% include 'main/template-parts/categories.html.twig' %}
</div>
    {% include 'main/template-parts/map.html.twig' %}
{#    <div class="home__map-description container">#}
{#        </div>#}
    {% include 'main/template-parts/orderForm.html.twig' %}
    {% include 'main/template-parts/homeProductsDescription.html.twig' %}
    {# {% include 'main/template-parts/videos.html.twig' %} #}
{#    {% include 'main/template-parts/productGallery.html.twig' %}#}

       {% include 'main/template-parts/comments.html.twig' %}
   {# {% include 'main/template-parts/customerComments.html.twig' %} #}
    {% include 'main/template-parts/instagramPosts.html.twig' %}
    <div class="home__map-description container">
        <p class="title">Ключевые особенности изготовления автомобильных аксессуаров на заказ от компании «Сarstoris»</p>
        <p>В процессе производства любых аксессуаров, мы проявляем индивидуальный подход к каждому клиенту.
            На производство, упаковку и отправку заказа уходит до 48 часов. Изготовление аксессуаров начинается
            только после полной предоплаты.</p>
        <p>Оформляя заказ на автомобильные аксессуары в интернет-магазине «Сarstoris», Вы делаете выбор в пользу
            качественных товаров, которые подарят Вам и Вашим близким множество положительных эмоций.</p>
    </div>
{% endblock %}

