<!-- Admin > add partner modal -->
<div class="modal fade modal-white-backdrop" id="addPartnerModal" tabindex="-1" role="dialog" aria-labelledby="addPartnerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPartnerModalLabel">Добавить партнера</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon icon-cross"></i>
                </button>
            </div>
            {{ form_start(addPartnerForm, {'action': path('accounts-admin'), 'method': 'POST'}) }}
                <div class="modal-body">
                    <div class="row mb-sm-5 mb-2">
                        <div class="col-sm-6 col-12 pr-ms-4">
                         {% form_theme addPartnerForm 'bootstrap_4_layout.html.twig' %}
                                {{ form_row(addPartnerForm.companyName) }}
                                {{ form_row(addPartnerForm.contactName) }}
                                {{ form_row(addPartnerForm.phoneNumber, {'value': '' }) }}
                                {{ form_row(addPartnerForm.adress) }}
                                {{ form_row(addPartnerForm.email) }}
                        </div>
                        <div class="col-sm-6 col-12 pl-ms-4">
                                {{ form_row(addPartnerForm.password) }}
                                {{ form_row(addPartnerForm.promocode) }}
                                {{ form_row(addPartnerForm.promocodeDiscount) }}
                                {{ form_row(addPartnerForm.accountDetails) }}
                        </div>
                    </div>
                    <p class="text-center text-bold red_text mb-2">Бонусы для начисления %</p>
                    <hr/>
                    <div class="row no-gutters bonuses">
                        <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4">
                            {{ form_label(addPartnerForm.bagsBonus) }}
    {#                        <label>Саквояжи</label>#}
                        </div>
                        <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4 pr-sm-4">
                            {{ form_widget(addPartnerForm.bagsBonus) }}
    {#                        <input type="text" class="form-control" name="add-bonuses-bags">#}
                        </div>
                        <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4">
                            {{ form_label(addPartnerForm.mantleBonus) }}
                            {#                        <label>Накидки</label>#}
                        </div>
                        <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4 pr-lg-4 pl-lg-0 pl-sm-4">
                            {{ form_widget(addPartnerForm.mantleBonus) }}
    {#                        <input type="text" class="form-control" name="add-bonuses-mantle">#}
                        </div>
                        <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4">
                            {{ form_label(addPartnerForm.carpetsBonus) }}
    {#                        <label>Коврики</label>#}
                        </div>
                        <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4 pr-sm-4">
                            {{ form_widget(addPartnerForm.carpetsBonus) }}
    {#                        <input type="text" class="form-control" name="add-bonuses-carpets">#}
                        </div>
                        <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4">
                            {{ form_label(addPartnerForm.for_kidsBonus) }}

                        </div>
                        <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4 pr-lg-4 pl-lg-0 pl-sm-4">
                            {{ form_widget(addPartnerForm.for_kidsBonus) }}

                        </div>
                        <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4">
                             {{ form_label(addPartnerForm.foldersBonus) }}

                        </div>
                        <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4 pr-sm-4">
                            {{ form_widget(addPartnerForm.foldersBonus) }}

                        </div>
                        <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4">
                             {{ form_label(addPartnerForm.for_animalsBonus) }}

                        </div>
                        <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4 pr-lg-4 pl-lg-0 pl-sm-4">
                            {{ form_widget(addPartnerForm.for_animalsBonus) }}

                        </div>
                    </div>
                </div>
                <div class="modal-footer p-0 psm-3">
                    {{ form_widget(addPartnerForm.savePartner, {'attr': {'class': 'btn-main'}}) }}
    {#                <button type="button" class="btn btn-main mr-sm-4">Сохранить</button>#}
                    <button type="button" class="btn btn-grey ml-sm-4" data-dismiss="modal">Отмена</button>


                </div>
            {{ form_rest(addPartnerForm) }}
            {{ form_end(addPartnerForm) }}
        </div>
    </div>
</div>
<!-- /Admin > add partner modal -->