<div class="table-responsive">
    <table id="adminPartners" class="table table-borderless table-sm table-hover">
        <thead>
        <tr>
            <th scope="col" class="text-center">Номер</th>
            <th scope="col"><span class="ml-20p">Партнеры</span></th>
            <th scope="col" class="text-center date">Дата регистрации <i class="icon icon-filter"></i></th>
            <th scope="col" class="text-right amount">Бонусы <i class="icon icon-filter"></i></th>
            <th scope="col" class="text-right amount">Продажи <i class="icon icon-filter"></i></th>
            <th scope="col" class="text-right amount">Выплачено  <i class="icon icon-filter"></i></th>
            <th scope="col" class="text-right amount">К выплате <i class="icon icon-filter"></i></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {%  for partner in partners %}
            <tr id="partner{{ partner.id}}" class="partner-list-item">
                <td class="text-center">{{ partner.num }}</td>
                <td>
                    <a href="#" class="p-delete" data-toggle="modal" data-target="#deleteConfirmationModal">
                        <i class="icon icon-cross delete-icon"></i>
                    </a>
                    <span class="p-title">
                        {{ partner.partner }}
                    </span>
                    <a href="#!" class="edit-partner"><i class="icon icon-edit"></i></a>
                </td>
                <td class="text-center">{{ partner.createdAt | date("m/d/Y") }}</td>
                <td class="text-right">{{ partner.bonusesAmount }}</td>
                <td class="text-right">{{ partner.ordersAmount }}</td>
                <td class="text-right" id="listPayed{{ partner.id}}">{{ partner.payedBonusesAmount }}</td>
                <td class="text-right" id="listToPay{{ partner.id}}">{{ partner.bonusesToPay }}</td>
                <td>
                    <label class="red-checkbox mt-2">
                        {# Если нет бонусов к оплате, то чекбокс не активен. #}
                        {% if partner.bonusesToPay == 0 %}
                            <input type="checkbox" id="partnerListCheckBox{{ partner.id}}" name="partners-table" value="{{ partner.id}}" disabled>
                        {% else  %}
                            <input type="checkbox" id="partnerListCheckBox{{ partner.id}}" name="partners-table" value="{{ partner.id}}">
                        {% endif %}
                        {# .. #}
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
        {%  endfor %}

{#        <tr>#}
{#            <td class="text-center">1</td>#}
{#            <td>#}
{#                <i class="icon icon-cross delete-icon"></i>#}
{#                <span class="p-title">Римзона</span>#}
{#            </td>#}
{#            <td class="text-center">23.05.2019</td>#}
{#            <td class="text-right">250.00</td>#}
{#            <td class="text-right">250.00</td>#}
{#            <td class="text-right">250.00</td>#}
{#            <td class="text-right">250.00</td>#}
{#            <td>#}
{#                <label class="red-checkbox mt-2">#}
{#                    <input type="checkbox" name="partners-table" value="1">#}
{#                    <span class="checkmark"></span>#}
{#                </label>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td class="text-center">2</td>#}
{#            <td>#}
{#                <i class="icon icon-cross delete-icon"></i>#}
{#                <span class="p-title">Вираж</span>#}
{#            </td>#}
{#            <td class="text-center">23.05.2019</td>#}
{#            <td class="text-right">23.00</td>#}
{#            <td class="text-right">23.00</td>#}
{#            <td class="text-right">23.00</td>#}
{#            <td class="text-right">23.00</td>#}
{#            <td>#}
{#                <label class="red-checkbox mt-2">#}
{#                    <input type="checkbox" name="partners-table" value="1">#}
{#                    <span class="checkmark"></span>#}
{#                </label>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td class="text-center">3</td>#}
{#            <td>#}
{#                <i class="icon icon-cross delete-icon"></i>#}
{#                <span class="p-title">Типография</span>#}
{#            </td>#}
{#            <td class="text-center">23.05.2019</td>#}
{#            <td class="text-right">250.00</td>#}
{#            <td class="text-right">250.00</td>#}
{#            <td class="text-right">250.00</td>#}
{#            <td class="text-right">250.00</td>#}
{#            <td>#}
{#                <label class="red-checkbox mt-2">#}
{#                    <input type="checkbox" name="partners-table" value="1">#}
{#                    <span class="checkmark"></span>#}
{#                </label>#}
{#            </td>#}
{#        </tr>#}
        </tbody>
    </table>
</div>