<!-- Admin > add partner modal -->
<div class="modal fade modal-white-backdrop" id="adminEditPartnerModal" tabindex="-1" role="dialog" aria-labelledby="adminEddPartnerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPartnerModalLabel">Изменение данных партнера</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon icon-cross"></i>
                </button>
            </div>
            {{ form_start(editPartnerForm, {'action': path('partner_edit', { id:1}), 'method': 'POST'}) }}
            <div class="modal-body">
                <div class="row mb-sm-5 mb-2">
                    <div class="col-sm-6 col-12 pr-ms-4">
                    {% form_theme editPartnerForm 'bootstrap_4_layout.html.twig' %}
                        {{ form_row(editPartnerForm.companyName) }}
                        {{ form_row(editPartnerForm.contactName) }}
                        {{ form_row(editPartnerForm.phoneNumber, {'value': '' }) }}
                        {{ form_row(editPartnerForm.adress) }}
                        {{ form_row(editPartnerForm.email) }}
                    </div>
                    <div class="col-sm-6 col-12 pl-ms-4">
                        {{ form_row(editPartnerForm.password) }}
                        {{ form_row(editPartnerForm.promocode) }}
                        {{ form_row(editPartnerForm.promocodeDiscount) }}
                        {{ form_row(editPartnerForm.accountDetails) }}
                        {{ form_row(editPartnerForm.linkCode, {'attr': {'readonly': 'true'}} ) }}
                    </div>
                </div>
                <p class="text-center text-bold red_text mb-2">Бонусы для начисления %</p>
                <hr/>
                <div class="row no-gutters bonuses">
                    <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4">
                        {{ form_label(editPartnerForm.bagsBonus) }}

                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4 pr-sm-4">
                        {{ form_widget(editPartnerForm.bagsBonus) }}

                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4">
                        {{ form_label(editPartnerForm.mantleBonus) }}

                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4 pr-lg-4 pl-lg-0 pl-sm-4">
                        {{ form_widget(editPartnerForm.mantleBonus) }}

                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4">
                        {{ form_label(editPartnerForm.carpetsBonus) }}

                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4 pr-sm-4">
                        {{ form_widget(editPartnerForm.carpetsBonus) }}

                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4">
                        {{ form_label(editPartnerForm.for_kidsBonus) }}

                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4 pr-lg-4 pl-lg-0 pl-sm-4">
                        {{ form_widget(editPartnerForm.for_kidsBonus) }}

                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4">
                        {{ form_label(editPartnerForm.foldersBonus) }}

                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4 pr-sm-4">
                        {{ form_widget(editPartnerForm.foldersBonus) }}

                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4">
                        {{ form_label(editPartnerForm.for_animalsBonus) }}

                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 vcenter mb-2 mb-sm-4 pr-lg-4 pl-lg-0 pl-sm-4">
                        {{ form_widget(editPartnerForm.for_animalsBonus) }}
                    </div>
                </div>
            </div>
            <div class="modal-footer p-0 psm-3">
                         {{ form_widget(editPartnerForm.savePartner) }}
                <button type="button" class="btn btn-grey ml-sm-4" data-dismiss="modal">Отмена</button>
            </div>
            {{ form_end(editPartnerForm) }}
        </div>
    </div>
</div>
<!-- /Admin > add partner modal -->