<!-- Admin > add partner modal -->
<div class="modal fade modal-white-backdrop" id="editAdminModal" tabindex="-1" role="dialog" aria-labelledby="editAdminModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="editAdminModalForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPartnerModalLabel">Изменить почту и пароль Админа</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="icon icon-cross"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-sm-5 mb-2">
                        <div class="col-sm-6 col-12 pr-ms-4">
                            <div class="form-group">
                                <label for="editAdminModalEmail">Email</label>
                                <input type="email" name="email" class="form-control" id="editAdminModalEmail">
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 pl-ms-4">
                            <div class="form-group">
                                <label for="editAdminModalPassword">Пароль</label>
                                <input type="password"  name="password" class="form-control" id="editAdminModalPassword">
                                <input type="hidden" name="token" value="{{ csrf_token('edit-admin') }}"/>
                            </div>
                        </div>
                    </div>
                </div>
{#                <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>#}
                <div class="modal-footer p-0 psm-3">
                    <a type="button" id="editAdminModalSubmit" class="btn btn-main py-2">Изменить</a>
                    <button type="button" class="btn btn-grey ml-sm-4" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Admin > add partner modal -->