<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
{#            <div class="modal-header">#}
{#                <h5 class="modal-title" id="deleteConfirmationModalLabel">Вы уверены, что хотите удалить <span id="pTitle"></span>?</h5>#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
{#            </div>#}
            <button type="button" class="close d-flex ml-auto mb-n4 p-1 zindex-1" data-dismiss="modal" aria-label="Close">
                <i class="icon icon-cross delete-icon"></i>
            </button>
            <div class="modal-body text-center">
                <h5 class="modal-title mb-3 line-height-1-2" id="deleteConfirmationModalLabel">Вы уверены, что хотите удалить<br/><span class="text-bold" id="pTitle"></span>?</h5>
                <a type="" class="btn btn-main py-2 partner-list-item-delete">да</a>
                <a type="" class="btn btn-grey py-2" data-dismiss="modal">нет</a>
            </div>
        </div>
    </div>
</div>