<!-- Admin > add partner modal -->
<div class="modal fade modal-white-backdrop" id="editPartnerInfoModal" tabindex="-1" role="dialog" aria-labelledby="editPartnerInfoModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPartnerInfoModalLabel">Какую информацию нужно изменить?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon icon-cross"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="editPartnerRequestForm">
                    <div class="pim-main">
                        <textarea class="form-control w-100" id="partnerEditInfoMessage" placeholder="Напишите, какие данные нужно изменить" rows="6"></textarea>
                        <input type="hidden" name="token" value="{{ csrf_token('edit-partner-request') ~ '----' ~ partner.id }}"/>
                        <div class="text-center">
                            <a href="#!" id="sendEditPartnerInfo" class="btn btn-main">отправить</a>
                        </div>
                    </div>
                    <div class="pim-message d-none">
                        <p>Запрос отправлен.</p>
                        <p class="mb-4">В ближайшее время с Вами свяжется менеджер.</p>
                        <div class="text-center">
                            <a href="#!" class="btn btn-main" data-dismiss="modal">хорошо</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Admin > add partner modal -->