/* Accordion */
#deliveryToOtherCities {
  .accordion {
    .card {
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      .card-header {
        background-color: transparent;
        border: none;
        padding: 20px 10px;
        .tp-icon {
          color: #cccccc;
        }
        &[aria-expanded="true"]{
          padding-bottom: 0;
        }
      }
      .card-body {
        padding: 20px 10px;
        iframe {
          border: none;
        }
      }
    }
  }
}
/* /Accordion */