/* Buttons */
.btn {
    font-size: 16px;
    font-weight: 700;

    &.btn-main {
        background-color: $primary-color;
        color: #ffffff;
        // font-weight: 700;
        text-transform: uppercase;
    }
    &.btn-grey {
        background-color: $grey-2!important;
        color: #ffffff;
        // font-weight: 700;
        text-transform: uppercase;
        box-shadow: none;
    }
    &.btn-outline-red,
    &.btn-outline-grey {
        background-color: #FFFFFF;
        line-height: 1;
        padding: 8px 25px;
        margin: 0;
        box-shadow: none;
        border-width: 2px;
        border-style: solid;
    }
    &.btn-outline-red {
        border-color: $primary-color!important;
        color: $primary-color!important;
    }
    &.btn-outline-grey {
        border-color: $grey!important;
        color: $grey!important;
    }
    &.w-210p {
        width: 210px;
    }
    &.w-220p {
        width: 220px;
    }
    &.btn-sentence-case {
        text-transform: none;
    }
    &.btn-mini {
        text-transform: none;
        padding: 7px 50px;
        font-size: 16px;
    }
    &.added {
        background-color: $grey!important;
    }
}
.btn-w-100 {
    .btn {
        width: 100%!important;
    }
}
/* /Buttons */

/* Breakpoints - Buttons */
/* ---------------------- */
@media (max-width: 1539px) {
    /* Breakpoint - Buttons */

}

@media (max-width: 1429px) {
    /* Breakpoint - Buttons */

}

@media (max-width: 1297px) {
    /* Breakpoint - Buttons */

}

@media (min-width: 1200px) {
    /* Breakpoint xl and up - Buttons */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
    /* Breakpoint lg - Buttons */

}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
    /* Breakpoint md - Buttons */

}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
    /* Breakpoint sm - Buttons */
}

@media (max-width: 575px) {
    /* Breakpoint xs - Buttons */
    .btn {
        &.btn-mini {
            padding: 7px 10px;
        }
    }
}
/* ---------------------- */
/* ./Breakpoints - Buttons */