/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  //border: 1px solid $grey-2;
  border-color: $grey-2;
  border-style: solid;
  border-width: 1px;
  border-right: 0!important;
  border-left: 0!important;
  //margin: 5px;
  padding: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  // border-radius: 5px;
  // outline: 3px solid white;
  height: 6px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  // background-color: rgba(0, 0, 0, 0.15);
  // -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button:horizontal:decrement {
  border: 1px solid $grey-2;
  border-right-width: 0;
  background-image: url(/img/scrollbar/arrow-left.png);
  background-position: 3px 1px;
  background-repeat: no-repeat;

}
::-webkit-scrollbar-button:horizontal:increment {
  border: 1px solid $grey-2;
  border-left-width: 0;
  background-image: url(/img/scrollbar/arrow-right.png);
  background-position: 4px 1px;
  background-repeat: no-repeat;
}
//::-webkit-scrollbar-button:horizontal:decrement:active {
//  background-image: url(/img/scrollbar/arrow-left-active.png); }
//::-webkit-scrollbar-button:horizontal:increment:active {
//  background-image: url(/img/scrollbar/arrow-right-active.png); }

::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:decrement {
  height: 15px;
  width: 13px;
  display: none;
  background-repeat: no-repeat;
}
::-webkit-scrollbar-button:end:decrement {
  width: 13px;
}
/* /Scrollbar */