/* Jumbotron */
.jumbotron {
  &.j-sm {
    padding: 12px;
    margin: 15px 0;
    .title {
      font-size: 18px;
    }
    p {
      margin-bottom: 0;
      line-height: 1;
    }
  }
}
/* /Jumbotron */