.loader-block {
  position: absolute;
  z-index: 5;
  height: 95%;
  background: rgba(255,255,255,.85);
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  border: 16px solid lighten($text-color, 47%);
  border-radius: 50%;
  border-top: 16px solid $primary-color;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}