/* Select theme modal background change */
.modal-white-backdrop {
  .modal-backdrop {
    background-color:white;
    opacity: .9;
  }
}
#selectedItemModal {
  .modal-dialog {
    .modal-content {
      .modal-body {
        .selected-item-params {
          .params-title {
            font-size: 18px;
            font-weight: 700;
          }
          .params-text {
            line-height: 1.2;
            margin-bottom: 0;
          }
        }
      }
    }
  }
 .modal-footer {
   border-top: none;
   justify-content: space-between;
   padding: 12px 12px 12px 6px;
   .btn {
     &.btn-outline-red {
       width: 210px;
       padding-top: 12px;
       padding-bottom: 12px;
       margin: 0 5px;
     }
   }
 }
}
#discountModal {
  .modal-dialog {
    .modal-content {
      .modal-body {
        .btn {
          &.btn-main {
            min-width: 220px;
          }
        }
      }
    }
  }
}

#discountModal,
#discountInfoModal,
#becomeDealerModal,
#callMeModal {
  .modal-dialog {
    .modal-content {
      .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        opacity: 1;
        z-index: 1;
        outline: none;
        .icon {
          color: $primary-color;
          margin: 0;
          display: flex;
        }
      }
    }
  }
}

#selectYourCityModal {
  .modal-dialog {
    .modal-content {
      border-radius: 8px;
      a {
        color: $text-color;
      }
      .modal-header {
        border: none;
        position: absolute;
        right: 12px;
        z-index: 1;
      }
      .modal-header {
        .close {
          // position: absolute;
          outline: none;
          opacity: 1;
          right: 6px;
          top: 12px;
          font-size: 12px;
          color: $primary-color;
          width: 20px;
          height: 20px;
          @include transition_all(.2);
          &:hover {
            color: $text-color;
          }
        }
      }
    }
  }
}

#addPartnerModal,
#bePartnerModal {
  .modal-dialog {
    .modal-content {
      box-shadow: none;
      border: 1px solid $grey-2;
      padding: 10px;

      .modal-header {
        border-color: $primary-color;
        padding: 0;
        padding-bottom: 10px;
        .modal-title {
          text-align: center;
          width: 100%;
          font-size: 16px;
          font-weight: 700;
          line-height: 1;
          color: $primary-color;
        }
        .close {
          position: absolute;
          top: 10px;
          right: 10px;
          outline: none;
          .icon {
            display: flex;
            margin: 0;
            font-size: 10px;
          }
        }
      }

      .modal-body {
        .form-control {
          margin-bottom: 20px;
        }
        label {
          font-weight: 700;
          margin-bottom: 5px;
        }
        hr {
          border-color: $primary-color;
          margin-top: 0;
        }
        .bonuses {
          //.col-2 {
          //  display: flex;
          //  align-items: center;
          //  margin-bottom: 20px;
          //}
          label {
            margin: 0;
          }
          .form-control {
            margin-bottom: 0;
          }
        }
      }

      .modal-footer {
        justify-content: center;
        border: none;
        .btn {
          padding: 5px;
          width: 160px;
        }
      }
    }
  }
}

#bePartnerModal {
  .modal-dialog {
    .modal-content {
      padding: 30px 0;
      max-width: 470px;
      .modal-header {
        border-color: transparent;
        .close {
          .icon {
            font-size: 14px;
            color: $primary-color;
          }
        }
      }
      .modal-body {
        .form-control {
          height: 50px;
          margin-bottom: 45px;
          text-align: center;
        }
      }
    }
  }
}

#editPartnerInfoModal {
  .modal-dialog {
    .modal-content {
      box-shadow: none;
      border: 1px solid $grey-2;

      .modal-header {
        //border-color: $primary-color;
        border: none;
        padding: 15px;
        .modal-title {
          //text-align: center;
          width: 100%;
          font-size: 16px;
          font-weight: 700;
          line-height: 1;
          color: $text-color;
        }
        .close {
          position: absolute;
          color: $primary-color;
          top: 10px;
          right: 10px;
          outline: none;
          .icon {
            display: flex;
            margin: 0;
            font-size: 10px;
          }
        }
      }

      .modal-body {
        .form-control {
          border: 1px solid lighten($grey-2, 15%);
          margin-bottom: 20px;
          font-size: 14px;
          @include  transition-all(.3);
          &:focus {
            border: 1px solid lighten($grey-2, 5%);
          }
        }
       .pim-message {
         p {
           font-weight: bold;
           text-align: center;
           margin-bottom: 5px;
           line-height: 1;
           font-size: 20px;
         }
       }
      }

      .modal-footer {
        justify-content: center;
        border: none;
        .btn {
          padding: 5px;
          width: 160px;
        }
      }
    }
  }
}

/* Breakpoints - Modals */
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - Modals */

}

@media (max-width: 1429px) {
  /* Breakpoint - Modals */

}

@media (max-width: 1297px) {
  /* Breakpoint - Modals */

}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - Modals */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
  /* Breakpoint lg - Modals */

}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - Modals */
  #bePartnerModal {
    .modal-dialog {
      .modal-content {
        padding: 10px 0;
        padding-bottom: 0;
        .modal-body {
          .form-control {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - Modals */
  #selectedItemModal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .selected-item-params {
            .params-title {
              margin-bottom: 5px;
            }
            .params-text {
              font-size: 12px;
            }
          }
          .selected-item-price {
            p {
              margin-top: 5px;
              margin-bottom: 5px;
              line-height: 1;
              font-size: 16px;
            }
          }
          hr {
            margin: 20px 0;
          }
        }
      }
    }
  }
  #addPartnerModal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          label {
            font-size: 14px;
            line-height: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  /* Breakpoint xs - Modals */
  #selectedItemModal {
    .modal-footer {
      justify-content: unset;
      flex-direction: column;
      .btn {
        &.btn-outline-red {
          width: 100%;
          margin-top: 12px;
        }
      }
    }
  }
  #addPartnerModal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          padding: 10px;
          input {
            &.form-control {
              height: 32px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
/* ---------------------- */
/* ./Breakpoints - Modals */