/* shopping-cart */
.shopping-cart {
  .shopping-cart-item {
    padding: 30px;
    font-size: 18px;
    .row {
      min-height: 200px;
    }
    a {
      text-decoration: unset!important;
    }
    p {
      margin-bottom: 0;
    }
    .delete-item {
      padding-top: 25px;
      .icon {
        font-size: 21px;
        color: $primary-color;
        margin: 0;
      }
    }
    &:nth-child(even) {
      background-color: #f5f5f5;
    }
  }
}

.shopping-cart-old-price {
  color: #999999;
  text-decoration: line-through;
  font-weight: 700;
  margin-right: 5px;
}
.shopping-cart-new-price {
  font-size: 22px;
  font-weight: 700;
  span {
    font-weight: 700;
  }
}
/* /shopping-cart */

/* Breakpoints - Shopping cart */
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - Shopping cart */

}

@media (max-width: 1429px) {
  /* Breakpoint - Shopping cart */

}

@media (max-width: 1297px) {
  /* Breakpoint - Shopping cart */

}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - Shopping cart */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
  /* Breakpoint lg - Shopping cart */

}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - Shopping cart */
  .select-gift {
    padding: 0;
    width: 170px;
  }
}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - Shopping cart */
  .shopping-cart {
    .shopping-cart-item {
      .cart-item-description {
        margin-bottom: 20px;
        p {
          line-height: 1.3;
          font-size: 14px;
        }
      }
      .delete-item {
        padding-top: 0;
      }
    }
  }
  .select-gift {
    width: 150px;
  }
}

@media (max-width: 575px) {
  /* Breakpoint xs - Shopping cart */
  .shopping-cart {
    .shopping-cart-item {
      padding: 20px;

      .delete-item {
        align-items: flex-end;
      }
    }
  }
  .select-gift {
    width: 130px;
    margin-bottom: 20px;
  }
}
/* ---------------------- */
/* ./Breakpoints - Shopping cart */