.nav {
  &.nav-tabs {
    border: none;
    .nav-item {
      &:last-of-type {
        .nav-link {
          margin-right: 0;
        }
      }
      .nav-link {
        border: none;
        background-color: #CCCCCC;
        color: #ffffff;
        text-transform: uppercase;
        border-radius: 0;
        line-height: 1;
        padding: 16px;
        width: 210px;
        text-align: center;
        margin-right: 50px;
        font-size: 16px;
        font-weight: 700;
        &.active {
          background-color: $primary-color;
        }
      }
    }
  }
  &.v2 {
    .nav-item {
      .nav-link {
        width: auto;
        background-color: transparent;
        color: $text-color;
        text-transform: inherit;
        font-weight: 700;
        padding-left: 0;
        margin-right: 30px;
        &.active {
          background-color: transparent;
          color: $primary-color;
          text-decoration: underline;
        }
      }
    }
  }
}

.tab-content {
  @import "custom-scrollbar.scss";
}

/* Breakpoints - Custom Swiper */
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - Custom Swiper */

}

@media (max-width: 1429px) {
  /* Breakpoint - Custom Swiper */

}

@media (max-width: 1297px) {
  /* Breakpoint - Custom Swiper */

}

@media (max-width: 1199px) {
  /* Breakpoint xl and up - Custom Swiper */

}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - Custom Swiper */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
  /* Breakpoint lg - Custom Swiper */
  .nav {
    &.nav-tabs {
      .nav-item {
        .nav-link {
          margin-right: 20px;
        }
      }
    }
  }
}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - Custom Swiper */

}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - Custom Swiper */
  .tab-content {
    iframe {
      height: 300px;
    }
  }
  .nav {
    &.v2 {
      justify-content: center;
      margin-bottom: 10px;
      .nav-item {
        &:last-of-type {
          .nav-link {
            margin: 0;
          }
        }
        .nav-link {
          margin:0;
          padding: 10px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  /* Breakpoint xs - Custom Swiper */
  .tab-content {
    iframe {
      height: auto;
    }
  }
}
/* ---------------------- */
/* ./Breakpoints - Custom Swiper */