<div class="carpet-info grey-gradient-bg">
    <div class="content p-0 m-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12 pr-lg-5">
                    <p class="title-dashed">Из чего сделаны гамаки?</p>
                    <p class="text-bold line-height-1-2">Автогамаки сделаны из этиленвинилацетата Ethylene Vinyl Acetate (EVA) Вспененный каучук - полимерный композиционный материал.</p>
                </div>
                <div class="col-lg-5 col-md-6 col-12 offset-lg-1">
                    <p class="title-dashed">Почему так чисто?</p>
                    <p class="text-bold line-height-1-2">Высокие борта гамака обеспечивают полное покрытие сидений автомобиля.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-12 p-xl-5 p-4">
                    <div class="info-icon v4">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/water_repellent.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Отталкивает влагу</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 p-xl-5 p-4">
                    <div class="info-icon v4">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/eco_friendly.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text v4">Экологичен</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 p-xl-5 p-4">
                    <div class="info-icon v4">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/odorless.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text v4">Не выделяет запахов</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 p-xl-5 p-4">
                    <div class="info-icon v4">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/claw_protection.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text v4">Защита от когтей</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 p-xl-5 p-4">
                    <div class="info-icon v4">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/for_all_cars.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text v4">Подходят на все автомобили</p>
                </div>
            </div>
        </div>
    </div>
</div>