<div class="content">
    <div class="container">
        <div class="special-offer">
            <p class="head_line">Комплектом дешевле!</p>
            <div class="offer">
                <div class="text">
                    <p>Добавь в корзину оба товара и цена автоматически пересчитается</p>
                    <div class="a-text">В акции участвуют все цвета</div>
                </div>
                <div class="offer-full-img">
                    <div class="price">
                        <div class="text-right">
                            <p class="new-price">3500</p>
                            <p class="currency">руб.</p>
                            <p class="old-price">3780 руб.</p>
                        </div>
                    </div>
                    <div class="offer-1">
                        <p>Гамак в багажник</p>
                        <div class="offer-image">
                            <img src="/img/products/for_animals/special-offer/hammock-for-trunk.jpg" alt="">
                        </div>
                    </div>
                    <div class="offer-2">
                        <div class="offer-image">
                            <img src="/img/products/for_animals/special-offer/hammock-for-salon.jpg" alt="">
                        </div>
                        <p>Гамак в салон</p>
                    </div>
                    <div class="circle-small"></div>
                    <div class="circle-medium"></div>
                    <div class="circle-big"></div>
                    <i class="icon icon-plus-circle"></i>
                </div>
            </div>
        </div>
    </div>
</div>