<style>

</style>
<div class="bag-type-select radio-select">
    <label class="circle-radio-btn pl-0 active" id="forSalon">
        <span class="btn btn-outline-grey">В салон</span>
        <input type="radio" name="bag-type" value="for_salon">
    </label>
    <label class="circle-radio-btn pl-0 min-width" id="forTrunk">
        <span class="btn btn-outline-grey">В багажник</span>
        <input type="radio" name="bag-type" value="for_trunk">
    </label>
</div>
<div class="collapse show" id="forAnimalsBagTypes">
    <div class="bag-types">
        <div class="bag-types-choices">
            <label class="circle-radio-btn">
                <span>На всё сиденье</span>
                <input type="radio" name="for-salon-type" value="for-all" checked="checked">
                <span class="checkmark"></span>
            </label>
            <label class="circle-radio-btn">
                <span>На 2/3 сиденья</span>
                <input type="radio" name="for-salon-type" value="2-of-3">
                <span class="checkmark"></span>
            </label>
            <label class="circle-radio-btn">
                <span>На половину сиденья</span>
                <input type="radio" name="for-salon-type" value="half">
                <span class="checkmark"></span>
            </label>
            <label class="circle-radio-btn">
                <span>На одно сиденье</span>
                <input type="radio" name="for-salon-type" value="for-one">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
</div>
<!-- / Collapsible element -->