<div class="product-video">
    <div class="content">
        <div class="container">
            <p class="h2-responsive text-center head_line">Легкая самостоятельная установка</p>
            <style>
                img.tem-folder-video{
                    width: 100%;
                }
            </style>
            <img src="img/products/for_animals/видео.jpg" alt="" class="tem-folder-video img-fluid">
{#            <iframe width="100%" height="600" src="https://www.youtube.com/embed/S7Vdft_ExrA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
        </div>
    </div>
</div>