<div class="bg_block2" style="background-image: url({% if slug == 'bags' %}/img/banners/bg_block_bags.jpg{% elseif slug == 'folders' %}/img/banners/bg_block1.jpg{% else %}/img/banners/bg_block2.jpg{% endif %})">
    <div class="container">
        <h2>Собственное производство позволяет четко отслеживать каждый этап работы</h2>

        {% if slug == 'mantle' %}
        <p>Алькантара – материал, который по своему виду и тактильным ощущениям очень напоминает замшевую ткань.
            Разработан данный материал был в 1970-х годах как надежная и долговечная альтернатива натуральным тканям.
            Сегодня, Алькантара – это искусственная замша, которая применяется для обивки салонов автомобилей и
            производства накидок на сиденья. При этом, стоит понимать, что на сегодняшний день на рынке работает много
            недобросовестных производителей, которые под видом оригинала предлагают купить дешевую подделку.
            Такие изделия можно с легкостью отличить самостоятельно, ведь они грубоваты на ощупь. Накидки из Алькантары
            от «Carstoris» - это выбор в пользу лучших материалов. Их хочется трогать, гладить и прижиматься
            к ним снова и снова.</p>

            {% elseif slug == 'bags' %}
                <p>Автомобильный саквояж - это не только средство для наведения порядка в багажнике.
                    Это еще и индивидуальный стиль подобранный по вашему вкусу.
                    Кроме того, саквояж можно использовать не только для автомобильных принадлежностей.
                    Можно удобно перевозить продукты, неяё занимая место в салоне и не бояться, что что-то помнется.
                    Собираетесь на пикник? Отлично, саквояж от карсторис поможет вам и в этом.
                    Он вместителен, выдерживает до 30 килограмм, в него с комфортом уместиться всё, что вам нужно.</p>
        {% else %}
        <p>Поддерживать салон автомобиля в чистоте стало проще – сегодня все большую популярность приобретают
            полиуретановые автомобильные коврики, ставшие достойной заменой устаревшим резиновым моделям. Интернет-магазин
            «Carstoris» предлагает вашему вниманию коврики в салон автомобиля собственного производства,
            изготовленные из полиуретана – экологически чистого полимерного материала, обладающего свойствами натурального каучука.</p>
        {% endif %}
        <form>
            <div class="row">
                <div class="col-lg col-12">
                    <input type="text" name="" placeholder="Ваше имя" class="input_text_transparent">
                </div>
                <div class="col-lg col-12 pt-2 pt-lg-0">
                    <input type="tel" name="" placeholder="Номер телефона" class="input_text_transparent phone-no">
                </div>
                <div class="col-lg col-12 pt-3 pt-lg-0">
                    <input type="button" name="" value="Заказать со скидкой" data-toggle="modal" data-target="#discountInfoModal" class="input_btn_red">
                    <span class="soglasie col-lg-12 col-sm-5 col-9 m-auto">нажимая на кнопку, вы даете согласие на обработку персональных данных</span>
                </div>
            </div>
        </form>
    </div>
</div>