
<div class="home_photo">
    <div class="swiper_groups">
        <div class="swiper-wrapper">
{#            <div class="swiper-slide">#}
{#                <a href="/img/products/products-swiper/{{ slug }}1.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/{{ slug }}1.jpg" alt=""></a>#}
{#            </div>#}
{#            <div class="swiper-slide">#}
{#                <a href="/img/products/products-swiper/{{ slug }}2.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/{{ slug }}2.jpg" alt=""></a>#}
{#            </div>#}
{#            <div class="swiper-slide">#}
{#                <a href="/img/products/products-swiper/{{ slug }}3.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/{{ slug }}3.jpg" alt=""></a>#}
{#            </div>#}
{#            <div class="swiper-slide">#}
{#                <a href="/img/products/products-swiper/{{ slug }}4.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/{{ slug }}4.jpg" alt=""></a>#}
{#            </div>#}
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/bags1.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/bags1.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/bags2.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/bags2.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/bags3.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/bags3.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/bags4.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/bags4.jpg" alt=""></a>
            </div>

            <div class="swiper-slide">
                <a href="/img/products/products-swiper/carpets1.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/carpets1.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/carpets2.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/carpets2.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/carpets3.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/carpets3.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/carpets4.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/carpets4.jpg" alt=""></a>
            </div>

            <div class="swiper-slide">
                <a href="/img/products/products-swiper/folders1.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/folders1.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/folders2.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/folders2.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/folders3.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/folders3.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/folders4.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/folders4.jpg" alt=""></a>
            </div>

            <div class="swiper-slide">
                <a href="/img/products/products-swiper/foranimals1.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/foranimals1.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/foranimals2.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/foranimals2.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/foranimals3.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/foranimals3.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/foranimals4.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/foranimals4.jpg" alt=""></a>
            </div>

            <div class="swiper-slide">
                <a href="/img/products/products-swiper/forkids1.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/forkids1.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/forkids2.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/forkids2.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/forkids3.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/forkids3.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/forkids4.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/forkids4.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/mantle3.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/mantle3.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/mantle4.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/mantle4.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/mantle1.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/mantle1.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/products/products-swiper/mantle2.jpg" data-fancybox="gallery"><img src="/img/products/products-swiper/mantle2.jpg" alt=""></a>
            </div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper_pagination_groups"></div>
        <div class="swiper_button_next"><i class="icon icon-double-arrow-right"></i></div>
        <div class="swiper_button_prev"><i class="icon icon-double-arrow-left"></i></div>
    </div>
</div>