<div class="container home_video">
    <h2 class="text-center head_line"><img src="/img/label.svg" height="20" class="label"> - лучший выбор</h2>
    <div class="row no-gutters">
        <div class="col-sm-6 p-1">
            <img src="/img/products/photos/{{ slug }}-1.jpg" class="img-fluid" alt="product-photo">
        </div>
        <div class="col-sm-6 p-1">
            <img src="/img/products/photos/{{ slug }}-2.jpg" class="img-fluid" alt="product-photo">
        </div>
        <div class="col-sm-6 p-1">
            <img src="/img/products/photos/{{ slug }}-3.jpg" class="img-fluid" alt="product-photo">
        </div>
        <div class="col-sm-6 p-1">
            <img src="/img/products/photos/{{ slug }}-4.jpg" class="img-fluid" alt="product-photo">
        </div>
    </div>
</div>