<div class="container mb-5">
    <div class="text-center text-bold py-4">
        <p class="h3-responsive mb-2">С этим товаром покупают</p>
        <div class="lines"></div>
    </div>
    <div class="row no-gutters categories">
        {% if slug != 'bags'  %}
        <div id="product-1" itemprop="isRelatedTo" itemscope itemtype="http://schema.org/Product" class="col-6 col-md-3 p-1">
            <a href="{{ path(name="bags") }}">
                <span itemprop="name">Саквояжи</span>
                <img itemprop="image" class="w-100" src="/img/banners/1.jpg">
                <span class="price">перейти</span>
            </a>
        </div>
        {% endif %}
        {% if slug != 'mantle'  %}
        <div id="product-2" itemprop="isRelatedTo" itemscope itemtype="http://schema.org/Product" class="col-6 col-md-3 p-1">
            <a href="{{ path(name="mantles") }}">
                <span itemprop="name">Накидки</span>
                <img itemprop="image" class="w-100" src="/img/banners/2.jpg">
                <span class="price">перейти</span>
            </a>
        </div>
        {% endif %}
        {% if slug != 'carpets'  %}
        <div id="product-3" itemprop="isRelatedTo" itemscope itemtype="http://schema.org/Product" class="col-6 col-md-3 p-1">
            <a href="{{ path(name="carpets") }}">
                <span itemprop="name">Коврики</span>
                <img itemprop="image" class="w-100" src="/img/banners/3.jpg">
                <span class="price">перейти</span>
            </a>
        </div>
        {% endif %}
        {% if slug not in ['forkids', 'foranimals'] %}
        <div id="product-4" itemprop="isRelatedTo" itemscope itemtype="http://schema.org/Product" class="col-6 col-md-3 p-1">
            <a href="{{ path(name="for_kids") }}">
                <span itemprop="name">Для детей</span>
                <img itemprop="image" class="w-100" src="/img/banners/4.jpg">
                <span class="price">перейти</span>
            </a>
        </div>
        {% endif %}
        {% if slug != 'folders'  %}
            <div id="product-5" itemprop="isRelatedTo" itemscope itemtype="http://schema.org/Product" class="col-6 col-md-3 p-1">
                <a href="{{ path(name="folders") }}">
                    <span itemprop="name">Папки</span>
                    <img itemprop="image" class="w-100" src="/img/banners/5.jpg">
                    <span class="price">перейти</span>
                </a>
            </div>
        {% endif %}
    </div>
</div>