@charset "UTF-8";

@font-face {
  font-family: "carstoris";
  src:url("fonts/carstoris.eot");
  src:url("fonts/carstoris.eot?#iefix") format("embedded-opentype"),
    url("fonts/carstoris.woff") format("woff"),
    url("fonts/carstoris.ttf") format("truetype"),
    url("fonts/carstoris.svg#carstoris") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "carstoris" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "carstoris" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\61";
}
.icon-double-arrow-left:before {
  content: "\64";
}
.icon-double-arrow-right:before {
  content: "\65";
}
.icon-doc:before {
  content: "\66";
}
.icon-pay-cash:before {
  content: "\67";
}
.icon-pay-with-card:before {
  content: "\68";
}
.icon-phone:before {
  content: "\69";
}
.icon-social-instagram:before {
  content: "\6b";
}
.icon-social-vk:before {
  content: "\6c";
}
.icon-minus:before {
  content: "\6e";
}
.icon-plus:before {
  content: "\6f";
}
.icon-check:before {
  content: "\70";
}
.icon-arrow-down:before {
  content: "\72";
}
.icon-plus-circle:before {
  content: "\73";
}
.icon-filter:before {
  content: "\75";
}
.icon-search:before {
  content: "\76";
}
.icon-chevron-right:before {
  content: "\77";
}
.icon-social-wa:before {
  content: "\63";
}
.icon-gift:before {
  content: "\6a";
}
.icon-social-email:before {
  content: "\6d";
}
.icon-shopping-cart:before {
  content: "\71";
}
.icon-map-marker:before {
  content: "\62";
}
.icon-cross:before {
  content: "\74";
}
.icon-skrepka:before {
  content: "\78";
}
.icon-select-design:before {
  content: "\79";
}
.icon-arrow-down-long:before {
  content: "\7a";
}
