<p class="text-bold">Выберите цвет материала</p>
<div class="select-colors">
    <div class="colors radio-select">
        <label class="circle-radio-btn active">
            <span class="color grey"></span>
            <input type="radio" name="color" value="grey" checked="checked">
        </label>
        <label class="circle-radio-btn">
            <span class="color grey"></span>
            <input type="radio" name="color" value="grey" checked="checked">
        </label>
        <label class="circle-radio-btn">
            <span class="color grey"></span>
            <input type="radio" name="color" value="grey" checked="checked">
        </label>
        <label class="circle-radio-btn">
            <span class="color grey"></span>
            <input type="radio" name="color" value="grey" checked="checked">
        </label>
        <label class="circle-radio-btn">
            <span class="color grey"></span>
            <input type="radio" name="color" value="grey" checked="checked">
        </label>
    </div>
</div>
<p class="text-bold">Выберите цвет окантовки</p>
<div class="select-colors">
    <div class="colors radio-select">
        <label class="circle-radio-btn">
            <span class="color grey"></span>
            <input type="radio" name="color" value="grey" checked="checked">
        </label>
        <label class="circle-radio-btn">
            <span class="color grey"></span>
            <input type="radio" name="color" value="grey" checked="checked">
        </label>
        <label class="circle-radio-btn">
            <span class="color grey"></span>
            <input type="radio" name="color" value="grey" checked="checked">
        </label>
        <label class="circle-radio-btn">
            <span class="color grey"></span>
            <input type="radio" name="color" value="grey" checked="checked">
        </label>
        <label class="circle-radio-btn">
            <span class="color grey"></span>
            <input type="radio" name="color" value="grey" checked="checked">
        </label>
    </div>
</div>