<!-- Swiper -->
<div class="fp swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide v3">
            <img src=".././img/fp-slider/carpets-slider-01.jpg" alt="">
            <div class="container">
                <div class="caption">
                    <div>
                        <p class="h1-responsive">Выберите цвета, которые подойдут именно вам</p>
                        <button class="btn btn-main">получить скидку</button>
                    </div>
                </div>
            </div>
            <div class="caption-bg">
                <div class="bg-1"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <img src=".././img/fp-slider/fp-slider-02.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src=".././img/fp-slider/fp-slider-03.jpg" alt="">
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="fp swiper-pagination"></div>
</div>