{% extends 'base.html.twig' %}

{% block title %}Накидки{% endblock %}

{% block body %}
    {% include 'mantle/template-parts/slider.html.twig' %}
    {% include 'main/template-parts/menu/main-menu.html.twig' %}

    <div class="content">
        <div class="container">
            <h2 class="text-center head_line">Накидки</h2>
            <p class="h2-responsive line-height-1 text-center mb-5">Для заказа выберите фактуру, цвет материала и окантовки.</p>
            <div class="row configurator">
                <div class="col-lg-6 col-12 pb-5">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-lg-8 col-7">
                            <img src="/img/products/mantle/mantle-romb.png" class="w-100" alt="">
                        </div>
                        <div class="col-lg-2 col-2">
                            <div class="radio-img">
                                <label class="circle-radio-btn text-center active">
                                    <img src="/img/products/mantle/mantle-romb-thumb.png" alt=""><br/>
                                    <span class="radio-img-title">Ромб</span>
                                    <input type="radio" name="mantle-types" value="romb" checked="checked">
                                </label>
                                <label class="circle-radio-btn text-center">
                                    <img src="/img/products/mantle/mantle-uzkiy-romb-thumb.png" alt=""><br/>
                                    <span class="radio-img-title">Узкий ромб</span>
                                    <input type="radio" name="mantle-types" value="uzkiy-romb">
                                </label>
                                <label class="circle-radio-btn text-center">
                                    <img src="/img/products/mantle/mantle-polosy-thumb.png" alt=""><br/>
                                    <span class="radio-img-title">Полосы</span>
                                    <input type="radio" name="mantle-types" value="polosy">
                                </label>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6 col-12">
                    <ul class="nav nav-tabs" id="bagDesign" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="selectColorTab" data-toggle="tab" href="#selectColor" role="tab" aria-controls="selectColor"
                               aria-selected="true">выбор цвета</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="selectLogoTab" data-toggle="tab" href="#selectEmbroidery" role="tab" aria-controls="selectEmbroidery"
                               aria-selected="false">выбор вышивки</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="bagDesignContent">
                        <div class="tab-pane fade show active pt-4" id="selectColor" role="tabpanel" aria-labelledby="selectColorTab">
                            {% include 'bags/template-parts/designSelectColor.html.twig' %}
                        </div>
                        <div class="tab-pane fade pt-3" id="selectEmbroidery" role="tabpanel" aria-labelledby="selectEmbroideryTab">
                            {% include 'mantle/template-parts/designEmbroidery.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-12">
                    <p class="mb-2 text-bold">Выберите комплектацию</p>
                    <div class="row no-gutters mb-2 mb-sm-4">
                        <div class="col-xl-4 col-lg-6">
                            <label class="circle-radio-btn">
                                <span>На передние сиденья</span>
                                <input type="radio" name="complect-type" value="front" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <label class="circle-radio-btn">
                                <span>На задние сиденья</span>
                                <input type="radio" name="complect-type" value="back">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <label class="circle-radio-btn">
                                <span>Полный комплект</span>
                                <input type="radio" name="complect-type" value="full">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                    <p class="mb-2 text-bold">Выберите модель</p>
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-6">
                            <label class="circle-radio-btn">
                                <span>Узкий верх, узкий низ</span>
                                <input type="radio" name="model-type" value="1" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <label class="circle-radio-btn">
                                <span>Узкий верх, широкий низ</span>
                                <input type="radio" name="model-type" value="2">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <label class="circle-radio-btn">
                                <span>Широкий верх, широкий низ</span>
                                <input type="radio" name="model-type" value="3">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="col-sm-auto col-12 ml-auto pt-sm-5">
                    <div class="product-old-price">
                        <span>4 900 руб.</span>
                    </div>
                    <div class="product-price">
                        <span>3 500 <span class="small">руб.</span></span>
                    </div>
                </div>
                <div class="col-6 offset-6">
                    <div class="text-right">
{#                        <button class="btn btn-main w-210p py-3" data-toggle="modal" data-target="#selectedItemModal">купить</button>#}
                    {% include '/buttons/add_to_cart.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'mantle/template-parts/advantages.html.twig' %}
    {% include 'mantle/template-parts/mantleVideo.html.twig' %}
    {% include 'main/template-parts/map.html.twig' %}
    {% include 'main/template-parts/orderForm.html.twig' %}
    {% include 'main/template-parts/videos.html.twig' %}
    {% include 'main/template-parts/productGallery.html.twig' %}
    {% include 'main/template-parts/comments.html.twig' %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mantle-js') }}
{% endblock %}
{% block modal %}
    {% include 'bags/template-parts/selectedItemModal.html.twig' %}
{% endblock %}
