{% extends 'base.html.twig' %}

{% block title %}Гарантийный условия{% endblock %}

{% block body %}
    <div class="content main">
            <div class="container mt-n5 mb-3 pt-2">
                {% include 'main/template-parts/breadcrumb.html.twig' %}
            </div>
            <div class="container">
                <h2 class="text-center head_line">Гарантийные условия</h2>
                <p class="pb-3">
                    Товар возврату и обмену не подлежит, так как шьется индивидуально по пожеланиям заказчика.
                </p>
                <div class="head_line"></div>
                {% include 'main/template-parts/categories.html.twig' %}
                <hr/>
                <p class="h2-responsive text-bold mb-0 line-height-1">Есть вопросы?</p>
                <p class="h2-responsive text-bold mb-4">Оставьте свои контакты и мы свяжемся с вами</p>
                <form id="onPageCallMeForm">
                    <div class="row justify-content-between ">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <input type="text" name="user_name" form-data="nameonPageCallMeForm" placeholder="Ваше имя" class="input_text_transparent input-dark w-100">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <input type="tel" name="user_phone" placeholder="Введите номер телефона" form-data="nameonPageCallMeForm" class="input_text_transparent input-dark w-100 phone-no">
                        </div>
                        <div class="col-lg-3 col-md-4 col-12 mt-3 mt-sm-2 mt-md-0">
                            <input type="button" name="callMeButton" value="жду звонка" id="callMeButton" class="input_btn_red w-100">
                            <span class="soglasie m-auto">нажимая на кнопку, вы даете согласие на обработку персональных данных</span>
                        </div>
                    </div>
                </form>
            </div>
    </div>
    <div class="d-none">
        {% include 'main/template-parts/menu/main-menu.html.twig' %}
    </div>

{% endblock %}
