/* Green checkbox */
.red-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  word-break: break-all;

  &.big-checkbox {
    height: 15px;
    padding-left: 40px;
    margin: 0;
    display: block;
    .checkmark {
      background-color: #ffffff!important;
      top: 0;
      height: 33px;
      width: 33px;
      border-width: 3px;
      &:after {
        font-size: 22px;
        top: 4px;
        left: 4px;
      }
    }
  }

  &.bold-border {
    .checkmark {
      border-width: 3px;
    }
    input {
      &:checked {
        ~ .checkmark {
          border-width: 3px;
        }
      }
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked {
      ~ .checkmark:after {
        display: block;
      }

      ~ .checkmark {
        background-color: transparent;
        border: 1px solid $grey;
        //border-radius: 5px;
        &.colors {
          border-radius: 5px;
          &::after {
          }
        }
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
    height: 18px;
    width: 18px;
    border: 1px solid $grey;
    //border-radius: 5px;
    &:after {
      font-family: "carstoris" !important;
      font-size: 12px;
      content: "\70";
      color: $primary-color;
      position: absolute;
      display: none;
      top: 2px;
      left: 2px;
      // width: 8px;
      // height: 8px;
      // border-radius: 50%;
      // background: $primary-color;
    }

    &.colors {
      height: 40px;
      width: 40px;
      border-color: transparent;

      &:after {
        display: block;
        content: '';
        //border-radius: 3px;
        height: 34px;
        width: 34px;
      }
    }
  }

  &:hover {
    input ~ .checkmark {
      background-color: lighten($primary-color, 50%);
      &.colors {
        background-color: transparent;
        border: 1px solid $grey-2;
      }
    }
  }

  .tp-icon {
    font-size: 12px;
  }
}