/* Inputs */
.input_text_transparent {
  background: transparent;
  border: 2px solid #fff;
  padding: 10px;
  color: #fff;

  outline: none;
  vertical-align: middle;
  font-size: 17px;

  &::-webkit-input-placeholder {text-align: center;color:#fff; opacity:1;}/* webkit */
  &::-moz-placeholder          {text-align: center;color:#fff; opacity:1;}/* Firefox 19+ */
  &:-moz-placeholder           {text-align: center;color:#fff; opacity:1;}/* Firefox 18- */
  &:-ms-input-placeholder      {text-align: center;color:#fff; opacity:1;}/* IE */
  &:focus::-webkit-input-placeholder {text-align: center;opacity:0;}/* webkit */
  &:focus::-moz-placeholder          {text-align: center;opacity:0;}/* Firefox 19+ */
  &:focus:-moz-placeholder           {text-align: center;opacity:0;}/* Firefox 18- */
  &:focus:-ms-input-placeholder      {text-align: center;opacity:0;}/* IE */

  &.input-dark {
    border-color: $text-color;
    color: $text-color;
    &::-webkit-input-placeholder {text-align: center;color:$text-color; opacity:1;}/* webkit */
    &::-moz-placeholder          {text-align: center;color:$text-color; opacity:1;}/* Firefox 19+ */
    &:-moz-placeholder           {text-align: center;color:$text-color; opacity:1;}/* Firefox 18- */
    &:-ms-input-placeholder      {text-align: center;color:$text-color; opacity:1;}/* IE */
    &:focus::-webkit-input-placeholder {text-align: center;opacity:0;}/* webkit */
    &:focus::-moz-placeholder          {text-align: center;opacity:0;}/* Firefox 19+ */
    &:focus:-moz-placeholder           {text-align: center;opacity:0;}/* Firefox 18- */
    &:focus:-ms-input-placeholder      {text-align: center;opacity:0;}/* IE */
  }
}

/* Disable browser close icon for IE */
input[type="search"]::-ms-clear {  display: none; width : 0; height: 0; }
input[type="search"]::-ms-reveal {  display: none; width : 0; height: 0; }
/* Disable browser close icon for Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.input_btn_red{
  outline-color: #0000;
  background-color: #D90F31;
  color: #fff;
  border: none;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  margin-top: -5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.input_btn_red:hover{
  outline: 2px solid #d90f31;
}
.input-sm {
  width: 90px;
}
input, textarea{
  &.form-control {
    border-radius: 0;
    box-shadow: none!important;
    border-color: $grey;
    &:focus {
      border-color: $primary-color;
    }
  }
}

.input-group {
  &.input-with-icon {
    .form-control {
      //border-radius: .25rem;
      &[readonly] {
        background-color: #ffffff;
      }
    }
    .input-group-addon {
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -10px;
      z-index: 3;
      i {
        color: lighten($text-color,10%);
        font-size: 20px;
      }
      &.v2 {
        right: 10px;
        margin-top: -14px;
        a {
          color: $text-color;
        }
      }
    }
  }
  &.with-icon {
    .form-control {
      border-right: 0;
      height: 35px;
      box-shadow: none;
      border-color: $grey;
    }
  }

  .input-group-append {
    .input-group-text {
      padding: 7px;
      background: transparent;
      border-radius: 0;
      border-left: 0;
      border-color: $grey;
      .icon {
        display: flex;
        margin: 0;
        font-size: 18px;
        color: $primary-color;
      }
    }
  }
}

.item-quantity {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 5px;
  width: 123px;
  .form-control {
    width: 62px;
    height: 25px;
    font-weight: 700;
    border: 0;
    text-align: center;
  }
  .btn-decrease,
  .btn-increase,
  .related-item-btn-decrease,
  .related-item-btn-increase {
    height: 25px;
    width: 25px;
    background-color: #e6e6e6;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    @include transition-all(.3);
    .icon {
      display: flex;
      margin: 0;
      color: #999999;
      font-size: 14px;
    }
    &.hide {
      opacity: 0;
      //margin-left: -30px;
    }
    &:hover {
      background-color: #999999;
      .icon {
        color: #FFFFFF;
      }
    }
  }
}

@media (max-width: 768px) {
  .input_text_transparent {
    margin-bottom: 10px;
  }
}
/* /Inputs */