// Multiselect

.cs-custom-select {
  position: relative;
  select {
    display: none; /*hide original SELECT element:*/
  }
  .select-items {
    div {
      background-color: #ffffff!important;
      &.same-as-selected {
        background-color: #f0f0f0!important;
      }
    }
  }
  &.select-md {
    .select-items {
      div {
        padding-right: 10px;
        width: 180px;
      }
    }
    .select-selected {
      width: 180px;
    }
  }

  &.mini {
    .select-selected {
      line-height: 1;
    }
  }

  &.v2 {
    .select-selected {
      border-color: #cccccc;
    }
  }
}

.select-selected {
  background-color: #ffffff;
  border: 2px solid $grey-2;
  //border-radius: 5px;
  position: relative;
  min-width: 80px;
  line-height: 1.3;
  //width: 100%;
  padding: 5px 10px;
  // padding-right: 50px;
  padding-right: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*style the arrow inside the select element:*/
  &:after {
    font-family: "carstoris" !important;
    color: $primary-color ;
    position: absolute;
    content: "\72";
    top: 7px;
    right: 10px;
    @include transition_all(.3);
    // width: 0;
    // height: 0;
    // border: 6px solid transparent;
    // border-color: #fff transparent transparent transparent;
  }
  /*point the arrow upwards when the select box is open (active):*/
  &.select-arrow-active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: lighten(#999999, 25%);
    background-color: lighten(#999999, 25%);
    &:after {
      border-color: transparent transparent #fff transparent;
      top: 5px;
      transform: rotate(-180deg);

    }
  }
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #4D4D4D;
  // border: 1px solid #4D4D4D;
  // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  //min-width: 80px;
  width: 100%;
  div {
    border-bottom: .5px solid lighten(#999999, 25%);
    padding: 5px 10px;
    padding-right: 50px;
  }
}

/*style items (options):*/
.select-items {
  // width: max-content;
  display: block;
  position: absolute;
  background-color: #ffffff;
  @include box-shadow(0, 0, 10, .3);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}