/* The Circle Radio Button */
.colors {
  .circle-radio-btn {
    border: 2px solid;
    border-color: transparent;
    &.active {
      border-color: $primary-color;
      border-radius: 100%;
    }
  }
}

.radio-img {
  .circle-radio-btn {
    padding-left: 0;
    img {
      border: 2px solid;
      border-color: transparent;
      border-radius: 100%;
      //width: 100%;
      width: 70px;
      height: auto;
    }
    .radio-img-title {
      display: block;
      padding-top: 5px;
    }
    &.active {
      img {
        border-color: $primary-color;
      }
      .radio-img-title {
        color: $primary-color;
      }
    }
  }
}

.circle-radio-btn {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 16px;
  cursor: pointer;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked {
      ~ .checkmark:after {
        display: block;
      }

      ~ .checkmark {
        background-color: transparent;
        border: 2px solid $text-color;
        border-radius: 100%;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12.5px;
    height: 25px;
    width: 25px;
    border: 2px solid $text-color;
    border-radius: 100%;
    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 4px;
      left: 4px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: $primary-color;
    }
  }

  &:hover {
    input ~ .checkmark {
      background-color: lighten($primary-color, 50%);
    }
  }

  .tp-icon {
    font-size: 12px;
  }

  &.cb-select {
    padding: 5px;
    @include transition-all(.2);

    i {
      opacity: 0;
      margin-left: -10px;
      color: $primary-color;
      font-size: 12px;
      @include transition-all(.2);
    }

    &.active {
      i {
        opacity: 1;
        margin-left: 0;
      }
    }

    &:hover {
      background-color: lighten($primary-color, 10%);
    }

    .cb-color {
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 2px;
    }
  }
}

/* Breakpoints - Radio-Button */
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - Radio-Button */

}

@media (max-width: 1429px) {
  /* Breakpoint - Radio-Button */

}

@media (max-width: 1297px) {
  /* Breakpoint - Radio-Button */

}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - Radio-Button */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
  /* Breakpoint lg - Radio-Button */

}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - Radio-Button */

}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - Radio-Button */
}

@media (max-width: 575px) {
  /* Breakpoint xs - Radio-Button */
  .radio-img {
    .circle-radio-btn {
      img {
        width: 50px;
      }
      .radio-img-title {
        font-size: 12px;
      }
    }
  }
}
/* ---------------------- */
/* ./Breakpoints - Radio-Button */