<a class="title-red" data-toggle="collapse" href="#collapseGift" aria-expanded="false" aria-controls="collapseGift">
    <i class="icon icon-gift d-flex"></i>
    <span>ХОЧУ ПОДАРОК</span>
</a>
<!-- Collapsible element -->
<div class="collapse animated fadeIn text-center{% if shoppingCart.gift %} show{% endif %}" id="collapseGift">
    <p class="text-center text-bold font-size-18">Выберите подарок</p>
    <div class="row justify-content-center mb-xl-0 mb-4">
    {% for gift in gifts%}
        <div class="col-auto">
            <div class="select-gift">
                <div class="gift-image">
                    <img src="../img/gifts/{{ gift.thumbnail }}" alt="" class="w-100">
                    <label class="red-checkbox big-checkbox mt-2">
                        <input type="radio" id="cleanChumSelect" name="gift" value="{{ gift.id }}"{% if shoppingCart.gift %}{% if shoppingCart.gift.id == gift.id %} checked{% endif %}{% endif %}>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <a href="#!">{{gift.name}}</a>
            </div>
        </div>
    {% endfor %}
{#        <div class="col-auto">#}
{#            <div class="select-gift">#}
{#                <div class="gift-image">#}
{#                    <img src="../img/gifts/microfibra.jpg" alt="" class="w-100">#}
{#                    <label class="red-checkbox big-checkbox mt-2">#}
{#                        <input type="radio" id="microfibraSelect"  name="gift" value="1">#}
{#                        <span class="checkmark"></span>#}
{#                    </label>#}
{#                </div>#}
{#                <a href="#!">Тряпка замша</a>#}
{#            </div>#}
{#        </div>#}

{#        <div class="col-auto">#}
{#            <div class="select-gift">#}
{#                <div class="gift-image">#}
{#                    <img src="../img/gifts/pen.jpg" alt="" class="w-100">#}
{#                    <label class="red-checkbox big-checkbox mt-2">#}
{#                        <input type="radio" id="pen"  name="gift" value="1">#}
{#                        <span class="checkmark"></span>#}
{#                    </label>#}
{#                </div>#}
{#                <a href="#!">Тряпка замша</a>#}
{#            </div>#}
{#        </div>#}

    </div>
</div>
<!-- / Collapsible element -->