{#{{ dump(twig_variables.shoppingCart.items) }}#}
{#{{ dump(twig_variables.shoppingCart.getItemsQuantity) }}#}
{% for item in shoppingCatItems %}
{#    {{ twig_variables.shoppingCart.getShoppingCartItemParams() }}#}

<div  class="shopping-cart-item" item-id="{{ item.id }}">
    <div class="row">
{#        <div class="col-md-3 col-sm-4 col-12 vcenter justify-content-center justify-content-sm-start configurator">#}
        <div class="col-md-3 col-sm-4 col-12 vcenter justify-content-start configurator">
            <div class="configurator-images {{ item.product.id }}">
                <div class="configurator-image">
                    <div class="image-group">

{#                        {% for image in item.images %}#}
{#                         {{ dump(item.params)}} #}
                        {% for  key, value in item.images %}

                            <img src="{{value['path']}}" alt="" class="{{ value['class'] }}">
                        {% endfor %}
{#                        <img src="/img/configurator/{{ item.product.category.slug }}/{{ item.product.category.slug  == 'folders'  ? item.product.description ~ '/' }}{{ item.product.id  == '401'  ? 'na-spinku' ~ '/' }}{{ item.product.id  == '402'  ? 'pod-kreslo' ~ '/' }}{% if item.product.category.slug  == 'mantles' %}{{ item.params["mantle-types"] }}{% else %}material-color{% endif %}/{% if item.product.category.slug  == 'mantles' %}{{ item.params["okantovka-type"] }}/{% endif %}{{ item.product.id  == '301'  ? 'romb' ~ '/' }}{{ item.product.id  == '302'  ? 'soty' ~ '/' }}{{ item.params['material-color'] }}.{%   if item.product.category.slug  == 'mantles' or item.product.category.slug  == 'carpets' or item.product.category.slug  == 'for_kids' %}jpg{% else %}png{% endif %}" alt="" class="bag-material-color">#}
{#                        {% if 'thread-color' in item.params|keys %}#}
{#                            <img src="/img/configurator/{{ item.product.category.slug }}/{{ item.product.category.slug  == 'folders'  ? item.product.description ~ '/' }}{{ item.product.id  == '401'  ? 'na-spinku' ~ '/' }}{{ item.product.id  == '402'  ? 'pod-kreslo' ~ '/' }}thread-color/{{ item.params['thread-color'] }}.png" alt="" class="bag-thread-color">#}
{#                        {% endif %}#}
{#                        <img src="/img/configurator/{{ item.product.category.slug }}/{{ item.product.category.slug  == 'folders'  ? item.product.description ~ '/' }}{{ item.product.id  == '401'  ? 'na-spinku' ~ '/' }}{{ item.product.id  == '402'  ? 'pod-kreslo' ~ '/' }}{% if item.product.category.slug  == 'mantles' %}okantovka/{% else %}border-color/{% endif %}{% if item.product.category.slug  == 'mantles' %}{{ item.params["okantovka-type"] }}/{% endif %}{{ item.params['border-color'] }}.png" alt="" class="bag-border-color">#}
{#                        {{  dump(item.params) }}#}
{#                        {% if 'auto-brand' in item.params|keys %}#}
{#                            {% if item.params['auto-brand'] != 'without_logo' %}#}
{#                                <img src="/img/configurator/{{ item.product.category.slug }}/auto-brands/{{ item.params['auto-brand'] }}.png" alt="" class="bag-logo {%   if item.product.category.slug  == 'folders'%}folder-logo{% endif %}">#}
{#                            {% endif %}#}
{#                        {% endif %}#}
{#                        {% if 'carpets-shildik' in item.params|keys %}#}
{#                            <img src="/img/configurator/carpets/{{  item.params['carpets-shildik'] }}.png" alt="" class="carpet-shildik">#}
{#                        {% endif %}#}
{#                        {% if 'carpets-podpyatnik' in item.params|keys %}#}
{#                            <img src="/img/configurator/carpets/{{  item.params['carpets-podpyatnik'] }}.png" alt="" class="carpet-shildik">#}
{#                        {% endif %}#}
                        {# <img src="/img/configurator/bags/size.png" alt="" class="bag-size">#}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-md-5 col-sm-8 col-12 mr-auto vcenter">
            <div class="cart-item-description">
{#                {{ item.product }}#}
                <p class="text-bold mb-2 mb-sm-3 text-uppercase"> {{ item.product.name }} </p>
{#                {{ dump(item.getShoppingCartItemParams) }}#}
                {% for key, param in item.params  %}
                    {% if key not in ['name', 'quantity'] %}
                        {% if param  %}
                            {%  if key != 'images'%}
                                <p>{{ key | trans({'%key%': key}, "cart") }} — {{ param | trans({'%param%': param}, "cart") }}</p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3 col-auto vcenter justify-content-end mr-auto mr-lg-0">
            <div class="d-sm-flex d-md-block">
                <div class="vcenter mr-4 mr-md-0">
                    {% if item.product.priceWithoutDiscount == item.product.price %}
                        <p class="shopping-cart-old-price ml-1 pl-4" id="oldPrice{{ item.id }}">   </p>
                    {% else %}
                        <p class="shopping-cart-old-price" id="oldPrice{{ item.id }}">{{ item.product.priceWithoutDiscount * item.quantity }}</p>
                    {% endif %}
                    <p class="shopping-cart-new-price" id="newPrice{{ item.id }}">{{ item.price * item.quantity }} <span class="small">руб.</span></p>
                </div>
                <div class="vcenter justify-content-start justify-content-sm-end">
                    {% include 'product/inc/modals/change_quantity.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-lg-auto col-sm-1 col-auto vcenter delete-item">
            <a href="#!" class="remove-item" item-id="{{ item.id }}"><i class="icon icon-delete"></i></a>
        </div>
    </div>
</div>
{% endfor %}
{#<div class="shopping-cart-item">#}
{#    <div class="row">#}
{#        <div class="col-md-3 col-sm-4 col-12 vcenter">#}
{#            <img src="img/shopping-cart/product-02.png" alt="" class="w-100 mx-w-150 m-auto">#}
{#        </div>#}
{#        <div class="col-xl-3 col-md-5 col-sm-8 col-12 mr-auto vcenter">#}
{#            <div class="cart-item-description mb-0">#}
{#                <p class="text-bold mb-0">Саквояж</p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-3 col-auto vcenter justify-content-end mr-auto mr-lg-0">#}
{#            <div class="">#}
{#                <div class="vcenter">#}
{#                    <p class="shopping-cart-old-price">5900</p>#}
{#                    <p class="shopping-cart-new-price">3150 <span class="small">руб.</span></p>#}
{#                </div>#}
{#                <div class="item-quantity vcenter ml-0 ml-sm-auto">#}
{#                    <a class="btn-decrease"><i class="icon icon-minus"></i></a>#}
{#                    <input type="text" class="form-control" name="item-quantity" value="1">#}
{#                    <a class="btn-increase"><i class="icon icon-plus"></i></a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-auto col-sm-1 col-auto vcenter delete-item">#}
{#            <a href="#!"><i class="icon icon-delete"></i></a>#}
{#        </div>#}
{#    </div>#}
{#</div>#}