<div class="bg_block1" style="background-image:url('/img/banners/bg_block_bags.jpg')">
    <div class="container">
        <h2 style="text-transform: unset">Саквояж от CarStoris - отличный подарок
            вам и вашему автомобилю </h2>
        <div class="home__map-description container">
            <p>Каждый автовладелец время от времени или ежедневно сталкивается с ситуацией нехватки свободного места в багажнике. Еще более неприятный осадок остается от ситуации, когда в процессе езды по багажнику то и дело самопроизвольно перемещаются разбросанные вещи и инструменты. Так или иначе, чистота и порядок в багажнике автомобиля – мечта каждого автолюбителя, ведь создав максимально комфортные и благоприятные условия и ехать легче.</p>
            <p>Если Вы хотите раз и навсегда избавиться от постоянного бардака в багажнике своего авто, а так же дополнить его интерьер стильным и оригинальным органайзером, то эффективным и привлекательным выходом из ситуации станет покупка качественного саквояжа. Это вместительное стильное и доступное изделие, которое не имеет ничего общего с саквояжами из обычных автомобильных магазинов.</p>
        </div>
        {#
            <p>Максимально улучшить уровень комфорта и расширить возможности транспортного средства можно купив для себя и своей машины какой-либо полезный аксессуар, который каждый раз будет радовать не только глаза, но и своим функционалом. Это могут быть и саквояж в багажник и накидки на сиденья, и eva коврики, и другие полезные и интересные автомобильные аксессуары. Аксессуары для авто выступают в качестве украшения салона, позволяют придать облику машины эксклюзивности, а также повышают уровень комфорта для водителя и пассажиров. Помимо этого даже такой незначительный аксессуар как новый автомобильный коврик, позволит усилить приятные ощущения от езды в автомобиле.</p>
            <p>Подбирая аксессуар для автомобиля, стоит понимать, что на сегодняшний день на рынке представлено множество различных изделий, как типовых, так и выполненных по индивидуальному заказу. Принимая решение купить аксессуары, которые производятся с учетом типового дизайна, подчеркнуть индивидуальность авто удастся едва ли. К тому же, в большинстве своем, подобные изделия отличаются не самым высоким качеством. А вот аксессуары для автомобиля на заказ от компании «Сarstoris» – это гарантия безупречного качества, оригинальности и эксклюзивности каждого изделия.</p>
        #}
        <form id="orderWithDiscountForm">
            <div class="row">
                <div class="col-lg col-12">
                    <input type="text" name="" form-data="nameorderWithDiscountForm" placeholder="Ваше имя" class="input_text_transparent">
                </div>
                <div class="col-lg col-12 pt-2 pt-lg-0">
                    <input type="tel" name="user_phone" id="orderWithDiscountPhone" form-data="phoneorderWithDiscountForm" placeholder="Номер телефона" class="input_text_transparent phone-no">
                </div>
                <div class="col-lg col-12 pt-3 pt-lg-0">
                    <input type="button" name="" id="orderWithDiscount" value="Заказать со скидкой" class="input_btn_red">
                    {#                    <input type="button" name="" id="orderWithDiscount" value="Заказать со скидкой" data-toggle="modal" data-target="#discountInfoModal" class="input_btn_red">#}
                    <span class="soglasie col-lg-12 col-sm-5 col-9 m-auto">нажимая на кнопку, вы даете согласие на обработку персональных данных</span>
                </div>
            </div>
        </form>
    </div>
</div>