<div class="bg_block1" style="background-image:url('/img/banners/bg_block2.jpg')">
    <div class="container">
        <h2 style="text-transform: unset">Накидки от CarStoris - отличный подарок
            вам и вашему автомобилю </h2>
        <div class="home__map-description container">
            <div class="home__map-description container">
                <p>Каждый водитель стремится создать стильный и презентабельный интерьер в салоне своего автомобиля. Сохранить эстетически привлекательный внешний вид сидений и придать им элегантности можно используя специальные накидки, которые могут быть выполнены из самых различных материалов, с использованием разных цветов материала, нитей и окантовки. Если Вы привыкли использовать только самые качественные автомобильные аксессуары, то лучшим решением станут автомобильные накидки из Алькантары. Это аксессуар класса «премиум», который позволит создать атмосферу максимального комфорта в любой машине.</p>
                <p>Кстати о комфорте. Наверняка, каждый владелец автомобилей с кожаным салоном знаком с ситуацией, когда в зимнее время сиденье холодное и долго греется, а летом - наоборот, к нему все липнет. Накидки из Алькантары – отличный вход из ситуации. Они являются настолько приятными на ощупь, что к ним хочется прикасаться снова и снова. Таким образом, Вы сможете чувствовать себя в автомобиле максимально комфортно вне зависимости от времени года.</p>
            </div>
        </div>
        {#
            <p>Максимально улучшить уровень комфорта и расширить возможности транспортного средства можно купив для себя и своей машины какой-либо полезный аксессуар, который каждый раз будет радовать не только глаза, но и своим функционалом. Это могут быть и саквояж в багажник и накидки на сиденья, и eva коврики, и другие полезные и интересные автомобильные аксессуары. Аксессуары для авто выступают в качестве украшения салона, позволяют придать облику машины эксклюзивности, а также повышают уровень комфорта для водителя и пассажиров. Помимо этого даже такой незначительный аксессуар как новый автомобильный коврик, позволит усилить приятные ощущения от езды в автомобиле.</p>
            <p>Подбирая аксессуар для автомобиля, стоит понимать, что на сегодняшний день на рынке представлено множество различных изделий, как типовых, так и выполненных по индивидуальному заказу. Принимая решение купить аксессуары, которые производятся с учетом типового дизайна, подчеркнуть индивидуальность авто удастся едва ли. К тому же, в большинстве своем, подобные изделия отличаются не самым высоким качеством. А вот аксессуары для автомобиля на заказ от компании «Сarstoris» – это гарантия безупречного качества, оригинальности и эксклюзивности каждого изделия.</p>
        #}
        <form id="orderWithDiscountForm">
            <div class="row">
                <div class="col-lg col-12">
                    <input type="text" name="" form-data="nameorderWithDiscountForm" placeholder="Ваше имя" class="input_text_transparent">
                </div>
                <div class="col-lg col-12 pt-2 pt-lg-0">
                    <input type="tel" name="user_phone" id="orderWithDiscountPhone" form-data="phoneorderWithDiscountForm" placeholder="Номер телефона" class="input_text_transparent phone-no">
                </div>
                <div class="col-lg col-12 pt-3 pt-lg-0">
                    <input type="button" name="" id="orderWithDiscount" value="Заказать со скидкой" class="input_btn_red">
                    {#                    <input type="button" name="" id="orderWithDiscount" value="Заказать со скидкой" data-toggle="modal" data-target="#discountInfoModal" class="input_btn_red">#}
                    <span class="soglasie col-lg-12 col-sm-5 col-9 m-auto">нажимая на кнопку, вы даете согласие на обработку персональных данных</span>
                </div>
            </div>
        </form>
    </div>
</div>