@import "carstoris/mixin.scss";
@import "carstoris/body.scss";
@import "carstoris/menu.scss";
@import "carstoris/content.scss";
@import "carstoris/components.scss";
@import "carstoris/forms.scss";
@import "carstoris/swiper.scss";
@import "carstoris/colors.scss";
@import "carstoris/animations.scss";
@import "carstoris/map.scss";
@import "carstoris/product.scss";
@import "carstoris/footer.scss";
@import "carstoris/utilities";
@import "carstoris/navigation";
@import "carstoris/template-styles";
.not-valid{
  border-color: #d49d9d;
  box-shadow: 0 0 10px red;
}
.payment-terms{
  padding-top: 37px;
}
.hidden{
  display: none!important;
}
[name="model-avto"], [name="god-vypuska-avto"]{
  padding-left: 7px;
}
.selected {
  color: #4d81c1;
  border-bottom: dotted 2px #4d81c1;
}
#accordionCdekList button.btn.btn-link, #accordionCdekList button.btn.btn-link{
    text-transform: none;
    margin: 0;
    width: 100%;
    text-align: left;
    color: #4d4d4d!important;
}
.gift-image{
  cursor: pointer;
}
.suggestions-input{
  max-width: 600px;
  margin: auto;
}
.btn-link-small {
  padding: 5px 10px;
}

.podlozhka{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0008;
  z-index: 1099;
}
.contact-choose-navigator>.close {
  position: absolute;
  right: 8px;
  top: 5px;
}

@media (max-height: 820px) {
  .modal-content{
    max-height: none;
  }
}
.error-input{
  border: 1px solid red!important;
}
@media (min-width: 570px ) {
  .med-and-hi-float-right{
    float:right;
  }
  .med-and-hi-float-left{
    float:left;
  }
}

@media (max-width: 540px) {
  .product-description__item-image_even img, .product-description__item-image img{
    width: 100%;
  }
}
@media (max-width: 540px) {
  .product-description__item-image_even img, .product-description__item-image img{
    width: 100%;
  }
  div.contact-choose-navigator {
    position: absolute;
    width: 90vw;
    left: 5%;
    right: 5%;
    top: -50%;
    margin: auto;
    min-width: 200px;
    box-shadow: 2px 2px 15px #0003;
    text-align: center;
    height: auto;
    padding: 20px;
    background-color: white;
    z-index: 1100;
  }
  .modal-content{
    max-height: fit-content;
  }
}
//#accordionCdekList .card.z-depth-0.bordered {
//  padding: 5px;
//}

.line1 {
  display: block;
  position: absolute;
  background: #fff4;
  width: 50px;
  height: 100px;
  top: -28px;
  left: -90px;
  transform: rotate(45deg);
  animation-name: flash;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.small{
  font-size: .95rem;
  font-weight: 400;
}
.saddle-modal-podlozhka{
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #0005;
  z-index: 1000;
}
.info-circle{
  position: absolute;
  right: 29px;
  top: 5px;
  border: 1px solid grey;
  border-radius: 50%;
  width: 23px;
  text-align: center;
  height: 23px;
  line-height: 1.3rem;
}

.line2 {
  display: block;
  position: absolute;
  background: #fff3;
  width: 12px;
  height: 100px;
  top: -28px;
  left: -90px;
  transform: rotate(45deg);
  animation-name: flash;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
select[name="marka-avto"]{
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 4px);
  padding: .375rem 1.75rem .375rem .75rem;
  //font-size: .90rem;
  line-height: 1;
  cursor: pointer;
  color: #4D4D4D;
  font-size: 1rem;
  vertical-align: middle;
  border: 2px solid #b3b3b3;
  background: #fff url(/img/svg/select-arrow.svg) no-repeat right 0.75rem center/17px 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media (min-width: 576px){
      .city-modal{
        max-width: 80%;
        margin: auto;
      }
    }
.city-list li{
  margin-top: 8px;
  font-size: 0.85rem;
  list-style-type: none;
}
.largest-city-list li{
  list-style-type: none;
}
.suggestion-result {
  position: absolute;
  background-color: white;
  padding: 0 8px 8px 8px;
  width: calc(50% - 16px);
  border: 1px solid #8080804d;
  margin-right: 22px;
  box-shadow: 5px 5px 10px #0005;
}
.change-city-result{
  padding: 3px;
  border-bottom: 1px solid #ff354726;
  cursor: pointer;
}
.change-city-result:hover{
  color: #007bff;
}

@keyframes flash {
  0% {  }
  30% { transform: rotate(45deg) translate3d(0, 0, 0); }
  100% { transform: translate3d(500px, 0, 0); }
}
//.line2 {
//  display: block;
//  position: absolute;
//  background: #fff0;
//  width: 12px;
//  height: 100px;
//  top: -24px;
//  left:-300%;
//  transform: rotate(45deg);
//  animation-name: flash;
//  animation-duration: 500ms;
//  animation-iteration-count: infinite;
//  animation-fill-mode: forwards;
//}
//select[name="marka-avto"]{
//  display: inline-block;
//  width: 100%;
//  height: calc(1.5em + .75rem + 4px);
//  padding: .375rem 1.75rem .375rem .75rem;
//  //font-size: .90rem;
//  line-height: 1;
//  cursor: pointer;
//  color: #4D4D4D;
//  font-size: 1rem;
//  vertical-align: middle;
//  border: 2px solid #b3b3b3;
//  background: #fff url(/img/svg/select-arrow.svg) no-repeat right 0.75rem center/17px 13px;
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  appearance: none;
//}
//@keyframes flash {
//  0% {  }
//  40% {  }
//  50% { background: #fff7 }
//  100% { background: #fff0; width: 300px; height: 300px; left: -50px; top: -120px}
//}