<div class="product-review pb-0">
    <p class="h2-responsive text-center head_line mb-0 mb-md-2">Премиум саквояжи от CarStoris </p>
{#    <ul class="nav v2 nav-tabs" id="productReview" role="tablist">#}
{#        <li class="nav-item">#}
{#            <a class="nav-link active" id="reviewTab" data-toggle="tab" href="#review" role="tab" aria-controls="review"#}
{#               aria-selected="true">Обзор</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" id="installationTab" data-toggle="tab" href="#installation" role="tab" aria-controls="installation"#}
{#               aria-selected="false">Сборка</a>#}
{#        </li>#}
{#    </ul>#}
    <div class="tab-content" id="productReviewContent">
        <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="reviewTab">
            <div class="container p-0">
                 <img src="/img/products/bags/boxes-revew.jpg"  alt="" class="tem-folder-video img-fluid">
            </div>
{#            <iframe width="100%" height="600" src="https://www.youtube.com/embed/JJbRUmVQTTU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
        </div>
        <div class="tab-pane fade" id="installation" role="tabpanel" aria-labelledby="installationTab">
            <div class="container p-0">
                {# <img src="img/temp-boxes.jpg"  alt="" class="tem-folder-video img-fluid"> #}
            </div>
{#            <iframe width="100%" height="600" src="https://www.youtube.com/embed/cP4v5bxBP68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
        </div>
    </div>
</div>