<div class="product-description">
    <div class="container">
        <p class="product-description__title">5 причин, почему стоит обратить свое внимание на саквояж для автомобиля</p>
        <p class="product-description__subtitle">Как уже отмечалось ранее, саквояж в машину – невероятно полезный аксессуар, который гарантированно по достоинству оценит любой автолюбитель. В нем можно с максимальным удобством разметить вещи, которые находятся в багажнике и необходимы для каждодневных поездок.</p>
        <p class="product-description__subtitle">Рассмотрим 5 преимуществ, которые невозможно не разглядеть в саквояже для багажника:</p>
    </div>
    <div class="product-description__items">
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="product-description__item-image">
                        <img class="float-right" src="/img/products/descriptions/bags/01.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-description__item-text v2">
                        <p><b>Индивидуальный стиль.</b> Внешне органайзер выглядит очень стильно и гарантированно станет прекрасным дополнением интерьера багажника любого автомобиля. Мы производим саквояжи в различных цветовых исполнениях, с использованием уникальных нитей и окантовки. Цвет саквояжа можно подобрать самостоятельно, воспользовавшись онлайн-конструктором на нашем сайте. При необходимости, на изделие можно добавить логотип авто.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12 order-md-2">
                    <div class="product-description__item-image_even">
                        <img class="float-left" src="/img/products/descriptions/bags/02.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12 order-md-1">
                    <div class="product-description__item-text_even v2">
                        <p><b>Безупречное качество.</b> Каждый саквояж – это результат ручной работы. В процессе производства изделия используется исключительно качественная экокожа, которая предназначена для использования в автомобиле. Благодаря усиленному каркасу изделия, саквояж сможет выдержать нагрузку до 30 кг.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="product-description__item-image">
                        <img class="float-right" src="/img/products/descriptions/bags/03.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-description__item-text v2">
                        <p><b>Вместительность.</b> Несмотря на то, что органайзер для багажника выполнен в оригинальном дизайне, он является достаточно вместительным, что позволит навести полный порядок в багажнике автомобиля буквально за минуту.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12 order-md-2">
                    <div class="product-description__item-image_even">
                        <img class="float-left" src="/img/products/descriptions/bags/04.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12 order-md-1">
                    <div class="product-description__item-text_even v2">
                        <p><b>Экологическая чистота.</b> Все материалы, которые используются в процессе производства изделия, отличаются экологической чистотой и в полной мере соответствуют установленным стандартам и нормам.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="product-description__item-image">
                        <img class="float-right" src="/img/products/descriptions/bags/05.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-description__item-text v2">
                        <p><b>Оригинальность.</b> Уникальный дизайн и эстетически привлекательный внешний вид саквояжа привлекателен как для мужчин, так и для женщин. В ситуации со сложностями подбора качественного подарка для друга или знакомого автолюбителя – саквояж для авто станет самым неожиданным и оригинальным решением. Такой подарок 100% попадет в точку!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-5">
        <p class="product-description__subtitle">Удивительно, но купить такой саквояж можно всего за 3450 рублей. Если Вам интересна модель без автомобильного шильдика, то изделие обойдется на 300 рублей дешевле (3150р). Мы высоко ценим каждого своего клиента, поэтому, при покупке саквояжа Вы всегда можете рассчитывать на приятный бонус в виде скидки при оформлении заказа.</p>
    </div>
</div>