<div class="carpet-info grey-gradient-bg">
    <div class="content p-0 m-0">
        <div class="container">
            <p class="text-center head_line h2-responsive red_text">3 причины приобрести накидки от CarStoris</p>
            <div class="row no-gutters justify-content-center justify-content-md-between pt-3">
                <div class="col-md-3 col-sm-5 col-9 p-3 p-md-0">
                    <div class="info-icon v2">
                        <div class="icon-circle">
                            {% include 'mantle/template-parts/svg/3-reasons-1.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text-2">Сохранить заводской внешний вид салона автомобиля</p>
                </div>
                <div class="col-md-3 col-sm-5 col-9 p-3 p-md-0">
                    <div class="info-icon v2">
                        <div class="icon-circle">
                            {% include 'mantle/template-parts/svg/3-reasons-2.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text-2">Продать автомобиль в среднем на 10%дороже за счет обновленного вида салона</p>
                </div>
                <div class="col-md-3 col-sm-5 col-9 p-3 p-md-0">
                    <div class="info-icon v2">
                        <div class="icon-circle">
                            {% include 'mantle/template-parts/svg/3-reasons-3.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text-2">Придать салону вид нового автомобиля с более дорогой комплектацией</p>
                </div>
            </div>
        </div>
    </div>
</div>