<div class="product-video">
    <div class="content">
        <div class="container pb-0 pb-sm-5">
            <p class="h2-responsive text-center head_line">Легкая самостоятельная установка</p>
            <iframe width="100%" height="600" src="https://www.youtube.com/embed/S7Vdft_ExrA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>