<!-- Swiper -->
<div class="fp swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide v4">
            <img src=".././img/fp-slider/mantle-slider-01.jpg" alt="">
            <div class="container">
                <div class="caption">
                    <div>
                        <div class="caption-text">
                            <p>Главное - это комфорт. Летом жарко, зимой холодно.</p>
                            <p>Особенно это знакомо владельцам автомобилей с кожаным салоном.</p>
                            <p>Накидки из алькантары - позволяют чувствовать себя комфортно в любую погоду.</p>
                        </div>
                        <button class="btn btn-main">получить скидку</button>
                    </div>
                </div>
            </div>
            <div class="caption-bg">
                <div class="bg-1"></div>
            </div>
        </div>
        <div class="swiper-slide v4">
            <img src=".././img/fp-slider/fp-slider-02.jpg" alt="">
        </div>
        <div class="swiper-slide v4">
            <img src=".././img/fp-slider/fp-slider-03.jpg" alt="">
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="fp swiper-pagination"></div>
</div>