<!-- Modal -->
<div class="modal fade" id="becomeDealerModal" tabindex="-1" role="dialog" aria-labelledby="becomeDealerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="icon icon-cross"></i>
            </button>
            <div class="modal-body py-5">
                {#                {{ form_start(articleForm) }}#}
                {#                {{ form_widget(articleForm) }}#}
                {#                <button type="submit" class="btn btn-primary">Create!</button>#}
                {#                {{ form_end(articleForm) }}#}
                <form id="becomeDealerModalForm">
                    <div class="text-center">
                        <input type="text" name="user_name" form-data="namebecomeDealerModalForm"  placeholder="Ваше имя" class="input_text_transparent input-dark mb-3"><br/>
                        <input type="tel" name="user_phone" form-data="phonebecomeDealerModalForm" required placeholder="Номер телефона" class="input_text_transparent input-dark mb-3 phone-no"><br/>
                        <input type="button"  name="become-Dealer-modal" value="Жду звонка" id="becomeDealerModalBtn" class="btn btn-main w-220p m-0 mb-2 px-4">
                        <span class="soglasie col-sm-6 col-9 m-auto">нажимая на кнопку, вы даете согласие на обработку персональных данных</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>