/* Body */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext");
body {
  font-family: "PT Sans", sans-serif;
  color: #4d4d4d;
}

.vcenter {
  display: flex;
  align-items: center;
}

.content .lines {
  border-style: dashed;
  border-color: #d90f31;
  border-width: 0;
  border-top-width: 2px;
  width: 100px;
  margin: auto;
}

@media (max-width: 768px) {
  body {
    top: 104px;
    position: relative;
  }
}
/* /Body */
/* Menu */
.top-menu, .main-menu {
  font-size: 18px;
}
.top-menu a, .main-menu a {
  line-height: 1.2;
  color: #4d4d4d;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.top-menu a:hover, .main-menu a:hover {
  color: #d90f31;
}

.top-menu {
  background-color: #ffffff;
}
.top-menu.navbar {
  padding: 10px 15px;
}
.top-menu.navbar .navbar-nav {
  justify-content: center;
}
.top-menu.navbar .navbar-nav .nav-item .nav-link {
  padding: 8px 24px;
}
.top-menu.navbar .navbar-brand {
  padding: 0;
}
.top-menu .cart-info a {
  display: block;
}
.top-menu .cart-info .shopping-cart {
  position: relative;
}
.top-menu .cart-info .shopping-cart .cart-item-no {
  position: absolute;
  right: 0;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  border: 1px solid #d90f31;
  color: #d90f31;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2px;
  background-color: #ffffff;
}
.top-menu .cart-info .cart-item-text {
  padding-left: 5px;
  padding-top: 5px;
}
.top-menu .cart-info .cart-item-text a.total-amount {
  color: #d90f31;
  font-size: 12px;
  font-weight: 700;
}

.main-menu {
  background-color: #F7F6F9;
}
.main-menu .navbar-nav {
  justify-content: space-between;
}
.main-menu .navbar-nav .nav-item .nav-link {
  padding: 30px 0;
  overflow: visible;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link:hover, .navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #d90f31;
}

@media (max-width: 768px) {
  .top-nav-collapse .cart-info {
    display: none;
  }

  .top-menu.navbar .navbar-nav .nav-item .nav-link {
    text-align: right;
  }

  .top-menu.navbar .navbar-nav .sub-menu .nav-link {
    padding: 5px 20px;
  }

  .sub-menu {
    padding: 0 20px 0 0;
    list-style: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}
/* /Menu */
/* Content */
.content {
  margin-top: 60px;
  padding: 40px 0;
}

.preim_block img {
  margin: 0 auto auto;
  display: block;
  height: 120px;
}
.preim_block span {
  display: block;
  text-align: center;
  font-size: 14px;
}

.map-svg {
  position: relative;
}
.map-svg svg {
  width: 1000px;
  height: 500px;
  position: absolute;
  right: -300px;
  top: -80px;
}

.map_text {
  margin-top: 40px;
  height: 430px;
}
.map_text p {
  font-size: 20px;
  margin-bottom: 25px;
}

.icon_tk {
  margin-right: 20px;
}

.bg_block1 {
  padding: 140px 0;
  background-image: url(/img/banners/bg_block1.jpg);
  color: #fff;
  margin-bottom: 50px;
}
.bg_block1 h2 {
  text-transform: uppercase;
  text-align: center;
  max-width: 800px;
  margin: auto;
}
.bg_block1 h2::after {
  content: "";
  display: block;
  width: 100px;
  border-bottom: 2px dashed #d90f31;
  margin: 20px auto 30px;
}
.bg_block1 p {
  color: #fff;
  font-size: 22px;
  letter-spacing: 1.1px;
  text-align: center;
  font-weight: 100;
  margin-bottom: 50px;
}
.bg_block1 form {
  text-align: center;
}

.soglasie {
  display: block;
  font-size: 10px;
}

.home_video {
  padding-bottom: 50px;
}

.home_slider {
  background-color: #f2f2f2;
  padding: 50px 0 20px;
}

/*.home_insta_block {*/
/*  padding: 30px 0;*/
/*}*/
/*.home_insta_block .ig-posts .ig-post-item {*/
/*  margin-right: 5px;*/
/*  position: relative;*/
/*}*/
/*.home_insta_block .ig-posts .ig-post-item img {*/
/*  border: 2px solid #CCCCCC;*/
/*}*/
/*.home_insta_block .ig-posts .ig-post-item .caption {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background-color: rgba(0, 0, 0, 0.5);*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  color: #fff;*/
/*  opacity: 0;*/
/*  -webkit-transition: all 0.3s ease-out;*/
/*  -moz-transition: all 0.3s ease-out;*/
/*  -o-transition: all 0.3s ease-out;*/
/*  transition: all 0.3s ease-out;*/
/*  cursor: pointer;*/
/*  text-decoration: unset;*/
/*}*/
/*.home_insta_block .ig-posts .ig-post-item .caption span {*/
/*  font-weight: 700;*/
/*}*/
/*.home_insta_block .ig-posts .ig-post-item .caption span:first-letter {*/
/*  text-transform: uppercase;*/
/*}*/
/*.home_insta_block .ig-posts .ig-post-item:hover .caption {*/
/*  opacity: 1;*/
/*}*/

.categories span {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #00000091;
  text-align: center;
  height: 30px;
  font-size: 20px;
  line-height: 39px;
  transition: 300ms all ease;
}
.categories span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  content: "";
  width: 100%;
  height: 35px;
  background-image: linear-gradient(to top right, transparent 48%, #00000091 2%, #00000091 50%), linear-gradient(to top left, transparent 48%, #00000091 2%, #00000091 50%);
  background-position: top left, top right;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  transition: 300ms all ease;
}
.categories a {
  position: relative;
  display: block;
  width: fit-content;
  margin: auto;
  color: #ffffff;
}
.categories a:hover span {
  height: 50px;
}
.categories a:hover span:before {
  top: 50px;
}

.page {
  min-height: 300px;
  font-size: 30px;
  padding-top: 100px;
}

.home_photo {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .map-svg svg {
    display: none;
  }

  .bg_block1 {
    padding: 30px 0;
  }

  .bg_block1 h2 {
    font-size: 22px;
  }
  .bg_block1 p {
    font-size: 17px;
  }
}
/* /Content */
/* Components */
/* Buttons */
.btn.btn-main {
  background-color: #d90f31;
  color: #ffffff;
  text-transform: uppercase;
}

/* /Buttons */
.jumbotron.j-sm {
  padding: 12px;
  margin: 15px 0;
}
.jumbotron.j-sm .title {
  font-size: 18px;
}
.jumbotron.j-sm p {
  margin-bottom: 0;
  line-height: 1;
}

/* Forms */
/* Inputs */
.input_text_transparent {
  background: transparent;
  border: 2px solid #fff;
  padding: 10px;
  color: #fff;
  outline: none;
  vertical-align: middle;
  font-size: 17px;
}

.input_text_transparent::-webkit-input-placeholder {
  text-align: center;
  color: #fff;
  opacity: 1;
}

/* webkit */
.input_text_transparent::-moz-placeholder {
  text-align: center;
  color: #fff;
  opacity: 1;
}

/* Firefox 19+ */
.input_text_transparent:-moz-placeholder {
  text-align: center;
  color: #fff;
  opacity: 1;
}

/* Firefox 18- */
.input_text_transparent:-ms-input-placeholder {
  text-align: center;
  color: #fff;
  opacity: 1;
}

/* IE */
.input_text_transparent:focus::-webkit-input-placeholder {
  text-align: center;
  opacity: 0;
}

/* webkit */
.input_text_transparent:focus::-moz-placeholder {
  text-align: center;
  opacity: 0;
}

/* Firefox 19+ */
.input_text_transparent:focus:-moz-placeholder {
  text-align: center;
  opacity: 0;
}

/* Firefox 18- */
.input_text_transparent:focus:-ms-input-placeholder {
  text-align: center;
  opacity: 0;
}

/* IE */
.input_btn_red {
  background-color: #D90F31;
  color: #fff;
  border: none;
  padding: 16px 20px;
  font-size: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  margin-top: -5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.input_btn_red:hover {
  outline: 2px solid #d90f31;
}

@media (max-width: 768px) {
  .input_text_transparent {
    margin-bottom: 10px;
  }
}
/* /Inputs */
/* /Forms */
/* Custom Swiper */
.fp.swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
}
.fp.swiper-container .swiper-wrapper .swiper-slide .caption {
  position: absolute;
  top: 150px;
  font-weight: 700;
}
.fp.swiper-container .swiper-wrapper .swiper-slide .caption p {
  width: 70%;
  line-height: 1.2;
  color: #000000;
}
.fp.swiper-container .swiper-wrapper .swiper-slide .caption .btn.btn-main {
  font-size: 22px;
  float: right;
  margin-right: 35%;
  margin-top: -20px;
}
.fp.swiper-container .swiper-wrapper .swiper-slide .caption-bottom {
  position: absolute;
  bottom: 0;
  right: 20px;
}
.fp.swiper-container .swiper-wrapper .swiper-slide .caption-bottom p {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
.fp.swiper-container .swiper-wrapper .swiper-slide .lines {
  position: absolute;
  top: 210px;
  width: 100%;
}
.fp.swiper-container .swiper-wrapper .swiper-slide .lines .left {
  border-style: dashed;
  border-color: #d90f31;
  border-width: 0;
  border-bottom-width: 2px;
  border-right-width: 2px;
  width: 45%;
  height: 55px;
}
.fp.swiper-container .swiper-wrapper .swiper-slide .lines .right {
  border-style: dashed;
  border-color: #d90f31;
  border-width: 0;
  border-top-width: 2px;
  height: 55px;
  width: 25%;
}
.fp.swiper-container .swiper-wrapper .swiper-slide .lines * {
  display: inline-block;
}
.fp.swiper-container .swiper-pagination .swiper-pagination-bullet {
  background: #d90f31;
  border-radius: 0;
  width: 16px;
  height: 3px;
  opacity: 1;
}
.fp.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #ffffff;
}

.swiper_groups {
  overflow: hidden;
  position: relative;
}

.swiper_pagination_groups {
  text-align: center;
  padding-top: 10px;
}
.swiper_pagination_groups .swiper-pagination-bullet {
  background: #808080;
  border-radius: 0;
  width: 16px;
  height: 3px;
  opacity: 1;
}
.swiper_pagination_groups .swiper-pagination-bullet-active {
  background: #d90f31;
}

@media (max-width: 768px) {
  .fp.swiper-container .swiper-wrapper .swiper-slide .caption {
    top: 10px;
    left: 10px;
    right: 10px;
  }
  .fp.swiper-container .swiper-wrapper .swiper-slide .caption .btn.btn-main {
    margin-right: auto;
    margin-top: -20px;
    margin-left: auto;
    float: none;
    display: block;
  }
  .fp.swiper-container .swiper-wrapper .swiper-slide .caption p {
    width: 100%;
    text-align: center;
  }
  .fp.swiper-container .swiper-wrapper .swiper-slide .caption-bottom {
    display: none;
  }
}
/* /Custom Swiper */
/* Typography */
.text-bold, b {
  font-weight: 700;
}

p {
  color: #4d4d4d;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

a:hover, a:focus, a:active {
  color: #d4d4d4;
  text-decoration: underline;
}
a[data-fancybox] {
  display: block;
  position: relative;
}
a[data-fancybox]::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: url("/img/icons/lupa.svg"), #00000033;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
}
a[data-fancybox]:hover::after {
  display: block;
}
a.blue-link {
  color: #688cd4;
  text-decoration: underline;
}
a.pink-link {
  color: #d90f31;
  text-decoration: underline;
}

.head_line {
  font-weight: 700;
}
.head_line::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  border-bottom: 2px dashed #d90f31;
  margin: 10px auto 30px;
}

.font-size-18 {
  font-size: 18px;
}

iframe {
  max-width: 100%;
}

@media (max-width: 768px) {
  h2.head_line {
    font-size: 24px;
  }

  a[data-fancybox]::after {
    display: block;
  }
}
/* /Typography */
.red_text {
  color: #d90f31;
}

/* Animation */
/* --- Menu hover animations --- */
.hover_style_menu {
  position: absolute;
  display: block;
  width: auto;
  height: 24px;
  left: -50px;
  right: 0;
}
.hover_style_menu span:nth-child(1), .hover_style_menu span:nth-child(2), .hover_style_menu span:nth-child(3) {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.hover_style_menu span:nth-child(1)::after, .hover_style_menu span:nth-child(2)::after, .hover_style_menu span:nth-child(3)::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.2s;
}
.hover_style_menu span:nth-child(1)::after {
  height: 2px;
  border-bottom: 2px dashed #d90f31;
  transform: translateX(-100%);
}
.hover_style_menu span:nth-child(3)::after {
  height: 2px;
  transform: translateX(-100%);
  border-bottom: 2px dashed #d90f31;
  transition-delay: 0.4s;
}
.hover_style_menu:hover span:nth-child(1)::after, .hover_style_menu:hover span:nth-child(3)::after {
  transform: translateX(0);
}

.main-menu .nav-item:nth-child(odd) .hover_style_menu span:nth-child(1) {
  left: 7px;
  top: -24px;
  width: 40px;
  height: 2px;
}
.main-menu .nav-item:nth-child(odd) .hover_style_menu span:nth-child(2) {
  left: 5px;
  font-size: 20px;
  height: 24px;
  width: 2px;
}
.main-menu .nav-item:nth-child(odd) .hover_style_menu span:nth-child(2)::after {
  height: 24px;
  transform: translateY(-100%);
  border-left: 2px dashed #d90f31;
  transition-delay: 0.2s;
}
.main-menu .nav-item:nth-child(odd) .hover_style_menu span:nth-child(3) {
  left: 5px;
  bottom: 0;
  width: calc(100% - 50px);
  height: 2px;
}
.main-menu .nav-item:nth-child(odd) .hover_style_menu:hover span:nth-child(2)::after {
  transform: translateY(0);
}
.main-menu .nav-item:nth-child(even) .hover_style_menu span:nth-child(1) {
  left: 7px;
  top: 0;
  width: 40px;
  height: 2px;
}
.main-menu .nav-item:nth-child(even) .hover_style_menu span:nth-child(2) {
  left: 5px;
  font-size: 20px;
  height: 24px;
  width: 2px;
}
.main-menu .nav-item:nth-child(even) .hover_style_menu span:nth-child(2)::after {
  height: 24px;
  transform: translateY(100%);
  border-left: 2px dashed #d90f31;
  transition-delay: 0.2s;
}
.main-menu .nav-item:nth-child(even) .hover_style_menu span:nth-child(3) {
  left: 5px;
  bottom: 24px;
  width: calc(100% - 50px);
  height: 2px;
}
.main-menu .nav-item:nth-child(even) .hover_style_menu:hover span:nth-child(2)::after {
  transform: translateY(0);
}

/* Animation */
/* map of Russia - style */
.yuzhnyy_fo,
.sibirskiy_fo,
.severo_zapadnyy_fo {
  fill: transparent;
  pointer-events: all;
  fill-rule: nonzero;
  stroke: #818181;
  stroke-width: 1.99;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 22.9256;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.centralnyy_fo,
.priwolzhskiy_fo,
.uralskiy_fo,
.dalnewostochnyy_fo {
  fill: transparent;
  pointer-events: all;
  fill-rule: nonzero;
  stroke: #818181;
  stroke-width: 1.99;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 22.9256;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.city-marker {
  fill: #d90f31;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.city-text {
  fill: black;
  fill-rule: nonzero;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.yfo_shadow,
.sfo_shadow,
.szfo_shadow,
.cfo_shadow,
.pfo_shadow,
.ufo_shadow,
.dfo_shadow {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.dalnewostochnyy_fo:hover > .dfo_shadow {
  opacity: 1;
}

/* ./map of Russia - style */
/*--------------------------------*/
/* - map of Russia - Responsive - */
/* Breakpoint LG */
/* Breakpoint MD */
/* Breakpoint SM */
/* Breakpoint XS */
/* - map of Russia - Responsive - */
/*--------------------------------*/
/* Footer */
footer {
  background: #4a4a4a;
  background: radial-gradient(circle, #4a4a4a 9%, #3d3d3d 33%, #333333 100%);
  padding-top: 50px;
  color: #fff;
}
footer .btn_footer {
  font-size: 17px;
}
footer .footer_header_block {
  display: block;
  text-align: center;
  border-bottom: 2px dashed #d90f31;
  font-size: 17px;
  font-weight: 600;
  line-height: 35px;
}
footer .footer_block {
  display: block;
  margin: 20px 0;
  padding: 20px 0;
  position: relative;
}
footer .col:not(:last-child) .footer_block::after {
  display: block;
  content: "";
  min-height: 140px;
  border-right: 2px solid #ccc;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -15px;
}
footer .footer_center {
  padding-top: 50px;
}
footer .footer_bottom {
  text-align: center;
  border-top: 3px solid #fff;
  padding: 10px 15px;
}
footer .onpromo {
  height: 15px;
  vertical-align: baseline;
}
footer a {
  color: #ffffff;
}

/* /Footer */
/* Fonts */
@font-face {
  font-family: "untitled-font-1";
  src: url("/font/svg/untitled-font-1.eot");
  src: url("/font/svg/untitled-font-1.eot?#iefix") format("embedded-opentype"), url("/font/svg/untitled-font-1.woff") format("woff"), url("/font/svg/untitled-font-1.ttf") format("truetype"), url("/font/svg/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.icon-vs-vs-banktransfer:before {
  content: "a";
}

.icon-vs-vs-cach:before {
  content: "b";
}

.icon-vs-vs-cardpay:before {
  content: "c";
}

.icon-vs-vs-instagram:before {
  content: "d";
}

.icon-vs-vs-phone:before {
  content: "e";
}

.icon-vs-vs-vk:before {
  content: "f";
}

.icon-vs-vs-youtube:before {
  content: "h";
}

.icon-vs-vs-whatsapp:before {
  content: "i";
}

.icon {
  font-size: 14px;
  margin-right: 5px;
}

.big_icon {
  font-size: 26px;
  vertical-align: middle;
  margin-right: 10px;
}

/* /Fonts */

/*# sourceMappingURL=style.css.map */

.btn-add-input{
  position: absolute;
  right: 0;
  font-size: .8em;
}