{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block desc %}{{ desc }}{% endblock %}

{% block body %}
{#    {{ dump(app.session) }}#}
    {# Slider #}
    {% include 'product/inc/slider/' ~ slug ~ '-slider.html.twig' %}
    {# ./Slider #}
    {% include 'main/template-parts/menu/main-menu.html.twig' %}
    <div class="container">
        {% include 'main/template-parts/breadcrumb.html.twig' %}
    </div>
    <div class="content mt-n3 mt-sm-4 {{ slug }}">

        <div itemref="product-1 product-2 product-3 product-4 product-5" itemscope itemtype="http://schema.org/Product" class="container">
            <h1 itemprop="name" class="text-center head_line">
                {% if slug == 'forkids'  %}
                    Защита сидений от детских ножек и детского кресла
                {% elseif slug == 'folders' %}
                    Документы в порядке
                {% elseif slug == 'mantle' %}
                    Накидки на сиденья авто из Алькантары
                {% elseif slug == 'foranimals' %}
                    Гамаки для животных премиум класса
                {% elseif slug == 'bags' %}
                    Саквояж для автомобиля на заказ
                {% elseif slug == 'carpets' %}
                    Коврики EVA на заказ
                {% else %}
                    {{ title }}
                {% endif %}
            </h1>
            {# Product Details #}
            {% include 'product/products/' ~ slug ~ '.html.twig' %}
            {# ./Product Details #}
        </div>

    </div>
    {% include 'main/template-parts/map.html.twig' %}


    {% if slug == 'forkids' %}
        {% include 'main/template-parts/orderForm/forkidsOrderForm.html.twig' %}
        {% elseif slug == 'bags' %}
        {% include 'main/template-parts/orderForm/bagsOrderForm.html.twig' %}
        {% elseif slug == 'folders' %}
            {% include 'main/template-parts/orderForm/foldersOrderForm.html.twig' %}
        {% elseif slug == 'mantle' %}
            {% include 'main/template-parts/orderForm/mantleOrderForm.html.twig' %}
    {% else %}
        {% include 'main/template-parts/orderForm.html.twig' %}
    {% endif %}
    {% if slug == 'bags'  %}
        {% include 'product/inc/product-parts/bag-parts/productsDescription.html.twig' %}
    {% elseif slug == 'mantle' %}
        {% include 'product/inc/product-parts/mantle-parts/productsDescription.html.twig' %}
    {% elseif slug == 'forkids' %}
        {% include 'product/inc/product-parts/forkids-parts/productsDescription.html.twig' %}
    {% elseif slug == 'carpets' %}
        {% include 'product/inc/product-parts/carpet-parts/productsDescription.html.twig' %}
    {% endif %}

    {# {% include 'product/inc/product-photos.html.twig' %} #}
{#    {% if slug == 'bags'  %}#}
{#        {% include 'product/inc/sampl-text.html.twig' %}#}
{#    {% endif %}#}
    {% include 'product/inc/products-swiper.html.twig' %}
    {% include 'main/template-parts/comments.html.twig' %}
    {% include 'main/template-parts/instagramPosts.html.twig' %}
    {% if slug == 'bags'  %}
        {% include 'product/inc/product-parts/bag-parts/productsDuration.html.twig' %}
    {% elseif slug == 'mantle' %}
        {% include 'product/inc/product-parts/mantle-parts/productsDuration.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags(slug ~ '-js') }}
{% endblock %}
{% block modal %}
    {{ parent() }}
    {% include 'product/inc/modals/selecteditem.html.twig' %}
{#    {% include 'main/template-parts/modals/discountModal.html.twig' %}#}
{#    {% include 'main/template-parts/modals/callMeModal.html.twig' %}#}
{% endblock %}