<div class="product-description">
    <div class="container">
        <p class="product-description__title head_line">Автоковрики EVA</p>
        <p class="product-description__subtitle">Коврики – простой, но незаменимый аксессуар для любого автомобиля, от
            которого во многом  зависит чистота в салоне. Привычные резиновые коврики довольно практичные, однако
            сегодня им на смену пришли более современные и удобные в использовании материалы.
            В нашем интернет-магазине можно купить автомобильные коврики Eva, которые выполнены из экологически
            безопасного вспененного каучука.</p>
    </div>
{#    <div class="product-description__items">#}
{#        <div class="product-description__item">#}
{#            <div class="row no-gutters">#}
{#                <div class="col-md-6 col-12">#}
{#                    <div class="product-description__item-image">#}
{#                        <img class="float-right" src="/img/products/descriptions/bags/01.jpg" alt="">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6 col-12">#}
{#                    <div class="product-description__item-text v2">#}
{#                        <p><b>Индивидуальный стиль.</b> Внешне органайзер выглядит очень стильно и гарантированно станет прекрасным дополнением интерьера багажника любого автомобиля. Мы производим саквояжи в различных цветовых исполнениях, с использованием уникальных нитей и окантовки. Цвет саквояжа можно подобрать самостоятельно, воспользовавшись онлайн-конструктором на нашем сайте. При необходимости, на изделие можно добавить логотип авто.</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="product-description__item pt-5">
            <div class="row no-gutters">
                <div class="col-md-6 col-12 order-md-2">
                    <div class="product-description__item-image_even">
                        <img class="float-left" src="/img/products/descriptions/carpets/01.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12 order-md-1">
                    <div class="product-description__item-text_even v2">
                        <p><b>Автомобильные коврики eva.</b> Коврики Ева красиво и солидно выглядят, комфортны для
                            ног — мягкие, упругие, не комкаются и не съезжают, прекрасно держат форму. При этом они
                            очень прочные, гигиеничные и обладают еще рядом полезных свойств, особенно ценных в рамках
                            ежедневной эксплуатации в условиях автомобиля:
                            - Коврики Eva устойчивы к механическим повреждениям, грязи, бактериям, автомобильной химии,
                            высоким и низким температурам. Выдерживают диапазон от -40 до +70 С., в морозы не теряют
                            мягкости и упругости. Материал ЭВА не воспламеняется.
                            - Благодаря глубокой мелкоячеистой структуре, которая играет роль бортиков, автомобильные
                            коврики Eva хорошо удерживают в себе мусор, песок, влагу (даже во время хорошей тряски),
                            благодаря чему обувь и салон остаются чистыми и сухими.
                            - За ковриками Eva очень легко ухаживать. Поверхность материала обладает отталкивающими
                            свойствами, не впитывает содержимое (к нему ничего не прилипает), поэтому достаточно
                            аккуратно вынести легкий коврик и стряхнуть, перевернув ячейками вниз.
                            Автомобильные коврики Eva выглядят, как новенькие и не стираются годами.
                            Еще одно преимущество: выгодные цены. Изделия из материала ЭВА достаточно доступны по стоимости.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="product-description__item-image">
                        <img class="float-right" src="/img/products/descriptions/carpets/02.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-description__item-text v2">
                        <p><b>Как заказать коврики?</b> В интернет-магазине Carstoris Вы можете купить Eva коврики в
                            машину различных цветов, фактур, вариантов окантовки. Мы гарантируем высокое качество и
                            низкие цены от прямого производителя. Доставка по всей России.
                            При желании можно заказать коврики Eva в различных комплектациях: Полный комплект в салон
                            и багажник, только в салон, а также любые коврики по отдельности – передние, задние или
                            коврик в багажник. Для заднего ряда сидений в комплекте предусмотрена перемычка, которая
                            сделает салон автомобиля еще более защищенным от грязи.
                            Чтобы коврики наилучшим образом вписались в интерьер вашего автомобиля, прямо на сайте
                            можно выбрать цвета материала и окантовки. Коврики Eva – ваш лучший выбор как в плане
                            практичности, так и возможности подчеркнуть интерьер автомобиля стильным автоаксессуаром.
                            Наш менеджер с удовольствием проконсультирует и ответит на любые вопросы.
                        </p>

                    </div>
                </div>
            </div>
        </div>
{#        <div class="product-description__item">#}
{#            <div class="row no-gutters">#}
{#                <div class="col-md-6 col-12 order-md-2">#}
{#                    <div class="product-description__item-image_even">#}
{#                        <img class="float-left" src="/img/products/descriptions/carpets/02.jpg" alt="">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6 col-12 order-md-1">#}
{#                    <div class="product-description__item-text_even v2">#}

{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
{#    <div class="container mb-5">#}
{#        <p class="product-description__subtitle">Удивительно, но купить такой саквояж можно всего за 3450 рублей. Если Вам интересна модель без автомобильного шильдика, то изделие обойдется на 300 рублей дешевле (3150р). Мы высоко ценим каждого своего клиента, поэтому, при покупке саквояжа Вы всегда можете рассчитывать на приятный бонус в виде скидки при оформлении заказа.</p>#}
{#    </div>#}
</div>