<div class="carpet-info grey-gradient-bg">
    <div class="content p-0 m-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12 pr-lg-5">
                    <p class="title-dashed">Из чего сделаны коврики?</p>
                    <p class="text-bold line-height-1-2">Автоковрики сделаны из этиленвинилацетата Ethylene Vinyl Acetate (EVA) Вспененный каучук - полимерный композиционный материал.</p>
                </div>
                <div class="col-lg-5 col-12 offset-lg-1 offset-0">
                    <p class="title-dashed">Почему так чисто?</p>
                    <p class="text-bold line-height-1-2">Форма ячеек не дает грязи распространяться за пределы покрытия. Толщина автоковриков составляет 11 миллиметров, а глубина ячеек 6 миллиметров.</p>
                </div>
            </div>
            <div class="row justify-content-center pt-4">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pt-lg-5 pt-3">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/water_repellent.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Отталкивает влагу</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pt-lg-5 pt-3">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/chemical_resistance.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Стойкость к химии</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pt-lg-5 pt-3">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/eco_friendly.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Экологичен</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pt-lg-5 pt-3">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/odorless.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Не выделяет запахов</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pt-lg-5 pt-3">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/not_burning.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Не горит</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pt-lg-5 pt-3">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/elasticity.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Сохраняют эластичность при температуре —60 ОС</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pt-lg-5 pt-3">
                    <div class="info-icon">
                        <div class="icon-circle">
                            {% include 'product/inc/svg/endurance.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Выдерживает высокие температуры до +80 ОС</p>
                </div>
            </div>
        </div>
    </div>
</div>