<div class="product-duration py-5">
    <div class="container product-description">
        <p class="product-description__title">Сколько времени занимает пошив автомобильной накидки на заказ?</p>
        <p>Интернет-магазин «Carstoris» высоко ценит доверие каждого своего клиента, поэтому производство автомобильных накидок осуществляется с учетом всех пожеланий клиента, максимально оперативно. Мы изготовим, упакуем и отправим Ваш заказ в течение 48 часов. Производство изделий осуществляется по индивидуальным параметрам, только после полной предоплаты.</p>
        <p>У нас Вы сможете заказать накидки из Алькантары:</p>
        <ul class="list-with-check">
            <li>Для передних сидений;</li>
            <li>Полный комплект;</li>
            <li>Для задних сидений;</li>
            <li>Накидку на одно сиденье;</li>
        </ul>
        <p>Также в удобном конфигураторе можно выбрать, какую форму будет иметь накидка из Алькантары:</p>
        <ul class="list-with-check">
            <li>С узким верхом и узким низом;</li>
            <li>С узким верхом и широким низом;</li>
            <li>С широким верхом и широким низом.</li>
        </ul>
        <p>Оплата заказа возможна в офисе нашей компании или непосредственно на сайте в режиме онлайн. Доставка накидок осуществляется во все города и населенные пункты РФ по сниженным ценам транспортной компанией СДЭК или Почтой России.</p>
        <p>На каждом этапе производства осуществляется обязательный контроль, а перед отправкой товара клиенту, товар осматривается на предмет любых дефектов. Таким образом, сотрудничая с «Carstoris», Вы гарантированно получаете качественные автомобильные накидки, с вероятностью брака, равной нулю.</p>
    </div>
</div>