<div class="product-description">
    <div class="container">
        <p class="product-description__title">Накидки на сиденья автомобиля из Алькантары – эффективный способ подчеркнуть индивидуальность своего авто и добавить себе комфорта</p>
        <p class="product-description__subtitle">Alcantara – ткань, которая на 60% состоит из хлопка и на 40% из полиэстирола. Накидки из данного материала – это уникальная возможность создать максимальный комфорт в своем автомобиле. В большинстве своем, изделия из Алькантары используются для обшивки салона в автомобилях высокого класса.</p>
        <p class="product-description__subtitle">Предлагаем рассмотреть основные преимущества, которыми отличается накидка на автомобиль из Алькантары выполненная компанией CarStoris от аналогов:</p>
    </div>
     <div class="product-description__items">
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="product-description__item-image">
                        <img class="float-right" src="/img/products/descriptions/mantles/01.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-description__item-text v2">
                        <p><b>Прочность и износостойкость.</b> Изделие не лоснится и отличается стойкостью к протиранию. Подобные накидки обладают пылеотталкивающими свойствами, не боятся воды. В результате, изделие гарантированно прослужит много лет, с полным сохранением своих эстетических качеств.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12 order-md-2">
                    <div class="product-description__item-image_even">
                        <img class="float-left"  src="/img/products/descriptions/mantles/02.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12 order-md-1">
                    <div class="product-description__item-text_even v2">
                        <p><b>Эстетичность.</b> Накидка, выполненный на заказ с учетом Ваших пожеланий, будет иметь эстетически привлекательный внешний вид. По статистике, автомобили с привлекательным салоном, можно продать несколько дороже.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="product-description__item-image">
                        <img class="float-right" src="/img/products/descriptions/mantles/03.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-description__item-text v2">
                        <p><b>Тактильные качества.</b> Искусственный материал Алькантара отличается высокой плотностью, тонким ворсом и большей эластичностью, по сравнению с кожей. К такой накидке очень приятно прикасаться, это отличная возможность придать салону вид нового автомобиля.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12 order-md-2">
                    <div class="product-description__item-image_even">
                        <img class="float-left"  src="/img/products/descriptions/mantles/04.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12 order-md-1">
                    <div class="product-description__item-text_even v2">
                        <p><b>Вариативность цветов.</b> Так как накидки производятся из искусственного материала, всегда можно подобрать тот цвет изделия, который будет на 100% соответствовать Вашим вкусовым ощущениям и эстетично дополнять салон автомобиля. Воспользовавшись удобным конфигуратором цветов на нашем сайте, Вы сможете подобрать дизайн накидки с учетом своих личных вкусовых предпочтений.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="product-description__item-image">
                        <img class="float-right" src="/img/products/descriptions/mantles/05.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-description__item-text v2">
                        <p><b>Простота в уходе.</b> Накидки из Алькантары не требуют постоянного ухода. При необходимости, для очистки пятен можно использовать влажную губку и стандартные чистящие средства. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-5">
        <p class="product-description__subtitle">   Ознакомившись с основными преимуществами изделия устоять перед покупкой достаточно сложно, к тому же, купить оригинальную накидку можно всего за 1800 рублей. Все клиенты магазина «Carstoris» при покупке могут рассчитывать на приятные бонусы, что позволит приобрести накидку по еще более доступной цене.</p>
    </div>
</div>