{% extends 'base.html.twig' %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block body %}
    <div class="content main">
        <div class="container mt-n4 mb-3 pt-0">
            {% include 'main/template-parts/breadcrumb.html.twig' %}
        </div>
        <div class="container">
            <h1 class="h1-responsive text-bold">Политика конфиденциальности</h1>
            <p>Настоящая Политика в области обработки персональных данных и конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую ООО «Оптовая полиграфическая группа» и/или ее аффилированные лица, включая все лица, входящие в одну группу с ООО «Оптовая полиграфическая группа», могут получить о пользователе во время использования им любого из сайтов, сервисов, служб, программ и продуктов ООО «Оптовая полиграфическая группа»(далее — Сервисы),  а также в ходе исполнения ООО «Оптовая полиграфическая группа»/ его аффилированными лицами любых соглашений и договоров, заключенных с пользователем в связи с использованием Сервисов. Согласие пользователя на предоставление персональных данных (персональной информации), данное им в соответствии с настоящей Политикой в рамках отношений с одним из лиц, входящих в группу лиц ООО «Оптовая полиграфическая группа», распространяется на все лица, входящие в данную группу лиц.</p>
            <p>Использование Сервисов означает безоговорочное согласие пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации, а именно на совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных" как без, так и с использованием средств автоматизации, и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своем интересе; в случае несогласия с этими условиями пользователь должен воздержаться от использования Сервисов.</p>
            <p>Персональная информация пользователей, которую получает и обрабатывает ООО «Оптовая полиграфическая группа»</p>
            <p class="text-bold">В рамках настоящей Политики под «персональной информацией пользователя» понимаются:</p>
            <p>Персональная информация, которую пользователь предоставляет о себе самостоятельно при регистрации (создании учетной записи) или в процессе использования Сервисов, включая персональные данные пользователя. Обязательная для предоставления Сервисов (оказания услуг) информация помечена специальным образом. Иная информация предоставляется пользователем на его усмотрение.</p>
            <p>Данные, которые автоматически передаются Сервисам в процессе их использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), время доступа, адрес запрашиваемой страницы.</p>
            <p>Иная информация о пользователе, в случае, если ее сбор и/или предоставление определено в регулирующих документах отдельных Сервисов.</p>
            <p>Настоящая Политика применима только к Сервисам ООО «Оптовая полиграфическая группа». ООО «Оптовая полиграфическая группа» не контролирует и не несет ответственность за сайты третьих лиц, на которые пользователь может перейти по ссылкам, доступным на сайтах ООО «Оптовая полиграфическая группа». На таких сайтах у пользователя может собираться или запрашиваться иная персональная информация, а также могут совершаться иные действия.</p>
            <p>ООО «Оптовая полиграфическая группа» в общем случае не проверяет достоверность персональной информации, предоставляемой пользователями, и не осуществляет контроль за их дееспособностью. Однако ООО «Оптовая полиграфическая группа» исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в форме регистрации, что указанные им при регистрации персональные данные принадлежат лично ему и поддерживает эту информацию в актуальном состоянии. Риск предоставления недостоверной информации несет предоставивший ее пользователь.</p>
            <p>Согласие пользователя на обработку персональных данных действует бессрочно с момента осуществления регистрации пользователя на сайте, и не требует периодического подтверждения. ООО «Оптовая полиграфическая группа» будет хранить персональную информацию столько времени, сколько это необходимо для достижения цели, для которой она была собрана, или для соблюдения требований законодательства и нормативных актов.</p>
            <h5 class="text-bold">Цели сбора и обработки персональной информации пользователей</h5>
            <p>ООО «Оптовая полиграфическая группа» собирает, обрабатывает и хранит только те персональные данные, которые необходимы для предоставления Сервисов и оказания услуг (исполнения соглашений и договоров с пользователем), в строгом соответствии с действующим законодательством.</p>
            <p>Персональную информацию пользователя ООО «Оптовая полиграфическая группа» может использовать в следующих целях:</p>
            <ul class="list-with-chevron">
                <li>Идентификация стороны в рамках соглашений и договоров с ООО «Оптовая полиграфическая группа»;</li>
                <li>Обработка необходима для выполнения договорных обязательств ООО «Оптовая полиграфическая группа» перед пользователем;</li>
                <li> Связь с пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования Сервисов, оказания услуг, а также обработка запросов и заявок от пользователя;</li>
                <li>Улучшение качества Сервисов, удобства их использования, разработка новых Сервисов и услуг;</li>
                <li>Таргетирование рекламных материалов;</li>
                <li>Проведение статистических и иных исследований на основе обезличенных данных.</li>
            </ul>
            <p>Условия обработки персональной информации пользователя и ее передачи третьим лицам</p>
            <p>В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании отдельных Сервисов (например, блога), пользователь соглашается с тем, что определенная часть его персональной информации становится общедоступной.</p>
            <p class="text-bold">ООО «Оптовая полиграфическая группа» вправе передать персональную информацию пользователя третьим лицам в следующих случаях:</p>
            <ul class="list-with-chevron">
                <li>Пользователь выразил свое согласие на такие действия;</li>
                <li>Передача необходима в рамках использования пользователем определенного Сервиса либо для оказания услуги пользователю;</li>
                <li>Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;</li>
                <li>Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации;</li>
            </ul>
            <h5 class="text-bold">Изменение пользователем персональной информации</h5>
            <p>Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или ее часть, а также параметры ее конфиденциальности, воспользовавшись функцией редактирования персональных данных в разделе «Личный кабинет». Пользователь вправе требовать от ООО «Оптовая полиграфическая группа» уточнения, блокирования или уничтожения (удаления) предоставленной им персональной информации или ее части в случае, если персональные данные являются неполными, устаревшими, неточными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.</p>
            <h5 class="text-bold">Меры, применяемые для защиты персональной информации пользователей:</h5>
            <p>ООО «Оптовая полиграфическая группа» принимает необходимые и достаточные организационные и технические меры для защиты персональной информации пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.</p>
            <h5 class="text-bold">Изменение Политики конфиденциальности. Применимое законодательство</h5>
            <p>ООО «Оптовая полиграфическая группа» имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее опубликования на сайте carstoris.ru, если иное не предусмотрено новой редакцией Политики. Действующая редакция всегда находится и доступна на странице сайта carstoris.ru по адресу carstoris.ru{{ path('privacy') }}.</p>
            <p>К настоящей Политике и отношениям между пользователем и ООО «Оптовая полиграфическая группа», возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.</p>
            <p>При обработке персональных данных пользователей ООО «Оптовая полиграфическая группа» руководствуется Федеральным законом РФ «О персональных данных».</p>
            <h5 class="text-bold">Обратная связь. Вопросы и предложения</h5>
            <p>Все предложения или вопросы по поводу настоящей Политики следует сообщать в Службу поддержки пользователей, либо по адресу 420033 , РТ,  г. Казань ул. Лазарева 5А, помещение 1030, для ООО «Оптовая полиграфическая группа».</p>
        </div>
    </div>

{#    {% include 'main/template-parts/map.html.twig' %}#}
{#    {% include 'main/template-parts/orderForm.html.twig' %}#}
    <div class="content text-center text-bold py-4">
        <p class="h3-responsive mb-0">Индивидуальный стиль на ваш выбор.</p>
        <p class="h3-responsive mb-2">Вы можете выбрать цвет материала, а также нити и окантовки.</p>
        <div class="lines"></div>
    </div>
    {% include 'main/template-parts/categories.html.twig' %}
    <div class="p-4"></div>
{#    {% include 'main/template-parts/productGallery.html.twig' %}#}
{#    {% include 'product/inc/products-swiper.html.twig' %}#}
    {#    {% include 'main/template-parts/comments.html.twig' %}#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bags-js') }}
{% endblock %}
{% block modal %}

{% endblock %}
