<div class="embroidery-design">
    <p class="font-size-18 text-bold mb-0">Добавить вышивку</p>
    <div class="row pt-3 mb-3">
        <div class="col-sm-6 col-12 order-1 vcenter">
            {#            <label class="red-checkbox big-checkbox bold-border mb-4 mt-auto">#}
            {#                <span><b>Вышивка из каталога</b></span>#}
            {#                <input type="checkbox" name="" value="1">#}
            {#                <span class="checkmark"></span>#}
            {#            </label>#}
            <label class="circle-radio-btn">
                <span><b>Вышивка из каталога</b></span>
                <input type="radio" name="embroidery-type" value="from-catalog">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-sm-6 col-12 order-2">
            <div class="select-design-btn d-none">
                <a href="#!" class="btn btn-outline-red w-auto mt-n2">
                    <span class="d-flex align-items-center">
                        <i class="icon icon-select-design d-flex font-size-20"></i>
                        <span>Выбрать</span>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-12 order-4 order-sm-3 vcenter">
            <label class="circle-radio-btn">
                <span><b>Свой дизайн</b></span>
                <input type="radio" name="embroidery-type" value="my-design">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-sm-6 col-12 order-5 order-sm-4">
            <div class="upload-file-btn d-none">
                <a href="#!" class="btn btn-outline-red w-auto">
                    <span class="d-flex align-items-center">
                        <i class="icon icon-skrepka d-flex font-size-20"></i>
                        <span>Загрузить</span>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-12 offset-sm-6 offset-0 order-6 order-sm-5 upload-file-progress d-none">
            <div class="row">
                <div class="col-6">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-6 vcenter">
                    <span class="file-name font-size-12 line-height-1">03_preview3.jpg</span>
                    <a href="#!" class="red_text"><i class="icon icon-cross font-size-8 d-flex mr-0 ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 order-3 order-sm-6">
            <div class="from-catalog-info d-none animated fadeIn">
                <p class="mb-2">Специально для вас мы подготовили более чем 50 видов оригинальной вышивки. Это отличный вариант придать более эстетичный вид салону автомобиля и подчеркнуть вашу индивидуальность. Кроме вариантов самой вышивки, вы также можете выбрать цвета самой нити.</p>
                <div class="vcenter text-bold">
                    <span>Вы выбрали</span>
                    <a href="#!" class="pink-link mx-1">«Вышивка ауди  012»</a>
                    <a href="#!"><i class="icon icon-cross font-size-10 d-flex mr-0"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 order-7">
            <div class="my-design-info d-none animated fadeIn">
                <p class="mb-2">Чтобы узнать точную стоимость загрузите необходимое изображение</p>
                <p>Стоимость вышивки зависит от ее размера, сложности и количества цветов. При этом можно сделать вышивку любой сложности. Это могут быть и марки авто, и госномер, и логотипы компаний, и ваши имена или инициалы, и многое другое на ваш выбор.</p>
                <p class="bordered-text">Средняя цена за вышивку на двух чехлах на передние сиденья от <b>1500</b> до <b>2500</b> рублей.</p>
            </div>
        </div>
    </div>
</div>