<p class="text-bold">Выберите цвет материала</p>
<div class="select-colors d-none">
    <div class="colors radio-select">
        <label class="circle-radio-btn info-tooltip v2 active">
            <span class="info-tooltip-text sc-black">черный</span>
            <span class="color black"></span>
            <input type="radio" name="material-color" value="black" checked="checked">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-red">красный</span>
            <span class="color red"></span>
            <input type="radio" name="material-color" value="red">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-blue">синий</span>
            <span class="color blue"></span>
            <input type="radio" name="material-color" value="blue">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-dark-gray">темно серый</span>
            <span class="color dark-gray"></span>
            <input type="radio" name="material-color" value="dark-gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-gray">серый</span>
            <span class="color gray"></span>
            <input type="radio" name="material-color" value="gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-beg">бежевый</span>
            <span class="color beg"></span>
            <input type="radio" name="material-color" value="beg">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-dark-brown">темно коричневый</span>
            <span class="color dark-brown"></span>
            <input type="radio" name="material-color" value="dark-brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-brown">коричневый</span>
            <span class="color brown"></span>
            <input type="radio" name="material-color" value="brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-orange">оранжевый</span>
            <span class="color orange"></span>
            <input type="radio" name="material-color" value="orange">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-white">белый</span>
            <span class="color white"></span>
            <input type="radio" name="material-color" value="white">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-yellow">желтый</span>
            <span class="color yellow"></span>
            <input type="radio" name="material-color" value="yellow">
        </label>
    </div>
</div>
<p class="text-bold">Выберите цвет нити</p>
<div class="select-colors d-none radio-select">
    <div class="colors">
        <label class="circle-radio-btn info-tooltip v2 active">
            <span class="info-tooltip-text sc-black">черный</span>
            <span class="color black"></span>
            <input type="radio" name="thread-color" value="black" checked="checked">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-red">красный</span>
            <span class="color red"></span>
            <input type="radio" name="thread-color" value="red">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-blue">синий</span>
            <span class="color blue"></span>
            <input type="radio" name="thread-color" value="blue">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-dark-gray">темно серый</span>
            <span class="color dark-gray"></span>
            <input type="radio" name="thread-color" value="dark-gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-gray">серый</span>
            <span class="color gray"></span>
            <input type="radio" name="thread-color" value="gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-beg">бежевый</span>
            <span class="color beg"></span>
            <input type="radio" name="thread-color" value="beg">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-dark-brown">темно коричневый</span>
            <span class="color dark-brown"></span>
            <input type="radio" name="thread-color" value="dark-brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-brown">коричневый</span>
            <span class="color brown"></span>
            <input type="radio" name="thread-color" value="brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-orange">оранжевый</span>
            <span class="color orange"></span>
            <input type="radio" name="thread-color" value="orange">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-white">белый</span>
            <span class="color white"></span>
            <input type="radio" name="thread-color" value="white">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-yellow">желтый</span>
            <span class="color yellow"></span>
            <input type="radio" name="thread-color" value="yellow">
        </label>
    </div>
</div>
<p class="text-bold">Выберите цвет окантовки</p>
<div class="select-colors d-none radio-select">
    <div class="colors mb-0">
        <label class="circle-radio-btn info-tooltip v2 active">
            <span class="info-tooltip-text sc-black">черный</span>
            <span class="color black"></span>
            <input type="radio" name="border-color" value="black" checked="checked">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-red">красный</span>
            <span class="color red"></span>
            <input type="radio" name="border-color" value="red">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-blue">синий</span>
            <span class="color blue"></span>
            <input type="radio" name="border-color" value="blue">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-dark-gray">темно серый</span>
            <span class="color dark-gray"></span>
            <input type="radio" name="border-color" value="dark-gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-gray">серый</span>
            <span class="color gray"></span>
            <input type="radio" name="border-color" value="gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-beg">бежевый</span>
            <span class="color beg"></span>
            <input type="radio" name="border-color" value="beg">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-dark-brown">темно коричневый</span>
            <span class="color dark-brown"></span>
            <input type="radio" name="border-color" value="dark-brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-brown">коричневый</span>
            <span class="color brown"></span>
            <input type="radio" name="border-color" value="brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-orange">оранжевый</span>
            <span class="color orange"></span>
            <input type="radio" name="border-color" value="orange">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-white">белый</span>
            <span class="color white"></span>
            <input type="radio" name="border-color" value="white">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text sc-yellow">желтый</span>
            <span class="color yellow"></span>
            <input type="radio" name="border-color" value="yellow">
        </label>
    </div>
</div>