<p class="text-bold">Выберите цвет материала</p>
<div class="select-colors d-none">
    <div class="colors radio-select">
        <label class="circle-radio-btn info-tooltip v2 active">
            <span class="info-tooltip-text">черный</span>
            <img src="/img/configurator/colors/material/black.png" alt="">
            <input type="radio" name="material-color" value="black" checked="checked">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">красный</span>
            <img src="/img/configurator/colors/material/red.png" alt="">
            <input type="radio" name="material-color" value="red">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">синий</span>
            <img src="/img/configurator/colors/material/blue.png" alt="">
            <input type="radio" name="material-color" value="blue">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">серый</span>
            <img src="/img/configurator/colors/material/gray.png" alt="">
            <input type="radio" name="material-color" value="gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">тёмно серый</span>
            <img src="/img/configurator/colors/material/dark-gray.png" alt="">
            <input type="radio" name="material-color" value="dark-gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">бежевый</span>
            <img src="/img/configurator/colors/material/beg.png" alt="">

            <input type="radio" name="material-color" value="beg">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">коричневый</span>
            <img src="/img/configurator/colors/material/brown.png" alt="">
            <input type="radio" name="material-color" value="brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">светло коричневый</span>
            <img src="/img/configurator/colors/material/light-brown.png" alt="">
            <input type="radio" name="material-color" value="light-brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">оранжевый</span>
            <img src="/img/configurator/colors/material/orange.png" alt="">
            <input type="radio" name="material-color" value="orange">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">бирюзовый</span>
            <img src="/img/configurator/colors/material/biruza.png" alt="">
            <input type="radio" name="material-color" value="biruza">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">белый</span>
            <img src="/img/configurator/colors/material/white.png" alt="">
            <input type="radio" name="material-color" value="white">
        </label>
    </div>
</div>
<p class="text-bold">Выберите цвет нити</p>
<div class="select-colors d-none radio-select">
    <div class="colors">
        <label class="circle-radio-btn info-tooltip v2 active">
            <span class="info-tooltip-text">черный</span>
            <img src="/img/configurator/colors/thread/black.png" alt="">
            <input type="radio" name="thread-color" value="black" checked="checked">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">красный</span>
            <img src="/img/configurator/colors/thread/red.png" alt="">
            <input type="radio" name="thread-color" value="red">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">синий</span>
            <img src="/img/configurator/colors/thread/blue.png" alt="">
            <input type="radio" name="thread-color" value="blue">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">серый</span>
            <img src="/img/configurator/colors/thread/gray.png" alt="">
            <input type="radio" name="thread-color" value="gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">тёмно серый</span>
            <img src="/img/configurator/colors/thread/dark-gray.png" alt="">
            <input type="radio" name="thread-color" value="dark-gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">бежевый</span>
            <img src="/img/configurator/colors/thread/beg.png" alt="">
            <input type="radio" name="thread-color" value="beg">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">коричневый</span>
            <img src="/img/configurator/colors/thread/brown.png" alt="">
            <input type="radio" name="thread-color" value="brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">светло коричневый</span>
            <img src="/img/configurator/colors/thread/light-brown.png" alt="">
            <input type="radio" name="thread-color" value="light-brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">оранжевый</span>
            <img src="/img/configurator/colors/thread/orange.png" alt="">
            <input type="radio" name="thread-color" value="orange">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">бирюзовый</span>
            <img src="/img/configurator/colors/thread/biruza.png" alt="">
            <input type="radio" name="thread-color" value="biruza">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">белый</span>
            <img src="/img/configurator/colors/thread/white.png" alt="">
            <input type="radio" name="thread-color" value="white">
        </label>
    </div>
</div>
<p class="text-bold">Выберите цвет окантовки</p>
<div class="select-colors d-none radio-select">
    <div class="colors mb-0">
        <label class="circle-radio-btn info-tooltip v2 active">
            <span class="info-tooltip-text">черный</span>
            <img src="/img/configurator/colors/border/black.png" alt="">
            <input type="radio" name="border-color" value="black" checked="checked">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">красный</span>
            <img src="/img/configurator/colors/border/red.png" alt="">
            <input type="radio" name="border-color" value="red">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">синий</span>
            <img src="/img/configurator/colors/border/blue.png" alt="">
            <input type="radio" name="border-color" value="blue">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">серый</span>
            <img src="/img/configurator/colors/border/gray.png" alt="">
            <input type="radio" name="border-color" value="gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">тёмно серый</span>
            <img src="/img/configurator/colors/border/dark-gray.png" alt="">
            <input type="radio" name="border-color" value="dark-gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">бежевый</span>
            <img src="/img/configurator/colors/border/beg.png" alt="">
            <input type="radio" name="border-color" value="beg">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">коричневый</span>
            <img src="/img/configurator/colors/border/brown.png" alt="">
            <input type="radio" name="border-color" value="brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">светло коричневый</span>
            <img src="/img/configurator/colors/border/light-brown.png" alt="">
            <input type="radio" name="border-color" value="light-brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">оранжевый</span>
            <img src="/img/configurator/colors/border/orange.png" alt="">
            <input type="radio" name="border-color" value="orange">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">бирюзовый</span>
            <img src="/img/configurator/colors/border/biruza.png" alt="">
            <input type="radio" name="border-color" value="biruza">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">белый</span>
            <img src="/img/configurator/colors/border/white.png" alt="">
            <input type="radio" name="border-color" value="white">
        </label>
    </div>
</div>