<p class="text-bold">Выберите цвет материала</p>
<div class="select-colors d-none">
    <div class="colors mantle-colors radio-select">
        <label class="circle-radio-btn info-tooltip v2 active">
            <span class="info-tooltip-text">бежевый</span>
            <span class="color beg"></span>
            <input type="radio" name="material-color" value="beg" checked="checked">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">белый</span>
            <span class="color white"></span>
            <input type="radio" name="material-color" value="white">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">бордовый</span>
            <span class="color dark-red"></span>
            <input type="radio" name="material-color" value="dark-red">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">голубой</span>
            <span class="color blue"></span>
            <input type="radio" name="material-color" value="blue">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">изумруд</span>
            <span class="color emerald"></span>
            <input type="radio" name="material-color" value="emerald">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">коричневый</span>
            <span class="color brown"></span>
            <input type="radio" name="material-color" value="brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">серый</span>
            <span class="color gray"></span>
            <input type="radio" name="material-color" value="gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">синий</span>
            <span class="color sapphire"></span>
            <input type="radio" name="material-color" value="sapphire">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">темно-голубой</span>
            <span class="color dark-blue"></span>
            <input type="radio" name="material-color" value="dark-blue">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">темно-коричневый</span>
            <span class="color dark-brown"></span>
            <input type="radio" name="material-color" value="dark-brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">темно-серый</span>
            <span class="color dark-gray"></span>
            <input type="radio" name="material-color" value="dark-gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">фиолетовый</span>
            <span class="color purple"></span>
            <input type="radio" name="material-color" value="purple">
        </label>
    </div>
</div>
{# <p class="text-bold">Выберите цвет нити</p> #}
{# <div class="select-colors d-none radio-select">
    <div class="colors">
        <label class="circle-radio-btn info-tooltip v2 active">
            <span class="info-tooltip-text">черный</span>
            <span class="color black"></span>
            <input type="radio" name="thread-color" value="black" checked="checked">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">красный</span>
            <span class="color red"></span>
            <input type="radio" name="thread-color" value="red">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">синий</span>
            <span class="color blue"></span>
            <input type="radio" name="thread-color" value="blue">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">серый</span>
            <span class="color gray"></span>
            <input type="radio" name="thread-color" value="gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">светло серый</span>
            <span class="color light-gray"></span>
            <input type="radio" name="thread-color" value="light-gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">бежевый</span>
            <span class="color beg"></span>
            <input type="radio" name="thread-color" value="beg">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">темно коричневый</span>
            <span class="color dark-brown"></span>
            <input type="radio" name="thread-color" value="dark-brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">коричневый</span>
            <span class="color brown"></span>
            <input type="radio" name="thread-color" value="brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">оранжевый</span>
            <span class="color orange"></span>
            <input type="radio" name="thread-color" value="orange">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">белый</span>
            <span class="color white"></span>
            <input type="radio" name="thread-color" value="white">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">желтый</span>
            <span class="color yellow"></span>
            <input type="radio" name="thread-color" value="yellow">
        </label>
    </div>
</div> #}
<p class="text-bold">Выберите цвет окантовки</p>
<div class="select-colors d-none radio-select">
    <div class="colors mantle-colors mb-0">
        <label class="circle-radio-btn info-tooltip v2 active">
            <span class="info-tooltip-text">бежевый</span>
            <span class="color beg"></span>
            <input type="radio" name="border-color" value="beg" checked="checked">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">белый</span>
            <span class="color white"></span>
            <input type="radio" name="border-color" value="white">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">бордовый</span>
            <span class="color dark-red"></span>
            <input type="radio" name="border-color" value="dark-red">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">голубой</span>
            <span class="color blue"></span>
            <input type="radio" name="border-color" value="blue">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">изумруд</span>
            <span class="color emerald"></span>
            <input type="radio" name="border-color" value="emerald">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">коричневый</span>
            <span class="color brown"></span>
            <input type="radio" name="border-color" value="brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">серый</span>
            <span class="color gray"></span>
            <input type="radio" name="border-color" value="gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">синий</span>
            <span class="color sapphire"></span>
            <input type="radio" name="border-color" value="sapphire">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">темно-голубой</span>
            <span class="color dark-blue"></span>
            <input type="radio" name="border-color" value="dark-blue">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">темно-коричневый</span>
            <span class="color dark-brown"></span>
            <input type="radio" name="border-color" value="dark-brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">темно-серый</span>
            <span class="color dark-gray"></span>
            <input type="radio" name="border-color" value="dark-gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">фиолетовый</span>
            <span class="color purple"></span>
            <input type="radio" name="border-color" value="purple">
        </label>
    </div>
</div>