<div class="select-logo d-flex {% if slug == 'carpets'  %}  hide-scroll {% endif %}" id="selectLogoFromList">
    <div class="d-flex flex-column">
        <div class="logo-item no-logo active">
            <label class="circle-radio-btn">
                <span class="without-logo auto-logo">Без логотипа</span>
                <input type="radio" name="auto-brand" value="without_logo" checked="checked">
            </label>
        </div>
        {% for logo in logos %}
            {% if loop.index%6 == 0 and loop.index !=0 %}
        </div>
        <div class="d-flex flex-column">
            {% endif %}
        <div class="logo-item">
            <label class="circle-radio-btn">
                <img class="auto-logo" src="/img/configurator/auto-brands/{{ logo }}.png" alt="">
                <input type="radio" name="auto-brand" value="{{ logo }}" {% if loop.index == 0 %}checked="checked"{% endif %}>
            </label>
        </div>
        {% endfor %}
    </div>
</div>
{% if slug == 'carpets'  %}
<a href="#!" class="red_text text-bold vcenter justify-content-center" id="loadMoreLogo">
    <i class="icon icon-plus-circle d-flex" ></i>
    Показать логотипы других марок
</a>
{% endif %}