<p class="text-bold">Выберите цвет материала</p>
<div class="select-colors d-none">
    <div class="colors radio-select">
        <label class="circle-radio-btn info-tooltip v2 active">
            <span class="info-tooltip-text">черный</span>
            <span class="color black"></span>
            <input type="radio" name="material-color" value="black" checked="checked">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">красный</span>
            <span class="color red"></span>
            <input type="radio" name="material-color" value="red">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">изумрудный</span>
            <span class="color emerald"></span>
            <input type="radio" name="material-color" value="emerald">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">салатовый</span>
            <span class="color light-green"></span>
            <input type="radio" name="material-color" value="light-green">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">синий</span>
            <span class="color sapphire"></span>
            <input type="radio" name="material-color" value="sapphire">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">светло-синий</span>
            <span class="color light-sapphire"></span>
            <input type="radio" name="material-color" value="light-sapphire">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">розовый</span>
            <span class="color pink"></span>
            <input type="radio" name="material-color" value="pink">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">фиолетовый</span>
            <span class="color purple"></span>
            <input type="radio" name="material-color" value="purple">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">серый</span>
            <span class="color dark-gray"></span>
            <input type="radio" name="material-color" value="gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">бежевый</span>
            <span class="color beg"></span>
            <input type="radio" name="material-color" value="beg">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">коричневый</span>
            <span class="color brown"></span>
            <input type="radio" name="material-color" value="brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">оранжевый</span>
            <span class="color orange"></span>
            <input type="radio" name="material-color" value="orange">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">белый</span>
            <span class="color white"></span>
            <input type="radio" name="material-color" value="white">
        </label>
    </div>
</div>
<p class="text-bold">Выберите цвет окантовки</p>
<div class="select-colors d-none radio-select">
    <div class="colors mb-0">
        <label class="circle-radio-btn info-tooltip v2 active">
            <span class="info-tooltip-text">черный</span>
            <span class="color black"></span>
            <input type="radio" name="border-color" value="black" checked="checked">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">красный</span>
            <span class="color red"></span>
            <input type="radio" name="border-color" value="red">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">изумрудный</span>
            <span class="color emerald"></span>
            <input type="radio" name="border-color" value="emerald">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">салатовый</span>
            <span class="color light-green"></span>
            <input type="radio" name="border-color" value="light-green">
        </label>
{#        <label class="circle-radio-btn info-tooltip v2">#}
{#            <span class="info-tooltip-text">зеленый</span>#}
{#            <span class="color green"></span>#}
{#            <input type="radio" name="border-color" value="green">#}
{#        </label>#}
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">синий</span>
            <span class="color sapphire"></span>
            <input type="radio" name="border-color" value="sapphire">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">светло-синий</span>
            <span class="color light-sapphire"></span>
            <input type="radio" name="border-color" value="light-sapphire">
        </label>
{#        <label class="circle-radio-btn info-tooltip v2">#}
{#            <span class="info-tooltip-text">голубой</span>#}
{#            <span class="color light-blue"></span>#}
{#            <input type="radio" name="border-color" value="blue">#}
{#        </label>#}
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">розовый</span>
            <span class="color pink"></span>
            <input type="radio" name="border-color" value="pink">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">фиолетовый</span>
            <span class="color purple"></span>
            <input type="radio" name="border-color" value="purple">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">серый</span>
            <span class="color dark-gray"></span>
            <input type="radio" name="border-color" value="gray">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">бежевый</span>
            <span class="color beg"></span>
            <input type="radio" name="border-color" value="beg">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">коричневый</span>
            <span class="color brown"></span>
            <input type="radio" name="border-color" value="brown">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">оранжевый</span>
            <span class="color orange"></span>
            <input type="radio" name="border-color" value="orange">
        </label>
        <label class="circle-radio-btn info-tooltip v2">
            <span class="info-tooltip-text">белый</span>
            <span class="color white"></span>
            <input type="radio" name="border-color" value="white">
        </label>
{#        <label class="circle-radio-btn info-tooltip v2">#}
{#            <span class="info-tooltip-text">желтый</span>#}
{#            <span class="color yellow"></span>#}
{#            <input type="radio" name="border-color" value="yellow">#}
{#        </label>#}
    </div>
</div>