<!-- Bags Swiper -->
<div class="fp swiper-container" id="bagsSwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="/img/fp-slider/bags-slider-01.jpg" alt="">
            <div class="caption bags-caption-1">
                <div class="container">
                    <div class="slider-title">
                        Имиджевый саквояж подчеркнет<br/>Вашу индивидуальность
                    </div>
                    {%  include 'buttons/get_discount_btn.html.twig' %}
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <img src="/img/fp-slider/bags-slider-02.jpg" alt="">
            <div class="caption bags-caption-2">
                <div class="container">
                    <div class="caption-bg">
                        <div class="slider-title">
                            Большой выбор вариантов цветов
{#                            Имиджевый саквояж подчеркнет<br/>Вашу индивидуальность#}
                        </div>
                        <div class="slider-text">
                            <p>Саквояж для автомобиля на заказ</p>
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum consequat lorem nec iaculis. Nulla scelerisque, tortor et ornare ornare, nisi nibh consectetur libero, eget posuere purus velit a justo. Mauris quis orci vitae mauris laoreet egestas eu ac mi. Sed quis pulvinar magna, at iaculis tellus.</p>#}
                        </div>
                    </div>
                    <div class="caption-bg-left"></div>
                    {%  include 'buttons/get_discount_btn.html.twig' %}
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <img src="/img/fp-slider/bags-slider-03.jpg" alt="">
            <div class="caption bags-caption-3">
                <div class="container">
                    <div class="caption-bg">
                        <div class="slider-title">
                            Закажи 2 саквояжа и получи<br/>логотипы к ним в подарок
                        </div>
                        {#                        <div class="slider-text">#}
                        {#                            <p>Саквояж для автомобиля на заказ</p>#}
                        {#                        </div>#}
                    </div>
                    {%  include 'buttons/get_discount_btn.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="fp swiper-pagination"></div>
</div>
<!-- ./Bags Swiper -->