<!-- Swiper -->
<style>
    #sliderTitle1 .title,
    #sliderTitle2 .title,
    #sliderTitle3 .title{
        color: white!important;
        background-color: #0008;

    }
    .caption-bg{
        background-color: #0008;
    }
</style>
<div class="fp swiper-container" >
    <div class="swiper-wrapper">
        <div class="swiper-slide no-overlay">
            {#            <img src=".././img/fp-slider/fp-slider-02.jpg" alt="">  #}
            <img src=".././img/fp-slider/folders-slider-03.jpg" alt="">

            <div class="caption main-caption">
                <div class="container">
                    <div class="slider-title" id="sliderTitle3">
                        Отличный стильный и нужный подарок для любого
                        автовладельца
                    </div>
                    {#                    <button class="btn btn-main" data-toggle="modal" data-target="#discountModal">получить скидку</button>#}
                    <span class="caption-bg"></span>
                    {#                    <div class="slider-text">#}
                    {#                        <p>Индивидуальный стиль на ваш выбор.</p>#}
                    {#                        <p>Вы можете выбрать цвет материала, а также нити и окантовки.</p>#}
                    {#                    </div>#}
                </div>
            </div>
            <div class="lines">
                <div class="left bg-color"></div>
                <div class="right"></div>
                <div class="bg"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <img src=".././img/fp-slider/fp-slider-02.jpg" alt="">
            <div class="caption main-caption">
                <div class="container"  style="color:#fff!important;">
                    <div class="slider-title" id="sliderTitle2">
                        Закажите папку в свой автомобиль и ваши
                        документы всегда в порядке
                    </div>
                    {#                    <button class="btn btn-main" data-toggle="modal" data-target="#discountModal">получить скидку</button>#}
                    <span class="caption-bg"></span>

                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <img src=".././img/fp-slider/fp-slider-01.jpg" alt="">
            <div class="caption main-caption">

                <div class="container">
                    <div class="slider-title" id="sliderTitle1">
                        Подчеркните свою индивидуальность - выберите
                        цвета материала и окантовки
                    </div>
                    <span class="caption-bg"></span>

                    {% if not twig_variables.shoppingCart.partner %}
                        {#                    <button class="btn btn-main" data-toggle="modal" data-target="#discountModal">получить скидку</button>#}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <!-- Add Pagination -->
    <div class="fp swiper-pagination"></div>
</div>