<!-- For animals - Swiper -->
<div class="fp swiper-container" id="foranimalsSwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide v5">
            <img src=".././img/fp-slider/for-animals-slider-01.jpg" alt="">
            <div class="caption foranimals-caption-1">
                <div class="container">
                    <div class="caption-bg">
                        <div class="slider-text mt-0">
                            <p>Сделайте подарок себе и любимому питомцу<br/>Порядок и чистота в салоне обеспечены</p>
                            {# <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum consequat lorem nec iaculis. Nulla scelerisque, tortor et ornare ornare, nisi nibh consectetur libero, eget posuere purus velit a justo. Mauris quis orci vitae mauris laoreet egestas eu ac mi. Sed quis pulvinar magna, at iaculis tellus.</p>#}
                        </div>
                    </div>
                    <div class="caption-bg-right"></div>
                    {%  include 'buttons/get_discount_btn.html.twig' %}
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <img src=".././img/fp-slider/for-animals-slider-02.jpg" alt="">
            <div class="caption foranimals-caption-2">
                <div class="container">
                    <div class="caption-bg">
                        <div class="slider-title">
                            Смело берите ваших питомцев с собой
                        </div>
                        <span class="caption-title-bg"></span>
                        <div class="slider-text">
                            <p>CarStoris- лучший выбор</p>
                            {#                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum consequat lorem nec iaculis. Nulla scelerisque, tortor et ornare ornare, nisi nibh consectetur libero, eget posuere purus velit a justo. Mauris quis orci vitae mauris laoreet egestas eu ac mi. Sed quis pulvinar magna, at iaculis tellus.</p>#}
                        </div>
                    </div>
                    <div class="caption-bg-left"></div>
                    {%  include 'buttons/get_discount_btn.html.twig' %}
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <img src=".././img/fp-slider/for-animals-slider-03.jpg" alt="">
            <div class="caption foranimals-caption-2">
                <div class="container">
                    <div class="caption-bg">
                        <div class="slider-title">
                            Смело берите ваших питомцев с собой
                        </div>
                        <span class="caption-title-bg"></span>
                        <div class="slider-text">
                            <p>CarStoris- лучший выбор</p>
                            {#                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum consequat lorem nec iaculis. Nulla scelerisque, tortor et ornare ornare, nisi nibh consectetur libero, eget posuere purus velit a justo. Mauris quis orci vitae mauris laoreet egestas eu ac mi. Sed quis pulvinar magna, at iaculis tellus.</p>#}
                        </div>
                    </div>
                    <div class="caption-bg-left"></div>
                    {%  include 'buttons/get_discount_btn.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="fp swiper-pagination"></div>
</div>
<!-- ./For animals - Swiper -->