<!-- For kids Swiper -->
<div class="fp swiper-container" id="mainSwiper">
    <div class="swiper-wrapper">

        <div class="swiper-slide">
            <img src=".././img/fp-slider/for-kids-slider-01.jpg" alt="">
            <div class="caption  main-caption">
                <div class="container">
                    <div class="slider-title">
                        Накидки защитят Ваши сиденья от грязных ножек и потертостей.

                    </div>

                    <div class="caption-bg"></div>
                    <br/>
{#                    <div class="caption-bg-left"></div>#}

                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <img src=".././img/fp-slider/for-kids-slider-02.jpg" alt="">
            <div class="caption  main-caption">
                <div class="container">
                    <div class="slider-title">
                        Сделано с любовью для детей и их родителей. <span class="slide-second-text">CarStoris- лучший выбор</span>
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum consequat lorem nec iaculis. Nulla scelerisque, tortor et ornare ornare, nisi nibh consectetur libero, eget posuere purus velit a justo. Mauris quis orci vitae mauris laoreet egestas eu ac mi. Sed quis pulvinar magna, at iaculis tellus.</p>#}
                    </div>

                    <div class="caption-bg"></div>
                    <br/>
{#                    <div class="caption-bg-left"></div>#}

                </div>
            </div>
        </div>

    </div>
    <!-- Add Pagination -->
    <div class="fp swiper-pagination"></div>
</div>
<!-- ./For kids Swiper -->