<div class="row no-gutters" id="ModalSelectedItem" >
    <div class="col-sm-6 col-5 text-center">
        <div class="configurator">
            <div class="bag-configurator-image selected-item-image h-auto" id="bagSelectedItemImg">
                <div class="image-group">
                    <img src="/img/configurator/bags/material-color/black.png" alt="" class="bag-material-color">
                    <img src="/img/configurator/bags/thread-color/black.png" alt="" class="bag-thread-color">
                    <img src="/img/configurator/bags/border-color/black.png" alt="" class="bag-border-color">
                    <img src="" alt="" class="bag-logo">
                    <img src="/img/configurator/bags/size.png" alt="" class="bag-size">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-7 pl-3" id="selected-params">
        <div class="selected-item-params">
            <p class="params-title">{{ products.name }}</p>
            <p class="params-text">Цвет материала - <span id="selectedModalMaterialColor">Черный</span></p>
            <p class="params-text">Цвет нити - <span id="selectedModalThreadColor">Черный</span></p>
            <p class="params-text mb-2 mb-md-0">Цвет окантовки - <span id="selectedModalBorderColor">Черный</span></p>
        </div>
    </div>
    <div class="col-sm-6 offset-0 offset-sm-6 col-12 selected-item-price pl-3">
        <div class="row no-gutters">
            <div class="col-5 col-sm-12">
                <p class="text-bold mb-0 text-left text-md-right">Цена</p>
                <div class="vcenter justify-content-start justify-content-md-end">
                    <p class="shopping-cart-old-price" id="selectedOldPrice">{{ products.priceWithoutDiscount }}</p>
                    <p class="shopping-cart-new-price" id="selectedNewPrice">{{ products.price }} <span class="small">руб.</span></p>
                </div>
            </div>
            <div class="col-7 col-sm-12 pl-3 pl-sm-0 vcenter justify-content-start justify-content-md-end">
                {% include 'product/inc/modals/change_quantity.html.twig' %}
            </div>
        </div>
    </div>
    {% include 'product/inc/modals/selected_item_footer.html.twig' %}
</div>

<hr/>
<p class="text-bold">Вам может пригодиться</p>
{#{{ dump(related.category.id) }}#}
<form id="addRelatedProductForm" class="related-item" product-id="{{ related.id }}">
    <div class="row no-gutters">
        <div class="col-sm-3 col-6 configurator pr-3">
            <div class="folder-configurator-image selected-item-image h-auto" id="relatedItemImg">
                <div class="image-group">
                    <img src="/img/configurator/folders/without_zipper/material-color/black.png" alt="" class="folder-material-color" oncontextmenu="return false">
                    <img src="/img/configurator/folders/without_zipper/thread-color/black.png" alt="" class="folder-thread-color" oncontextmenu="return false">
                    <img src="/img/configurator/folders/without_zipper/border-color/black.png" alt="" class="folder-border-color" oncontextmenu="return false">
                    <img src="" alt="" class="folder-logo">
                    {#                <img src="/img/configurator/folders/size.png" alt="" class="folder-size">#}
                </div>
            </div>
        </div>
        <div class="col-sm-auto col-6 mr-auto text-center">
            <p class="text-bold mb-2">{{ related.name }}</p>
            <input class="d-none" name="related-item-name" value="related-papka" readonly>
            <input class="d-none related-item-material-color" name="material-color" value="black" readonly>
            <input class="d-none related-item-thread-color" name="thread-color" value="black" readonly>
            <input class="d-none related-item-border-color" name="border-color" value="black" readonly>
            <input class="d-none related-item-brand-logo" name="auto-brand" value="" readonly>
            <input type="radio" name="zipper" value="without_zipper" class="d-none">
            <div class="vcenter justify-content-start justify-content-md-end mb-3">
                {%  include 'product/inc/modals/related_change_quantity.html.twig' %}
            </div>
        {% include 'product/inc/modals/related_logo.html.twig' %}
        </div>
        <div class="col-sm-5 col-12 d-flex align-items-end">
            <div class="row no-gutters w-100">
                <div class="col-sm-12 col-6 vcenter">
                    <p class="mb-0 mb-sm-2 text-right">Цена: <span id="relatedPrice">{{ related.price }}</span> руб.</p>
                </div>
                <div class="col-sm-12 col-6">
                    {% include 'buttons/add_related_btn.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</form>