<button id="addRelatedProduct" class="btn btn-mini btn-main  waves-effect waves-light w-100 m-0" style="overflow:hidden"><span class="add-related-text">Добавить</span>
    <span class="line1"></span><span class="line2"></span>
</button>