<div class="col-xl-5 col-12 vcenter justify-content-end cart-icon">
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% include 'main/template-parts/svg/user-icon.svg' %}

        </a>
        <div class="dropdown-menu " style=" left:-124px" aria-labelledby="navbarDropdownMenuLink">
{#            <a class="dropdown-item" href="#">Action</a>#}
            <span class="dropdown-item" id="topMenuUserEmail">{{ twig_variables.user.email }}</span>
            {% if app.request.pathInfo == path('accounts-admin')  %}
             <a class="dropdown-item"  data-toggle="modal" data-target="#editAdminModal" >Мои данные</a>
            {% else %}
                <a class="dropdown-item" href="{{ path('accounts-admin') }}">Админ</a>
            {% endif %}
            <a class="dropdown-item" href="{{ path('app_logout') }}">Выход</a>
        </div>
    </div>
</div>
