<div class="main-menu navbar-expand-lg">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item {{ app.request.get('_route') == 'aboutus' ? 'active' }}">
                <a class="nav-link" href="{{ path(name="aboutus") }}" target="{{ app.request.get('_route') != 'home' ? '_blank' }}">
                    <span class="hover_style_menu">
                        <span></span><span></span><span></span>
                    </span>
                        О компании
                </a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'media' ? 'active' }}">
                <a class="nav-link" href="{{ path(name="media") }}" target="{{ app.request.get('_route') != 'home' ? '_blank' }}">
                    <span class="hover_style_menu">
                        <span></span><span></span><span></span>
                    </span>
                    Фото и видео
                </a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'promotions' ? 'active' }}">
                <a class="nav-link" href="{{ path(name="promotions") }}" target="{{ app.request.get('_route') != 'home' ? '_blank' }}">
                    <span class="hover_style_menu">
                        <span></span><span></span><span></span>
                    </span>
                    Акции
                </a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'comments' ? 'active' }}">
                <a class="nav-link anchor" href="{{ app.request.get('_route') != 'home' ? '/#customerComments' : '#comments' }}" target="{{ app.request.get('_route') != 'home' ? '_blank' }}">
                    <span class="hover_style_menu">
                        <span></span><span></span><span></span>
                    </span>
                    Отзывы
                </a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'forpartners' ? 'active' }}">
                <a class="nav-link" href="{{ path(name="forpartners") }}" target="{{ app.request.get('_route') != 'home' ? '_blank' }}">
                    <span class="hover_style_menu">
                        <span></span><span></span><span></span>
                    </span>
                    Нашим партнерам
                </a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'payment' ? 'active' }}">
                <a class="nav-link" href="{{ path(name="payment") }}" target="{{ app.request.get('_route') != 'home' ? '_blank' }}">
                    <span class="hover_style_menu">
                        <span></span><span></span><span></span>
                    </span>
                    Оплата и доставка
                </a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'contacts' ? 'active' }}">
                <a class="nav-link" href="{{ path(name="contacts") }}" target="{{ app.request.get('_route') != 'home' ? '_blank' }}">
                    <span class="hover_style_menu">
                        <span></span><span></span><span></span>
                    </span>
                    Контакты
                </a>
            </li>
        </ul>
    </div>
</div>