<div class="col-xl-5 col-12 vcenter justify-content-end cart-icon">
    <a href="{{ path(name="shoppingcart") }}" class="cart-link">
        <span class="shopping-cart">
            {#                            <?php echo file_get_contents('/img/shoppingCart.svg'); ?>#}
                <i class="icon icon-shopping-cart"></i>
                <span class="cart-item-no" id="menuCartItemsQuantity">{{ twig_variables.shoppingCart.getItemsQuantity }}</span>
        </span>
        <span class="cart-item-text d-none d-sm-block">
            <span class="">Корзина</span>
            <span class="total-amount" id="menuCartItemsAmount">{{ twig_variables.shoppingCart.getCartAmount }} руб.</span>
        </span>
    </a>
</div>
