{#{{ twig_variables.isPartnerAdded }}#}
{#{{ twig_variables.getCityWithType() }}#}
<div class="sm-city-tel d-xl-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto vcenter">
{#                <i class="icon icon-map-marker"></i>#}
{#                <a href="#!">г. Казань</a>#}
            </div>
            <div class="col-auto vcenter">
                    <i class="icon icon-phone"></i>
                    <a href="tel:89272410574">+7 (927) 241-05-74</a>
            </div>
        </div>
    </div>
</div>
<nav class="top-menu navbar fixed-top navbar-expand-lg scrolling-navbar navbar-light" id="topMenu">
    <div class="w-100">
        <div class="row sm-no-gutters">
            <div class="col-lg-3 order-0 col-auto mr-auto logo-icon">
                <a class="navbar-brand" href="{{ path(name="home") }}">
                    {% include 'main/template-parts/svg/logo.svg' %}
{#                            <?php echo file_get_contents('/img/logo.svg'); ?>#}
                </a>
            </div>
            <div class="col-auto order-lg-1 order-2 d-lg-none vcenter menu-icon">
                <button class="navbar-toggler menu-button" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">

                        <div class="animated-menu-icon"><span></span><span></span><span></span></div>

                </button>
            </div>
            <div class="col-xl-6 col-lg-7 order-lg-2 order-3 navbar-menu">
                <div class="collapse navbar-collapse" id="navbar1">
                    <ul class="navbar-nav">
                        {% for category in twig_variables.categories %}
                            <li class="nav-item {{ app.request.get('_route') == category.slug  ? 'active' }}">
                            <a class="nav-link" href="{{ path(category.slug) }}"><span>{{  category.name }} </span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-auto col-xl-3 order-lg-3 order-1 cart-info">
                <div class="row justify-content-end">
                    <div class="col-xl-auto justify-content-end navbar-tel">
                        <div class="text-right font-weight-bold">
                            <a class="text-dark" href="tel:89272410574">+7 (927) 241-05-74</a>
                            <p class="small mb-0 text-center">
                                <a href="#!" class="pt-1" id="topMenuChangeCityBtn" data-toggle="modal" city-index="{{twig_variables.location.postCode}}" city="{{twig_variables.location.city}}" data-target="#selectYourCityModal">
                                        <span>{{ twig_variables.getCityWithType() }}</span>
                                    <i class="fas fa-angle-down"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    {# shopping cart #}
                    {% if is_granted('ROLE_ADMIN') %}
                        {% include 'main/template-parts/menu/admin-account.html.twig' %}
                    {% else %}
                        {% include 'main/template-parts/menu/shopping-cart.html.twig' %}
                    {% endif %}
                    {# end shopping cart #}
                </div>
            </div>
        </div>
    </div>

</nav>