<div class="row justify-content-center pt-5">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4 pb-lg-0">
        <div class="info-icon v3 mb-1">
            <div class="icon-circle">
                {% include 'infopages/template-parts/forpartners/icons/high_payouts.svg' %}
            </div>
        </div>
        <p class="info-icon-text v2">Высокие суммы выплат</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4 pb-lg-0">
        <div class="info-icon v3 mb-1">
            <div class="icon-circle">
                {% include 'infopages/template-parts/forpartners/icons/no_attachments.svg' %}
            </div>
        </div>
        <p class="info-icon-text v2">Без вложений</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4 pb-lg-0">
        <div class="info-icon v3 mb-1">
            <div class="icon-circle">
                {% include 'infopages/template-parts/forpartners/icons/simple_cooperation.svg' %}
            </div>
        </div>
        <p class="info-icon-text v2">Прозрачность и простота сотрудничества</p>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="info-icon v3 mb-1">
            <div class="icon-circle">
                {% include 'infopages/template-parts/forpartners/icons/all_over_Russia.svg' %}
            </div>
        </div>
        <p class="info-icon-text v2">Действует во всех городах России</p>
    </div>
</div>
