<!-- Admin > add partner modal -->
<div class="modal fade modal-white-backdrop" id="bePartnerModal" tabindex="-1" role="dialog" aria-labelledby="bePartnerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon icon-cross"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-12 offset-md-2 offset-0">
                        <form id="bePartnerModalForm">
                            <input type="text" class="input_text_transparent input-dark mb-3 w-100" form-data="namebePartnerModalForm"  name="user_name" placeholder="Ваше имя">
                            <input type="tel" class="input_text_transparent input-dark mb-3 w-100 phone-no" form-data="phonebePartnerModalForm" name="user_phone" placeholder="Введите номер телефона">
                            <button type="button" id="bePartnerModalBtn" class="btn btn-main m-0 mb-3 w-100">стать партнером</button>
                        </form>
                        <p class="font-size-12 text-center line-height-1">Нажимая на кнопку, вы даете согласие на обработку персональных данных</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Admin > add partner modal -->