<div class="instructions">
    <div class="container">
        <h2 class="text-center head_line">Как это работает?</h2>
        <div class="row no-gutters pb-4 mb-sm-5">
            <div class="col-lg-7 col-12 item first">
                <div class="instruction-item">
                    <p class="instruction-title">Наш сотрудник регистрирует вас в нашей системе в качестве партнера.</p>
                    <p>При этом вам присваивается уникальный промо код со скидкой для ваших клиентов.
                        <br/>Например: Ваша компания называется «Римзона». Мы присваиваем вам промокод «RIMZONA».</p>
                    <div class="instruction-no">
                        <span>1</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-8col-12 item offset-lg-4 offset-0 second">
                <div class="instruction-item">
                    <p class="instruction-title">Компания CarStoris изготовит для вас 1000 визиток с вашим промо кодом.</p>
                    <p>Вы раздаете визитки клиентам. Все, что от вас нужно - дать визитку и сказать «Там классные подарки для авто».
                        А если вас спросят, что там на сайте? Скажите, это лучше увидеть, зайдите на сайт. Всем нравится.
                        Введете промо код с визитки еще и скидка будет.
                        <br/>И все, больше ничего. Главное - вызвать любопытство.</p>
                    <div class="instruction-no">
                        <span>2</span>
                    </div>
                </div>
            </div>

            <div class="col-xl-5 col-sm-6 col-12 item third">
                <div class="instruction-item">
                    <p class="instruction-title">Ваши клиенты делают заказы на нашем сайте.</p>
                    <p>При оплате вводят промокод «RIMZONA» для получения скидки.
                       <br/>По введенному промо коду сайт понимает, что клиент от вас.</p>
                    <div class="instruction-no">
                        <span>3</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-sm-6 col-12 third-img">
                <img src="/img/info-pages/instructions-no3.png" alt="" class="w-100 p-3 p-sm-0">
            </div>

            <div class="col-lg-8 col-12 item offset-lg-4 offset-0 fourth">
                <div class="instruction-item">
                    <p class="instruction-title">Вы получаете деньги с каждой продажи.</p>
                    <p>
                        Начисления всегда можно посмотреть <a class="blue-link-2" href="{{ path('accounts_partner') }}" target="_blank">здесь</a> в режиме реального времени. Вы видите, какие
                        товары покупали ваши клиенты, в каком количестве и сколько вы заработали с каждого заказа.
                        <br/>Наш менеджер раз в месяц перечисляет деньги на вашу карту или расчетный счет.</p>
                    <div class="instruction-no">
                        <span>4</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-12 item fifth">
                <div class="instruction-item">
                    <p class="instruction-title">Все честно и прозрачно!</p>
                    <p>Никаких пустых обещаний. Система автоматически начисляет процент с каждой продажи.
                        Проверить легко - оплатите любой товар на сайте сами или попросите знакомых сообщить вам,
                        что оплатили заказ. Заходите в <a href="{{ path('accounts_partner') }}" class="blue-link-2" target="_blank">личный кабинет</a>, ваш процент уже начислен.</p>
                    <div class="instruction-no">
                        <span>5</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-12 item offset-lg-4 offset-0 sixth">
                <div class="instruction-item">
                    <p class="instruction-title">А также можете советовать нашу компанию в соцсетях или на вашем сайте. </p>
                    <p>Для этого мы абсолютно бесплатно можем установить на ваш сайт кнопку, при переходе по которой
                        ваши клиенты смогут заказать аксессуары CarStoris, с которых вы также получите деньги.</p>
                    <div class="instruction-no">
                        <span>6</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center">
            <a href="#!" class="btn btn-main" data-toggle="modal" data-target="#bePartnerModal">стать партнером</a>
        </div>
    </div>
</div>