<div class="target-audience">
    <div class="container">
        <h2 class="text-center head_line">Кому это подходит?</h2>
        <div class="row">
            <div class="col-lg-9 col-12">
                <p class="main-text mb-md-5">У вас может быть автосервис, автомойка или автомагазин, а может быть салон красоты премиум класса или ресторан, а может быть вы блогер, неважно. <br/>Если ваши клиенты ездят на авто, то это предложение для вас.</p>
                <p>Ваш процент с продаж перечисляется вам на карту или расчетный счет один раз в месяц каждый месяц и так всегда.</p>
            </div>
        </div>
        <div class="text-center">
            <a href="#!" class="btn btn-main" data-toggle="modal" data-target="#bePartnerModal">стать партнером</a>
        </div>
    </div>
</div>