{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper pt-7" style="margin-top: 200px">
    <div class="mt-8"></div><div class="mt-8"></div>
    {% include 'order/template-parts/citiesList.html.twig' %}
    This friendly message is coming from:

</div>
{% endblock %}
