<div class="carstoris-gallery animated fadeIn">
    {% for i in 1..28 %}

        {% if i in ['7', '9', '13', '17'] %}
            <div class="cg-item">
            <div class="two-img">
        {% elseif i in ['8', '10', '14', '18'] %}
            {#                <span></span>#}
        {% else %}
            <div class="cg-item">
        {% endif %}
        <a href="/img/photo-gallery/{{ i }}.jpg" class="" data-fancybox="gallery">
            <img src="/img/photo-gallery/thumbnails/{{ i }}.jpg" alt="">
        </a>
        {% if i in ['7', '9', '13', '17'] %}
            {#            <span></span>#}
        {% elseif i in ['8', '10', '14', '18'] %}
            </div></div>
        {% else %}
            </div>
        {% endif %}

    {% endfor %}
</div>