<!DOCTYPE html>
<html lang="ru">
<head>
    {# Текущий адрес каждой страницы. #}
    {% set currentPath = path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{% block desc %}CarStoris{% endblock %}">
    <title>{% block title %}CarStoris{% endblock %}</title>
    <link rel="canonical" href="https://carstoris.ru{{ currentPath }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" >
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.8.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(57696271, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/57696271" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <meta name="yandex-verification" content="91abc3f8751a4ed2" />

    <!-- /Yandex.Metrika counter -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146253483-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-146253483-2');
    </script>
    <meta name="google-site-verification" content="QO93FKRMNKnorkjKn40Yvo7V56Aib7-_7FpdvJj_2QM" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('bootstrap-style') }}
        {{ encore_entry_link_tags('md-bootstrap-style') }}
        {{ encore_entry_link_tags('custom-style') }}
        {{ encore_entry_link_tags('swiper-style') }}
        {{ encore_entry_link_tags('customFont') }}
        <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.8.0/dist/css/suggestions.min.css" rel="stylesheet" />

    {% endblock %}
    {% block headscripts %}
    {% endblock %}
    {% block openGraph %}
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:url" content="{{ app.request.uri }}" />
        <meta property="og:description" content="{{ desc }}" />
        <meta property="og:image" content="https://carstoris.ru/img/logo_og.jpg" />
    {% endblock %}

</head>
<body>
{% include 'main/template-parts/menu/top-menu.html.twig' %}
{% include 'order/template-parts/changeCityModalTopMenu.html.twig' %}
{% block body %}

{% endblock %}
{% include 'order/template-parts/changeCityModal.html.twig' %}
{% include 'main/template-parts/footer.html.twig' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
{#<script src="https://github.com/jsanahuja/InstagramFeed/blob/master/dist/InstagramFeed.min.js"></script>#}

{% block javascripts %}
{#                {{ encore_entry_script_tags('jquery') }}#}
    {#    {{ encore_entry_script_tags('popper') }}#}
    {{ encore_entry_script_tags('bootstrap-js') }}
    {{ encore_entry_script_tags('md-bootstrap-js') }}
    {{ encore_entry_script_tags('splitlines-js') }}
    {{ encore_entry_script_tags('instagramFeedJs') }}
    {#            {{ encore_entry_script_tags('swiper-js') }}#}

    {{ encore_entry_script_tags('custom-js') }}
    {{ encore_entry_script_tags('suggestions-js') }}
    {{ encore_entry_script_tags('map-js') }}
    {{ encore_entry_script_tags('multiselect-js') }}
    {{ encore_entry_script_tags('md-datatables-js') }}
    {{ encore_entry_script_tags('md-datatables-style') }}
    {{ encore_entry_script_tags('popper') }}
    {{ encore_entry_script_tags('masked-input-js') }}
    {{ encore_entry_script_tags('order-js') }}
<script src="https://api-maps.yandex.ru/2.1/?apikey=be89b249-4e22-4842-9992-1e6787b5c742&lang=ru_RU&mode=debug" type="text/javascript">
{% endblock %}

{% block modal %}

{#    {% include 'main/template-parts/modals/callMeModal.html.twig' %}#}
    {% include 'accounts/template-parts/admin-modal.html.twig' %}

{% endblock %}

<script>

    // let adress =   $("#address");
    // adress.suggestions({
    //     token: "711dc3fd59333801797a21bffa56c0f9a5a34769",
    //     type: "ADDRESS",
    //     hint: false,
    //     bounds: "city",
        //     constraints: {
        //         label: "",
    //         locations: {
    //             city_type_full: "город"
    //         }
    //     },
    //     /* Вызывается, когда пользователь выбирает одну из подсказок */
    //     onSelect: function(suggestion) {
    //         console.log(suggestion.data.country);
    //         console.log(suggestion.data.city);
    //         console.log($('#address').val());
    //         $('#selectYourCityModal').modal();
    //         $('#selectedCity').attr('value', suggestion.data.country + ', ' +  suggestion.data.city);
    //     }
    // });
    // $(window).load(function() {
    //
    // });
</script>
</body>

