<div class="carpet-info grey-gradient-bg">
    <div class="content p-0 m-0">
        <div class="container">
            <div class="row no-gutters justify-content-between pt-3 pb-2">
                <div class="col-3">
                    <div class="info-icon v3">
                        <div class="icon-circle">
                            {% include 'folders/template-parts/info-icons/doc-save.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Отличный вариант для хранения страховки и любых других документов в автомобиле. </p>
                </div>
                <div class="col-3">
                    <div class="info-icon v3">
                        <div class="icon-circle">
                            {% include 'folders/template-parts/info-icons/for-a4.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Идеально подходит для документов формата А4 и планшетов.</p>
                </div>
                <div class="col-3">
                    <div class="info-icon v3">
                        <div class="icon-circle">
                            {% include 'folders/template-parts/info-icons/eco-leather.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Качественная Эко кожа надолго защитит папку от стирания</p>
                </div>
            </div>
            <div class="row justify-content-center pt-5">
                <div class="col-3">
                    <div class="info-icon v3">
                        <div class="icon-circle">
                            {% include 'folders/template-parts/info-icons/style.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Стильный внешний вид дарит эстетическую радость снова и снова.</p>
                </div>
                <div class="col-3 offset-1">
                    <div class="info-icon v3">
                        <div class="icon-circle">
                            {% include 'folders/template-parts/info-icons/logo.svg' %}
                        </div>
                    </div>
                    <p class="info-icon-text">Добавьте логотип с маркой вашего автомобиля и ваши друзья точно захотят себе такую же.</p>
                </div>
            </div>
        </div>
    </div>
</div>