<div class="bag-configurator-image" id="bagConfiguratorImage">
    <div class="image-group">
        <img src="/img/configurator/folders/material-color/black.png" alt="" class="bag-material-color">
        <img src="/img/configurator/folders/thread-color/black.png" alt="" class="bag-thread-color">
        <img src="/img/configurator/folders/border-color/black.png" alt="" class="bag-border-color">
        <img src="" alt="" class="bag-logo">
    </div>
</div>