<!-- Swiper -->
<div class="fp swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide v4">
            <img src=".././img/fp-slider/folders-slider-01.jpg" alt="">
            <div class="container">
                <div class="caption">
                    <p class="white-text font-size-40 mt-n2">Стильные аксессуары для стильного салона <br/>или что-нибудь такое, текст надо красивый</p>
                    <button class="btn btn-main">получить скидку</button>
                </div>
            </div>
            <div class="caption-bg">
                <div class="bg-1 white-bg"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <img src=".././img/fp-slider/fp-slider-02.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src=".././img/fp-slider/fp-slider-03.jpg" alt="">
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="fp swiper-pagination"></div>
</div>