<!-- Modal -->
{#{{ dump(twig_variables) }}#}
{% if not twig_variables.shoppingCart.partner  %}

    <div class="modal fade" id="discountInfoModal" tabindex="-1" role="dialog" aria-labelledby="discountInfoModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon icon-cross"></i>
                </button>
                <div class="modal-body py-5">
                    <form action="">
                        <div class="text-center">
                            <p class="h1 line-height-1-2 mb-3">Промо-код на скидкку</p>
                            <a href="#!" class="h1 pink-link text-uppercase">skidka</a>
                            <p class="lead line-height-1-2 mt-3 mb-5 mx-4">Используйте этот код при оплате заказа и получите скидку.</p>
                            <a href="#!" class="btn btn-main text-sentence-case mx-4" data-dismiss="modal">Спасибо, понятно</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}