{% extends 'base.html.twig' %}

{% block title %}Саквояжи{% endblock %}

{% block body %}
    {% include 'bags/template-parts/slider.html.twig' %}
    {% include 'main/template-parts/menu/main-menu.html.twig' %}
    <div class="content mt-n3 mt-sm-4">
        <div class="container">

            <h2 class="text-center head_line">Саквояжи</h2>
            <p class="h2-responsive line-height-1 text-center mb-3 mb-sm-5">Для заказа выберите цвет материала, а также нити и окантовки.</p>
            <div class="row configurator">
                <div class="col-lg-6 col-12 text-center">
                    {% include 'bags/template-parts/bagConfigurator.html.twig' %}
                </div>
                <div class="col-lg-6 col-12">

                    <ul class="nav nav-tabs" id="bagDesign" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="selectColorTab" data-toggle="tab" href="#selectColor" role="tab" aria-controls="selectColor"
                               aria-selected="true">выбор цвета</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-1 m-sm-0" id="selectLogoTab" data-toggle="tab" href="#selectLogo" role="tab" aria-controls="selectLogo"
                               aria-selected="false">выбор логотипа</a>
                        </li>
                    </ul>
                    <form>
                        <div class="tab-content mb-3" id="bagDesignContent">
                            <div class="tab-pane fade show active pt-2 pt-sm-4" id="selectColor" role="tabpanel" aria-labelledby="selectColorTab">
                                {% include 'bags/template-parts/designSelectColor.html.twig' %}
                            </div>
                            <div class="tab-pane fade pt-3" id="selectLogo" role="tabpanel" aria-labelledby="selectLogoTab">
                                {% include 'bags/template-parts/designSelectLogo.html.twig' %}
                            </div>
                        </div>
                    </form>

                    <div class="product-old-price">
                        <span>4 900 руб.</span>
                    </div>
                    <div class="product-price">
                        <span>3 500 <span class="small">руб.</span></span>
                    </div>

                    <div class="text-right mt-3">
{#                        <button class="btn btn-main w-210p m-0 mb-2" data-toggle="modal" data-target="#selectedItemModal">купить</button>#}
                        {% include '/buttons/add_to_cart.html.twig' %}
                    </div>

                </div>
            </div>

            {% include 'bags/template-parts/productReview.html.twig' %}

        </div>
    </div>
    {% include 'main/template-parts/map.html.twig' %}
    {% include 'main/template-parts/orderForm.html.twig' %}
    {% include 'main/template-parts/videos.html.twig' %}
    {% include 'main/template-parts/productGallery.html.twig' %}
    {% include 'main/template-parts/comments.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bags-js') }}
{% endblock %}

{% endblock %}