<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path(name="home") }}">Главная</a></li>
        <li class="breadcrumb-item active">{{ breadcrumb }}</li>
    </ol>
</nav>