
    <div class="row no-gutters categories">
        {% for category in twig_variables.categories %}
            <div class="col-6 col-sm-4 p-1">
                <a href="{{ app.request.get('_route') != category.slug  ? path(category.slug) }}">
                    <span>{{ category.name }} </span>
                    <img class="w-100" src="/img/banners/{{ category.menuOrder }}.jpg">
                </a>
            </div>
        {% endfor %}
{#        <div class="col-6 col-sm-4 p-1">#}
{#            <a href="{{ path(name="mantle") }}">#}
{#                <span>Накидки</span>#}
{#                <img class="w-100" src="/img/banners/2.jpg">#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-6 col-sm-4 p-1">#}
{#            <a href="{{ path(name="carpets") }}">#}
{#                <span>Коврики</span>#}
{#                <img class="w-100" src="/img/banners/3.jpg">#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-6 col-sm-4 p-1">#}
{#            <a href="{{ path(name="for_kids") }}">#}
{#                <span>Для детей</span>#}
{#                <img class="w-100" src="/img/banners/4.jpg">#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-6 col-sm-4 p-1">#}
{#            <a href="{{ path(name="folders") }}">#}
{#                <span>Папки</span>#}
{#                <img class="w-100" src="/img/banners/5.jpg">#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-6 col-sm-4 p-1">#}
{#            <a href="{{ path(name="for_animals") }}">#}
{#                <span>Для животных</span>#}
{#                <img class="w-100" src="/img/banners/6.jpg">#}
{#            </a>#}
{#        </div>#}
    </div>
