<div class="home_slider" id="customerComments">
    <div class="container">
        <div class="text-center head_line h2-responsive">
            <span>Автомобильные аксессуары от</span>
            <img src="/img/label.svg" height="20" class="label mx-1">
            <span>нравятся всем</span>
        </div>
        <!-- Swiper -->
        <div class="swiper_groups">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a name="comments"></a>
                    <a href="/img/otzyvy/1.jpg" data-fancybox="gallery"><img src="/img/otzyvy/1.jpg" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="/img/otzyvy/2.jpg" data-fancybox="gallery"><img src="/img/otzyvy/2.jpg" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="/img/otzyvy/3.jpg" data-fancybox="gallery"><img src="/img/otzyvy/3.jpg" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="/img/otzyvy/4.jpg" data-fancybox="gallery"><img src="/img/otzyvy/4.jpg" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="/img/otzyvy/5.jpg" data-fancybox="gallery"><img src="/img/otzyvy/5.jpg" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="/img/otzyvy/6.jpg" data-fancybox="gallery"><img src="/img/otzyvy/6.jpg" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="/img/otzyvy/7.jpg" data-fancybox="gallery"><img src="/img/otzyvy/7.jpg" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="/img/otzyvy/8.jpg" data-fancybox="gallery"><img src="/img/otzyvy/8.jpg" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="/img/otzyvy/9.jpg" data-fancybox="gallery"><img src="/img/otzyvy/9.jpg" alt=""></a>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper_pagination_groups"></div>
        </div>
    </div>
</div>