<div class="container my-4" id="customerComments">
    <div class="customer-comments">
        <div class="cc-swiper swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="comment">
                        <div class="comment-image">
                            <img src="/img/customer-comments/01.jpg" alt="">
                        </div>
                        <div class="comment-text">
                            <p>CarStoris зарекомендовал себя как надежный партнер, который выполняет все свои обязательства!</p>
                            <p>В компании работают профессионалы своего дела, которые по-настоящему заинтересованы в отличных результатах своих клиентов. Они справятся с самой сложной задачей и достигнут самых амбициозных целей!</p>
                            <p class="mt-4">Однозначно рекомендую!</p>
                            <p class="author mt-4">Смирнов В.В.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="comment">
                        <div class="comment-image">
                            <img src="/img/customer-comments/01.jpg" alt="">
                        </div>
                        <div class="comment-text">
                            <p>CarStoris зарекомендовал себя как надежный партнер, который выполняет все свои обязательства!</p>
                            <p>В компании работают профессионалы своего дела, которые по-настоящему заинтересованы в отличных результатах своих клиентов. Они справятся с самой сложной задачей и достигнут самых амбициозных целей!</p>
                            <p class="mt-4">Однозначно рекомендую!</p>
                            <p class="author mt-4">Смирнов В.В.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cc-next swiper-button-next"><i class="icon icon-double-arrow-right"></i></div>
        <div class="cc-prev swiper-button-prev"><i class="icon icon-double-arrow-left"></i></div>
    </div>
    <div class="text-center">
        <h2 class="h2-responsive text-bold mt-2">Понравились автомобильные аксессуары от <img src="/img/label.svg" height="20" class="label"> ?</h2>
        <a href="№!" class="btn btn-main">оставить отзыв</a>
    </div>
</div>