<footer itemscope itemtype="http://schema.org/Organization">
    <div class="container">
        <div class="row">
            <div class="col-md text-md-left text-center">
                {% if app.request.get('_route') == 'home' %}
                     <img src="/img/logo_footer.svg" alt="" width="270">
                {% else %}
                  <a href="{{ path('home') }}"><img src="/img/logo_footer.svg" alt="" width="270"></a>
                {% endif %}
                <meta itemprop="name" content="CarsStoris - подарки Вашему авто" />
            </div>
            <div class="col-md text-md-right text-center pt-3 pt-md-0">
                <button class="btn btn-main waves-effect waves-light btn_footer" data-toggle="modal" data-target="#callMeModal">Перезвоните мне<span class="line1"></span><span class="line2"></span></button></button>
            </div>
        </div>
    </div>
    <div class="container footer_center">
        <div class="row no-gutters justify-content-center">

            <div class="col-12 col-sm-6 col-md-4 col-xl text-center text-lg-left">
                <div class="footer_header_block"><span>Где мы находимся?</span></div>
                <div class="footer_block border-right border-white">
                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="fcontent">
                        <span>
                            <span itemprop="postalCode">420033</span><br>
                            <span itemprop="addressLocality">
                                Республика Татарстан,<br>
                                г.Казань,
                            </span><br>
                            {% if app.request.get('_route') == 'contacts' %}
                            <span itemprop="streetAddress">ул. Лазарева, д.5а</span>
                            {% else %}
                                <a href="{{ path('contacts') }}" target="_blank"><span itemprop="streetAddress">ул. Лазарева, д.5а</span></a>
                            {% endif %}
                        </span>
                    </span> 
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-xl text-center text-lg-left">
                <div class="footer_header_block"><span>Наш номер телефона</span></div>
                <div class="footer_block border-right border-white">
                    <span class="fcontent">
                        <a href="tel:+79272410574">
                            <i class="icon icon-phone"></i>
                            <span itemprop="telephone">+7 (927) 241-05-74</span>
                        </a><br>
                        <a href="https://wa.me/79272410574" target="_blank">
                            <i class="icon icon-social-wa"></i>
                            <span>+7 (927) 241-05-74</span>
                        </a><br>
                    </span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-xl text-center text-sm-left">
                <div class="footer_header_block">Мы в сети</div>
                <div class="footer_block border-right border-white">
                    <span class="fcontent">
                        <a href="mailto:carstoris@ya.ru">
                            <i class="icon icon-social-email"></i>
                            <span itemprop="email">carstoris@ya.ru</span>
                        </a><br>
                        <a href="https://instagram.com/carstoris.ru?igshid=1vvacn7dh54hg" target="_blank">
                            <i class="icon icon-social-instagram"></i>
                            <span>carstoris.ru</span>
                        </a><br>
                        <a href="https://vk.com/carstoris" target="_blank">
                            <i class="icon icon-social-vk"></i>
                            <span>vk.com/carstoris</span>
                        </a>
                    </span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-xl text-center text-sm-left">
                <div class="footer_header_block">Доставка по России</div>
                <div class="footer_block border-right border-white">
                    <div class="row justify-content-center">
                        <div class="col-auto d-flex align-items-center justify-content-center">
                            <noindex>
                                <a href="https://www.pochta.ru/tracking" target="_blank" rel="nofollow"><img src="/img/icons/pochta-footer.png" alt="Проследить отправку по почте России"></a>
                            </noindex>
                        </div>
                        <div class="col-auto d-flex align-items-center justify-content-center">
                            <noindex>
                                <a href="https://cdek.ru/tracking" target="_blank" rel="nofollow"><img src="/img/icons/sdec-footer.png" alt="Проследить отправку в CDEK"></a>
                            </noindex>

                        </div>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-xl text-center text-sm-left">
                <div class="footer_header_block">Мы принимаем к оплате</div>
                <div class="footer_block">
                   <span class="fcontent">
                       <i class="icon big_icon icon-pay-cash"></i>Наличный расчет<br>
                       <i class="icon big_icon icon-pay-with-card"></i>Оплата картой<br>
                       <i class="icon big_icon icon-doc"></i>Безналичный расчет<br>
                   </span>
                </div>
            </div>

        </div>
    </div>
    <div class="footer_bottom">
        <div class="row no-gutters">
            <div class="col-md copyright-title mb-3 mb-md-0">CarStories 2018-{{ "now"|date("Y") }}</div>
            <div class="col-md menu-link">Не является офертой</div>
            <div class="col-md menu-link"><a href="{{ path(name="privacy") }}">Политика конфиденциальности</a></div>
            <div class="col-md menu-link border-0"><a href="{{ path('sitemap') }}">Карта сайта</a></div>
            <div class="col-md menu-link border-0"><a href="{{ path(name="garanty") }}">Гарантийные условия</a></div>
            <div class="col-md developer mt-3 mt-md-0"><a href="https://onlinepromo.ru/" target="_blank">Сайт разработан в <img src="/img/logo-onlinepromo.svg" alt="Onlinepromo" class="onpromo"></a></div>
        </div>
    </div>
</footer>

<div class="back-to-top">
    <i class="icon icon-double-arrow-right"></i>
</div>

{% block modal %}
    {% include 'main/template-parts/modals/discountModal.html.twig' %}
    {% include 'main/template-parts/modals/discountInfoModal.html.twig' %}
    {% include 'main/template-parts/modals/callMeModal.html.twig' %}
{% endblock %}