<div class="product-description">
    <div class="container">
        <p class="product-description__title">ТОП-5 автомобильных аксессуаров, которые можно <br/>заказать в компании «Сarstoris»</p>
        <p class="product-description__subtitle">Помимо эстетической привлекательности, у любого аксессуара представленного на сайте нашей компании, есть свое функциональное предназначение. Мы предлагаем автомобильные аксессуары, которые производятся из материалов «премиум» качества, и гарантированно будут радовать Вас своей практичностью на протяжении долгих лет эксплуатации.</p>
        <p class="product-description__subtitle">Предлагаем Вашему вниманию ТОП-5 самых востребованных аксессуаров, которые можно заказать в компании «Сarstoris»: качественных товаров, которые подарят Вам и Вашим близким множество положительных эмоций.</p>
    </div>
    <div class="product-description__items">
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="product-description__item-image">
                        <img class="med-and-hi-float-right" src="/img/products/descriptions/bags.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-description__item-text">
                        <p><b>Саквояжи.</b> Стильный и удобный саквояж для автомобиля на заказ – это грамотное решение вопроса с ситуацией нехватки свободного места, а также порядка в багажнике. Это стильное и вместительное изделие, которое не имеет ничего общего с саквояжами, которые предлагаются обычными автомагазинами. Все саквояжи компания «Сarstoris» производит на заказ, в индивидуальном стиле, благодаря чему можно с легкостью подобрать вариант, который подойдет именно для Вашей машины.  Удобные органайзеры производятся в самых разных цветовых вариациях с использованием уникальных нитей и окантовки. Каждое отдельно взятое изделие – результат ручной работы. В процессе производства мы используем высококачественную экокожу, экологически чистые материалы, соответствующие всем установленным нормам и стандартам. Такой саквояж – это оригинальный подарок для себя, близких и знакомых. Изделие гарантированно понравится не только мужчинам, но и женщинам.
                            <a href="/sakvoyazhi/" class="btn btn-main waves-effect waves-light d-block mt-2 ml-auto mr-auto" style="width: fit-content;">перейти</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12 order-md-2">
                    <div class="product-description__item-image_even">
                        <img class="med-and-hi-float-left" src="/img/products/descriptions/mantles.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12 order-md-1">
                    <div class="product-description__item-text_even">
                        <p><b>Накидки.</b> Мы предлагаем автомобильные накидки на заказ из Алькантары (ткань, которая на 60% состоит из хлопка и на 40% из полиэстирола). Помимо красивого внешнего вида, эти накидки являются настолько приятными на ощупь, что к ним хочется прикасаться снова и снова. Это отличная возможность создать максимальный уровень комфорта в своем автомобиле. Такая накидка отличается высокой износостойкостью, пылеотталкивающими свойствами, не боится контакта с водой и отличается долговечностью. Так как Алькантара – это искусственный материал, наша компания готова создать изделие в любом цвете, что позволит максимально точно дополнить салон Вашего автомобиля. Для подбора оттенка накидки, можно воспользоваться удобным конфигуратором цветов прямо на нашем сайте.
                            <a href="/nakidki/" class="btn btn-main waves-effect waves-light d-block mt-2 ml-auto mr-auto" style="width: fit-content;">перейти</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="product-description__item-image">
                        <img class="med-and-hi-float-right" src="/img/products/descriptions/carpets.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-description__item-text">
                        <p><b>Коврики.</b> Автомобильные коврики EVA (Ethylene Vinyl Acetate) производятся из этиленвинилацетата (вспененный каучук), что наделяет изделие большим количеством конкурентных преимуществ. Автомобильные коврики на заказ от компании «Сarstoris» обладают влагоотталкивающими свойствами, отличаются стойкостью к химии, экологической чистотой, не выделяют неприятных запахов, не поддерживают процессов горения и сохраняют свою эластичность даже при самых низких температурах. Благодаря уникальной форме ячеек, грязь не распространяется за пределы покрытия, благодаря чему нижняя часть салона автомобиля всегда находится в идеально чистом состоянии. Мы производим коврики для авто на заказ, с учетом конкретной модели машины, благодаря чему форма изделия точно соответствует салону и закрывает максимальную часть пола. Коврик EVA отличается простотой в уходе и легко очищается при помощи воды.
                            <a href="/kovriki/" class="btn btn-main waves-effect waves-light d-block mt-2 ml-auto mr-auto"  style="width: fit-content;">перейти</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12 order-md-2">
                    <div class="product-description__item-image_even">
                        <img class="med-and-hi-float-left" src="/img/products/descriptions/for_kids.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12 order-md-1">
                    <div class="product-description__item-text_even">
                        <p><b>Детские накидки.</b> Использование детских накидок на спинку передних сидений или под детское кресло – это возможность на 100% защитить передние сиденья от детских ножек и задние сиденья от потертостей детским креслом. Автомобильный аксессуар отличается влагоотталкивающими свойствами, легко очищается при помощи влажной салфетки, выступает в качестве оригинального дополнения интерьера авто, подходит для автомобилей любых марок и моделей, а также отличается простотой установки. Все детские накидки, которые производится «Сarstoris» - это исключительно ручная работа, благодаря чему Вы можете быть уверены в безупречном качестве изделия и точном соответствии размеров.
                            <a href="/dlya-detej/" class="btn btn-main waves-effect waves-light d-block mt-2 ml-auto mr-auto"  style="width: fit-content;">перейти</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description__item">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="product-description__item-image">
                        <img class="med-and-hi-float-right" src="/img/products/descriptions/folders.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-description__item-text">
                        <p><b>Папки.</b> Стильный аксессуар из экокожи для водителей, которые привыкли уделять внимание даже мелочам. Элегантная папка на заказ – это возможность надежного хранения страховки и любых других важных документов в Вашем автомобиле. Размеры папки идеально подходят под хранение документов формата А4. Папка отличается стильным внешним видом и дарит приятные эмоции от пользования ей каждый день. При необходимости, в производстве мы можем нанести на аксессуар логотип Вашего автомобиля, что позволит подчеркнуть индивидуальность и эксклюзивность изделия.
                            <a href="/papki/" class="btn btn-main waves-effect waves-light d-block mt-2 ml-auto mr-auto"  style="width: fit-content;">перейти</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>