<div class="home_insta_block">
    <div class="container">
        <h2 class="text-center head_line">Мы в <img class="ig-logo" src="/img/instagram.svg" height="40"></h2>
        <div id="instagramFeed" class="instagram_feed"></div>
{#        <div class="row no-gutters ig-posts">#}
{#            <div class="col-md-3 col-6 mb-2 mb-md-0">#}
{#                <div class="ig-post-item">#}
{#                    <img src="/img/social/ig-01.jpg" alt="" class="w-100">#}
{#                    <a href="#!" class="caption">#}
{#                        <span>все записи</span>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 col-6 mb-2 mb-md-0">#}
{#                <div class="ig-post-item">#}
{#                    <img src="/img/social/ig-02.jpg" alt="" class="w-100">#}
{#                    <a href="#!" class="caption">#}
{#                        <span>все записи</span>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 col-6">#}
{#                <div class="ig-post-item">#}
{#                    <img src="/img/social/ig-03.jpg" alt="" class="w-100">#}
{#                    <a href="#!" class="caption">#}
{#                        <span>все записи</span>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 col-6">#}
{#                <div class="ig-post-item">#}
{#                    <img src="/img/social/ig-04.jpg" alt="" class="w-100">#}
{#                    <a href="#!" class="caption">#}
{#                        <span>все записи</span>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="text-center py-4">
            <a href="https://www.instagram.com/carstoris.ru/" target="_blank" class="blue-link text-center font-size-18">Все записи</a>
        </div>
    </div>
</div>