<!—noindex—>
<div class="container">
    <div class="content mt-0 text-center py-4">
        <h3 class="h3-responsive mb-0 text-bold">Наша компания не знает границ</h3>
        <h3 class="h3-responsive mb-2 text-bold red_text">Мы работаем по всей России</h3>
        <div class="lines"></div>
    </div>
</div>
{#<?php#}
{#$map = 'http' . ((isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] != 'off') ? 's' : '') . '://' . $_SERVER['SERVER_NAME'] . '/img/map/map.svg';#}
{#?>#}
<div class="map-block">
    <div id="map">
        <div class="row no-gutters justify-content-center">
            <div class="offset-0 offset-lg-6 col-12 col-lg-6 pl-md-4 px-4 map-svg">
                {% include 'main/template-parts/svg/map.svg' %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 map_text">
                <p>Доставка осуществляется во все города и населенные пункты России.</p>
                <p>Мы изготовим, упакуем и отправим заказ в течение 48 часов.</p>
                <p>Посылка отслеживается на сайте транспортной компании.</p>
                <img src="/img/icons/pochta.png" class="icon_tk">
                <img src="/img/icons/sdec.png" class="icon_tk">
            </div>
        </div>
    </div>
</div>
<!—/noindex—>