<div class="container preim_block pt-4 py-sm-5">
    <div class="row">
        <div class="col mb-3 icon-1"><img class="py-3" src="/img/icons/icon-1.svg" width="100"><span>Собственное производство</span></div>
        <div class="col mb-3 icon-2"><img class="py-3" src="/img/icons/icon-2.svg" width="150"><span>Сделано в России</span></div>
        <div class="col mb-3 icon-3"><img class="py-3" src="/img/icons/icon-3.svg" width="100"><span>Профессиональное оборудование</span></div>
        <div class="col mb-3 icon-4"><img class="py-3" src="/img/icons/icon-4.svg" width="100"><span>Экологичные материалы</span></div>
        <div class="col mb-3 icon-5"><img class="py-3" src="/img/icons/icon-5.svg" width="65"><span>Гарантия качества</span></div>
    </div>
</div>