<div class="home_photo">
    <div class="swiper_groups">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="/img/banners/photo1.jpg" data-fancybox="gallery"><img src="/img/banners/photo1.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/banners/photo2.jpg" data-fancybox="gallery"><img src="/img/banners/photo2.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/banners/photo3.jpg" data-fancybox="gallery"><img src="/img/banners/photo3.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/banners/photo4.jpg" data-fancybox="gallery"><img src="/img/banners/photo4.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/banners/photo2.jpg" data-fancybox="gallery"><img src="/img/banners/photo2.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/banners/photo1.jpg" data-fancybox="gallery"><img src="/img/banners/photo1.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/banners/photo4.jpg" data-fancybox="gallery"><img src="/img/banners/photo4.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/banners/photo3.jpg" data-fancybox="gallery"><img src="/img/banners/photo3.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/banners/photo4.jpg" data-fancybox="gallery"><img src="/img/banners/photo4.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/banners/photo1.jpg" data-fancybox="gallery"><img src="/img/banners/photo1.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/banners/photo3.jpg" data-fancybox="gallery"><img src="/img/banners/photo3.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/img/banners/photo2.jpg" data-fancybox="gallery"><img src="/img/banners/photo2.jpg" alt=""></a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper_pagination_groups"></div>
        <div class="swiper_button_next"><i class="icon icon-double-arrow-right"></i></div>
        <div class="swiper_button_prev"><i class="icon icon-double-arrow-left"></i></div>
    </div>
</div>