<div class="container home_video">
    <h2 class="text-center head_line"><img src="/img/label.svg" height="20" class="label"> - лучший выбор</h2>
    <div class="row no-gutters">
        <div class="col-sm-6 p-1">
            <img src="/img/video/video-1.jpg" class="img-fluid" alt="видео">
{#            <iframe width="560" height="305" src="https://www.youtube.com/embed/S7Vdft_ExrA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
        </div>
        <div class="col-sm-6 p-1">
            <img src="/img/video/video-2.jpg" class="img-fluid" alt="видео">
{#            <iframe width="560" height="305" src="https://www.youtube.com/embed/cP4v5bxBP68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
        </div>
        <div class="col-sm-6 p-1">
            <img src="/img/video/video-3.jpg" class="img-fluid" alt="видео">
{#            <iframe width="560" height="305" src="https://www.youtube.com/embed/xBvZzO-ahzU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
        </div>
        <div class="col-sm-6 p-1">
            <img src="/img/video/video-4.jpg" class="img-fluid" alt="видео">
{#            <iframe width="560" height="305" src="https://www.youtube.com/embed/JJbRUmVQTTU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
        </div>
    </div>
</div>