{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block desc %}{{desc}}{% endblock %}
{# {% block title %}Оформление заказа{% endblock %} #}
   {% block stylesheets %}
      {{ parent() }}
{#       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}

   {% endblock %}
{% block headscripts %}

{% endblock %}
{% block body %}
    <div class="content main">
        <div class="container">
            <h2 class="text-center head_line">Оформление заказа</h2>
            <form id="orderForm" action="{{ path('order-pay') }}" method="get">
                    <div id="mapSelectedPvzInputContainer">

                    </div>
                    <div class="d-flex align-items-start mb-sm-5 mb-2 pt-2">
                        <p class="text-bold mb-0 mr-4">Способ оплаты</p>
                        <div class="mr-5" >
                            <label class="parent-tab circle-radio-btn d-inline m-0">
                                <span>Картой</span>
                                <input type="radio" name="payment-type" value="bank-cards" checked="checked">
                                <span class="checkmark"></span>
                            </label><br/>
                            <img src="/img/card-versions.png" alt="">
                        </div>
                    </div>
                    {% include 'order/template-parts/contacts.html.twig' %}
                    <hr/>
                    {% include 'order/template-parts/delivery.html.twig' %}
                    <hr/>
                    <div class="row promocode_block">
                        <div class="col-md-6 col-12 mr-auto mb-3 mb-md-0">
                            {% if not twig_variables.shoppingCart.partner  %}
                            <div class="row">
                                <div class="col-12">
                                    <p class="text-bold mb-2 mr-4">Введите промо код</p>
                                </div>
                                <div class="col-md-8 col-12 mb-3 mb-md-0">
                                    <input type="text" class="form-control" name="promocode">
                                </div>
                                <div class="col-md-4 col-12 text-right">
                                    <a href="#!" class="btn btn-outline-red promocode_btn" id="promoActivationBtn">активировать</a>
                                </div>
                            </div>
                             {% else %}
                            <div class="row">
                                <div class="col-12">
                                    <p class="text-bold mb-2 mr-4">Введите промо код</p>
                                </div>
                            </div>
                            <p>Вы ввели промокод {{ twig_variables.shoppingCart.partner.promocode }}</p><p style="font-size: .75rem">Скидка по промокоду составляет {{ twig_variables.shoppingCart.partner.promocodeDiscount }}</p>
                            <div class="row">
                                <div class="col-12">
                                    <p class="text-bold mb-2 mr-4">Ввести другой промокод</p>
                                </div>
                                <div class="col-md-8 col-12 mb-3 mb-md-0">
                                    <input type="text" class="form-control" name="promocode">
                                </div>
                                <div class="col-md-4 col-12 text-right">
                                    <a href="#!" class="btn btn-outline-red promocode_btn" id="promoActivationBtn">активировать</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                            <div class="d-flex py-1">
                                <div class="price-title mr-auto">
                                    <p class="text-bold mb-0">Товары</p>
                                    <p class="mb-0 small">{{ shoppingCart.getItemsQuantity() }} {{ twig_variables.getTovar(shoppingCart.getItemsQuantity() ) }}</p>
                                </div>
                                <div class="order-price">
                                    <p class="mb-0 text-bold" id="orderOldPriceAmount"><span>{{ shoppingCart.cartAmountOldPrice }}</span> руб</p>
                                </div>
                            </div>
                            <div class="d-flex py-1 hidden" id="amountDeliveryBlock">
                                <div class="price-title mr-auto">
                                    <p class="text-bold mb-0">Доставка</p>
                                </div>
                                <div class="order-price">
                                    <p class="mb-0 text-bold" id="amountDelivery"><span>100</span> руб</p>
                                </div>
                            </div>
                            <div class="d-flex py-1">
                                <div class="price-title mr-auto">
                                    <p class="text-bold mb-0">Скидка</p>
                                </div>
                                <div class="order-price">
                                    {% if shoppingCart.cartAmountOldPrice != 0 %}
                                        <p class="mb-0 text-bold red_text" id="orderDiscountAmount"> - <span>{{ shoppingCart.cartAmountOldPrice - shoppingCart.cartAmount }}</span> руб</p>
                                    {% else %}
                                    <p class="mb-0 text-bold red_text" id="orderDiscountAmount"> 0 руб</p>
                                    {% endif %}
                                </div>
                            </div>
                            <hr class="mb-1 mt-1">
                            <div class="d-flex">
                                <div class="price-title mr-auto">
                                    <p class="text-bold mb-0 font-size-18">Итого</p>
                                </div>
                                <div class="order-price">
                                    <p class="mb-0 text-bold font-size-18" id="orderAmountToPay"><span>{{ shoppingCart.cartAmount }}</span> руб</p>
                                </div>
                            </div>
                            <div class="order-checkout-submit">
                                <input type="submit" class="btn btn-main m-0 mt-3 px-2 d-block" value="оформить заказ">
                            </div>
                        </div>
                    </div>

            </form>
            <p class="payment-terms">
                Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК. Соединение
                с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола
                шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified
                By Visa или MasterCard SecureCode для проведения платежа также может потребоваться ввод специального пароля.
                Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации
                обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев,
                предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом
                соответствии с требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl.
            </p>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
{#    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.10.0/dist/js/jquery.suggestions.min.js"></script>#}
    {{ encore_entry_script_tags('popper') }}
{#    {{ encore_entry_script_tags('bootstrap-js') }}#}
{#    {{ encore_entry_script_tags('md-bootstrap-js') }}#}
    {{ encore_entry_script_tags('masked-input-js') }}
    {{ encore_entry_script_tags('order-js') }}

{#    {{ encore_entry_script_tags('yMap') }}#}
    <script>


    </script>

    </script>
{% endblock %}

