{#<!-- Payment > Select Your City Modal -->#}
{#<div class="modal fade modal-white-backdrop" id="changeYourCityModalTopMenu" tabindex="-1" role="dialog" aria-labelledby="changeYourCityModalTopMenu"#}
{#     aria-hidden="true">#}
{#    <div class="modal-dialog modal-dialog-centered city-modal" role="document">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <i class="fas fa-times font-size-18"></i>#}
{#                </button>#}
{#            </div>#}
{#            <div class="modal-body pb-4">#}
{#                <p class="h4-responsive text-bold">Выберите Ваш город:</p>#}
{#                <div class="w-50" id="changeCityInputWrapper">#}
{#                    <input type="text" id="addressTopMenu" style="max-width: 600px;" name="addressTopMenu" class="form-control v2" placeholder="Введите Ваш город">#}
{#                    <div class="suggestion-result d-none" id="suggestionResult"></div>#}
{#                </div>#}
{#                #}
{#                {% include 'order/template-parts/citiesListTopMenu.html.twig' %}#}

{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<input type="hidden" name="token" id="changeCityToken" value="{{ csrf_token('change-city') }}"/>