<!-- Payment > Select Your City Modal -->
<div class="modal fade modal-white-backdrop" id="selectYourCityModal" tabindex="-1" role="dialog" aria-labelledby="selectYourCityLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered city-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times font-size-18"></i>
                </button>
            </div>
            <div class="modal-body pb-4">
                <p class="h4-responsive text-bold">Выберите Ваш город:</p>
                <input type="text" id="address" trigeredby="" name="address" class="form-control v2" placeholder="Введите Ваш город">
                {% include 'order/template-parts/citiesList.html.twig' %}
{#                <button type="button" class="btn btn-outline-red" data-dismiss="modal">выбрать еще товар</button>#}
{#                <ul class="list-unstyled pt-3">#}
{#                    <li>#}
{#                        <a href="#!" class="select-other-city" id="selectOtherCity" data-dismiss="modal">#}
{#                            <i class="fas fa-caret-right"></i> Уфа#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
            </div>
        </div>
    </div>
</div>