<ul class="d-flex justify-content-between largest-city-list mt-5 mr-5">
    <li><a href="#!" index="101000" cords="55.75327233931351,37.6216835389606" class="change-city-top-menu red_text">Москва</a></li>
    <li><a href="#!" index="420000" class="change-city-top-menu red_text">Казань</a></li>
    <li><a href="#!" index="190000" cords="59.95764678423001,30.344393072379233" class="change-city-top-menu red_text">Санкт-Петербург</a></li>
    <li><a href="#!" index="620002" class="change-city-top-menu red_text">Екатеринбург</a></li>
</ul>
<div class="d-flex justify-content-between city-list mr-5">
        <div>
            <ul>
                <li><a href="#!" index="655001" class="change-city-top-menu">Абакан</a></li>
                <li><a href="#!" index="163000" class="change-city-top-menu">Архангельск</a></li>
                <li><a href="#!" index="414000" class="change-city-top-menu">Астрахань</a></li>
                <li><a href="#!" index="656000" class="change-city-top-menu">Барнаул</a></li>
                <li><a href="#!" index="308000" class="change-city-top-menu">Белгород</a></li>
                <li><a href="#!" index="659300" class="change-city-top-menu">Бийск</a></li>
                <li><a href="#!" index="675000" class="change-city-top-menu">Благовещенск</a></li>
                <li><a href="#!" index="665700" class="change-city-top-menu">Братск</a></li>
                <li><a href="#!" index="241001" class="change-city-top-menu">Брянск</a></li>
                <li><a href="#!" index="173000" class="change-city-top-menu">Великий Новгород</a></li>
                <li><a href="#!" index="690000" class="change-city-top-menu">Владивосток</a></li>
                <li><a href="#!" index="600000" class="change-city-top-menu">Владимир</a></li>
                <li><a href="#!" index="400000" class="change-city-top-menu">Волгоград</a></li>
                <li><a href="#!" index="160000" class="change-city-top-menu">Вологда</a></li>
                <li><a href="#!" index="394000" class="change-city-top-menu">Воронеж</a></li>
                <li><a href="#!" index="153000" class="change-city-top-menu">Иваново</a></li>
                <li><a href="#!" index="426000" class="change-city-top-menu">Ижевск</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="#!" index="664001" class="change-city-top-menu">Иркутск</a></li>
                <li><a href="#!" index="424000" class="change-city-top-menu">Йошкар-Ола</a></li>
                <li><a href="#!" index="248000" class="change-city-top-menu">Калуга</a></li>
                <li><a href="#!" index="650000" class="change-city-top-menu">Кемерово</a></li>
                <li><a href="#!" index="610000" class="change-city-top-menu">Киров</a></li>
                <li><a href="#!" index="681000" class="change-city-top-menu">Комсомольск-на-Амуре</a></li>
                <li><a href="#!" index="350000" class="change-city-top-menu">Краснодар</a></li>
                <li><a href="#!" index="600030" class="change-city-top-menu">Красноярск</a></li>
                <li><a href="#!" index="640000" class="change-city-top-menu">Курган</a></li>
                <li><a href="#!" index="305000" class="change-city-top-menu">Курск</a></li>
                <li><a href="#!" index="398000" class="change-city-top-menu">Липецк</a></li>
                <li><a href="#!" index="455000" class="change-city-top-menu">Магнитогорск</a></li>
                <li><a href="#!" index="367000" class="change-city-top-menu">Махачкала</a></li>
                <li><a href="#!" index="183001" class="change-city-top-menu">Мурманск</a></li>
                <li><a href="#!" index="423800" class="change-city-top-menu">Набережные Челны</a></li>
                <li><a href="#!" index="360002" class="change-city-top-menu">Нальчик</a></li>
                <li><a href="#!" index="628301" class="change-city-top-menu">Нефтеюганск</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="#!" index="628601" class="change-city-top-menu">Нижневартовск</a></li>
                <li><a href="#!" index="603000" class="change-city-top-menu">Нижний Новгород</a></li>
                <li><a href="#!" index="654000" class="change-city-top-menu">Новокузнецк</a></li>
                <li><a href="#!" index="353900" class="change-city-top-menu">Новороссийск</a></li>
                <li><a href="#!" index="630001" class="change-city-top-menu">Новосибирск</a></li>
                <li><a href="#!" index="644001" class="change-city-top-menu">Омск</a></li>
                <li><a href="#!" index="302001" class="change-city-top-menu">Орел</a></li>
                <li><a href="#!" index="460000" class="change-city-top-menu">Оренбург</a></li>
                <li><a href="#!" index="440000" class="change-city-top-menu">Пенза</a></li>
                <li><a href="#!" index="614000" class="change-city-top-menu">Пермь</a></li>
                <li><a href="#!" index="185001" class="change-city-top-menu">Петрозаводск</a></li>
                <li><a href="#!" index="683000" class="change-city-top-menu">Петропавловск</a></li>
                <li><a href="#!" index="180000" class="change-city-top-menu">Псков</a></li>
                <li><a href="#!" index="357361" class="change-city-top-menu">Пятигорск</a></li>
                <li><a href="#!" index="344000" class="change-city-top-menu">Ростов-на-Дону</a></li>
                <li><a href="#!" index="390000" class="change-city-top-menu">Рязань</a></li>
                <li><a href="#!" index="443001" class="change-city-top-menu">Самара</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="#!" index="430001" class="change-city-top-menu">Саранск</a></li>
                <li><a href="#!" index="410000" class="change-city-top-menu">Саратов</a></li>
                <li><a href="#!" index="214000" class="change-city-top-menu">Смоленск</a></li>
                <li><a href="#!" index="354000" class="change-city-top-menu">Сочи</a></li>
                <li><a href="#!" index="355000" class="change-city-top-menu">Ставрополь</a></li>
                <li><a href="#!" index="309501" class="change-city-top-menu">Старый Оскол</a></li>
                <li><a href="#!" index="628400" class="change-city-top-menu">Сургут</a></li>
                <li><a href="#!" index="167000" class="change-city-top-menu">Сыктывкар</a></li>
                <li><a href="#!" index="346842" class="change-city-top-menu">Таганрог</a></li>
                <li><a href="#!" index="392000" class="change-city-top-menu">Тамбов</a></li>
                <li><a href="#!" index="170001" class="change-city-top-menu">Тверь</a></li>
                <li><a href="#!" index="445003" class="change-city-top-menu">Тольятти</a></li>
                <li><a href="#!" index="634003" class="change-city-top-menu">Томск</a></li>
                <li><a href="#!" index="300001" class="change-city-top-menu">Тула</a></li>
                <li><a href="#!" index="625000" class="change-city-top-menu">Тюмень</a></li>
                <li><a href="#!" index="670000" class="change-city-top-menu">Улан-Удэ</a></li>
                <li><a href="#!" index="432000" class="change-city-top-menu">Ульяновск</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="#!" index="090000" class="change-city-top-menu">Уральск</a></li>
                <li><a href="#!" index="692500" class="change-city-top-menu">Уссурийск</a></li>
                <li><a href="#!" index="070000" class="change-city-top-menu">Усть-Каменогорск</a></li>
                <li><a href="#!" index="450000" class="change-city-top-menu">Уфа</a></li>
                <li><a href="#!" index="680000" class="change-city-top-menu">Хабаровск</a></li>
                <li><a href="#!" index="628001" class="change-city-top-menu">Ханты-Мансийск</a></li>
                <li><a href="#!" index="428000" class="change-city-top-menu">Чебоксары</a></li>
                <li><a href="#!" index="454000" class="change-city-top-menu">Челябинск</a></li>
                <li><a href="#!" index="162601" class="change-city-top-menu">Череповец</a></li>
                <li><a href="#!" index="672000" class="change-city-top-menu">Чита</a></li>
{#                <li><a href="#!" index="228228" class="change-city-top-menu">Якутск</a></li>#}
                <li><a href="#!" index="150000" class="change-city-top-menu">Ярославль</a></li>
            </ul>
        </div>
</div>