<ul class="d-flex justify-content-between largest-city-list mt-5 mr-5">
    <li><a href="#!" index="101000" cords="55.75327233931351,37.6216835389606" class="cities-modal-choose red_text">Москва</a></li>
    <li><a href="#!" index="420000" class="cities-modal-choose red_text">Казань</a></li>
    <li><a href="#!" index="190000" cords="59.95764678423001,30.344393072379233" class="cities-modal-choose red_text">Санкт-Петербург</a></li>
    <li><a href="#!" index="620002" class="cities-modal-choose red_text">Екатеринбург</a></li>
</ul>
<style>
    .million-city::first-letter {
        color: #dc3545;
        font-weight: 700;
    }
</style>
<div class="d-flex justify-content-between city-list mr-5">

    {% for cityBlock in bigCities.getCities(17) %}
    <div>
        <ul>
        {% for city in cityBlock %}
            <li><a href="#!" index="{{ city['index'] }}" class="cities-modal-choose d-block {% if city['isMillion'] == true %} million-city{% endif %}">{{ city['nameRu'] }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>