<p class="text-bold">Контактные данные</p>
<div class="row">
    <div class="col-lg-5 col-md-7 col-12">
        <div class="row no-gutters">
            <div class="col-4 col-sm-2 pr-2 mb-2 vcenter justify-content-sm-end">
                <span>ФИО</span>
            </div>
            <div class="col-8 col-sm-10 mb-2">
                <input type="text" class="form-control form-height-medium" name="full-name">
            </div>
            <div class="col-4 col-sm-2 pr-2 mb-2 vcenter justify-content-sm-end">
                <span>Телефон</span>
            </div>
            <div class="col-8 col-sm-10 mb-2">
                <input type="tel" class="form-control form-height-medium phone-no" name="user_phone" placeholder="+7 (_ _ _) _ _ _ - _ _ - _ _">
            </div>
            <div class="col-4 col-sm-2 pr-2 mb-2 vcenter justify-content-sm-end">
                <span>E-mail</span>
            </div>
            <div class="col-8 col-sm-10 mb-2">
                <input type="email" class="form-control form-height-medium" name="email" placeholder="При наличии">
            </div>
        </div>
    </div>
</div>