<p class="text-bold">Информация о доставке</p>

<div class="row">
    <div class="col-md-6 col-12">
        <div class="input-group input-with-icon">

            <input type="text" class="form-control v2 current-city" name="locality" id="selectedCity" value="{{twig_variables.location.location.data.country}}, {{twig_variables.location.location.data.city_with_type}}" readonly>
            <div class="input-group-addon v2">
                <a href="#!" data-toggle="modal" id="changeDeliveryCity" data-target="#selectYourCityModal"><u>Изменить</u></a>
            </div>
        </div>
    </div>

    <div class="col-12 pt-3">
        {% include 'order/template-parts/deliveryOtherCity.html.twig' %}
    </div>
    {% if twig_variables.location.location.data.postal_code == 420000 %}
    <div class="col-12 pt-3" id="deliveryKazan">
       <div class="row">
           <div class="col-auto mb-3 mb-lg-0" id="pickupKazan">
               <label class="circle-radio-btn d-inline m-0 mr-5">
                   <span>Самовывоз (ул. Лазарева, 5а)</span>
                   <input type="radio" name="delivery-method" value="pickup" checked="checked">
                   <span class="checkmark"></span>
               </label>
           </div>
           <div class="col-auto" id="toDoorKazan">
               <label class="circle-radio-btn d-inline m-0">
                   <span>Доставка до двери</span>
                   <span class="ml-2 grey_text delivery-extra-payment d-block d-sm-inline pl-3 pl-sm-0">+200 руб. (курьеру при получении)</span>
                   <input type="radio" name="delivery-method" value="delivery">
                   <span class="checkmark"></span>
               </label>
           </div>
           {# csrf token #}
           <input type="hidden" id="addressCSRFToken" name="token" value="{{ csrf_token('address') }}"/>
           {# /csrf token #}
       </div>
    </div>

    <div class="col-12">
{#         Доставка в Казани до двери #}
        <div class="collapse" id="deliveryToDoor">
            <div class="row py-4">
                <div class="col-lg-3 col-6 mb-3 mb-lg-0">
                    <input type="text" id="street" class="collapse form-control" name="street" placeholder="Улица" disabled>
                </div>
                <div class="col-lg-3 col-6 mb-3 mb-lg-0">
                    <input type="text" id="building" class="form-control" name="building" placeholder="дом, корпус" disabled>
                </div>
                <div class="col-sm-auto col-12 vcenter mb-3 mb-sm-0">
                    <label class="circle-radio-btn d-inline m-0 mr-2">
                        <span>Квартира</span>
                        <input type="radio" name="apartment-type" value="apartment">
                        <span class="checkmark"></span>
                    </label>
                    <input type="text" id="apartmentNo" class="form-control d-none" name="apartment-no" placeholder="Квартира" disabled>
                </div>
                <div class="col-sm-auto col-12 vcenter ">
                    <label class="circle-radio-btn d-inline m-0 mr-2">
                        <span>Офис</span>
                        <input type="radio" name="apartment-type" value="office">
                        <span class="checkmark"></span>
                    </label>
                    <input type="text" id="officeNo" class="form-control d-none" name="office-no" placeholder="Офис" disabled>
                </div>
            </div>
        </div>
{#        #}
        <div class="d-none" id="otherCityDeliveryToDoor">
            <div class="row py-4">
                <div class="col-lg-3 col-6 mb-3 mb-lg-0">
                    <input type="text" id="otherCityStreet" class="form-control" name="street" placeholder="Улица" >
                </div>
                <div class="col-lg-3 col-6 mb-3 mb-lg-0">
                    <input type="text" id="otherCityBuilding" class="form-control" name="building" placeholder="Дом, корпус">
                </div>
                <div class="col-sm-auto col-12 vcenter mb-3 mb-sm-0">
                    <label class="circle-radio-btn d-inline m-0 mr-2">
                        <span>Квартира</span>
                        <input type="radio" name="apartment-type" value="apartment">
                        <span class="checkmark"></span>
                    </label>
                    <input type="text" id="otherCityApartmentNo" class="form-control d-none" name="apartment-no" placeholder="Квартира"  >
                </div>
                <div class="col-sm-auto col-12 vcenter ">
                    <label class="circle-radio-btn d-inline m-0 mr-2">
                        <span>Офис</span>
                        <input type="radio" name="apartment-type" value="office">
                        <span class="checkmark"></span>
                    </label>
                    <input type="text" id="officeNo" class="form-control d-none" name="office-no" placeholder="Офис" >
                    <input type="text" id="cityPostcode" class="form-control" hidden name="city-postcode" value="" >
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>