{% if twig_variables.location.location.data.postal_code == '420000' %}
<div id="deliveryToOtherCities" class="d-none">
{% else %}
    <div id="deliveryToOtherCities" class="d-block">
{% endif %}

    <p class="text-bold mb-0">Выберите наиболее подходящий вариант</p>
    <p class="mb-2 fnt-12">доставка оплачивается при получении, стоимость доставки может незначительно меняться</p>
    <div class="row">
        <div class="col-md-9 col-12">
            <div class="accordion pb-3" id="deliveryCompaniesVariation">
                <div class="card z-depth-0">
                    <div class="card-header" id="heading1">
                        <div class="row no-gutters">
                            <div class="col-1 vcenter">
                                <label class="circle-radio-btn d-inline m-0" data-toggle="collapse">
                                    <!-- <span>10 июля</span> -->
                                    <input type="radio" name="transport-companies-select" value="intercity-bus" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-7 col-11 pl-3 pl-sm-0 vcenter mr-auto">
                                <div>
                                    <p class="text-bold mb-0">СДЭК</p>
                                    <p class="mb-0 font-size-12 line-height-1">Посылка склад-склад (до терминала)</p>
                                </div>
                            </div>

                            <div class="col-sm-3 col-12 justify-content-end vcenter mt-2 mt-sm-0">
                                <span class="text-bold red_text line-height-1">
                                    <span class="small d-inline d-md-block d-xl-inline">примерно</span>
                                    <span id="CCPrice">
                                        {% if location.location['data']['postal_code'] != '420000' %}
                                            {{ cost.cc.price }} </span> руб.</span>
                                       {% else %}
                                            {% include 'main/spinners/growing.spinner.html.twig' %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row no-gutters pt-3">
                            <div class="col-1 vcenter">
                                <label class="circle-radio-btn d-inline m-0" data-toggle="collapse">
                                    <!-- <span>10 июля</span> -->
                                    <input type="radio" name="transport-companies-select" value="to-door">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-7 col-11 pl-3 pl-sm-0 vcenter mr-auto">
                                <div>
                                    <p class="text-bold mb-0">СДЭК</p>
                                    <p class="mb-0 font-size-12 line-height-1">Посылка склад-адресат (до двери)</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-12 justify-content-end vcenter mt-2 mt-sm-0">
                                <span class="text-bold red_text line-height-1"><span class="small d-inline d-md-block d-xl-inline">примерно</span>
                                    <span id="CDPrice">
                                        {% if location.location['data']['postal_code'] != '420000' %}
                                            {{ cost.cd.price }} </span> руб.</span>
                                            {% else %}
                                            {% include 'main/spinners/growing.spinner.html.twig' %}
                                        {% endif %}

                            </div>
                        </div>
                    </div>
                    <div><span class="text-bold red_text line-height-1"><span class="small d-inline ">Приблизительная дата доставки: </span>
                            <span id="deliveryDate">
                                {% if location.location['data']['postal_code'] != '420000' %}
                                        {{ deliveryDate }}
                                    {% else %}
                                {% include 'main/spinners/growing.spinner.html.twig' %}
                                {% endif %}
                            </span> </span></div>
                    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#deliveryCompaniesVariation">
                        <div class="card-body">
                            <p class="text-bold " id="selectPvzMessage">Выберите ближайший пункт выдачи</p>
                            <p class="">
                                <a href="#!" class="selected" id="selectCart" show-el="#cdekMap" hide-el="#cdekList" >Карта</a>  <a href="#!"  id="selectList" show-el="#cdekList" hide-el="#cdekMap">Список пунктов выдачи</a></p>
                                 <div class="show-cdek-pvzs" id="cdekMap" style="width: 100%; height: 450px;"></div>
                            <div class="show-cdek-pvzs hidden" id="cdekList" >
                                <div class="accordion" id="accordionCdekList">

                                </div>
                            </div>

{#                            <iframe src="https://yandex.ru/map-widget/v1/-/CCgtYIpK" width="100%" height="400" frameborder="1" allowfullscreen="true"></iframe>#}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

