{% extends 'base.html.twig' %}

{% block title %}Страница не найдена!{% endblock %}
{#{% block stylesheet %}#}
{#    {{ parent() }}#}
{#    {{ encore_entry_link_tags('page404') }}#}
{#{% endblock %}#}

{% block body %}
    <div class="container-fluid mt-5 fluid-404">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 left-404">
                <img class="desctop404img" src="/img/404/404.png" alt="">
                <img class="mobile404img" src="/img/404/404mob.png" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 right-404">
                <div class="right-404-wrapper">
                    <p class="right-404-title">К сожалению, данная страница недоступна</p>
                    <p class="right-404-desc"> Это могло произойти по следующим причинам:</p>
                    <ul id="list-with-chevron" class="list-with-chevron col-lg-9">
                        <li>В URL адресе допущена ошибка</li>
                        <li>Страница удалена</li>
                        <li>Страница была перенесена</li>
                    </ul>

                    <p class="right-404-desc">Вы можете перейти на главную страницу <br>
                        и найти интересующую Вас информацию</p>
                    <a href="/">
                        <button class="btn btn-main  w-210p m-0 mb-2 add-to-cart" data-toggle="modal" data-target="#selectedItemModal">
                            <i class="icon icon-double-arrow-left"></i> на главную</button>
                    </a>


                </div>

            </div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="content text-center text-bold py-4">
            <p class="h3-responsive mb-0">К сожаления, у Вас в корозине еще нет товаров.</p>
            <p class="h3-responsive mb-2">Выбирите товар ниже, чтобы добавить его в конзину.</p>
            <div class="lines"></div>
        </div>
        {% include 'main/template-parts/categories.html.twig' %}
    </div>
{% endblock %}
