{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block desc %}{{desc}}{% endblock %}

{% block body %}

<div class="content main mt-5 shopping-cart">
    <div class="container mb-3">
        {% include 'main/template-parts/breadcrumb.html.twig' %}
    </div>
    <div class="container">
        <div class="content text-center text-bold py-4">
            {% if thanks %}
                <p class="h2">{{ thanks }}</p>
            {% endif %}
            <p class="h4">Сообщение от банка: "{{ message }}"</p>
            <div class="lines"></div>
        </div>

{#        {% include 'main/template-parts/categories.html.twig' %}#}
    </div>
</div>
<div class="d-none">
    {% include 'main/template-parts/menu/main-menu.html.twig' %}
</div>

{% endblock %}
