.about-us {
  &.main-head {
    background-image: url(/img/about-us/about-us-head-img.png);
    background-size: cover;
    background-color: #30304A;
    //height: 200px;
    margin-top: 60px;
    padding: 40px 0 60px 0;
    color: #FFFFFF;
    p {
      font-size: 18px;
      color: #FFFFFF;
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
    }
    .mh-icon {
      height: 100px;
      width: 100px;
      border: 3px solid #FFFFFF;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-bottom: 20px;
      margin-top: 60px;
    }
  }
}

.about-us-main-text {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

.about-us-text {
  position: relative;
  padding: 30px;
  margin-top: 60px;
  &::before {
    content: '';
    position: absolute;
    @include box-shadow(0,0,20,.4);
    height: 100%;
    width: 90%;
    margin-left: -30px;
    margin-top: -30px;
  }
  p {
    font-size: 18px;
  }
}
/* Breakpoints - About Us Page */
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - About Us Page */

}

@media (max-width: 1429px) {
  /* Breakpoint - About Us Page */

}

@media (max-width: 1297px) {
  /* Breakpoint - About Us Page */

}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - About Us Page */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
  /* Breakpoint lg - About Us Page */
  .about-us {
    &.main-head {
      margin-top: 80px;
    }
  }
  .about-us-text {
    &::before {
      width: 100%;
    }
    img {
      margin-bottom: 30px;
    }
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - About Us Page */

}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - About Us Page */
}

@media (max-width: 575px) {
  /* Breakpoint xs - About Us Page */
  .about-us {
    &.main-head {
      .mh-icon {
        margin-top: 20px;
      }
      p {
        margin-bottom: 0;
        font-size: 14px;
      }
    }
  }
  .about-us-main-text {
    font-size: 15px;
    line-height: 1.4;
  }
  .about-us-text {
    padding: 20px;
    margin-top: 30px;
    &::before {
      margin-left: -20px;
      margin-top: -20px;
    }
    p {
      font-size: 14px;
    }
    img {
      margin-bottom: 20px;
    }
  }
}
/* ---------------------- */
/* ./Breakpoints - About Us Page */