.kids-mantle-type {
  display: flex;
  justify-content: center;
}
.bag-type-select {
  display: flex;
  align-items: center;
  //justify-content: space-evenly;
  justify-content: center;
  margin-bottom: 12px;
  .circle-radio-btn {
    span {
      width: 150px;
      margin: 0 15px!important;
    }
  }
}
.bag-types {
  .bag-types-choices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
  }
}
.configurator {
  .configurator-images {
    img {
      max-width: 500px;
    }
  }
  .configurator-image {
    height: auto!important;
    margin-bottom: -20px;
  }

  .configurator-image,
  .bag-configurator-image,
  .mantle-configurator-image,
  .for_kids-configurator-image,
  .folder-configurator-image {
    height: 520px;
  }

  .carpet-configurator-image {
    height: 100%;
  }

  //.folder-configurator-image {
  //  .image-group {
  //    img {
  //      &.bag-logo.folder-logo {
  //          top: 10%!important;
  //      }
  //    }
  //  }
  //}

  .configurator-image,
  .bag-configurator-image,
  .mantle-configurator-image,
  .carpet-configurator-image,
  .for_kids-configurator-image,
  .folder-configurator-image {
    position: relative;
    -webkit-box-flex: 50%;
    -webkit-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    .image-group {
      display: inline-block;
      width: auto;
      position: relative;
      max-width: 550px;
      height: inherit;
      //margin: auto;
      margin-bottom: 25px;
      img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 3;
        height: auto;
        &.folder-logo{
          position: absolute;
          //top: 30px;
          top: 10%;
          left: 0px;
          width: 100%;
          z-index: 3;
          height: auto;
        }
      }
      .ci-material-color,
      .bag-material-color,
      .mantle-material-color,
      .carpet-material-color,
      .for_kids-material-color,
      .folder-material-color {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        z-index: 3;
        height: auto;
      }
      .ci-thread-color,
      .bag-thread-color,
      .mantle-thread-color,
      .for_kids-thread-color,
      .folder-thread-color {
        max-width: 100%;
        max-height: 100%;
        width: auto;
      }
      .ci-border-color,
      .bag-border-color,
      .mantle-border-color,
      .carpet-border-color,
      .for_kids-border-color,
      .folder-border-color {
        max-width: 100%;
        max-height: 100%;
        width: auto;
      }
      .ci-logo,
      .bag-logo,
      .folder-logo {
        //margin-top: -64px;
        &.football {
          -moz-transform: rotate(10deg) skew(-14deg, -11deg) !important;
          -webkit-transform: rotate(10deg) skew(-14deg, -11deg)!important;
          -o-transform: rotate(10deg) skew(-14deg, -11deg)!important;
          -ms-transform: rotate(10deg) skew(-14deg, -11deg) !important;
          transform: rotate(10deg) skew(-14deg, -11deg) !important ;
          max-width: 50px;
          top: 11%;
          left: 50%;
          margin-left: -103px;
        }
      }
      .bag-size {}
    }
  }
  .product-old-price,
  .product-price {
    text-align: right;
  }
  .select-colors {
    .colors {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;
      .circle-radio-btn {
        margin-right: 2px;
        padding-left: 0;
        &:last-of-type {
          margin-right: 0;
        }
        img {
          // height: 52px;
          height: 42px;
          width: auto;
          //border: 1px solid $grey-2;
          border-radius: 100%;
          @include box-shadow(0,0,4,.6);
        }
      }
      .color {
        height: 35px;
        width: 35px;
        border-radius: 100%;
        display: block;
        border: 1px solid lighten(#4d4d4d, 30%);
        //@include box-shadow(0,0,3,.5);
        &.gray {
          background-color: #d2d2d2;
        }
        &.light-gray {
          background-color: lighten(#CCCCCC, 10%);
        }
        &.dark-gray {
          background-color: darken(#646464, 20%);
        }
        &.beg {
          background-color: #E1C699;
        }
        &.dark-brown {
          background-color: darken(#795548, 18%);
        }
        &.emerald {
          background-color: #3c6265;
        }
        &.light-green {
          background-color: #7fd922;
        }
        &.sapphire {
          background-color: #37447b;
        }
        &.light-sapphire {
          background-color: #4569d7;
        }
        &.pink {
          background-color: #f26398;
        }
        &.purple {
          background-color: #68018e;
        }
        &.dark-gray{
          background-color: #646464;
        }
        &.green {
          background-color: #4a9441;
        }
        &.light-blue {
          background-color: #569ee7;
        }
        &.dark-red {
          background-color: #5a1625;
        }
        &.dark-blue {
          background-color: #009b8d;
        }
      }
      &.mantle-colors {
        .color {
          &.brown {
            background-color: #59411f!important;
          }
          &.dark-brown {
            background-color: #2f241e!important;
          }
          &.dark-red {
            background-color: #54101f!important;
          }
          &.beg {
            background-color: #d4caaf!important;
          }
          &.blue {
            background-color: #b8dbe4!important;
          }
          &.dark-gray {
            background-color: #4f554e!important;
          }
          &.gray {
            background-color: #95a39a!important;
          }
          &.dark-blue {
            background-color: #009d91!important;
          }
          &.emerald {
            background-color: #25ba92!important;
          }
          &.sapphire {
            background-color: #23314b!important;
          }
          &.purple {
            background-color: #501938!important;
          }
        }
      }
    }
  }
  .embroidery-design {
    .circle-radio-btn {
      label {
        margin-bottom: 0;
      }

    }
    .select-design-btn,
    .upload-file-btn {
      a {
        display: table-cell;
      }
    }
    .upload-file-progress {
      margin-bottom: 10px;
      padding-top: 15px;
    }
  }
  &.carpets {
    p {
      margin-bottom: 12px;
      font-weight: 700;
      line-height: 1;
    }
    .saddle {
      margin-left: auto;
      padding-top: 25px;
      .saddle-item {
        position: relative;
        label {
          margin-bottom: 12px;
          margin-top: auto;
          height: 33px;
          display: flex;
          align-items: center;
          .checkmark {
            margin-top: 0;
          }
        }
        .saddle-modal {
          display: none;
          position: absolute;
          top: 40px;
          right: 0;
          padding: 30px;
          width: 500px;
          background-color: #FFFFFF;
          z-index: 1001;
          @include box-shadow(0,0,10,.3);
          .images {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            img {
              height: 160px;
              width: auto;
              margin-right: 5px;
            }
          }
          p {
            margin-bottom: 5px;
            font-weight: normal;
            line-height: 1.3;
            &.title {
              font-size: 20px;
              font-weight: bold;
            }
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .cs-custom-select {
      margin-bottom: 16px;
    }
  }
  &.for_kids {
    .alert-info {
      font-size: 30px;
      font-weight: 700;
      background-color: #FFFFFF;
      border: 1px solid $primary-color;
      padding: 35px 50px;
      color: $text-color;
      line-height: 1.3;
      text-align: center;
    }
    .image-group {
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
/* Breakpoints - Configurator */
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - Configurator */

}

@media (max-width: 1429px) {
  /* Breakpoint - Configurator */

}

@media (max-width: 1297px) {
  /* Breakpoint - Configurator */

}

@media (max-width: 1199px) {
  /* Breakpoint lg - Configurator */
  .configurator {
    .select-colors {
      display: flex;
      justify-content: center;

      .colors {
        margin-bottom: 0;

        .circle-radio-btn {
          img {
            height: 42px;
          }
          .color {
            height: 42px;
            width: 42px;
          }
        }
      }
    }

    .tab-content {
      .tab-pane {
        &#selectColor {
          p {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - Configurator */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - Configurator */
  .configurator {
    .bag-configurator-image,
    .folder-configurator-image,
    .mantle-configurator-image,
    .for_kids-configurator-image,
    .carpet-configurator-image {
      height: auto;
      margin-bottom: -30px;
      z-index: 0;
    }
    .mantle-configurator-image {
      margin-bottom: 20px;
      .image-group {
        margin-bottom: 0;
      }
    }
    .configurator-images {
      &.mantle {
        .radio-img .circle-radio-btn {
          display: inline-block;
        }
      }
    }
    .product-old-price,
    .product-price {
      line-height: 1.2;
    }
    .select-colors {
      display: flex;
      justify-content: center;
      .colors {
        margin-bottom: 30px;
        .circle-radio-btn {
          img {
            height: 52px;
          }
        }
      }
    }
    .tab-content {
      .tab-pane {
        &#selectColor {
          p {
            text-align: center;
            margin-bottom: 15px;
          }
        }
      }
    }
    .nav {
      &.nav-tabs {
        justify-content: center;
      }
    }
    &.carpets {
      .saddle {
        padding-top: 15px;
        .product-price {
          text-align: left;
        }
        label {
          margin-bottom: 5px;
        }
      }
    }
    &.for_kids {
      .product-old-price,
      .product-price {
        text-align: left;
      }
      .buy-buttons {
        .btn {
          width: 48%;
          &.btn-main {
            height: 52px;
          }
        }
      }
    }
  }
}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - Configurator */
  .bag-type-select {
    //justify-content: unset;
    //flex-direction: column;
    padding-top: 12px;
    &.radio-select {
      justify-content: center;
      .circle-radio-btn {
        width: 140px;
        padding: 0;
        span {
          padding: 10px 5px!important;
        }
      }
    }
    .circle-radio-btn {
      .btn {
        &.btn-outline-grey {
          margin: 0 5px;
        }
      }
    }
  }
  .bag-types {
    display: flex;
    justify-content: center;
    .bag-types-choices {
      //flex-direction: row;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .configurator {
    .select-colors {
      .colors {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .circle-radio-btn {
          margin-right: 0;
          img {
            height: 45px;
            width: auto;
            @include box-shadow(0,0,2,.8);
          }
        }
      }
    }
    &.for_kids {
      .product-old-price,
      .product-price {
        text-align: center;
      }
      .alert-info {
        font-size: 20px;
        font-weight: 700;
        background-color: #FFFFFF;
        border: 1px solid $primary-color;
        padding: 20px;
        color: $text-color;
        line-height: 1.3;
        text-align: center;
      }
    }
    .folder-configurator-image {
      .image-group {
        img {
          &.folder-logo {
            top: 20px;
          }
        }
      }
    }
    &.carpets {
      .saddle {
        .saddle-item {
          .saddle-modal {
            left: 0;
            right: auto;
            width: 290px;
            padding: 15px;
            .images {
              margin-bottom: 15px;
              img {
                height: 100px;
              }
            }
            p {
              font-size: 12px;
              &.title {
                line-height: 1;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .mantle-for-kids-info {
    .dashed-underline {
      text-align: center;
      &::after {
        margin: auto;
        margin-top: 10px;
      }
    }
  }
  .bag-configurator-image,
  .folder-configurator-image,
  .mantle-configurator-image,
  .for_kids-configurator-image,
  .carpet-configurator-image {
    width: 55%;
    margin: auto;
    //margin-bottom: -40px;
    &.selected-item-image {
      width: 100%;
    }
  }
  //img.folder-logo{
  //  top: 4%!important;
  //  width: 16em!important;
  //  left: -13%!important;
  //}
  .kids-mantle-type {
    margin-top: 20px;
  }
  #ConfiguratorForm{
    padding-top: 20px;
    padding-bottom: 20px;
  }

}

@media (max-width: 575px) {
  /* Breakpoint xs - Configurator */
  .bag-type-select {
    .circle-radio-btn {
      .btn {
        &.btn-outline-grey {
          width: 130px;
          padding: 13px 5px;
        }
      }
    }
  }
  .kids-mantle-type {
    display: flex;
    text-align: center;
    flex-direction: column;
    .complect-type {
      margin-bottom: 10px;
    }
    .btn {
      &.btn-outline-grey {
        //width: 125px;
        width: auto;
        margin: 0 10px!important;
        padding: 10px!important;
      }
    }
  }
  .configurator {
    .nav {
      &.nav-tabs {
        .nav-item {
          .nav-link {
            margin: 4px;
            width: 135px;
            font-size: 14px;
            padding: 16px 5px;
          }
        }
      }
    }
    .btn {
      &.btn-main, &.btn-outline-red {
        margin: 0;
        width: 100%;
      }
    }
    .select-colors {
      .colors {
        margin-bottom: 5px;
        .circle-radio-btn {
          margin-bottom: 5px;
          img {
            height: 27px;
            width: auto;
          }
          .color {
            height: 27px;
            width: 27px;
          }
        }
      }
    }
    .product-old-price,
    .product-price {
      text-align: center;
    }
    .embroidery-design {
      .select-design-btn,
      .upload-file-btn {
        margin: 5px 0 10px 0;
      }
      .from-catalog-info,
      .my-design-info {
        margin-bottom: 20px;
      }
      .upload-file-progress {
        padding-top: 0;
      }
      p {
        font-size: 14px;
        line-height: 1.3;
      }
    }
    &.carpets {
      .saddle {
        //display: flex;
        //justify-content: center;
        //text-align: center;
        .product-price {
          text-align: center;
        }
        label {
          margin-bottom: 20px;
        }
      }
    }
    &.for_kids {
      .buy-buttons {
        .btn {
          width: 100%;
          &.btn-main {
            height: 52px;
          }
        }
      }
    }
    .configurator-image {
      margin: auto;
      //margin-bottom: -40px;
      .image-group {
        max-width: 150px;
      }
    }
  }
}
/* ---------------------- */
/* ./Breakpoints - Configurator */
