/* Fonts */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext');

@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("/font/svg/untitled-font-1.eot");
  src:url("/font/svg/untitled-font-1.eot?#iefix") format("embedded-opentype"),
  url("/font/svg/untitled-font-1.woff") format("woff"),
  url("/font/svg/untitled-font-1.ttf") format("truetype"),
  url("/font/svg/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.icon-vs-vs-banktransfer:before {
  content: "\61";
}
.icon-vs-vs-cach:before {
  content: "\62";
}
.icon-vs-vs-cardpay:before {
  content: "\63";
}
.icon-vs-vs-instagram:before {
  content: "\64";
}
.icon-vs-vs-phone:before {
  content: "\65";
}
.icon-vs-vs-vk:before {
  content: "\66";
}
.icon-vs-vs-youtube:before {
  content: "\68";
}
.icon-vs-vs-whatsapp:before {
  content: "\69";
}

.icon{
  font-size: 14px;
  margin-right: 5px;
}
.big_icon{
  font-size: 26px;
  vertical-align: middle;
  margin-right: 10px;
}
/* /Fonts */