.carstoris-gallery {
  display: flex;
  flex-wrap: wrap;
  .cg-item {
    display: flex;
    height: 340px;
    a {
      overflow: hidden;
      border: 1px solid $grey;
      img {
      }
    }
    &:nth-child(1) {
      width: 462px;
       a {
         // width: 452.5px;
           margin: 0 7.5px 7.5px 0;
           img {
             width: 100%;
           }
       }
    }
    &:nth-child(2) {
        width: 277.5px;
      a {
        //width: 262.5px;
        margin: 0 7.5px 7.5px 7.5px;
        img {
          width: 100%;
        }
      }
    }
    &:nth-child(3) {
      width: 370px;
      a {
        //width: 362.5px;
        margin: 0 0 7.5px 7.5px;
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(4) {
      width: 275px;
      a {
        // width: 452.5px;
        margin: 7.5px 7.5px 7.5px 0;
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(5) {
      width: 275px;
      a {
        // width: 452.5px;
        margin: 7.5px;
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(6) {
      width: 384px;
      a {
        // width: 452.5px;
        margin: 7.5px;
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(7),
    &:nth-child(11) {
      width: 176px;
      a {
        // width: 452.5px;
        height: 155px;
        overflow: hidden;
        &:first-of-type {
          margin: 7.5px 0 15px 7.5px;
        }
        &:last-of-type {
          margin: 7.5px 0 7.5px 7.5px;
        }
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(8) {
      width: 176px;
      a {
        // width: 452.5px;
        height: 155px;
        overflow: hidden;
        &:first-of-type {
          margin: 7.5px 7.5px 15px 0;
        }
        &:last-of-type {
          margin: 0 7.5px 7.5px 0;
        }
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(9) {
      width: 483px;
      a {
        // width: 452.5px;
        margin: 7.5px;
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(10) {
      width: 275px;
      a {
        // width: 452.5px;
        margin: 7.5px;
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(12) {
      width: 275px;
      a {
        // width: 452.5px;
        margin: 7.5px 7.5px 7.5px 0;
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(13) {
      width: 483px;
      a {
        // width: 452.5px;
        margin: 7.5px;
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(14) {
      width: 352px;
      a {
        // width: 452.5px;
        height: 155px;
        overflow: hidden;
        &:first-of-type {
          margin: 7.5px 0 15px 7.5px;
        }
        &:last-of-type {
          margin: 7.5px 0 7.5px 7.5px;
        }
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(15) {
      width: 100%;
      a {
        overflow: hidden;
        margin: 7.5px 0;
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(16),
    &:nth-child(17),
    &:nth-child(18) {
      width: 33.3%;
      a {
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(16) {
      a {
        margin: 7.5px 7.5px 7.5px 0;
      }
    }
    &:nth-child(17) {
      a {
        margin: 7.5px;
      }
    }
    &:nth-child(18) {
      a {
        margin: 7.5px 0 7.5px 7.5px;
      }
    }

    &:nth-child(19),
    &:nth-child(20) {
      width: 25%;
      a {
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(19) {
      a {
        margin: 7.5px 7.5px 7.5px 0;
      }
    }
    &:nth-child(20) {
      a {
        margin: 7.5px;
      }
    }

    &:nth-child(21) {
      width: 50%;
      a {
        overflow: hidden;
        margin: 7.5px 0 7.5px 7.5px;
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(22),
    &:nth-child(23),
    &:nth-child(24) {
      width: 33.3%;
      height: 155px;
      a {
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }

    &:nth-child(22) {
      a {
        margin: 7.5px 7.5px 7.5px 0;
      }
    }
    &:nth-child(23) {
      a {
        margin: 7.5px;
      }
    }

    &:nth-child(24) {
      a {
        margin: 7.5px 0 7.5px 7.5px;
      }
    }

  }
}
.photo-gallery {
  .gallery-item {
    padding: 10px;
    a {
      height: 400px;
      overflow: hidden;
      //display: block!important;
      //box-sizing: border-box;
      //-moz-box-sizing: border-box;
      //-webkit-box-sizing: border-box;
      //border: 10px solid #FFFFFF;
      background: $grey-2;
      //margin: 10px;
      img {
        height: 100%;
        -webkit-transform: translate(-25%);
        -ms-transform: translate(-25%);
        transform: translate(-25%);
        &.big-img {
          -webkit-transform: translate(0%);
          -ms-transform: translate(0%);
          transform: translate(0%);
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

//.fancybox-container * {
//  width: 100%;
//}

/* Breakpoints - Gallery */
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - Gallery */

}

@media (max-width: 1429px) {
  /* Breakpoint - Gallery */

}

@media (max-width: 1297px) {
  /* Breakpoint - Gallery */

}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - Gallery */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
  /* Breakpoint lg - Gallery */
  .carstoris-gallery {
    .cg-item {
      height: 280px;

      &:nth-child(1) {
        width: 40%;
      }
      &:nth-child(2) {
        width: 25%;
      }
      &:nth-child(3) {
        width: 35%;
      }
      &:nth-child(4) {
        width: 25%;
      }
      &:nth-child(5) {
        width: 25%;
      }
      &:nth-child(6) {
        width: 35%;
      }
      &:nth-child(7) {
        width: 15%;
        a {
          height: 125px;
        }
      }
      &:nth-child(8) {
        width: 15%;
        a {
          height: 125px;
        }
      }
      &:nth-child(9) {
        width: 40%;
      }
      &:nth-child(10) {
        width: 30%;
      }
      &:nth-child(11) {
        width: 15%;
        a {
          height: 125px;
        }
      }
      &:nth-child(12) {
        width: 30%;
      }
      &:nth-child(13) {
        width: 40%;
      }
      &:nth-child(14) {
        width: 30%;
        a {
          height: 125px;
        }
      }
      &:nth-child(22),
      &:nth-child(23),
      &:nth-child(24){
        a {
          img {
            width: auto;
            height: 100%;
          }
        }
      }
    }
  }
}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - Gallery */
  .carstoris-gallery {
    .cg-item {
      height: 210px;
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(11),
      &:nth-child(14){
        a {
          height: 90px;
        }
      }
    }
  }
}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - Gallery */
  .carstoris-gallery {
    .cg-item {
      height: 150px;
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(11),
      &:nth-child(14){
        a {
          height: 60px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  /* Breakpoint xs - Gallery */
  .carstoris-gallery {
    .cg-item {
      height: 100px!important;
      width: 50%!important;
      a {
        margin: 5px!important;
        img {
          //width: auto!important;
          //height: 100%;
        }
      }
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(11),
      &:nth-child(14){
        width: 100%!important;
        .two-img {
          display: flex;
          a {
            height: 90px;
          }
        }
      }
      //&:nth-child(4n-3),
      //&:nth-child(4n-4) {
      //  width: 60%!important;
      //}

    }
  }
}
/* ---------------------- */
/* ./Breakpoints - Gallery */