.select-gift {
  width: 220px;
  padding: 20px 0 90px;
  .gift-image {
    margin-bottom: 5px;
    position: relative;
    img {
      border: 1px solid #b3b3b3;
    }
  }
  a {
    font-weight: 700;
    color: $text-color;
  }
  .red-checkbox {
    &.big-checkbox {
      position: absolute;
      top: 10px;
      left: 8px;
    }
  }
}