%block-size {
    max-width: 555px;
}
%block-height {
    min-height: 400px;
}
%left-block {
    margin-left: auto;
}
%right-block {
    margin-right: auto;
}
%block-image {
    padding: 0 30px;
    img {
        width: 112%;
    }
}
%block-text {
    padding: 30px;
    border: 3px solid $primary-color;
    display: flex;
    align-items: center;
    min-height: 450.875px;
    p {
        @extend %block-size;
        font-size: 18px;
        text-align: justify;
        margin-bottom: 0;
        line-height: 1.2;
    }
}
.for-kids-description .product-description__title {
    padding-bottom: 58px;
}
.product-description {
    &__title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        line-height: 1.2;
    }
    &__subtitle {
        font-size: 18px;
        margin-bottom: 0;
        line-height: 1.2;
    }
    &__items {
        padding-top: 60px;
    }
    &__item {
        padding-bottom: 60px;
    }
    &__item-image {
        @extend %block-size;
        @extend %left-block;
        @extend %block-image;
        &_even {
            @extend %block-size;
            @extend %right-block;
            @extend %block-image;
        }
    }
    &__item-text {
        border-right-width: 0;
        @extend %block-text;
        @extend %block-height;
        p {
            @extend %right-block;
        }
        &.v2 {
            min-height: 100%;
        }
        &_even {
            border-left-width: 0;
            @extend %block-text;
            @extend %block-height;
            p {
                @extend %left-block;
            }
            &.v2 {
                min-height: 100%;
            }
        }
    }
}

/* Breakpoints - Home Parts */
/* ---------------------- */
  
/* Breakpoint sm - Home Parts */
@media (max-width: 768px) {
    %block-size {
        max-width: 510px;
    }
    %block-height {
        min-height: auto;
    }
    %left-block {
        margin-left: 0;
    }
    %right-block {
        margin-right: 0;
    }
    %block-image {
        padding: 0;
        margin: auto;
        margin-bottom: 20px;
    }
    %block-text {
        padding: 20px;
        p {
            font-size: 14px;
        }
    }
    .product-description {
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 14px;
            text-align: center;
        }
        &__item-text {
            max-width: 510px;
            margin: auto;
            border-width: 1px;
            @include box-shadow(0,0,10,.3);
            &_even {
                max-width: 510px;
                margin: auto;
                border-width: 1px;
                padding-right: 15px;
                @include box-shadow(0,0,10,.3);
            }
        }
    }
}
  
/* Breakpoint xs - Home Parts */
@media (max-width: 575px) {
    %block-text {
        padding: 15px;
        margin: 0 15px;
        margin-top: -100px;
        background-color: #ffffff;
    }
    .product-description {
        &__items {
            padding-top: 20px;
        }
        &__item {
            padding-bottom: 20px;
        }
        &__item-text {
            &.v2 {
                margin-top: -40px;
            }
            &_even {
                &.v2 {
                    margin-top: -40px;
                }
            }
        }
    }
}

/* ---------------------- */
/* ./Breakpoints - Home Parts */