.info-icon {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  //max-width: 230px;
  .icon-circle {
    border-radius: 100%;
    @include box-shadow(0,0,10,.4);
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  &:after {
    content: '';
    width: 66px;
    height: 14px;
    border-width: 0;
    border-top-width: 3px;
    border-left-width: 3px;
    border-style: solid;
    border-color: $text-color;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &:before {
    content: '';
    width: 66px;
    height: 14px;
    border-width: 0;
    border-top-width: 3px;
    border-right-width: 3px;
    border-style: solid;
    border-color: $text-color;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &.v2 {
    .icon-circle {
      height: 178px;
      width: 178px;
      margin-bottom: 14px;
    }
    &:after {
      border-top-width: 2px;
      border-left-width: 2px;
    }
    &:before {
      border-top-width: 2px;
      border-right-width: 2px;}
  }
  &.v3 {
    max-width: 280px;
    margin: auto;
    margin-bottom: 10px;
    .icon-circle {
      height: 130px;
      width: 130px;
      margin-bottom: 14px;
    }
    &:after {
      border-top-width: 2px;
      border-left-width: 2px;
    }
    &:before {
      border-top-width: 2px;
      border-right-width: 2px;}
  }
  &.v4 {
    max-width: 255px;
    margin: 0 auto 20px;
  }
}
.info-icon-text {
  //max-width: 230px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  padding: 0 10px;
  &.v2 {
    font-size: 16px;
  }
  &.v3 {
    font-size: 14px;
    max-width: 280px;
    margin: auto;
    margin-bottom: 30px;
  }
  &.v4 {
    max-width: 255px;
    margin: auto;
  }
}
.info-icon-text-2 {
  padding: 0 12px;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 0;
}
/* Breakpoints - Custom Swiper */
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - Custom Swiper */

}

@media (max-width: 1429px) {
  /* Breakpoint - Custom Swiper */

}

@media (max-width: 1297px) {
  /* Breakpoint - Custom Swiper */

}

@media (max-width: 1199px) {
  /* Breakpoint xl and up - Custom Swiper */

}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - Custom Swiper */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
  /* Breakpoint lg - Custom Swiper */

}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - Custom Swiper */
  .info-icon {
    &.v2 {
      margin-bottom: 10px;
    }
  }
}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - Custom Swiper */
  .info-icon,
  .info-icon-text,
  .info-icon-text-2 {
    max-width: 230px;
    margin: auto;
  }
}

@media (max-width: 575px) {
  /* Breakpoint xs - Custom Swiper */
  .info-icon {
    margin: auto;
    &.v2 {
      //margin-bottom: 0;
    }
  }
  .info-icon-text {
    margin: auto;
  }
}
/* ---------------------- */
/* ./Breakpoints - Custom Swiper */