.promotions {
  .main-title {
    font-size: 42px;
    font-weight: 700;
    display: inline-block;
    line-height: 1;

    &.first {
      margin-bottom: 0;
      border-bottom: 2px dashed $primary-color;
      padding-bottom: 15px;
    }
    &.second {
      border-right-width: 2px;
      border-bottom-width: 2px;
      border-top-width: 0;
      border-left-width: 0;
      border-style: dashed;
      border-color: $primary-color;
      padding: 0 15px 15px 0;
      background: #ffffff;
      margin-top: -3px;
    }
  }
  .dashed-left-line {
    border-bottom: 2px dashed $primary-color;
    position: absolute;
    left: 0;
    width: 50%;
    margin-top: -18px;
  }
  .promo-image {
    position: relative;
    .promo-caption {
      position: absolute;
      top: 20%;
      .dashed-layers {
        height: 60px;
        width: 120px;
        border-style: dashed;
        border-color: $primary-color;
        border-width: 0;
        border-bottom-width: 2px;
        border-right-width: 2px;
        position: absolute;
        right: -10px;
        bottom: -10px;
      }
      p {
        margin: 0;
        background: rgba(217,15,49, .8);
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: 700;
        &.big-title {
          padding: 25px;
          font-size: 32px;
        }
        &.small-title {
          padding: 20px;
          font-size: 22px;
        }
      }
    }
  }
  .promo-text {
    margin-bottom: 30px;
    p {
      margin-bottom: 0;
      line-height: 1.2;
      &.promo-text-title {
        font-weight: bold;
        height: 45px;
      }
      &.p-info {
        color: $grey-2;
        margin-bottom: 30px;
      }
      &.p-title {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 19px;
      }
    }
  }
  .promo-item {
    &.disabled {
      opacity: .5;
    }
  }
  hr {
    border-color: $grey-2;
  }
}

/* Breakpoints - Promotions */
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - Promotions */

}

@media (max-width: 1429px) {
  /* Breakpoint - Promotions */

}

@media (max-width: 1297px) {
  /* Breakpoint - Promotions */

}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - Promotions */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
  /* Breakpoint lg - Promotions */
  .promotions {
    .promo-text {
      p {
        &.p-info {
          margin-bottom: 10px;
        }
      }
    }
  }
}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - Promotions */
  .promotions {
    .main-title {
      font-size: 35px;
    }
    .promo-image {
      .promo-caption {
        p {
          &.small-title {
            padding: 15px;
            font-size: 18px;
          }
        }
      }
    }
  }
}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - Promotions */
  .promotions {
    .main-title {
      font-size: 26px;
      &.first {
        margin-top: 20px;
        padding-bottom: 10px;
      }
      &.second {
        padding: 0 10px 10px 0;
      }
    }
    .promo-image {
      .promo-caption {
        p {
          &.big-title {
            padding: 15px;
            font-size: 24px;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  /* Breakpoint xs - Promotions */
  .promotions {
    .dashed-left-line {
      display: none;
    }
    .main-title {
      &.first,
      &.second {
        border: none;
        display: block;
        text-align: center;
        font-size: 15px;
        padding: 0;
        margin-bottom: 5px;
      }
    }
    .promo-item {
      .btn {
        &.btn-outline-red {
          width: 100%;
        }
      }
    }
    .promo-image {
      .promo-caption {
        p {
          &.big-title {
            font-size: 20px;
          }
        }
      }
    }
  }
}
/* ---------------------- */
/* ./Breakpoints - Promotions */