.special-offer {
  position: relative;
  height: 570px;
  .head_line {
    font-size: 38px;
    &::after {
      margin-left: 0;
    }
  }
  .offer {
    .text {
      position: absolute;
      bottom: 90px;
      width: 55%;
      z-index: 0;
      &.v2 {
        bottom: auto;
      }
      p {
        font-size: 19px;
        font-weight: 700;
        width: 50%;
        line-height: 1.2;
      }

      .a-text {
        font-size: 19px;
        font-weight: bold;
        text-transform: none;
        width: 100%;
        padding: 11px;
        border-width: 2px;
        border-style: solid;
        border-color: #d90f31;
        color: #d90f31;
        line-height: 1;
        padding: 8px 25px;
        margin: 0;
        box-shadow: none;
        text-align: center;
      }
    }

    .offer-1,
    .offer-2 {
      width: 340px;
      .offer-image {
        height: 340px;
        width: 340px;
        border-radius: 100%;
        overflow: hidden;
        img {
          height: 100%;
          width: auto;
        }
      }
      p {
        margin-bottom: 30px;
        font-size: 23px;
        font-weight: 700;
        text-align: center;
      }
    }

    .offer-1 {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
    }

    .offer-2 {
      position: absolute;
      top: 200px;
      right: 200px;
      z-index: 3;
      .offer-image {
        border: 8px solid #FFFFFF;
      }
    }

    .icon {
      position: absolute;
      top: 220px;
      right: 200px;
      z-index: 4;

      font-size: 76px;
      display: flex;
      color: $grey;
      background-color: #FFFFFF;
      border-radius: 100%;
    }

    .price {
      position: absolute;
      top: 140px;
      right: 480px;
      z-index: 1;

      height: 240px;
      width: 240px;
      border-radius: 100%;
      background-color: $primary-color;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        margin-bottom: 0;
        color: #ffffff;
        line-height: 1;
        margin-bottom: 5px;
        &.currency {
          font-size: 26px;
          font-weight: 700;
          margin-bottom: 15px;
        }
        &.new-price {
          font-size: 56px;
          font-weight: 700;
        }
        &.old-price {
          font-size: 28px;
          font-weight: 300;
          position: relative;
          &:after {
            content: '';
            width: 100%;
            height: 1.5px;
            background-color: #FFFFFF;
            position: absolute;
            left: 0;
            top: 12px;
            transform: rotate(10deg);
          }
        }
      }
    }

    .circle-small,
    .circle-medium,
    .circle-big {
      border-radius: 100%;
      border-color: $primary-color;
      border-style: solid;
      z-index: 1;
    }

    .circle-small {
      position: absolute;
      top: 80px;
      right: 420px;

      height: 36px;
      width: 36px;
      border-width: 3px;
    }

    .circle-medium {
      position: absolute;
      top: 430px;
      right: 130px;

      height: 58px;
      width: 56px;
      border-width: 3px;
    }

    .circle-big {
      position: absolute;
      top: 50px;
      right: 290px;
      z-index: -1;

      height: 116px;
      width: 116px;
      border-width: 5px;
    }

  }
}

/* Breakpoints - Special Offers */
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - Special Offers */

}

@media (max-width: 1429px) {
  /* Breakpoint - Special Offers */

}

@media (max-width: 1297px) {
  /* Breakpoint - Special Offers */

}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - Special Offers */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
  /* Breakpoint lg - Special Offers */

}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - Special Offers */
  .special-offer {
    height: 660px;
    .head_line {
      font-size: 30px;
    }
    .offer {
      .text {
        bottom: 0;
        &.v2 {
          bottom: 50px;
        }
        p {
          width: 100%;
        }
      }
      .offer-2 {
        p {
          position: absolute;
          bottom: -20px;
          right: -80px;
        }
      }
    }
  }
}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - Special Offers */
  .special-offer {
    height: 360px;
    .offer {
      .text {
        position: relative;
        width: 100%;
        &.v2 {
          bottom: auto;
        }
      }
      .offer-full-img {
        position: absolute;
        margin-top: 60px;
        width: 100%;
        left: 0;
        right: 0;
        margin-right: 50px;
      }
      .price {
        top: 30px;
        right: 170px;
        height: 125px;
        width: 125px;
        p {
          &.new-price {
            font-size: 36px;
            margin-bottom: 0px;
          }
          &.currency {
            font-size: 15px;
            margin-bottom: 5px;
          }
          &.old-price {
            font-size: 16px;
            &:after {
              top: 7px;
            }
          }
        }
      }
      .offer-1,
      .offer-2 {
        width: 130px;
        .offer-image {
          height: 130px;
          width: 130px;
          border-width: 3px;
        }
      }
      .offer-1 {
        p {
          position: absolute;
          top: -35px;
          font-size: 14px;
          width: 50%;
          line-height: 1;
          right: 20px;
        }
      }
      .offer-2 {
        top: 50px;
        right: 60px;
        p {
          bottom: -35px;
          font-size: 14px;
          width: 50%;
          line-height: 1;
          left: -40px;
        }
      }
      .circle-small {
        top: -30px;
        right: 150px;
        height: 30px;
        width: 30px;
        border-width: 3px;
      }
      .circle-medium {
        top: 140px;
        right: 20px;
        height: 40px;
        width: 40px;
        border-width: 3px;
      }
      .circle-big {
        top: -10px;
        right: 90px;
        height: 70px;
        width: 70px;
        border-width: 3px;
      }
      .icon {
        top: 55px;
        right: 50px;
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 575px) {
  /* Breakpoint xs - Special Offers */
  .special-offer {
    height: 440px;
  }
}
/* ---------------------- */
/* ./Breakpoints - Special Offers */