table {
  td, th {
    font-size: 16px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
        opacity: .6;
      }
    }
  }
  th {
    font-weight: 700;
    padding-right: 30px;
  }
  &.table-sm {
    td, th {
      line-height: 1;
      .icon {
        display: contents;
        margin: 0;
        margin-left: 5px;
        color: $primary-color;
      }
      .edit-partner {
        display: none;
        margin-left: 5px;
        .icon {
          font-size: 11px;
        }
      }
      .delete-icon {
        display: none;
        font-size: 10px;
        margin: 0;
        margin-right: 5.7px;
        cursor: pointer;
      }
      .p-title {
        margin-left: 20px;
      }
    }
    tr {
      &:hover {
        .edit-partner {
          display: inline-flex;
        }
        .delete-icon {
          display: inline-flex;
        }
        .p-title {
          margin-left: 0;
        }
      }
    }
  }
}
//.dataTables_info,
.dataTables_filter {
  display: none;
}
.table-responsive {
  overflow-x: hidden;
}
/* Breakpoints - Tables*/
/* ---------------------- */
@media (max-width: 1539px) {
  /* Breakpoint - Tables*/

}

@media (max-width: 1429px) {
  /* Breakpoint - Tables*/

}

@media (max-width: 1297px) {
  /* Breakpoint - Tables*/

}

@media (min-width: 1200px) {
  /* Breakpoint xl and up - Tables*/

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
  /* Breakpoint lg - Tables*/

}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
  /* Breakpoint md - Tables*/
  .table-responsive {
    overflow-x: auto;
  }
  table {
    &#adminPartners {
      &.table {
        thead {
          th {
            &.date {
              min-width: 160px;
            }
            &.amount {
              min-width: 120px;
            }
          }
        }
      }
    }
  }
}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
  /* Breakpoint sm - Tables*/
}

@media (max-width: 575px) {
  /* Breakpoint xs - Tables*/
  table {
    //display: none;
    &#partnerTable {
      &.table {
        thead {
          th {
            &.products {
              //min-width: 230px;
            }
            &.amount {
              min-width: 70px;
              //text-align: right;
            }
          }
        }
      }
    }
  }
}
/* ---------------------- */
/* ./Breakpoints - Tables*/