.info-tooltip {
  position: relative;
  .info-tooltip-text {
    display: none;
    position: absolute;
    bottom: 30px;
    right: 40px;
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    line-height: 1.2;
    color: $grey;
    width: 320px;
    &::before {
      content: "";
      position: absolute;
      bottom: -15px;
      right: 10px;
      border: 0;
      border-right-width: 8px;
      border-bottom-width: 15px;
      border-style: solid;
      border-color: transparent #fff;
      width: 0;
      -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
      filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
      //box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);

      //content: '';
      //position: absolute;
      //width: 0;
      //height: 0;
      //bottom: 100%;
      //left: 1.5em;
      //border: .75rem solid transparent;
      //border-top: none;
      //border-bottom-color: #fff;
      //-webkit-filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
      //filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
    }
  }
  &:hover {
    .info-tooltip-text {
      display: block;
    }
  }
  &.v2 {
    .info-tooltip-text {
      width: auto;
      top: -20px;
      right: 20px;
      bottom: auto;
    }
  }
}