/* Typography */
.text-bold, b {
    font-weight: 700;
}
p {
    color: $text-color;
    &.bordered-text {
        margin: auto;
        padding: 10px 0;
        line-height: 1.3;
        border-style: dashed;
        border-color: $primary-color;
        border-width: 0;
        border-top-width: 2px;
        border-bottom-width: 2px;
    }
}
.home {
    &__map-description {
        padding-bottom: 50px;
        p {
            font-size: 18px;
            margin-bottom: 0;
            text-indent: 1.5em;
            &.title {
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 20px;
                line-height: 1.2;
            }
        }
    }
}
img {
    vertical-align: middle;
    border-style: none;
    //max-width: 100%;
}
a {
    color: $text-color;
    @include transition-all(.2);
    text-decoration: none;
    //&:hover {
    //    color: $primary-color;
    //}
    //color: #fff;
     &:focus, &:active {
        //color: $primary-color;
        //color: #d4d4d4;
        text-decoration: none;
    }
    &:hover{
        color: $primary-color;
        text-decoration: underline;
    }
    &[data-fancybox]{
        display: block;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: none;
            background: url('/img/icons/lupa.svg'), #00000033;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20%;
        }
        &:hover {
            &::after {
                display: block;
            }
        }
    }
    &.blue-link {
        color: $blue;
        text-decoration: underline;
    }
    &.blue-link-2 {
        color: $blue-darken!important;
        text-decoration: underline;
    }
    &.pink-link {
        color: $primary-color;
        text-decoration: underline;
    }
    &.cart-link {
        text-decoration: none;
    }
}
.head_line {
    font-weight: 700;
    &::after{
        content: '';
        display: block;
        width: 100px;
        height: 2px;
        border-bottom: 2px dashed #d90f31;
        margin: 10px auto 30px;
    }
}
.font-size-8 {
    font-size: 8px;
}
.font-size-10 {
    font-size: 10px;
}
.font-size-12 {
    font-size: 12px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-22 {
    font-size: 22px;
}
.font-size-30 {
     font-size: 30px;
}
.font-size-40 {
    font-size: 40px!important;
}
.text-sentence-case {
    text-transform: unset!important;
}
.line-height-1 {
    line-height: 1;
}
.line-height-1-2 {
    line-height: 1.2;
}
.zindex-1 {
    z-index: 1;
}
.title-red {
    color: $primary-color!important;
    text-decoration: none!important;
    margin: 30px 0;
    font-size: 19px;
    font-weight: 700;
    display: flex;
    align-items: baseline;
    justify-content: center;
    .icon {
        font-size: 23px;
        display: flex;
    }
}
.title-dashed {
    color: $primary-color;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    &::after{
        content: '';
        display: block;
        width: 120px;
        margin-top: 8px;
        border-bottom: 2px dashed #d90f31;
    }
}
.title-h3 {
    font-size: 26px;
    font-weight: 700;
}
.dashed-underline {
    line-height: 1.2;
    font-weight: 700;
    &::after{
        content: '';
        display: block;
        width: 120px;
        border-bottom: 2px dashed #d90f31;
        margin-top: 10px;
    }
}
.d-grid {
    display: grid;
}
iframe {
    max-width: 100%;
    margin-bottom: -5px;
}
hr {
    border-color: $grey;
    margin: 12px 0px 18px;
}
ul {
    &.contacts {
        list-style: none;
        padding-left: 0;
    }
    &.list-with-check {
        list-style: none;
        padding-left: 0;
        line-height: 1.3;
        li {
            position: relative;
            padding-left: 20px;
            font-size: 16px;
            // margin-bottom: 20px;
            &::before {
                font-family: "carstoris" !important;
                content: "\70";
                font-size: 12px;
                color: $primary-color;
                position: absolute;
                left: 0;
                top: 3px;
            }
        }
    }
    &.list-with-chevron {
        list-style: none;
        padding-left: 0;
        line-height: 1.3;
        li {
            position: relative;
            padding-left: 20px;
            font-size: 18px;
            margin-bottom: 20px;
            &::before {
                font-family: "carstoris" !important;
                content: "\77";
                font-size: 12px;
                color: $primary-color;
                position: absolute;
                left: 0;
                top: 3px;
            }
        }
    }
}

.mx-w-200 {
    max-width: 200px;
}
.mx-w-150 {
    max-width: 150px;
}

/* /Typography */

/* Breakpoints - Typography */
/* ---------------------- */
@media (max-width: 1539px) {
    /* Breakpoint - Typography */

}

@media (max-width: 1429px) {
    /* Breakpoint - Typography */

}

@media (max-width: 1297px) {
    /* Breakpoint - Typography */

}

@media (max-width: 1199px) {
    /* Breakpoint xl and up - Typography */

}

@media (min-width: 1200px) {
    /* Breakpoint xl and up - Typography */

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1199px) {
    /* Breakpoint lg - Typography */

}

// @media (min-width: 768px) and (max-width: 991px)
@media (max-width: 991px) {
    /* Breakpoint md - Typography */
    .title-h3 {
        line-height: 1.2;
        font-size: 20px;
    }
}

// @media (min-width: 576px) and (max-width: 767px)
@media (max-width: 768px) {
    /* Breakpoint sm - Typography */
    .head_line{
        font-size: 24px;
        line-height: 1;
        img {
            height: 14px;
            &.ig-logo {
                height: 40px;
            }
        }
        &::after {
            margin: 10px auto;
        }
    }
    a {
        &[data-fancybox] {
            &::after {
                display: block;
            }
        }
    }
    ul {
        &.list-with-chevron {
            img {
                height: 13px;
                width: auto;
            }
            li {
                font-size: 16px;
            }
        }
    }
    .home {
        &__map-description {
            p {
                font-size: 14px;
                &.title {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    /* Breakpoint xs - Typography */
    .h2-responsive,
    .h3-responsive,
    .h4-responsive,
    .h5-responsive {
        font-size: 120%;
        line-height: 1.2;
    }
    .head_line{
        font-size: 18px;
    }
}
/* ---------------------- */
/* ./Breakpoints - Typography */