{% extends 'base.html.twig' %}

{% block title %}Папки{% endblock %}

{% block body %}
    {% include 'folders/template-parts/slider.html.twig' %}
    {% include 'main/template-parts/menu/main-menu.html.twig' %}
    <div class="content">
        <div class="container">
            <h2 class="text-center head_line">Документы в порядке</h2>
            <p class="h2-responsive line-height-1 text-center mb-5">Для заказа выберите цвет материала, а также нити и окантовки.</p>
            <div class="row configurator">
                <div class="col-6">
                    {% include 'folders/template-parts/folderConfigurator.html.twig' %}
                </div>
                <div class="col-6">

                    <ul class="nav nav-tabs" id="bagDesign" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="selectColorTab" data-toggle="tab" href="#selectColor" role="tab" aria-controls="selectColor"
                               aria-selected="true">выбор цвета</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="selectLogoTab" data-toggle="tab" href="#selectLogo" role="tab" aria-controls="selectLogo"
                               aria-selected="false">выбор логотипа</a>
                        </li>
                    </ul>

                    <div class="tab-content mb-3" id="bagDesignContent">
                        <div class="tab-pane fade show active pt-4" id="selectColor" role="tabpanel" aria-labelledby="selectColorTab">
                            {% include 'bags/template-parts/designSelectColor.html.twig' %}
                        </div>
                        <div class="tab-pane fade pt-3" id="selectLogo" role="tabpanel" aria-labelledby="selectLogoTab">
                            {% include 'bags/template-parts/designSelectLogo.html.twig' %}
                        </div>
                    </div>

                    <div class="product-old-price text-right">
                        <span>4 900 руб.</span>
                    </div>
                    <div class="product-price text-right">
                        <span>3 500 <span class="small">руб.</span></span>
                    </div>

                    <div class="text-right mt-3">
                        <button class="btn btn-main w-210p py-3" data-toggle="modal" data-target="#selectedItemModal">купить</button>
                        <button class="btn btn-outline-red w-210p py-3" data-toggle="modal" data-target="#selectedItemModal">в корзину</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'folders/template-parts/advantages.html.twig' %}
    {% include 'folders/template-parts/videoInstruction.html.twig' %}
    {% include 'main/template-parts/map.html.twig' %}
    {% include 'main/template-parts/orderForm.html.twig' %}
    {% include 'main/template-parts/videos.html.twig' %}
    {% include 'main/template-parts/productGallery.html.twig' %}
    {% include 'main/template-parts/comments.html.twig' %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('folders-js') }}
{% endblock %}
{% block modal %}
    {% include 'bags/template-parts/selectedItemModal.html.twig' %}
{% endblock %}
