<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <style>
        *{
            font-family: "PT Sans", sans-serif;
        }
        h1{
            text-align: center;
        }
        .container{
            margin: 0 5% 0 5%;
            min-width: 500px;
        }
        .logo{
            width: fit-content;
            margin: 50px auto 0 auto;
        }
        p{
            max-width: 500px;
            margin: auto;
        }
        li{
            line-height: 2em;
        }

         table {
             width: 100%;
             max-width: 100%;
             margin-bottom: 1rem;
             background-color: transparent;
             border-collapse: collapse;
         }
        th {
            vertical-align: bottom;
            text-align: inherit;
            border-bottom: 2px solid #dee2e6;
        }
        th, td {
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="logo">
        <img src="https://carstoris.ru/img/logo.svg" alt="">
    </div>
    {% block body %}
    {% endblock %}
</div>
</body>
</html>