{% extends 'email/base-email-template.html.twig' %}
{% block title %}
    {{ email.subject }}
{% endblock %}
{% block body %}
    <hr>
    <h1>{{ email.subject }}</h1>
    <p>
       Ошибки на сайте
    </p>
    <p>
        {{ message }}
    </p>
{% endblock %}