{% extends 'email/base-email-template.html.twig' %}
{% block title %}
    {{ email.subject }}
{% endblock %}
{% block body %}

    <hr>
    <h1>  {{ email.subject }}</h1>
    <p>
        С сайта пришел запрос на скидку:
    </p>
    <p>
        <b>Имя:</b> {{ userName }}<br>
        <b>Телефон:</b> {{ userPhone }}
    </p>

{% endblock %}