{% extends 'email/base-email-template.html.twig' %}
{% block title %}
    {{ email.subject }}
{% endblock %}
{% block body %}
    <hr>
    <h1>{{ email.subject }}</h1>
    <p>
        Заказа со скидкой:
    </p>
    <p>
        <b>Имя:</b> {{ userName }}<br>
        <b>Телефон:</b> {{ userPhone }}
    </p>
{% endblock %}