{% extends 'email/base-email-template.html.twig' %}
{% block title %}
{#    {{ email.subject }}#}
{% endblock %}

{% block body %}
    <hr>
{#    <h1>  {{ email.subject }} №{{ order.id }}</h1>#}

    <p>
    <style>
        td>ul>p {
            line-height: 1.3em;
        }
    </style>
    <ul>
        <li><b>Дата создания</b>: {{order.createdAt |date("d.m.Y") }}</li>
        <li><b>Имя заказчика</b>: {{ order.clientName }} </li>
        <li><b>Телефон</b>: {% if order.clientPhone %} {{ order.clientPhone }} {% else %}  ---  {% endif %}</li>
        <li><b>Email</b>: {{ order.clientEmail }} </li>
    {% if order.delivery.isDelivery %}
        <li><b>Доставка</b>:
                <span>Город: {{ order.delivery.locality }} </span>
                <span>Улица: {{ order.delivery.street  }} </span>
                <span>Дом/здание: {{ order.delivery.building  }} </span>
                <span>Квартира/офис: {{ order.delivery.apartmentNumber  }} </span>
        </li>
    {% elseif pvz %}
    <li><b>Пункт выдачи заказа</b>:
        <ul>
            <li><span><b>Город</b>:  {{ pvz.City }} </span></li>
            <li><span><b>Код пункта</b>:  {{ pvz.Code }} </span></li>
            <li><span><b>Полный адрес</b>: {{ pvz.FullAddress  }} </span></li>
{#            {% if  pvz.AddressComment%}#}
{#            <li><span><b>Комментарий к адресу</b>: {{ pvz.AddressComment  }} </span></li>#}
{#            {% endif %}#}
            <li><span><b>Телфон</b>: {{ pvz.Phone  }} </span></li>
            {% if pvz.Site %}
                <li><span><b>Сайт</b>: {{ pvz.Site  }} </span></li>
            {% endif %}

            <li><span><b>Email</b>: {{ pvz.Email  }} </span></li>
            <li>
            <span><b>Время работы</b>:
                <ul>
                    {% for time in pvz.WorkTimeY %}
                        <li>{{ twig_variables.getWorkDays[time['day']] }}: {{time['periods']|replace({'/': ' - '})}}</li>
                    {% endfor %}
                </ul>
            </span>
            </li>
        </ul>
    </li>

    {% else %}
    <li><b>Доставка</b>:
        <span> Самовывоз. </span>
    {% endif %}
    {% if order.partner %}
        <li><b>Партнер</b>:
           <span>Имя: {{ order.partner.contactName }}| </span>
           <span>Телефон: {{ order.partner.phoneNumber }}| </span>
           <span>Партнерский код: {{ order.partner.promocode }}| </span>
        </li>
    {% endif %}
        <li><b>Оплаченная сумма заказа</b>: {{ order.amountPayed  }} руб. </li>
        <h3> Единицы заказа </h3>
            <table>
            <thead>
                <tr>
                    <th>Наименовани</th>
                    <th>Кол-во</th>
                    <th>Цена</th>
                    <th>Конфигурация</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                            <td>{{item.product.name }}</td>
                            <td>{{item.quantity }}</td>
                            <td>{{item.price }} руб.</td>
                            <td>
                                <ul>
                                      {% for key, parameter in item.orderedParameter  %}
                                          {% if key != 'name' and  key != 'quantity' %}
                                              <p><b>{{ key | trans({'%key%': key}, "cart")  }}</b>: {{ parameter | trans({'%parameter%': parameter}, "cart") }}</p>
                                          {% endif %}
                                      {% endfor %}
                                </ul>

                            </td>

                     </tr>
                {%  endfor %}
                {% if order.gift %}
                    <tr>
                        <td>{{order.gift.name}}</td>
                        <td>1</td>
                        <td>0 руб.</td>
                        <td>
                            <b>Подарок</b>: id: {{ order.gift.id }}, Наименование: {{ order.gift.name }}
                                <div><img src="https://carstoris.ru/img/gifts/{{ order.gift.thumbnail }}" alt="" class="w-100"></div>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

    </ul>


{% endblock %}