{% extends 'email/base-email-template.html.twig' %}
{% block title %}
    {{ email.subject }}
{% endblock %}
{% block body %}
    <hr>
    <h4>{{ email.subject }}</h4>
    <p>
         {{ message }}<br>
    </p>
{% endblock %}